.transaction-setup__field {
  grid-template-columns: 2.5rem 1fr;
  row-gap: 0;
}

.transaction-setup__field-info {
  grid-column: 2;
}

.transaction-setup__radio-buttons {
  margin-top: var(--boxel-sp);
}

.transaction-setup__radio-buttons > * + * {
  margin-top: var(--boxel-sp);
}

.transaction-setup__account {
  margin-top: var(--boxel-sp-xs);
}
