.deposit-card__section {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-lg);
}

.deposit-card__section > * + *,
.deposit-card__fieldset > * + * {
  margin-top: var(--boxel-sp-xxl);
}

.deposit-card__fieldset {
  padding: 0;
  border: none;
}

.deposit-card__legend {
  margin: 0;
  padding: 0;
  font: 700 1.125rem/calc(24/18) var(--boxel-font-family);
  letter-spacing: 0;
}

.deposit-card__field {
  grid-template-columns: 2.5rem 1fr;
  row-gap: 0;
}

.deposit-card__title {
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
}

.deposit-card__title-sm {
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
}

.deposit-card__title-lg {
  font-size: 1.25rem;
  font-weight: 600;
  line-height: calc(27/20);
  letter-spacing: var(--boxel-lsp-xs);
}

.deposit-card__address {
  color: var(--boxel-purple-500);
  font-family: var(--boxel-monospace-font-family);
  font-size: var(--boxel-font-size);
  line-height: calc(22 / 16);
  letter-spacing: 0.02em;
  word-break: break-all;
}

.deposit-card__address-sm {
  color: var(--boxel-purple-400);
  font-family: var(--boxel-monospace-font-family);
  font-size: var(--boxel-font-size-sm);
  line-height: calc(18 / 13);
}

.deposit-card__address--view-only {
  max-width: 22ch;
}

.deposit-card__field-info {
  grid-column: 2;
}

.deposit-card__radio-buttons {
  margin-top: var(--boxel-sp);
}

.deposit-card__radio-buttons > * + * {
  margin-top: var(--boxel-sp);
}

.deposit-card__icon-group {
  display: flex;
  align-items: center;
}

.deposit-card__icon-group-sm {
  display: flex;
  align-items: center;
  margin-top: var(--boxel-sp-xs);
}

.deposit-card__icon {
  align-self: flex-start;
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  margin-right: var(--boxel-sp-sm);
}

.deposit-card__icon-sm {
  align-self: flex-start;
  width: 1.25rem;
  height: 1.25rem;
  object-fit: contain;
  margin-right: var(--boxel-sp-xs);
}

.deposit-card__loading-indicator {
  width: var(--boxel-sp);
  height: var(--boxel-sp);
}

.deposit-card__text-sm {
  color: var(--boxel-purple-500);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
}
