{{#if @displayHighlightActions}}
  <div class="boxel-actions" data-test-boxel-actions ...attributes>
    <button class="boxel-actions__btn boxel-actions__btn--more-actions" aria-label="more actions" />
    <button class="boxel-actions__btn boxel-actions__btn--expand" {{on "click" this.expand}} aria-label="expand" />
  </div>
{{/if}}