.action-card-container {
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp);
  box-shadow: 0 15px 30px rgb(0 0 0 / 15%);

  /* box-shadow is implemented here so it follows the border-radius of this container */
  transition: box-shadow var(--boxel-transition);
  z-index: 1;
}

.action-card-container > *:first-child {
  border-top-left-radius: var(--boxel-border-radius);
  border-top-right-radius: var(--boxel-border-radius);
}

.action-card-container > *:last-child {
  border-bottom-left-radius: var(--boxel-border-radius);
  border-bottom-right-radius: var(--boxel-border-radius);
}

.action-card-container--is-complete {
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}

.action-card-container__header {
  --boxel-header-text-color: var(--boxel-purple-400);
  --boxel-header-background-color: transparent;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action-card-container:hover .action-card-container__header {
  background-color: var(--boxel-purple-100);
  color: var(--boxel-dark);
}
