/* View field (default) */
.view-field {
  display: grid;
  grid-template-columns: minmax(130px, 20%) 1fr;
  gap: 0 28px;
}

.view-field--no-title {
  grid-template-columns: 1fr;
}

.view-field__title {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: calc(24/13);
  text-transform: uppercase;
}

.view-field__value {
  color: #393642;
}

.view-field--title-field {
  color: black;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: calc(34/24);
}

.view-field--avg-user-rating-field .view-field__value::before {
  content: url(/assets/images/icons/star-filled.svg);
  display: inline-block;
  margin-right: 10px;
}


/* Edit field */
.edit-field {
  display: grid;
  grid-template-columns: minmax(16%, 130px) minmax(225px, 450px);
  gap: 0 28px;
}

.edit-field__title {
  font-size: 13px;
  font-weight: bold;
  letter-spacing: 0.05em;
  line-height: calc(24/13);
  text-transform: uppercase;
}

.edit-field__value {
  color: #393642;
}

.edit-field--title-field {
  color: black;
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: calc(34/24);
}

.cs-input.movie-input {
  display: inline-block;
  width: 450px;
  height: 50px;
  max-width: 100%;
  padding: 18px 15px 15px;
  color: #393642;
  font: inherit;
  line-height: 1;
  letter-spacing: inherit;
  transition: none;
}

.cs-input.movie-input.cs-textarea {
  height: 126px;
  line-height: inherit;
}

.cs-input.movie-input:focus {
  background-color: initial;
  border-color: #00EBE5;
  outline: 2px solid #00EBE5;
  outline-offset: -3px;
}

.cs-input.movie-input:hover:not(:focus) {
  background-color: initial;
  border-color: #272330;
  border-width: 1px;
}

.field-group {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100px);
  gap: 10px 15px;
  align-items: center;
  color: #393642;
}

.movie-input.cs-input--date {
  width: 225px;
  background: url('/assets/images/icons/calendar.svg') center right 17px/14.4px 16px no-repeat;
}

.movie-input.cs-input--number,
.movie-input.cs-input--numeric {
  width: 100px;
}

.edit-field--avg-user-rating-field .cs-input.movie-input {
  background: url('/assets/images/icons/star-filled.svg') left 17px center/18px 16px no-repeat;
  padding-left: 49px;
}
.edit-field--avg-user-rating-field .edit-field__value::after {
  content: 'out of 10 stars';
  display: inline-block;
  margin-left: 10px;
}

/* Dropdown */
.cs-dropdown .ember-power-select-trigger {
  width: 225px;
  padding: 18px 15px 16px;
  border-color: #AFAFB7;
}

.edit-field__value .cs-dropdown:focus-within .ember-power-select-trigger {
  border-color: #00EBE5;
  outline: 2px solid #00EBE5;
  outline-offset: -3px;
}

.cs-dropdown .ember-power-select-selected-item {
  color: #393642;
  letter-spacing: 0.025em;
}

.cs-dropdown .ember-power-select-option {
  color: #393642;
  letter-spacing: 0.025em;
}

.cs-dropdown .ember-power-select-status-icon {
  background: url('/assets/images/icons/dropdown.svg') center/contain no-repeat;
}


/* image */
.image-editor {
  width: min-content;
  min-width: 230px;
  min-height: 354px;
  padding: 10px 10px 15px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  line-height: 1;
}

.image-editor__item {
  min-width: 210px;
  min-height: 283px;
  padding: 10px 10px 30px;
  background-color: white;
  border-radius: inherit;
  border: 1px solid #D1D1D1;
}

.image-editor__item img {
  display: block;
  max-height: 190px;
  width: auto;
  margin: 0 auto;
}

.image-editor__title {
  padding-top: 16px;
  color: black;
  font-weight: bold;
  text-align: center;
}

.image-editor__created {
  padding-top: 8px;
  color: #6B6A80;
  font-size: 13px;
  text-align: center;
}

.image-editor__remove-btn {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
}

.image-editor__remove-btn:focus {
  border-color: #00EBE5;
  outline: 2px solid #00EBE5;
  outline-offset: -3px;
}
