.media-collection {
  height: 100%;
  box-shadow: var(--boxel-box-shadow);
  border-radius: 10px;
}

.media-collection__sticky-header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 2;
  border-radius: 10px 10px 0 0;
}

.media-collection__scroll-container {
  height: calc(100vh - 345px);
  padding-bottom: 30px;
  overflow: auto;
}

.media-collection__inner-container {
  min-height: 100%;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.media-collection--collection.media-collection--view {
  height: calc(100% - 70px);
}

.media-collection--collection.media-collection--view .media-collection__scroll-container {
  height: calc(100% - 152px);
}

.media-collection--table {
  overflow: hidden;
}

.media-collection button:hover {
  cursor: pointer;
}

.media-collection button > svg {
  display: block;
  margin: auto;
}

.media-collection__btn-overlay {
  min-width: 124px;
  border-top-right-radius: 10px;
  grid-template-columns: 1fr 40px;
  overflow: hidden;
}
.mode-btn {
  width: auto;
  height: 40px;
  padding-left: 38px;
  background: url('/assets/images/icons/edit-box.svg') left 14px center/14px 14px no-repeat;
  text-align: left;
}
.version-history {
  width: 40px;
  height: 40px;
  background: url('/assets/images/icons/gear.svg') center/17px 17px no-repeat;
}

.media-collection__title-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 40px;
  align-items: center;
  padding: 40px 50px 20px;
}

.media-collection__title {
  font: var(--boxel-font-lg);
  font-weight: 300;
  letter-spacing: 0;
  text-transform: capitalize;
}

.media-collection__count {
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.media-collection__count > span {
  margin-right: 5px;
  font: var(--boxel-font-lg);
  font-weight: bold;
}

.media-collection__actions-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  align-items: center;
  padding: 20px 50px;
}

.media_collection__btn-group {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  grid-column: -1 / span 1;
  justify-content: end;
}

.media-collection__select-btn {
  position: absolute;
  left: 8px;
}

.media-collection__pill {
  width: 250px;
  height: 40px;
  padding: 11px 25px;
  border: 1px solid #AFAFB7;
  border-radius: 100px;
  color: black;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: left;
  white-space: nowrap;
}

.media-collection__pill--dropdown {
  background: url('/assets/images/icons/carot-down.svg') center right 17px/8px auto no-repeat;
}

.media-collection__select-all {
  position: relative;
  width: 116px;
  padding: 11px 27px;
  transition: all var(--boxel-transition);
}

.media-collection__select-all--selected-items {
  width: 250px;
  padding-left: 17px;
  padding-right: 48px;
}

.media-collection__select-all > svg {
  margin-right: 10px;
}

.media-collection__more-actions {
  position: absolute;
  top: 0;
  right: 8px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
}

.media-collection__more-actions:hover,
.media-collection__more-actions:focus {
  --icon-color: var(--boxel-highlight);
  outline: 0;
}

.media-collection__btn-trio {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 8px;
}

.media-collection__btn-trio.media-collection__filters {
  grid-template-columns: repeat(auto-fit, 30px);
  width: 125px;
  justify-content: end;
}

.media-collection__btn-trio + .media-collection__btn-trio {
  padding-left: 18px;
  border-left: 1px solid #707070;
}

.media-collection__btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-color: transparent;
  border: none;
  outline: 0;
}

.media-collection__filters .ember-basic-dropdown-trigger {
  outline: 0;
}

.media-collection__filters .media-collection__btn:hover,
.ember-basic-dropdown-trigger[aria-expanded=true] .media-collection__btn {
  --icon-color: var(--boxel-highlight);
  transition: stroke var(--boxel-transition);
}

.media-collection__view-selectors > .media-collection__btn {
  opacity: 0.25;
}
.media-collection__view-selectors > .media-collection__btn:focus,
.media-collection__view-selectors > .media-collection__btn:hover,
.media-collection__view-selectors > .media-collection__btn.selected {
  opacity: 1;
}

.media-collection__btn.list {
  background-image: url('/assets/images/icons/list.svg');
}

.media-collection__btn.grid {
  background-image: url('/assets/images/icons/grid.svg');
}

.media-collection__btn.table {
  background-image: url('/assets/images/icons/table.svg');
}

.media-collection__grid {
  display: grid;
  gap: 30px;
  padding: 10px 50px 50px;
  font-family: var(--boxel-font-family);
}

.media-collection__grid--master-collection-grid {
  grid-template-columns: repeat(auto-fill, 380px);
  grid-auto-rows: minmax(250px, auto);
}

.media-collection__grid--collection-grid {
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: minmax(280px, auto);
  padding-left: 42px;
  padding-right: 28px;
}


/* Edit mode */
.media-collection--edit .media-collection__scroll-container {
  height: calc(100vh - 200px);
}

.media-collection--edit .media-collection__inner-container {
  background-color: #f0f0f0;
}

.media-collection__title-row--edit {
  padding: 25px 20px;
}

.media-collection--edit .media-collection__title {
  font-size: 22px;
  line-height: calc(30/22);
}

.media-collection--edit .media-collection__actions-row {
  background-color: #F0F0F0;
}


/* Dropdown */
.media-collection-dropdown {
  min-width: 210px;
  padding: 15px 0;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-sm);
}

.media-collection-dropdown ul {
  padding-left: 20px;
  max-height: 175px;
  overflow: auto;
}

.media-collection-dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--cs-transition-time);
}

.media-collection-dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--cs-transition-time) reverse;
}

.media-collection-dropdown header {
  padding-left: 20px;
  padding-bottom: 15px;
  background-color: white;
}

.media-collection-dropdown li {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.5;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.media-collection-dropdown li + li {
  padding-top: 15px;
}

.media-collection-dropdown li:hover,
.media-collection-dropdown li:focus {
  opacity: 1;
}

.media-collection__sort-dropdown__active::before {
  content: url('/assets/images/icons/checkmark-highlighted.svg');
  position: absolute;
  left: -10px;
}

.media-collection-dropdown li.media-collection__sort-dropdown__active {
  opacity: 1;
  font-weight: bold;
  transition: opacity var(--boxel-transition), font-weight var(--boxel-transition);
}

.media-collection-dropdown li span {
  padding-left: 0.4em;
}

.media-collection-dropdown li svg {
  margin-left: 0.1em;
  margin-right: 0.1em;
}
