.photo {
  display: grid;
  justify-items: center;
  min-height: 283px;
  padding: 10px 10px 30px;
  background-color: white;
  border: 1px solid #AFAFB7;
  border-radius: 5px;
  line-height: 1;
}

.photo__img-container {
  display: flex;
  width: 190px;
  height: 190px;
}
.photo__img-container > img {
  margin: auto;
}

.photo__title {
  padding-top: 16px;
  color: black;
  font-weight: bold;
}

.photo__created {
  padding-top: 8px;
  color: #6B6A80;
  font-size: 13px;
}
