<div class="cs-card-select--before-options">
  <IconButton @class="before-options__gear-btn" @icon="gear" @aria-label="configure" />

  {{#if @dataSource}}
    <span class="cs-card-select--data-source">
      {{@dataSource}}
    </span>
  {{/if}}
</div>
