.boxel-modal-usage-container {
  max-height: 100%;
  padding: var(--boxel-sp-lg);
  overflow: auto;
}

.boxel-modal-usage-container > * {
  margin: 0;
}

.boxel-modal-usage-container > * + * {
  margin-top: var(--boxel-sp-xl);
}
