.red {
  background-color: rgba(255, 0, 0, 0.75);
}

.blue {
  background-color: rgba(0, 0, 255, 0.75);
}

.white {
  background-color: white;
}

.boxel-modal-usage-container {
  max-height: 100%;
  padding: var(--boxel-sp-lg);
  overflow: auto;
}

.boxel-modal-usage-container > * {
  margin: 0;
}

.boxel-modal-usage-container > * + * {
  margin-top: var(--boxel-sp-xl);
}
