.block-explorer-button-disabled {
  position: relative;
  pointer-events: unset !important;
  border: none;
}

.block-explorer-button-disabled::after {
  content: attr(data-hover);

  opacity: 0;
  background-color: var(--boxel-light);
  box-shadow: 0 0 0 1px var(--boxel-light-500);
  color: var(--boxel-dark);
  font: var(--boxel-button-font, var(--boxel-font-sm));
  text-align: center;
  border-radius: var(--boxel-sp-sm);
  padding: var(--boxel-sp-sm);
  transition: opacity 1s ease-in-out;

  position: absolute;
  z-index: 1;
  left: 0;
  top: 110%;
}

.block-explorer-button-disabled:hover::after {
  opacity: 1;
  visibility: visible;
}

.block-explorer-button-disabled:hover {
  cursor: default;
}