.boxel-action-chin {
  --icon-color: var(--boxel-purple-300);

  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: var(--boxel-sp-lg);
  gap: var(--boxel-sp-xs);
  background-color: var(--boxel-purple-700);
  color: var(--boxel-purple-300);
  font: var(--boxel-font-xs);
  transition: background-color var(--boxel-transition);
}

.boxel-action-chin__lock-text {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: end;
  gap: var(--boxel-sp-xs);
  text-align: right;
}

.boxel-action-chin--light {
  --icon-color: var(--boxel-purple-400);

  background-color: var(--boxel-purple-100);
  color: var(--boxel-purple-400);
}

.boxel-action-chin--light > button {
  border-color: var(--boxel-purple-300);
  transition: border-color var(--boxel-transition);
}

.boxel-action-chin--light > button:hover {
  border-color: var(--boxel-dark);
}

.boxel-action-chin > button:disabled {
  background-color: var(--boxel-purple-300);
  border-color: var(--boxel-purple-300);
  color: var(--boxel-purple-500);
  filter: none;
}
