.action-chin {
  --icon-color: var(--boxel-purple-300);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--boxel-sp-lg);
  background-color: var(--boxel-purple-700);
  color: var(--boxel-purple-300);
  font: var(--boxel-font-xs);
  transition: background-color var(--boxel-transition);
}

.action-chin > button {
  min-height: initial;
  height: 32px;
  padding: var(--boxel-sp-xxxs) var(--boxel-sp-xl);
  letter-spacing: var(--boxel-lsp-sm);
}

.action-chin__lock-text {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  gap: var(--boxel-sp-xs);
}

.action-chin--light {
  --icon-color: var(--boxel-purple-400);
  background-color: var(--boxel-purple-100);
  color: var(--boxel-purple-400);
}

.action-chin--light > button {
  border-color: var(--boxel-purple-300);
}
