.cardflow {
  --cardflow-user-tasks: var(--boxel-lime);
  --cardflow-assigned-tasks: var(--boxel-lilac);

  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: var(--boxel-light-300);
  border-radius: 0 var(--boxel-border-radius) 0 0;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.cardflow-platter {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}


/* Tasklist overlay */
.cardflow__taskbar-overlay {
  position: absolute;
  top: 0;
  display: grid;
  grid-template-rows: 60px 1fr;
  height: 100%;
  padding: var(--boxel-spacing) var(--boxel-spacing) 0;
  border-top-right-radius: var(--boxel-border-radius);
  background: rgba(90, 88, 106, 0.5);
  overflow: hidden;
  z-index: 10;
}

.cardflow__taskbar-overlay-header {
  height: 60px;
}

.cardflow__taskbar-scroll-container {
  position: relative;
  padding-bottom: var(--boxel-spacing);
  border-top-right-radius: var(--boxel-border-radius);
  border-top-left-radius: var(--boxel-border-radius);
  overflow: auto;
}


/* Header */
.cardflow__header {
  grid-column: 1 / -1;
  position: sticky;
  top: 0;
  right: 0;
  z-index: 1;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: var(--boxel-spacing);
  padding: var(--boxel-spacing);
  background-color: var(--boxel-light);
  border-top-right-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.cardflow__label {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.cardflow__title {
  font-weight: 700;
  font-size: 1.25rem; /* 20px */
  letter-spacing: var(--boxel-lsp-xs);
}

.cardflow__label + .cardflow__title {
  margin-top: 5px;
}

.cardflow__header-participants {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 30px;
  color: var(--boxel-dark);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
}

.cardflow__header-participant-icons {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 15px;
  direction: rtl; /* hack to revert item order */
}

.cardflow__header-participant-img {
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 100px;
  background-image: url('../../../images/media-registry/placeholders/profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardflow__notification {
  position: absolute;
  top: 0;
  right: 0;
  padding: 2px 13px 3px;
  border-radius: 0 10px 0 5px;
  background-color: var(--boxel-red);
  color: var(--boxel-light);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-sm);
  text-align: center;
}


/* Taskbar */
.cardflow__taskbar {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 0 10px;
  align-items: center;
  min-height: 40px;
  margin-left: var(--boxel-spacing);
  padding: 5px 10px 5px 15px;
  background-color: var(--boxel-light);
  border: 1px solid #D3D3D3;
  border-bottom-left-radius: var(--boxel-border-radius);
  border-bottom-right-radius: var(--boxel-border-radius);
  color: var(--boxel-dark);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.cardflow__taskbar-count {
  padding-left: 22px;
  background: url('../../../images/icons/task.svg') left center/15px 15px no-repeat;
}

.cardflow__taskbar-label {
  padding: 5px 10px;
  background-color: var(--cardflow-user-tasks);
  border-radius: 5px;
}

.cardflow__taskbar-label--assigned {
  background-color: var(--cardflow-assigned-tasks);
  color: var(--boxel-light);
}


/* Main Thread */
/* 600px max-width for embedded cards */
.cardflow__thread {
  padding: var(--boxel-spacing);
  overflow-y: auto;
}

@media only screen and (min-width: 1440px) {
  .cardflow__thread {
    padding-right: 80px;
  }
}

.cardflow__thread > * + * {
  margin-top: var(--boxel-spacing);
}

.cardflow__message {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 10px 20px;
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.cardflow__message-content > * + * {
  margin-top: 20px;
}

.cardflow__message-content {
  font-size: 15px;
  line-height: calc(23/15);
  letter-spacing: var(--boxel-lsp-sm);
}


/* Sender */
.cardflow__message-icon {
  justify-self: end;
  width: 40px;
  height: 40px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cardflow__message-icon__profile {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cardflow__message-icon__profile--bot {
  border-radius: var(--boxel-border-radius);
}

.cardflow__message-info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 10px;
}

.cardflow__message-sender {
  font-weight: 600;
}

.cardflow__message-time {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
}

.cardflow__message-sender-role {
  grid-column: 1 / -1;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}


/* Reply box */
.cardflow__reply-to.field-renderer__input {
  padding-right: 80px;
  height: 45px;
  background-image: url("../../../images/icons/plus.svg"), url("../../../images/icons/emoji.svg");
  background-position: right 55px center, right 15px center;
  background-repeat: no-repeat, no-repeat;
  background-size: 15px 15px, 20px 20px;
  font-size: 15px;
  line-height: calc(23/15);
  letter-spacing: var(--boxel-lsp-sm);
  border: var(--boxel-border);
  border-radius: var(--boxel-border-radius);
}

.cardflow__reply-to.field-renderer__input:focus {
  outline: 0;
}


/* Right Sidebar */
.cardflow__sidebar {
  max-width: 290px;
  padding: var(--boxel-spacing);
  overflow-y: auto;
}

.cardflow__sidebar > * + * {
  margin-top: var(--boxel-spacing);
}

.cardflow__sidebar-section {
  padding: 15px 20px;
}

.cardflow__sidebar-section + .cardflow__sidebar-section {
  border-top: 1px solid #D6D6D6;
}

.cardflow__sidebar-title {
  padding-bottom: var(--boxel-spacing);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}


/* Progress Pie */
.cardflow__progress {
  position: relative;
  text-align: center;
}

.cardflow__progress-status {
  padding-top: 15px;
  padding-bottom: 5px;
  color: var(--boxel-dark);
  font-weight: 600;
}

/* Checklist */
.cardflow__checklist {
  --icon-color: var(--boxel-purple-400);
  margin: 0;
  padding-bottom: 15px;
  color: var(--boxel-purple-400);
}

.cardflow__checklist-item {
  position: relative;
}

.cardflow__checklist-item > svg {
  margin-right: 18px;
  vertical-align: top;
}

.cardflow__checklist-item + .cardflow__checklist-item::before {
  display: block;
  content: "";
  width: 1px;
  height: 15px;
  margin: 2px 0 3px 6.5px;
  background-color: #D6D6D6;
}

.cardflow__checklist-item.current {
  --icon-color: var(--boxel-highlight);
  --icon-fill-color: var(--boxel-dark);

  color: var(--boxel-success-200);
  font-weight: 600;
}

.cardflow__checklist-item.completed {
  --icon-color: var(--boxel-dark);
  color: var(--boxel-dark);
  font-weight: 600;
}

.cardflow__checklist-item.completed > svg {
  padding: 3px;
  background-color: var(--boxel-highlight);
  border-radius: 100px;
}

.cardflow__checklist-time {
  position: absolute;
  left: 38px;
  color: var(--boxel-purple-400);
  font-size: 11px;
}


/* Participants Box */
.cardflow__sidebar-section--participants {
  padding: 15px 0 30px;
}

.cardflow__sidebar-section--participants .cardflow__sidebar-title {
  padding-left: var(--boxel-spacing);
}

.cardflow__participants {
  list-style-type: none;
  padding: 0 var(--boxel-spacing);
}

.cardflow__participants + .cardflow__participants {
  margin-top: var(--boxel-spacing);
  padding-top: var(--boxel-spacing);
  border-top: 1px solid #D6D6D6;
}

.cardflow__participant {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 0 10px;
  align-items: center;
}

.cardflow__participant + .cardflow__participant {
  margin-top: 15px;
}

.cardflow__participant-org-img {
  width: 30px;
  height: 30px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.cardflow__participant-img {
  justify-self: center;
  width: 30px;
  height: 30px;
  background-image: url('../../../images/media-registry/placeholders/profile.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 100px;
}

.cardflow__participant-org-title {
  font-weight: 600;
}

.cardflow__participant-title {
  font: var(--boxel-font-xs);
  font-weight: 600;
}

.cardflow__participant-role {
  color: var(--boxel-purple-400);
  font-weight: 400;
}
