.boxel-mode-indicator {
  --mode-container-width: 180px;
  --mode-container-height: 40px;
  --mode-icon-position: center left var(--boxel-sp-sm);
  --mode-icon-width: 15px;
  --mode-icon-height: 15px;
  --mode-icon-size: var(--mode-icon-width) var(--mode-icon-height);

  position: relative;
  display: block;
  min-width: var(--mode-container-width);
  width: auto;
  max-width: 100%;
  height: var(--mode-container-height);
  padding: var(--boxel-sp-xs) calc(var(--boxel-sp-sm) + var(--mode-icon-width) + var(--boxel-sp-xxs));
  background-color: var(--boxel-highlight);
  background-position: var(--mode-icon-position);
  background-repeat: no-repeat, no-repeat;
  background-size: var(--mode-icon-size);
  border: none;
  border-radius: 100px;
  color: var(--boxel-dark);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  text-align: left;
  text-transform: capitalize;
}

.boxel-mode-indicator > svg {
  position: absolute;
  top: var(--boxel-sp-sm);
  right: var(--boxel-sp-sm);
}

.boxel-mode-indicator--edit {
}

.boxel-mode-indicator--configure {
}

.boxel-mode-indicator--themer {
}

.boxel-mode-indicator--preview {
}

.boxel-mode-indicator--revision,
.boxel-mode-indicator--comparison {
  min-width: 285px;
}
