.workflow-tracker__toggle {
  min-width: 60px;
  padding: var(--boxel-sp-xxxs);
}

.workflow-tracker__list {
  position: absolute;
  top: 80px;
  right: var(--boxel-sp-lg);
  background-color: var(--boxel-purple-500);
  border-radius: var(--boxel-border-radius);
  box-shadow: var(--boxel-box-shadow);
  color: var(--boxel-light-200);
  font: var(--boxel-font-xs);
  padding: var(--boxel-sp-sm) 0;
}

ul + .workflow-tracker__heading {
  border-top: 2px solid var(--boxel-purple-800);
  margin-top: var(--boxel-sp);
  padding-top: var(--boxel-sp-sm);
}

.workflow-tracker__li .workflow-tracker__li-content {
  border-top: 1px solid var(--boxel-purple-600);
}

.workflow-tracker__li:first-child .workflow-tracker__li-content,
.workflow-tracker__li:hover .workflow-tracker__li-content:enabled,
.workflow-tracker__li:hover + .workflow-tracker__li .workflow-tracker__li-content:enabled {
  border-top-color: transparent;
}

.workflow-tracker__toggle-icon {
  --icon-color: var(--boxel-dark);

  margin-right: var(--boxel-sp-xxxs);
}

.workflow-tracker__heading {
  display: flex;
  align-items: center;
  column-gap: var(--boxel-sp-xxs);
  padding-left: var(--boxel-sp-xs);
  margin-bottom: var(--boxel-sp-xs);
  text-transform: uppercase;
}

.workflow-tracker__heading-icon {
  --icon-color: var(--boxel-light);
}

.workflow-tracker__count {
  font-weight: 700;
  color: var(--boxel-teal);
}
