.workflow-tracker__list {
  background-color: var(--boxel-purple-500);
  font: var(--boxel-font-xs);
}

.workflow-tracker__heading {
  text-transform: uppercase;
}

.workflow-tracker__count {
  font-weight: 600;
  color: var(--boxel-teal);
}
