
.layer-two-connect-card__wrapper {
  display: grid;
  margin: 0;
  padding: var(--boxel-sp-xl);
}

.layer-two-connect-card__section {
  padding-top: var(--boxel-sp-xl);
  margin: 0 var(--boxel-sp-lg);
}

.layer-two-connect-card__section::marker {
  font: 700 1.125rem/calc(24/18) var(--boxel-font-family);
}

.layer-two-connect-card__section + .layer-two-connect-card__section {
  border-top: 1px solid var(--boxel-light-300);
}

.layer-two-connect-card__header {
  margin: 0;
  font: 700 1.125rem/calc(24/18) var(--boxel-font-family);
  letter-spacing: 0;
}

.layer-two-connect-card__explanation {
  margin: 0;
  color: var(--boxel-purple-500);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
}

.layer-two-connect-card__header + .layer-two-connect-card__explanation {
  margin-top: var(--boxel-sp-xs);
}

.layer-two-connect-card__display {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

* + .layer-two-connect-card__display {
  margin-top: var(--boxel-sp-xl);
}

.layer-two-connect-card__app-phone {
  width: 138px;
  height: 149px;
}

.layer-two-connect-card__mobile-coming-soon {
  font: 600 var(--boxel-font-sm);
  text-align: center;
  width: 6rem;
  margin-left: 2.5rem;
}

.layer-two-connect-card__app-details {
  flex-grow: 1;
}

.layer-two-connect-card__app-name {
  font: 600 var(--boxel-font);
  font-size: var(--boxel-font-size-sm);
}


.layer-two-connect-card__alternate-wallet {
  align-items: center;
  background-color: var(--boxel-light-400);
  border: 0;
  color: var(--boxel-purple-400);
  display: flex;
  justify-content: space-between;
  padding-left: var(--boxel-sp-xxl);
  padding-right: var(--boxel-sp-xxl);
  text-align: left;

  display: none; /* hide this until we add the destination UI */
}

.layer-two-connect-card__alternate-wallet-caret {
  height: 1.3rem;
  width: auto;
  --icon-color: var(--boxel-purple-400);
}

.layer-two-connect-card__alternate-wallet:hover {
  filter: brightness(102%);
}

.layer-two-connect-card__loading-qr,
.layer-two-connect-card__qr-container {
  text-align: center;
}

.layer-two-connect-card__qr-container > * {
  width: 300px;
}

.layer-two-connect-card__loading-qr {
  display: flex;
  min-height: 300px;
}

.layer-two-connect-card__loading-qr > span {
  margin: auto;
}

.layer-two-connect-card__link {
  margin-top: var(--boxel-sp-lg);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}
