.boxel-ranged-number-picker {
  display: inline-block;
}

.boxel-ranged-number-picker .ember-power-select-status-icon {
  background: url('/@cardstack/boxel/images/icons/caret-down.svg') no-repeat;
  width: 11px;
  height: 9px;
  display: inline-block;
  filter: opacity(29%);
  margin-right: var(--boxel-sp-xxs);
}

.boxel-ranged-number-picker + .ember-basic-dropdown-content-wormhole-origin {
  position: absolute;
}

.boxel-ranged-number-picker__dropdown {
  box-shadow: var(--boxel-box-shadow);
  border-radius: var(--boxel-border-radius);
}

.boxel-ranged-number-picker__dropdown ul {
  list-style: none;
  padding: 0;
  text-align: center;
  overflow: auto;
  max-height: var(--boxel-xs-container);
}

.ember-power-select-option[aria-current='true']
  .boxel-ranged-number-picker__item,
.ember-power-select-option[aria-selected='true'] {
  background-color: var(--boxel-light-100);
}

.boxel-ranged-number-picker__item {
  display: inherit;
  font-weight: 600;
  font-size: var(--boxel-font-size-sm);
  padding: var(--boxel-sp-xxs) var(--boxel-sp-sm);
}

.boxel-ranged-number-picker .ember-power-select-placeholder,
.boxel-ranged-number-picker--selected .boxel-ranged-number-picker__item {
  font-weight: bold;
  font-size: var(--boxel-font-size);
  padding: 0;
}
