.collection-modal + .movie-modal {
  transform: scale(0.9);
}

.collection-modal {
  position: fixed;
  z-index: 2;
  width: 931px;
  left: 50%;
  margin-left: calc(931px / -2);
  height: 100%;
  top: 0;
  overflow: auto;
}

.collection-scroll-container {
  padding-top: 90px;
  padding-bottom: 30px;
}

.collection-modal-overlay {
  width: 720px;
  height: 70px;
  position: fixed;
  top: 30px;
  left: calc((100vw - 720px) / 2);
  margin: 0 auto;
  background-color: #C9C8C8;
  border-radius: 5px;
}
