<h1>Article's Edit Page</h1>
<LinkTo @route="articles.preview" @model={{this.model}} @role="button">Preview</LinkTo>
<LinkTo @route="articles" @model={{this.model}} @role="button">View Article</LinkTo>