{{!-- TODO: Refactor tools header --}}
<header class="tools-header">
  <button {{on "click" this.edit}} class="btn-edit" data-test-tools-button-edit>Edit</button>
  <button {{on "click" this.preview}} class="btn-preview" data-test-tools-button-preview>Preview</button>
</header>

<div class="articles">
  <Boxel @content={{this.model}} @format="isolated" />
</div>