{{!-- TODO: Refactor tools header --}}
<header class="tools-header">
  <button {{on "click" this.edit}}>Edit</button>
  <button {{on "click" this.preview}}>Preview</button>
</header>

<div class="articles">
  <Boxel @content={{this.model}} @format="isolated" />
</div>