<h1>Article's syndication preview</h1>
<LinkTo @route="articles.edit" @model={{this.model}} @role="button">Back to Edit</LinkTo>
<LinkTo @route="articles" @model={{this.model}} @role="button">View Article</LinkTo>

<Boxel @content={{this.model}} @variant="small" />
<Boxel @content={{this.model}} />