.card-space-layout {
  position: relative;
  padding: var(--boxel-sp-xxl) var(--boxel-sp);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: var(--boxel-sp);
}

.card-space-layout__cover-photo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.card-space-layout__modules {
  width: 100%;
}

.card-space-layout__modules--xs {
  max-width: var(--boxel-xs-container);
}

.card-space-layout__modules--md {
  max-width: var(--boxel-md-container);
}

.card-space-layout__modules > * + * {
  margin-top: var(--boxel-sp);
}

