.field-renderer.edit-field + .field-renderer.edit-field {
  margin-top: var(--spacing);
}

.edit-field-renderer {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding: var(--spacing);
  background-color: white;
  border: 1px solid var(--field-renderer-border-color);
  border-radius: 5px;
  overflow: hidden;
}

.edit-field-renderer > label {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 0;
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: 15px;
  text-transform: capitalize;
}

.edit-field-renderer > input {
  width: 100%;
  padding: 0;
  border: none;
  font: 400 16px/22px "Open Sans";
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  transition: padding 200ms;
}

.edit-field-renderer > input:active,
.edit-field-renderer > input:focus {
  padding: 10px;
}
