.field-renderer {
  --spacing: 20px;
  --field-renderer-bg: #383849;
  --field-renderer-border-color: #b1b1b1;
  --field-renderer-header-bg: #24242e;
  --field-renderer-max-width: 495px;
  --field-renderer-inner-max-width: 385px;
}

.field-renderer--move-btn {
  height: 20px;
  width: 20px;
  padding: 0;
  margin: auto;
  background: none;
  /* background-image: url('/images/drag-handle-icon.svg'); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  border: none;
  color: white;
}

.field-renderer--remove-btn {
  height: 25px;
  width: 20px;
  padding: 0;
  margin: auto;
  background: none;
  background-image: url('/images/trash-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
