.card-pay-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-pay-header > *:last-child {
  flex-grow: 1;
}

.card-pay-header h1 {
  font-family: var(--boxel-font-family);
  font-size: 1.125rem; /* 18px */
  font-weight: 900;
  letter-spacing: 0.2em;
  line-height: 1.333;
  gap: 0 var(--boxel-sp-xs);
  white-space: nowrap;
}


/* Connect wallet component */
.card-pay-header__item-list {
  grid-column-end: -1;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: flex-end;
  gap: var(--boxel-sp);
  text-align: right;
  white-space: nowrap;
}

.card-pay-header__item {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--boxel-sp);
}

.card-pay-header__item-label {
  color: var(--boxel-purple-300);
  font: var(--boxel-font-xs);
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.card-pay-header__item-title {
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
}

/* Navbar component */
.card-pay-header__nav {
  background-color: var(--boxel-dark);
}

.card-pay-header__nav-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
  justify-items: center;
  white-space: nowrap;
}

.card-pay-header__nav-list > li {
  width: 100%;
}

.card-pay-header__nav-tab {
  width: 100%;
  padding: var(--boxel-sp);
  font: var(--boxel-font-sm);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-xxl);
  text-align: center;
  text-transform: uppercase;
  transition: color var(--boxel-transition);
}
.card-pay-header__nav-tab:hover,
.card-pay-header__nav-tab:focus {
  color: var(--boxel-highlight);
}

.card-pay-header__nav-tab.selected {
  background-color: var(--boxel-purple-800);
  color: var(--boxel-highlight);
}

.card-pay-header__item-button {
  min-width: 10rem;
}