.radio-option.token-option {
  padding: var(--boxel-sp-xl) var(--boxel-sp);
  grid-template-columns: auto 1fr 1fr;
}

.token-option__currency {
  display: flex;
  align-items: center;
}

.token-option__icon {
  flex-shrink: 0;
  width: var(--boxel-icon-lg);
  height: var(--boxel-icon-lg);
  object-fit: contain;
  margin-right: var(--boxel-sp-xs);
}

.token-option__title {
  color: var(--boxel-dark);
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
}

.token-option__balance {
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
}

.token-option__desc,
.token-option__balance-header {
  color: var(--boxel-purple-500);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
}

.token-option__usd-balance {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
}

/* view-only */
.token-option__currency-display {
  display: flex;
  align-items: center;
  margin-top: var(--boxel-sp-xxxs);
  padding-top: var(--boxel-sp);
  padding-left: var(--boxel-sp-sm);
  border-left: 1px solid var(--boxel-purple-300);
}

.token-option__loading-indicator {
  width: var(--boxel-sp-sm);
  height: var(--boxel-sp-sm);
}
