/node_modules
/packages/*/node_modules
/cards/*/node_modules
/packages/*/dist
/packages/*/tmp
/packages/*/vendor
/packages/cardhost/deploy/node_modules
/packages/cardhost/deploy/context
/packages/cardhost/deploy/dist
.eslintcache
.vagrant
.nvmrc
*.log
lerna-debug.log
tmp
.DS_Store
package-lock.json
.embroider-app-path


# Needed during incremental conversion to typescript
/packages/hub/**/*.d.ts
/packages/hub/**/*.js
/packages/hub/**/*.js.map

/cards/**/*.d.ts
/cards/**/*.js
/cards/**/*.js.map

/packages/core/**/*.d.ts
/packages/core/**/*.js
/packages/core/**/*.js.map

/packages/cardhost/app/controllers/**/*.d.ts
/packages/cardhost/app/controllers/**/*.js
/packages/cardhost/app/controllers/**/*.js.map
/packages/cardhost/app/helpers/**/*.d.ts
/packages/cardhost/app/helpers/**/*.js
/packages/cardhost/app/helpers/**/*.js.map
/packages/cardhost/app/modifiers/**/*.d.ts
/packages/cardhost/app/modifiers/**/*.js
/packages/cardhost/app/modifiers/**/*.js.map
/packages/cardhost/app/motions/**/*.d.ts
/packages/cardhost/app/motions/**/*.js
/packages/cardhost/app/motions/**/*.js.map
/packages/cardhost/app/routes/**/*.d.ts
/packages/cardhost/app/routes/**/*.js
/packages/cardhost/app/routes/**/*.js.map
/packages/cardhost/app/services/**/*.d.ts
/packages/cardhost/app/services/**/*.js
/packages/cardhost/app/services/**/*.js.map
/packages/cardhost/app/utils/**/*.d.ts
/packages/cardhost/app/utils/**/*.js
/packages/cardhost/app/utils/**/*.js.map
/packages/cardhost/app/router.d.ts
/packages/cardhost/app/router.js
/packages/cardhost/app/router.js.map
/packages/cardhost/app/components/scaffold.d.ts
/packages/cardhost/app/components/scaffold.js
/packages/cardhost/app/components/scaffold.js.map
/packages/cardhost/app/components/css-manager.d.ts
/packages/cardhost/app/components/css-manager.js
/packages/cardhost/app/components/css-manager.js.map
/packages/cardhost/app/components/catalog-entries.d.ts
/packages/cardhost/app/components/catalog-entries.js
/packages/cardhost/app/components/catalog-entries.js.map
/packages/cardhost/app/components/cardhost-modal-target.d.ts
/packages/cardhost/app/components/cardhost-modal-target.js
/packages/cardhost/app/components/cardhost-modal-target.js.map
/packages/cardhost/app/components/cardhost-top-edge.d.ts
/packages/cardhost/app/components/cardhost-top-edge.js
/packages/cardhost/app/components/cardhost-top-edge.js.map
/packages/cardhost/app/components/card-name-dialog.d.ts
/packages/cardhost/app/components/card-name-dialog.js
/packages/cardhost/app/components/card-name-dialog.js.map
/packages/cardhost/app/components/card-size-toggle.d.ts
/packages/cardhost/app/components/card-size-toggle.js
/packages/cardhost/app/components/card-size-toggle.js.map
/packages/cardhost/app/components/isolated-collection.d.ts
/packages/cardhost/app/components/isolated-collection.js
/packages/cardhost/app/components/isolated-collection.js.map
/packages/cardhost/app/components/related-cards.d.ts
/packages/cardhost/app/components/related-cards.js
/packages/cardhost/app/components/related-cards.js.map
/packages/cardhost/app/components/user-info-modal.d.ts
/packages/cardhost/app/components/user-info-modal.js
/packages/cardhost/app/components/user-info-modal.js.map
/packages/cardhost/app/components/form/*.d.ts
/packages/cardhost/app/components/form/*.js
/packages/cardhost/app/components/form/*.js.map
/packages/cardhost/app/controllers/cards/card/**/*.d.ts
/packages/cardhost/app/controllers/cards/card/**/*.js
/packages/cardhost/app/controllers/cards/card/**/*.js.map
/packages/cardhost/tests/helpers/fixtures.d.ts
/packages/cardhost/tests/helpers/fixtures.js
/packages/cardhost/tests/helpers/fixtures.js.map
/packages/cardhost/tests/unit/services/data-test.d.ts
/packages/cardhost/tests/unit/services/data-test.js
/packages/cardhost/tests/unit/services/data-test.js.map

/packages/git/**/*.d.ts
/packages/git/**/*.js
/packages/git/**/*.js.map

/packages/test-support/**/*.d.ts
/packages/test-support/**/*.js
/packages/test-support/**/*.js.map


/packages/plugin-utils/card-utils.d.ts
/packages/plugin-utils/card-utils.js
/packages/plugin-utils/card-utils.js.map
/packages/plugin-utils/error.d.ts
/packages/plugin-utils/error.js
/packages/plugin-utils/error.js.map
/packages/plugin-utils/session.d.ts
/packages/plugin-utils/session.js
/packages/plugin-utils/session.js.map
/packages/plugin-utils/todo-any.d.ts
/packages/plugin-utils/todo-any.js
/packages/plugin-utils/todo-any.js.map

/packages/cli/**/*.js
!packages/cli/node-tests/sample-cards/**/*.js
/packages/cli/**/*.js.map
/packages/cli/**/*.d.ts
/packages/di/**/*.js
/packages/di/**/*.js.map
/packages/di/**/*.d.ts
/tests/ephemeral-test-app/node_modules/@cardstack/hub/**/*
/tests/elasticsearch-test-app/node_modules/@cardstack/hub/**/*

# generated files you may end up with if you run the cli blueprint directly
packages/cli/node-tests/sample-cards/*/node_modules/**/*

# unconventional js
/blueprints/*/files/
/vendor/

# compiled output
/dist/
/tmp/

# dependencies
/bower_components/
/deploy/node_modules/

# misc
/coverage/

# ember-try
/.node_modules.ember-try/
/bower.json.ember-try
/package.json.ember-try

# this is for eslint ignore, which is also using this file as a list of things to not lint
/packages/**/node_modules/@cardstack/**/*.js
/packages/**/node_modules/@cardstack/**/*.js.map
/packages/**/node_modules/@cardstack/**/*.d.ts
