/node_modules
/packages/*/node_modules
/packages/*/dist
/packages/*/tmp
/packages/*/vendor
.eslintcache
.vagrant
.nvmrc
*.log
lerna-debug.log
tmp
.DS_Store
package-lock.json


# Needed during incremental conversion to typescript
/packages/hub/indexing/operations.d.ts
/packages/hub/indexing/operations.js
/packages/hub/indexing/operations.js.map
/packages/plugin-utils/todo-any.d.ts
/packages/plugin-utils/todo-any.js
/packages/plugin-utils/todo-any.js.map
/packages/cli/**/*.js
/packages/cli/**/*.js.map
/packages/cli/**/*.d.ts
/packages/di/**/*.js
/packages/di/**/*.js.map
/packages/di/**/*.d.ts
/packages/hub/code-generators.js
/packages/hub/code-generators.js.map
/packages/hub/code-generators.d.ts
/tests/ephemeral-test-app/node_modules/@cardstack/hub/**/*




