/node_modules
/packages/*/node_modules
/packages/*/dist
/packages/*/tmp
/packages/*/vendor
/packages/cardhost/deploy/node_modules
.eslintcache
.vagrant
.nvmrc
*.log
lerna-debug.log
tmp
.DS_Store
package-lock.json


# Needed during incremental conversion to typescript
/cards/base-card/index.js
/cards/base-card/index.js.map
/cards/base-card/index.d.ts

/packages/git/git.d.ts
/packages/git/git.js
/packages/git/git.js.map
/packages/git/service.d.ts
/packages/git/service.js
/packages/git/service.js.map
/packages/git/change.d.ts
/packages/git/change.js
/packages/git/change.js.map
/packages/git/indexer.d.ts
/packages/git/indexer.js
/packages/git/indexer.js.map
/packages/git/writer.d.ts
/packages/git/writer.js
/packages/git/writer.js.map
/packages/git/git/tree.d.ts
/packages/git/git/tree.js
/packages/git/git/tree.js.map
/packages/git/node-tests/change-test.js
/packages/git/node-tests/change-test.js.map
/packages/git/node-tests/change-test.d.ts
/packages/git/node-tests/config-test.js
/packages/git/node-tests/config-test.js.map
/packages/git/node-tests/config-test.d.ts
/packages/git/node-tests/indexer-remote-test.js
/packages/git/node-tests/indexer-remote-test.js.map
/packages/git/node-tests/indexer-remote-test.d.ts
/packages/git/node-tests/indexer-test.js
/packages/git/node-tests/indexer-test.js.map
/packages/git/node-tests/indexer-test.d.ts
/packages/git/node-tests/support.js
/packages/git/node-tests/support.js.map
/packages/git/node-tests/support.d.ts
/packages/git/node-tests/service-test.js
/packages/git/node-tests/service-test.js.map
/packages/git/node-tests/service-test.d.ts
/packages/git/node-tests/writer-remote-test.js
/packages/git/node-tests/writer-remote-test.js.map
/packages/git/node-tests/writer-remote-test.d.ts
/packages/git/node-tests/writer-test.js
/packages/git/node-tests/writer-test.js.map
/packages/git/node-tests/writer-test.d.ts

/packages/hub/card-services.d.ts
/packages/hub/card-services.js
/packages/hub/card-services.js.map
/packages/hub/code-generators.js
/packages/hub/code-generators.js.map
/packages/hub/code-generators.d.ts
/packages/hub/indexing/operations.d.ts
/packages/hub/indexing/operations.js
/packages/hub/indexing/operations.js.map

/packages/plugin-utils/card-utils.d.ts
/packages/plugin-utils/card-utils.js
/packages/plugin-utils/card-utils.js.map
/packages/plugin-utils/error.d.ts
/packages/plugin-utils/error.js
/packages/plugin-utils/error.js.map
/packages/plugin-utils/session.d.ts
/packages/plugin-utils/session.js
/packages/plugin-utils/session.js.map
/packages/plugin-utils/todo-any.d.ts
/packages/plugin-utils/todo-any.js
/packages/plugin-utils/todo-any.js.map

/packages/cli/**/*.js
!packages/cli/node-tests/sample-cards/**/*.js
/packages/cli/**/*.js.map
/packages/cli/**/*.d.ts
/packages/di/**/*.js
/packages/di/**/*.js.map
/packages/di/**/*.d.ts
/tests/ephemeral-test-app/node_modules/@cardstack/hub/**/*
/tests/elasticsearch-test-app/node_modules/@cardstack/hub/**/*

# generated files you may end up with if you run the cli blueprint directly
packages/cli/node-tests/sample-cards/*/node_modules/**/*

# this is for eslint ignore, which is also using this file as a list of things to not lint
/tests/**/node_modules/@cardstack/**/*.js
/tests/**/node_modules/@cardstack/**/*.js.map
/tests/**/node_modules/@cardstack/**/*.d.ts
/packages/**/node_modules/@cardstack/**/*.js
/packages/**/node_modules/@cardstack/**/*.js.map
/packages/**/node_modules/@cardstack/**/*.d.ts
