---
language: node_js
node_js:
  - "7"

sudo: false

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - libssl-dev
      - gcc-4.9-multilib
      - g++-4.9-multilib
      - lcov
      - oracle-java8-installer
      - oracle-java8-set-default

compiler: clang

jdk:
  - oraclejdk8

env:
  global:
    - CC=clang
    - CXX=clang++
    - npm_config_clang=1
    - GYP_DEFINES="use_obsolete_asm=true"
    - ES_VERSION=5.1.2
    - ELASTICSEARCH=http://127.0.0.1:9200 

cache:
  directories:
    - $HOME/.npm
    - $HOME/.cache # includes bowers cache
    - $HOME/.yarn-cache

before_install:
  - npm config set spin false
  - npm install -g bower phantomjs-prebuilt yarn
  - bower --version
  - phantomjs --version
  - java -version

install:
  - yarn install
  - wget https://artifacts.elastic.co/downloads/elasticsearch/elasticsearch-${ES_VERSION}.tar.gz
  - tar -xzf elasticsearch-${ES_VERSION}.tar.gz
  - ./elasticsearch-${ES_VERSION}/bin/elasticsearch &

before_script:
 - ln -s ../packages node_modules/@cardstack
 - wget -q --waitretry=1 --retry-connrefused -T 10 -O - http://127.0.0.1:9200

script:
  - npm test
