---
language: node_js
node_js:
  - "8"

sudo: required
services:
 - docker

env:
  global:
    - ELASTICSEARCH=http://127.0.0.1:9200 
    - PGHOST=localhost
    - PGPORT=5444
    - PGUSER=postgres

cache:
  directories:
    - ci-cache

before_install:
  - docker run -d --rm -p 9200:9200 --name elasticsearch cardstack/elasticsearch:dev
  - docker run -d --rm -p 5444:5432 --name postgres      cardstack/pg-test
  - curl -o- -L https://yarnpkg.com/install.sh | bash
  - export PATH=$HOME/.yarn/bin:$PATH

install:
  - ./scripts/restore-cache
  - yarn install
  - travis_wait ./node_modules/.bin/lerna bootstrap

before_script:
 - wget -q --waitretry=1 --retry-connrefused -T 1 -O - http://127.0.0.1:9200
 - node packages/postgresql/node-tests/pg-server/wait-for-db.js

after_script:
  - ./scripts/save-cache

script:
  - yarn test


