---
version: ~> 1.0
language: node_js
node_js:
  - "10"
os:
  - "linux"
services:
  - docker

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - libstdc++-4.9-dev

env:
  global:
    - PGHOST=localhost
    - PGPORT=5444
    - PGUSER=postgres

cache:
  directories:
    - node_modules

jobs:
  include:
    - stage: test
      script: npm run lint:deps && npm run lint:js
      name: 'Linting'
    - stage: test
      script: npm run node-tests
      name: 'Node tests'
    - stage: test
      script: npm run ember-tests
      name: 'Ember tests'
    - stage: deploy
      name: 'deploy cardhost'
      if: branch = master
      install: skip
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then echo "$SSH_PRIVATE_KEY" > $HOME/.ssh/id_rsa && chmod 400 $HOME/.ssh/id_rsa; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sudo apt-get install socat; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then pip install --user awscli; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then aws ecr --region us-east-1 get-login --no-include-email | bash; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then yarn --cwd ./packages/cardhost/deploy install; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd ./packages/cardhost; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then node ./deploy/build.js; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then TARGET_NAME="builder.stack.cards" ./deploy/deploy.sh demo $TRAVIS_BRANCH; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd ../..; fi'
    - stage: deploy
      name: 'deploy cardhost production'
      if: branch = production
      install: skip
      script:
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then echo "$SSH_PRIVATE_KEY" > $HOME/.ssh/id_rsa && chmod 400 $HOME/.ssh/id_rsa; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then sudo apt-get install socat; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then pip install --user awscli; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then aws ecr --region us-east-1 get-login --no-include-email | bash; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then yarn --cwd ./packages/cardhost/deploy install; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd ./packages/cardhost; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then node ./deploy/build.js; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then TARGET_NAME="builder.card.space" ./deploy/deploy.sh production $TRAVIS_BRANCH; fi'
        - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ]; then cd ../..; fi'


before_install:
  - docker network create cardstack
  - docker run -d --rm --network cardstack -p 5444:5432 --name postgres cardstack/pg-test
  - docker run -d --rm --network cardstack -p 9022:22 --name git-ssh cardstack/git-test;
  - ssh-keyscan -p 9022 -t rsa,ecdsa-sha2-nistp256 localhost >> $HOME/.ssh/known_hosts
  - chmod 600 packages/git/node-tests/git-ssh-server/cardstack-test-key
  - export PATH=$HOME/.yarn/bin:$PATH
  - 'if [ "$TRAVIS_PULL_REQUEST" = "false" ] && [ "$TRAVIS_BRANCH" != "master" ]; then PERCY_TOKEN="skip percy"; fi'

install:
  - yarn install

before_script:
 - node packages/pgsearch/node-tests/wait-for-db.js
