.cs-query-editor {
  position: relative;
}
.cs-query-editor label {
  display: block;
  width: 100%;
}
.cs-query-editor:before {
  content: ' ';
  position: absolute;
  display: block;
  top: 11px;
  left: 12px;
  background-image: url('/@cardstack/search/search.svg');
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
}
.cs-query-editor input[type="text"] {
  display: inline-block;
  box-sizing: border-box;
  width: 100%;
  padding: 11px 40px 11px 40px;
  border: 1px solid var(--light-outline);
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.5);
  border-radius: 20px;
  font-size: .8rem;
  line-height: 1rem;
  background-color: var(--deep-background);
  color: var(--bright-foreground);
}
.cs-query-editor input[type="text"]::placeholder {
  color: var(--faded-foreground);
}
.cs-query-editor-clear {
  position: absolute;
  top: -1px;
  right: 0;
  font-size: 1.2rem;
  background-color: transparent;
  color: var(--bright-foreground);
  border: none;
  width: 40px;
  height: 40px;
  cursor: pointer;
}