.card-pay-nested-items__inner {
  margin-top: var(--boxel-sp-xxxs);
  margin-left: calc(var(--outer-icon-size, var(--boxel-sp)) + var(--boxel-sp-sm));
  padding-top: calc(var(--boxel-sp) - var(--boxel-sp-xxxs));
  padding-left: var(--boxel-sp-sm);
  border-left: 1px solid var(--boxel-purple-300);
}
