<div class="cs-card-select--before-options">
  {{svg-jar "cardstack" width="16px" height="16px"}}

  {{#if @dataSource}}
    <span class="cs-card-select--data-source">
      {{@dataSource}}
    </span>
  {{/if}}
</div>
