<div class={{cn
  "apply-changes-toggle"
  apply-changes-toggle--active=@isActive
  }}
>
  <button class="apply-changes-toggle__button" ...attributes>
    {{svg-jar 'carot-thin-left' width="16px" height="16px"}}
  </button>
</div>