.thread-message-usage {
  --inner-max-width: 36.6rem; /* ~585px */
  --outer-max-width: 43.75rem; /* 700px; */
}

.thread-message-usage__content {
  max-width: var(--inner-max-width);
  margin: 0;
}

.thread-message-usage__card {
  max-width: var(--outer-max-width);
  box-shadow: 0 15px 30px rgb(0 0 0 / 15%);
  transition: all var(--boxel-transition);
}

.thread-message-usage__card--memorialized {
  max-width: var(--inner-max-width);
  margin-left: var(--boxel-thread-message-margin-left);
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}
