@import '/assets/fonts.css';
@import '/assets/resizable.css';
@import '/assets/palette.css';
@import '/assets/ui-components.css';

@import '/assets/index.css';
@import '/assets/cards.css';
@import '/assets/components/library.css';
@import '/assets/components/mode-indicator.css';
@import '/assets/components/view-switcher.css';
@import '/assets/components/card-size-toggle.css';
@import '/assets/components/right-edge.css';
@import '/assets/components/cardhost-left-edge.css';
@import '/assets/components/cardhost-top-edge.css';
@import '/assets/components/button.css';
@import '/assets/components/preview-link-button.css';
@import '/assets/components/edge-actions-button.css';
@import '/assets/components/search-bar.css';
@import '/assets/components/filter-bar.css';
@import '/assets/components/catalog.css';
@import '/assets/components/catalog-field.css';
@import '/assets/components/adopted-from.css';
@import '/assets/components/themer-toolbar.css';
@import '/assets/components/themer.css';
@import '/assets/components/dialog.css';
@import '/assets/components/card-renderer-header.css';
@import '/assets/components/loading.css';

/* Cardhost styling for core package templates */
@import '/assets/components/card-renderer.css';
@import '/assets/components/field-renderer.css';
@import '/assets/components/schema-field-renderer.css';
@import '/assets/components/drop-zone.css';


:root {
  --ch-font-family: 'Open Sans', Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --ch-left-edge-navbar-width: 80px;
  --ch-left-edge-panel-width: 330px;
  --ch-right-edge-panel-width: 300px;

  --ch-top-edge-height: 80px;
  --ch-left-edge-width: calc(var(--ch-left-edge-panel-width) + var(--ch-left-edge-navbar-width));
  --ch-right-edge-width: calc(var(--ch-right-edge-panel-width) + var(--ch-spacing));
  --ch-bottom-edge-height: 80px;

  --ch-card-size: 496px;    /* min-width and min-height for cards */
  --ch-card-size-medium: 930px;
  --ch-card-size-large: 100%;

  --ch-field-width: 384px;  /* edit and schema view field-renderer max-width */
  --ch-spacing: 20px;
  --ch-bottom-edge-z-index: 30;
  --ch-left-edge-z-index: 30;
  --ch-right-edge-z-index: 20;
  --ch-top-edge-z-index: 20;
  --ch-actions-z-index: 25;
  --ch-card-header-z-index: 15;
  --ch-card-z-index: 10;
  --ch-transition-time: 250ms;
  --ch-card-transition-duration: 300ms;
  --ch-card-background-color-animate: background-color 0.5s ease;
  --ch-card-padding-animate: padding-right 0.3s ease;
}

* {
  box-sizing: border-box;
}

/*
  Use the `hide-in-percy` css selector when you want to visually
  hide page elements that can change, i.e. random numbers, etc
*/
@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

html,
body,
.ember-toolbars {
  height: 100%;
}

body {
  position: fixed; /* This is needed to prevent background scroll when bottom-edge is open */
  width: 100%;
  margin: 0;
  background-color: var(--ch-default);
  color: white;
  font-family: var(--ch-font-family);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
}

/* The next two rules prevent overscroll bounce across all browsers. We should use solely `overscroll-behavior: none` once there is better cross-browser support. */
html {
  overflow: hidden;
}

@supports (overscroll-behavior: none) {
  html {
    overflow: initial;
  }

  body {
    overscroll-behavior: none;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* Ember Animated */
.animated-tools {
  z-index: 50;
}
.cardhost-animated-orphans {
  position: absolute;
  top: 0;
  left: 0;
}

/* ember-toolbars edges */
.cst-bottom {
  z-index: var(--ch-bottom-edge-z-index);
}
.cst-top {
  z-index: var(--ch-top-edge-z-index);
}
.cst-left {
  z-index: var(--ch-left-edge-z-index);
}
.cst-right {
  z-index: var(--ch-right-edge-z-index);
}

/* JSON card document -- hidden from view */
.cardhost-card-document {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

/* Cardhost Modal */
.cardhost-modal-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--black);
  opacity: 0.6;
  z-index: 999;
}

.cardhost-modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Other */
.field-creator--field-btn-wrapper {
  text-align: right;
}

/* TODO: Move to ui-components repo */
.cs-dark-input.cs-input:disabled,
.cs-dark-input.cs-input.disabled {
  -webkit-text-fill-color: var(--cs-dark-field-disabled-text); /* For strangeness in safari */
  -webkit-text-stroke-color: var(--cs-dark-field-disabled-text);
}
