@import '/assets/fonts.css';
@import '/assets/resizable.css';
@import '/assets/palette.css';
@import '/assets/ui-components.css';

@import '/assets/index.css';
@import '/assets/cards.css';
@import '/assets/components/mode-switcher.css';
@import '/assets/components/right-edge.css';
@import '/assets/components/cardhost-left-edge.css';
@import '/assets/components/cardhost-top-edge.css';
@import '/assets/components/button.css';
@import '/assets/components/form-elements.css';
@import '/assets/components/search-bar.css';
@import '/assets/components/filter-bar.css';
@import '/assets/components/catalog.css';
@import '/assets/components/catalog-field.css';
@import '/assets/components/adopted-from.css';

/* Cardhost styling for core package templates */
@import '/assets/components/card-renderer.css';
@import '/assets/components/field-renderer.css';
@import '/assets/components/field-renderer-schema-field.css';
@import '/assets/components/field-renderer-edit-field.css';
@import '/assets/components/field-renderer-view-field.css';
@import '/assets/components/drop-zone.css';


/* TODO eventually these will be dynamically added to the DOM.
Until that work is done we are statically adding this css
*/
@import '/assets/cards/base-card-isolated.css';
@import '/assets/cards/base-card-embedded.css';
@import '/assets/fields/belongs-to-editor.css';
@import '/assets/fields/belongs-to-viewer.css';
@import '/assets/fields/boolean-editor.css';
@import '/assets/fields/boolean-viewer.css';
@import '/assets/fields/case-insensitive-editor.css';
@import '/assets/fields/case-insensitive-viewer.css';
@import '/assets/fields/date-editor.css';
@import '/assets/fields/date-viewer.css';
@import '/assets/fields/has-many-editor.css';
@import '/assets/fields/has-many-viewer.css';
@import '/assets/fields/integer-editor.css';
@import '/assets/fields/integer-viewer.css';
@import '/assets/fields/string-editor.css';
@import '/assets/fields/string-viewer.css';

:root {
  --ch-font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  --ch-left-edge-navbar-width: 80px;
  --ch-left-edge-panel-width: 330px;
  --ch-right-edge-panel-width: 300px;

  --ch-top-edge-height: 80px;
  --ch-left-edge-width: calc(var(--ch-left-edge-panel-width) + var(--ch-left-edge-navbar-width));
  --ch-right-edge-width: calc(var(--ch-right-edge-panel-width) + var(--ch-spacing));
  --ch-bottom-edge-height: 80px;

  --ch-component-width: 260px;
  --ch-component-height: 40px;

  --ch-spacing: 20px;
  --ch-edges-z-index: 10;
  --ch-actions-z-index: 11;
  --ch-transition-time: 250ms;
  --ch-card-transition-duration: 300ms;
}

/*
  TODO:
  - better positioning for edges (esp on/off state)
  - link and button focus and disabled states styling
*/
* {
  box-sizing: border-box;
}

/*
  Use the `hide-in-percy` css selector when you want to visually
  hide page elements that can change, i.e. random numbers, etc
*/
@media only percy {
  .hide-in-percy {
    visibility: hidden;
  }
}

body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: var(--ch-default);
  color: white;
  font-family: var(--ch-font-family);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
}

a {
  --link: white;

  color: var(--link);
  text-decoration: none;
}

a:hover {
  --link: var(--ch-highlight);

  cursor: pointer;
}

.padding-vertical-small {
  padding-top: var(--ch-spacing);
  padding-bottom: var(--ch-spacing);
}

/* Other */
.card-renderer--top-edge-buttons {
  position: fixed;
  top: var(--ch-spacing);
  right: var(--ch-spacing);
  display: flex;
  z-index: var(--ch-actions-z-index);
}

.card-renderer--top-edge-buttons .show-editor-btn, .card-renderer--top-edge-buttons .hide-editor-btn {
  margin-top: 10px;
  margin-right: 15px;
  cursor: pointer;
}

.card-renderer--top-edge-buttons .dock-btn {
  margin: 10px 15px;
  cursor: pointer;
}

.card-renderer--top-edge-buttons .dock-btn.selected g {
  stroke: var(--ch-highlight);
}

.card-renderer--top-edge-buttons .close-editor-btn {
  --width: 125px;
  margin-left: 20px;
}

.card-schema-updator--search-bar {
  position: absolute;
  right: var(--ch-spacing);
  bottom: var(--ch-spacing);
}

.card-schema-updator--search-bar > .ch-search-bar {
  min-width: 230px;
}

.card-creator--new-card {
  width: 300px;
  margin: var(--ch-spacing) auto;
}

.field-creator--field-btn-wrapper {
  text-align: right;
}

.loader-container {
  width: 60px;
}

.loader {
  margin: 20px auto;
  font-size: 6px;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load5 1.1s infinite ease;
  animation: load5 1.1s infinite ease;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
@-webkit-keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}
@keyframes load5 {
  0%,
  100% {
    box-shadow: 0em -2.6em 0em 0em #ffffff, 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.5), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7);
  }
  12.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.7), 1.8em -1.8em 0 0em #ffffff, 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5);
  }
  25% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.5), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.7), 2.5em 0em 0 0em #ffffff, 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  37.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.5), 2.5em 0em 0 0em rgba(255, 255, 255, 0.7), 1.75em 1.75em 0 0em #ffffff, 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  50% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.5), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.7), 0em 2.5em 0 0em #ffffff, -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.2), -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  62.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.5), 0em 2.5em 0 0em rgba(255, 255, 255, 0.7), -1.8em 1.8em 0 0em #ffffff, -2.6em 0em 0 0em rgba(255, 255, 255, 0.2), -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  75% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.5), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.7), -2.6em 0em 0 0em #ffffff, -1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2);
  }
  87.5% {
    box-shadow: 0em -2.6em 0em 0em rgba(255, 255, 255, 0.2), 1.8em -1.8em 0 0em rgba(255, 255, 255, 0.2), 2.5em 0em 0 0em rgba(255, 255, 255, 0.2), 1.75em 1.75em 0 0em rgba(255, 255, 255, 0.2), 0em 2.5em 0 0em rgba(255, 255, 255, 0.2), -1.8em 1.8em 0 0em rgba(255, 255, 255, 0.5), -2.6em 0em 0 0em rgba(255, 255, 255, 0.7), -1.8em -1.8em 0 0em #ffffff;
  }
}

/* JSON card document */
.cardhost-card-document {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.cardhost-card-theme-editor {
  position: fixed;
  right: 0;
  top: 0;
  width: 40%;
  height: 100%;
  background: var(--ch-deep-background);
  z-index: 10;
  padding: 20px;
  transform: translateX(0%);
}

.cardhost-card-theme-editor.bottom-docked {
  top: auto;
  bottom: 0;
  left: 0;
  height: 40%;
  width: 100%;
  transform: translateY(0%);
}

.cardhost-card-theme-editor.hidden {
  transform: translateX(100%);
}

.cardhost-card-theme-editor.bottom-docked.hidden {
  transform: translateY(100%);
}


.cardhost-card-theme-editor .resizable-content {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardhost-card-theme-editor.bottom-docked .resizable-content {
  flex-direction: row;
}

.cardhost-card-theme-editor .editor-section {
  height: 50%;
  width: 100%;
  padding: 12px;
}

.cardhost-card-theme-editor.bottom-docked .editor-section {
  height: 100%;
  width: 50%;
}

.cardhost-card-theme-editor .editor-container {
  border: 1px solid var(--ch-default);
  border-radius: 10px;
  overflow: hidden;
}

.cardhost-card-theme-editor .editor-container__title {
  background-color: var(--ch-default);
  padding: 12px;
}


.cardhost-card-theme-editor .resizer.left {
  left: 5px;
  width: 25px;
}

.cardhost-card-theme-editor .resizer.top {
  height: 25px;
}

.cardhost-card-theme-editor .drag-handle {
  position: absolute;
  left: -12px;
  top: 50%;
  transform: rotate(180deg);
  z-index: -1;
}

.cardhost-card-theme-editor.bottom-docked .drag-handle {
  left: 50%;
  top: -30px;
  transform: rotate(-90deg);
}

.cardhost-card-theme-editor .drag-handle path {
  stroke: var(--ch-light-background);
}

.dock-icon-unselected {
  --icon-color: --ch-light-gray-b1;
}

.cardhost-card-document--codeblock {
  height: 0;
}

.cardhost-monaco-container {
  min-height: 50px;
  margin-bottom: 1em;
  overflow: hidden;
  resize: vertical;
  background-color: #1e1e1e;
}

.cardhost-monaco-container.editor-pane-code {
  min-height: 32vh;
}
