@import '/assets/fonts.css';
@import '/assets/palette.css';
@import '/assets/ui-components.css';

@import '/assets/components/right-edge.css';
@import '/assets/index.css';
@import '/assets/cards.css';
@import '/assets/components/mode-switcher.css';
@import '/assets/components/cardhost-left-edge.css';
@import '/assets/components/cardhost-top-edge.css';
@import '/assets/components/button.css';
@import '/assets/components/search-bar.css';
@import '/assets/components/filter-bar.css';
@import '/assets/components/catalog.css';
@import '/assets/components/catalog-field.css';


/* TODO eventually these will be dynamically added to the DOM.
Until that work is done we are statically adding this css
*/
@import '/assets/cards/base-card-isolated.css';
@import '/assets/cards/base-card-embedded.css';
@import '/assets/fields/belongs-to-editor.css';
@import '/assets/fields/belongs-to-viewer.css';
@import '/assets/fields/boolean-editor.css';
@import '/assets/fields/boolean-viewer.css';
@import '/assets/fields/case-insensitive-editor.css';
@import '/assets/fields/case-insensitive-viewer.css';
@import '/assets/fields/date-editor.css';
@import '/assets/fields/date-viewer.css';
@import '/assets/fields/has-many-editor.css';
@import '/assets/fields/has-many-viewer.css';
@import '/assets/fields/integer-editor.css';
@import '/assets/fields/integer-viewer.css';
@import '/assets/fields/string-editor.css';
@import '/assets/fields/string-viewer.css';

:root {
  --ch-font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  --ch-left-edge-navbar-width: 80px;
  --ch-left-edge-panel-width: 330px;
  --ch-right-edge-panel-width: 300px;

  --ch-top-edge-height: 80px;
  --ch-left-edge-width: calc(var(--ch-left-edge-panel-width) + var(--ch-left-edge-navbar-width));
  --ch-right-edge-width: calc(var(--ch-right-edge-panel-width) + var(--ch-spacing));

  --ch-spacing: 20px;
  --ch-edges-z-index: 10;
  --ch-actions-z-index: 11;
}

/*
  TODO:
  - better positioning for edges (esp on/off state)
  - link and button focus and disabled states styling
*/

* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: var(--ch-medium-medium-blue-gray);
  color: white;
  font-family: var(--ch-font-family);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
}

a {
  --link: white;

  color: var(--link);
  text-decoration: none;
}

a:hover {
  --link: var(--ch-cyan);

  cursor: pointer;
}


/* Index template */
.cardhost--topnav {
  margin: 0 auto;
}

.cardhost--topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.cardhost--topnav ul li a::after {
  display: inline-block;
  color: var(--ch-light-gray);
  content: '|';
  font-size: 80%;
  font-weight: bold;
  padding: 0 10px;
}

.cardhost-catalog--title {
  margin: 0;
  font-size: 32px;
  font-weight: 200;
}


/* Other */
.card-renderer--top-edge-buttons {
  position: fixed;
  top: var(--ch-spacing);
  right: var(--ch-spacing);
  display: flex;
  z-index: var(--ch-actions-z-index);
}

.card-schema-updator--search-bar {
  position: absolute;
  right: var(--ch-spacing);
  bottom: var(--ch-spacing);
}

.card-creator--new-card {
  width: 300px;
  margin: var(--ch-spacing) auto;
}

.field-creator--field-btn-wrapper {
  text-align: right;
}


/* JSON card document */
.cardhost-card-document {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}

.cardhost-card-document--codeblock {
  height: 0;
}



/* TODO: Do not hardcode. Move some styles to core package and some to isolated card css */
.card-renderer-isolated.view .field-renderer.view-field {
  margin: 0 auto;
  padding-right: 70px;
  padding-left: 70px;
  width: 997px;
  max-width: 100%;
}

.field-renderer.view-field .label {
  padding-bottom: 0.5em;
  font: 400 13px/18px "Open Sans";
  letter-spacing: 0;
  color: rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
}

.card-renderer-isolated.view .field-renderer.view-field.field-title {
  color: black;
  font: 400 28px/21px 'Open Sans';
  letter-spacing: 0;
  text-align: left;
}

.card-renderer-isolated.view .field-renderer.view-field.field-title .label {
  visibility: hidden;
  height: 0;
  padding: 0;
}

.card-renderer-isolated.view .field-renderer.view-field.field-body,
.card-renderer-isolated.view .field-renderer.view-field.field-description {
  color: black;
  font: 400 16px/22px 'Open Sans';
  letter-spacing: 0;
  text-align: left;
}

.card-renderer-isolated.view .field-renderer.view-field:first-child {
  padding-top: 50px;
  padding-bottom: 20px;
}

.card-renderer-isolated.view .field-renderer.view-field:last-child {
  padding-bottom: 50px;
}

.field-renderer.view-field  + .field-renderer.view-field {
  margin-top: 30px;
}

.field-renderer.edit-field  + .field-renderer.edit-field {
  margin-top: 20px;
}

.edit-field-renderer {
  border: 1px solid #B1B1B1;
  border-radius: 5px;
  padding: 10px 20px;
}
