@import '/assets/fonts.css';
@import '/assets/palette.css';
@import '/assets/ui-components.css';

@import '/assets/components/right-edge.css';
@import '/assets/index.css';
@import '/assets/cards.css';
@import '/assets/components/mode-switcher.css';
@import '/assets/components/cardhost-left-edge.css';
@import '/assets/components/cardhost-top-edge.css';
@import '/assets/components/button.css';
@import '/assets/components/search-bar.css';
@import '/assets/components/filter-bar.css';
@import '/assets/components/catalog.css';
@import '/assets/components/catalog-field.css';


/* TODO eventually these will be dynamically added to the DOM.
Until that work is done we are statically adding this css
*/
@import '/assets/cards/base-card-isolated.css';
@import '/assets/cards/base-card-embedded.css';
@import '/assets/fields/belongs-to-editor.css';
@import '/assets/fields/belongs-to-viewer.css';
@import '/assets/fields/boolean-editor.css';
@import '/assets/fields/boolean-viewer.css';
@import '/assets/fields/case-insensitive-editor.css';
@import '/assets/fields/case-insensitive-viewer.css';
@import '/assets/fields/date-editor.css';
@import '/assets/fields/date-viewer.css';
@import '/assets/fields/has-many-editor.css';
@import '/assets/fields/has-many-viewer.css';
@import '/assets/fields/integer-editor.css';
@import '/assets/fields/integer-viewer.css';
@import '/assets/fields/string-editor.css';
@import '/assets/fields/string-viewer.css';

:root {
  --ch-font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;

  --ch-left-edge-navbar-width: 80px;
  --ch-right-edge-navbar-width: 80px;
  --ch-left-edge-panel-width: 330px;
  --ch-right-edge-panel-width: 300px;
  --ch-top-edge-height: 80px;
  --ch-header-height: 70px;
  --ch-edges-z-index: 10;
  --ch-spacing: 20px;

  --ch-left-edge-width: var(--ch-left-edge-navbar-width);
  --ch-right-edge-width: calc(var(--ch-right-edge-panel-width) + var(--ch-spacing));
}

/*
  TODO:
  - better positioning for edges (esp on/off state)
  - link and button focus and disabled states styling
*/

* {
  box-sizing: border-box;
}

body {
  min-width: 100%;
  min-height: 100%;
  width: 100%;
  height: auto;
  margin: 0;
  background-color: var(--ch-medium-medium-blue-gray);
  color: white;
  font-family: var(--ch-font-family);
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
}

a {
  --link: white;

  color: var(--link);
  text-decoration: none;
}

a:hover {
  --link: var(--ch-cyan);

  cursor: pointer;
}


/* Index template */
.cardhost--topnav {
  margin: 0 auto;
}

.cardhost--topnav ul {
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.cardhost--topnav ul li a::after {
  display: inline-block;
  color: var(--ch-light-gray);
  content: '|';
  font-size: 80%;
  font-weight: bold;
  padding: 0 10px;
}

.cardhost-catalog--title {
  margin: 0;
  font-size: 32px;
  font-weight: 200;
}


/* Other */
.login-button {
  position: absolute;
  top: var(--ch-spacing);
  left: 430px;
}

.card-renderer--top-edge-buttons {
  position: fixed;
  top: var(--ch-spacing);
  right: var(--ch-spacing);
}

.card-creator,
.card-schema-updator,
.card-editor,
.card-view {
  --padding-top: var(--ch-top-edge-height);
  --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);

  height: 100vh;
  overflow: hidden;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.card-creator,
.card-schema-updator {
  --padding-left: calc(var(--ch-left-edge-panel-width) + var(--ch-left-edge-navbar-width));

  width: 100vw;
  height: 100vh;
  background: url("/assets/images/grid-square.png") center/20px repeat;
}

.card-schema-updator--search-bar {
  position: absolute;
  right: var(--ch-spacing);
  bottom: var(--ch-spacing);
}

.card-creator--new-card {
  width: 300px;
  margin-bottom: var(--ch-spacing);
}

.field-creator--field-btn-wrapper {
  text-align: right;
}

.status-message-box {
  position: absolute;
  top: var(--ch-top-edge-height);
  left: var(--ch-left-edge-width);
  padding: var(--ch-spacing);
  font-weight: 700;
}
.status-message-box.schema {
  --ch-left-edge-width: 410px;
}


/* Temp Right Edge styles */
.cardhost-right-edge {
  position: fixed;
  top: var(--ch-top-edge-height);
  right: 0;
  margin: 0;
  padding: 0 20px;
  z-index: var(--ch-edges-z-index);
}

.cardhost-right-edge--nav ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 20px 0;
  list-style-type: none;
}

.cardhost-right-edge-panel {
  position: relative;
  top: 0;
  right: 0;
  width: var(--ch-right-edge-panel-width);
  padding: 25px;
  background-color: var(--ch-medium-dark-blue-gray);
  border-radius: 20px;
  color: white;
}

.cardhost-right-edge-panel--header {
  padding: 10px 0 25px;
  font-size: 16px;
  text-transform: capitalize;
}


/* JSON card document */
.cardhost-card-document {
  visibility: hidden;
  height: 0;
  overflow: hidden;
}
.cardhost-card-document--codeblock {
  height: 0;
}
