.cardhost-cards {
  /* TODO: make this a grid. do not use padding to determine card view zone */

  --padding-top: var(--ch-top-edge-height);
  --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);

  width: 100vw;
  height: 100vh;
  background-color: var(--ch-dark-blue-gray);
  overflow: hidden;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.cardhost-cards.view {
  --padding-left: var(--ch-left-edge-navbar-width);
}

.cardhost-cards.add,
.cardhost-cards.schema,
.cardhost-cards.adopt {
  background: url("/assets/images/schema-grid-tile.png") center/60px repeat;
}
