.cardhost-cards {
  /* TODO: make this a grid. do not use padding to determine card view zone */

  --padding-top: var(--ch-top-edge-height);
  --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);
  --padding-bottom: var(--ch-bottom-edge-height);

  width: 100%;
  height: 100vh;
  transition: var(--ch-card-background-color-animate), var(--ch-card-padding-animate);
  background-color: var(--ch-default);
  overflow: hidden;
  padding-top: var(--padding-top);
  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
}

.cardhost-cards.edit,
.cardhost-cards.view {
  --padding-left: var(--ch-left-edge-navbar-width);
}

.cardhost-cards.schema {
  background-color: var(--ch-deep-background);
}

.card-creator,
.card-schema-updator,
.card-view,
.card-editor {
  display: grid;
  align-items: flex-start;
  justify-items: center;
  height: 100%;
  padding: 0 20px;
}
