.cardhost-cards {
  /* TODO: make this a grid. do not use padding to determine card view zone */

  --padding-top: var(--ch-top-edge-height);
  /* --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);
  --padding-bottom: var(--ch-bottom-edge-height); */

  width: 100%;
  min-height: 100vh;
  background-color: var(--ch-default);
  padding-top: var(--padding-top);
  /* padding-left: var(--padding-left);
  padding-right: var(--padding-right); */

  transition: var(--ch-card-background-color-animate);
}

.cardhost-cards.view {
  background-color: var(--ch-light-background);
}

.cardhost-cards.edit {
  background-color: var(--ch-medium-background);
}

.cardhost-cards.schema {
  background-color: var(--ch-deep-background);
}

.cardhost-cards.editing-css {
  padding-left: 20px;
  padding-right: 20px;
  background-color: var(--ch-dark-background);
  transition: var(--ch-card-padding-animate),
              var(--ch-card-background-color-animate);
}

.cardhost-cards.full-width.editing-css .themer.view {
  width: 100%;
}

.cardhost-cards.responsive.editing-css .themer.view {
  min-width: calc(var(--ch-card-size) - 6px); /* subtracting border */
  max-width: calc(var(--ch-card-size) - 6px);
}

.card-creator,
.card-schema-updator,
.card-view,
.card-editor {
  display: grid;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding: 0 20px;
}

.card-view,
.card-editor {
  grid-template-columns: 1fr;
}
