.cardhost-cards {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: var(--ch-light-background);
  color: var(--ch-dark);
  overflow-y: auto;
  transition: var(--ch-card-background-color-animate);
}

.cardhost-cards.edit {
  background-color: var(--ch-default);
}

.cardhost-cards.schema {
  background-color: var(--ch-deep-background);
  background-image: url('/assets/images/grid-tile.png');
  background-repeat: repeat;
  background-size: 55px;
}

.cardhost-cards.themer {
  background-color: var(--ch-dark-background);
}

.cardhost-cards.dragging * {
  user-select: none;
}

.themer-card-width--small .card-renderer-isolated {
  width: var(--ch-card-size);
}

.themer-card-width--medium .card-renderer-isolated {
  width: var(--ch-card-size-medium);
}

.themer-card-width--large .card-renderer-isolated {
  width: var(--ch-card-size-large);
}
