.card-builder {
  --card-builder-hover: rgba(0, 0, 0, 0.1);
  --card-builder-horizontal-padding: 38px;
  --card-builder-featured-card-width: 375px;

  height: 100%;
  overflow-y: auto;
}

.card-builder--header {
  margin: 0;
  padding: 26px var(--card-builder-horizontal-padding) 39px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(27 / 20);
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

.card-builder--section-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 30px var(--card-builder-horizontal-padding);
  font-size: 26px;
  line-height: calc(36 / 26);
  font-weight: 400;
  letter-spacing: 0.015em;
}

.card-builder--section-header svg {
  margin-right: 20px;
}

.card-builder--section-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 225px);
  grid-template-rows: minmax(554px, auto);
  gap: 53px;
  margin: 0;
  padding: 15px var(--card-builder-horizontal-padding) 45px;
  overflow-x: auto;
}

.card-builder--section-card-link {
  position: relative;
  width: inherit;
  height: inherit;
  margin: 0;
  background: none;
}

.card-builder--section-card-link:hover,
.card-builder--section-card-link:focus {
  --cs-button-hover: transparent;
  outline: 0;
}

.card-builder--section-card-link:hover .card-builder--section-card,
.card-builder--section-card-link:focus .card-builder--section-card {
  transform: scale(0.9);
  box-shadow: 0px 0px 0px 55px var(--card-builder-hover);
  transition: all var(--ch-card-transition-duration) ease-in-out;
}

.card-builder--section-card-scale-wrapper {
  transform: scale(0.6) translate(-34%, -34%);
  position: absolute;
  top: 0;
  left: 0;
  margin: 0 auto;
}

.card-builder--section-card-scale-wrapper > .card-builder--section-card {
  width: 100%;
  min-width: var(--card-builder-featured-card-width);
  height: 100%;
  padding: 0;
  border-radius: 30px;
  transition: transform var(--ch-card-transition-duration) ease-in-out;
}

.card-builder--section-card-label {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 20px;
  color: var(--ch-dark);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}


@media (max-width: 615px) {
  .card-builder {
    --card-builder-horizontal-padding: 28px;
  }

  .card-builder--section-header {
    font-size: 22px;
  }

  .card-builder--section-header svg {
    height: 22px;
    margin-right: 15px;
  }
}
