.card-builder {
  --index-page-background: #f6f5fa;
  --index-page-card-hover: rgba(0,0,0,0.1);

  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding-left: var(--ch-left-edge-navbar-width);
  background-color: var(--index-page-background);
  color: var(--ch-dark);
}

.card-builder--header {
  margin: 0;
  padding: 26px 28px 39px;
  font-size: 20px;
  font-weight: 700;
  line-height: calc(27 / 20);
  letter-spacing: 0.1em;
  text-align: left;
  text-transform: uppercase;
}

.card-builder--section-header {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 30px 28px;
  font-size: 26px;
  line-height: calc(36 / 26);
  font-weight: 400;
  letter-spacing: 0.015em;
}

.card-builder--section-header svg {
  margin-right: 20px;
}

.card-builder--section-grid {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 253px);
  grid-gap: 30px;
  margin: 0;
  padding: 15px 28px 45px;
  overflow-x: auto;
}

.card-builder--section-card-link {
  width: 253px;
  margin: 0;
  padding-right: 28px;
  background: none;
}

.card-builder--section-card-link:hover,
.card-builder--section-card-link:focus {
  --cs-button-hover: transparent;
  outline: 0;
}

.card-builder--section-card-link:hover > .card-builder--section-card-renderer > .card-builder--section-card,
.card-builder--section-card-link:focus > .card-builder--section-card-renderer > .card-builder--section-card {
  transform: scale(0.9);
  box-shadow: 0px 0px 0px 35px var(--index-page-card-hover);
  transition: all 0.3s ease;
}

.card-builder--section-card-label {
  width: 225px;
  height: auto;
  padding-top: 30px;
  color: var(--ch-dark);
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

.card-builder--section-card {
  width: 100%;
  min-height: 488px;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 15px;
  transition: transform var(--ch-card-transition-duration) ease-in-out calc(var(--ch-card-transition-duration) / 3);
}


@media (max-width: 615px) {
  .card-builder {
    padding-left: 80px;
  }

  .card-builder--header-title {
    padding-bottom: 26px;
  }

  .card-builder--section {
    padding-bottom: 60px;
  }

  .card-builder--section-header {
    font-size: 22px;
  }

  .card-builder--section-header svg {
    height: 22px;
    margin-right: 15px;
  }

  .card-builder--section-grid {
    grid-gap: 60px 30px;
  }
}
