:root {
  /* Boxel color palette */
  --boxel-dark: #000;
  --boxel-light: #fff;
  --boxel-border-color: #dedede;
  --boxel-highlight: #00ebe5;
  --boxel-highlight-hover: #00b0ad;
  --boxel-red: #ff5050;
  --boxel-darkest-purple: #2e2d38;
  --boxel-dark-purple: #393642;
  --boxel-medium-dark-purple: #413e4e;
  --boxel-medium-purple: #5a586a;
  --boxel-medium-light-purple:#6b6a80;
  --boxel-light-purple: #afafb7;

  /* Cardhost color palette */
  --ch-default: var(--boxel-darkest-purple);
  --ch-hover: #272330;
  --ch-disabled: var(--boxel-dark-purple);
  --ch-dark-background: #41404d;     /* right-edge panel background */
  --ch-medium-background: #b7b1ba;   /* edit mode background */
  --ch-light-background: #e9e9ed;    /* left-edge catalog bg, field-renderer header bg */
  --ch-deep-background: #141428;     /* use sparsely (homepage, themer, and schema view backgrounds) */
  --ch-foreground: var(--boxel-medium-purple);          /* right-edge dropdown, pill selector, checkbox background */
  --ch-foreground-hover: #434050;
  --ch-highlight: var(--boxel-highlight);           /* form components focus border state, links hover state */
  --ch-highlight-hover: var(--boxel-highlight-hover);
  --ch-success: #37eb77;
  --ch-border: #5b596e;              /* button, search-bar, and view-switcher borders */
  --ch-light: var(--boxel-light);
  --ch-dark: var(--boxel-dark);
  --ch-alert: var(--boxel-red);
  --ch-light-op40: #6b6971;         /* disabled border/stroke color on dark bg */
  --ch-light-op50: var(--boxel-light-purple);         /* inactive titles with icons */
  --ch-light-op60: #cfcfd2;         /* regular label on dark bg */
  --ch-dark-op50: #404040;          /* regular label on light bg */

  /* Cardstack color palette */
  --cs-navy: #281e78;
  --cs-blue: #0069f9;
  --cs-purple: #6638ff;
  --cs-fuschia: #ac00ff;
  --cs-lilac: #a66dfa;
  --cs-cyan: #00ebe5;
  --cs-darker-cyan: #00b0ad;
  --cs-green: #37eb77;
  --cs-yellow: #c3fc33;


  /* Only for UNTHEMED CARD CONTENT (Unthemed default card styling) */
  --dark-gray: #404040;
  --medium-gray: #707070;
  --light-gray: rgba(112, 112, 112, 0.25);
  --red: #ff0000;
  --black: #000;
  --white: #fff;
  --cobalt-blue: #0069F9;         /* used for links */


  /* UI Components color palette */
  --cs-highlight: var(--cs-cyan);
  --cs-highlight-hover: var(--cs-darker-cyan);
  --cs-error: var(--boxel-red);
  --cs-success: var(--ch-success);

  /* UI Components on Light Background */
  --cs-field-default: var(--boxel-light);               /* Default background */
  --cs-field-hover: #f7f7f7;                          /* Focus and hover background */
  --cs-field-text: var(--boxel-dark);                   /* Input text */
  --cs-field-label: var(--ch-dark-op50);                /* Label, required label, helper text */
  --cs-field-placeholder: #757575;                    /* Placeholder text */
  --cs-field-disabled-text: var(--boxel-light-purple);  /* Disabled text */
  --cs-field-border: var(--boxel-light-purple);         /* Field border */
  --cs-field-disabled-border: #e3e3e3;                /* Disabled field border */

  /* UI Components on Dark Background */
  --cs-dark-field-default: var(--boxel-darkest-purple); /* Default background */
  --cs-dark-field-hover: var(--ch-hover);               /* Hover background */
  --cs-dark-field-disabled: var(--boxel-dark-purple);   /* Disabled background */
  --cs-dark-field-text: var(--boxel-light);             /* Input text */
  --cs-dark-field-label: var(--ch-light-op60);          /* Label, required label, helper text */
  --cs-dark-field-placeholder: #97969c;               /* Placeholder text */
  --cs-dark-field-disabled-text: var(--ch-light-op40);  /* Disabled text */
  --cs-dark-field-error: #ff5757;                     /* Error text */
}
