:root {
  /* TODO Only use these colors now on */
  --ch-default: #2e2d38;
  --ch-hover: #272330;
  --ch-disabled: #393642;
  --ch-highlight: #00ebe5;
  --ch-highlight-hover: #00b0ad;
  --ch-success: #37eb77;
  --ch-dark-background: #41404d;
  --ch-light-background: #e9e9ed;
  --ch-border: #5b596e;
  --ch-foreground: #5a586a;
  --ch-foreground-hover: #434050;
  /* */

  --ch-light-gray: #f2f2f2;
  --ch-light-gray-f0: #f0f0f0;
  --ch-light-gray-d6: #d6d6d6;
  --ch-light-gray-b1: #b1b1b1;
  --ch-light-blue-gray: #acaac6;
  --ch-lighter-blue-gray: #6b6a80;
  --ch-lighter-medium-blue-gray: #5a586a;
  --ch-medium-blue-gray: #5b596e;
  --ch-medium-lighter-blue-gray: #4a4857;
  --ch-medium-medium-blue-gray: #4b4958;
  --ch-medium-dark-blue-gray: #41404d;
  --ch-medium-dark-darker-blue-gray: #3f3d4d;
  --ch-medium-darker-blue-gray: #383849;
  --ch-dark-blue-gray: #2e2d38;
  --ch-darker-dark-blue-gray: #2d2c37;
  --ch-dark-purple-28: #282738;
  --ch-darker-blue-gray: #201f27;
  --ch-darkest-blue-gray: #141428;
  --ch-cyan: #00ebe5;
  --ch-blue: #0076ff;
  --ch-white-op50: rgba(255, 255, 255, 0.5);
  --ch-white-op60: rgba(255, 255, 255, 0.6);
  --ch-black-op25: rgba(0, 0, 0, 0.25);
  --ch-black-op35: rgba(0, 0, 0, 0.35);
  --ch-black-op50: rgba(0, 0, 0, 0.5);
}
