.re-sizable {
  position: relative;
  user-select: auto;
}

.re-sizable.is-active {
  user-select: none;
}

.re-sizable > .resizer {
  position: absolute;
}

.resizer {
  background: none;
  border: none;
  box-shadow: none;
}

.resizer.top,
.resizer.bottom {
  width: 100%;
  height: 10px;
  left: 0;
  cursor: row-resize;
}

.resizer.left,
.resizer.right {
  width: 10px;
  height: 100%;
  top: 0;
  cursor: col-resize;
}

.resizer.top {
  top: -5px;
}

.resizer.right {
  right: -5px;
}

.resizer.bottom {
  bottom: -5px;
}

.resizer.left {
  left: -5px;
}

.resizer.topRight,
.resizer.bottomRight,
.resizer.bottomLeft,
.resizer.topLeft {
  width: 20px;
  height: 20px;
}

.resizer.topRight {
  right: -10px;
  top: -10px;
  cursor: sw-resize;
}

.resizer.bottomRight {
  right: -10px;
  bottom: -10px;
  cursor: nw-resize;
}

.resizer.bottomLeft {
  left: -10px;
  bottom: -10px;
  cursor: ne-resize;
}

.resizer.topLeft {
  left: -10px;
  top: -10px;
  cursor: se-resize;
}