.ui-components {
  display: grid;
  grid-template-columns: 260px 1fr;
  grid-template-areas:
    "header header"
    "navbar main";
  width: calc(100vw - 100px);
  height: calc(100vh - 120px);
  min-width: 1100px;
  max-width: 1400px;
  margin: 60px auto;
  background-color: var(--ch-deep-background);
  border-radius: 10px;
  box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.25);
  overflow: hidden;
}

.ui-components > h1 {
  grid-area: header;
  grid-column: 1 / -1;
  margin: 0 30px;
  padding: 30px 0;
  font: 400 26px/36px var(--ch-font-family);
  letter-spacing: 0.015em;
  border-bottom: 1px solid var(--ch-border);
}

.ui-components > nav {
  grid-area: navbar;
  width: 260px;
  overflow-y: auto;
}

.ui-components > main {
  grid-area: main;
  padding: 0 50px 150px;
  overflow: auto;
  scroll-behavior: smooth;
}

.ui-components--nav > ul {
  list-style-type: none;
  margin: 0;
  padding: 50px 30px;
  font: 400 13px/18px var(--ch-font-family);
}

.ui-components--nav li > ul,
.ui-components--nav ul li + li {
  margin-top: 18px;
}

.ui-components--section {
  position: relative;
  padding: 30px 0;
  border-bottom: 1px solid var(--ch-border);
}
.ui-components--section:last-of-type {
  border-bottom: none;
}

.ui-components--back-button {
  color: var(--cs-highlight);
  position: absolute;
  top: 30px;
  right: 0;
  display: block;
}

.ui-components--section > h2 {
  margin-top: 0;
  margin-bottom: 30px;
  font: 400 26px/36px var(--ch-font-family);
  letter-spacing: 0.015em;
}

.ui-components--notes {
  grid-column: 1 / -1;
  font: 400 13px/18px var(--cs-font-family);
  letter-spacing: 0.035em;
  padding-bottom: 2em;
}

.ui-components--notes a {
  color: var(--cs-highlight);
}

.ui-components--notes p {
  margin-top: 0;
  margin-bottom: 10px;
}

.ui-components--notes code,
.ui-components--notes pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
  padding: 3px 10px;
  background: rgba(0,0,0,0.4);
  color: lightcoral;
  text-align: left;
}

.ui-components--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
}

.ui-components--grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 60%));
  align-items: flex-start;
  grid-gap: 0 30px;
}
.ui-components--grid-2-col > h2,
.ui-components--grid-2-col > h3,
.ui-components--grid-2-col > h4 {
  grid-column: 1 / -1;
}
.ui-components--grid-2-col > h2 > a {
  color: var(--ch-highlight);
}

.ui-components--light-background {
  background-color: white;
  padding: 30px;
}


/* Icons Section */
.ui-components--section.icons svg {
  display: inline-block;
  vertical-align: middle;
  margin: 5px;
}
.ui-components--icon {
  --icon-color: var(--ch-light-op50);
}
.ui-components--icon:hover {
  --icon-color: var(--ch-light);
}


/* Color Palette section */
.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: var(--ch-spacing);
  padding-bottom: 40px;
}
.color-palette--block {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 600;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
}
.color-palette--block.--ch-light,
.color-palette--block.--ch-light-background,
.color-palette--block.--white {
  color: black;
}
.color-palette--code.cardhost-monaco-container {
  min-height: 1em;
}


/* Right Edge section */
.ui-components .right-edge {
  position: static;
}

.ui-components .ch-button--icon.responsive,
.ui-components .ch-button--icon.full-width {
  color: var(--ch-light);
}


/* System Dialog */
.ui-components--dialog-container {
  width: 100%;
  height: 260px;
}
.ui-components--dialog-container.dialog-small {
  height: 100px;
}
.ui-components--dialog-container.dialog-medium {
  height: 160px;
}


/* Catalog section */
.ui-components--catalog > .ch-catalog {
  position: static;
}


/* Form fields */
.ui-components .form-fields h3 {
  scroll-margin-top: 1em;
}
