.ui-components {
  padding: var(--ch-spacing) var(--ch-spacing) 300px;
  background-color: #666;
  color: black;
}

.ui-components--section {
  padding: 30px 0;
  border-bottom: 1px solid var(--ch-light-gray-b1);
}

.ui-components .code-block {
  width: 700px;
  max-width: 100%;
  margin: var(--ch-spacing) 0;
  resize: both;
}

.ui-components--note,
.code-block.ui-components--notes,
.ui-components--grid-2-col .code-block.ui-components--notes {
  grid-column: span 2;
  width: min-content;
  margin-bottom: var(--ch-spacing);
}

.ui-components--grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(min-content, 1fr));
}

.ui-components--grid-2-col {
  display: grid;
  grid-template-columns: repeat(2, minmax(40%, 60%));
  align-items: flex-start;
  grid-gap: 0 30px;
}
.ui-components--grid-2-col > h2,
.ui-components--grid-2-col > h3,
.ui-components--grid-2-col > h4 {
  grid-column: span 2;
}
.ui-components--grid-2-col .code-block {
  margin: 0;
}

.color-palette {
  display: grid;
  grid-template-columns: repeat(auto-fill, 250px);
  grid-gap: var(--ch-spacing);
}

.color-palette--block {
  width: 250px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-weight: 600;
}

.ui-components .right-edge {
  position: static;
}
