.card-pay-header-connection-button__label {
  color: var(--boxel-purple-300);
  font: 600 var(--boxel-font-xs);
  letter-spacing: 0.075em;
  text-transform: uppercase;
}

.card-pay-header-connection-button__button.card-pay-header-connection-button__button--connected {
  min-width: 15.6rem; /* ~250px */
  padding: var(--boxel-sp-sm);
  border-color: var(--boxel-purple-700);
  border-radius: var(--boxel-border-radius);
  font: 400 var(--boxel-font-size-sm)/calc(18 / 13) var(--boxel-monospace-font-family);
  letter-spacing: var(--boxel-lsp-sm);
}

@media screen and (min-width: 50rem) /* 800px */ {
  .card-pay-header-connection-button__label {
    max-width: 4rem;
  }
}
