.safe-tools_safe-info-balance {
  font-weight: bold;
  color: var(--boxel-highlight);
}

.safe-tools__dashboard-dropdown .copyable-blockchain-address {
  font-weight: 600;
  font-size: var(--boxel-font-size-sm);
}
