.card-wallet-badges {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.card-wallet-badges > a {
  flex-basis: 50%;
}

.card-wallet-badges > a:last-child {
  text-align: center;
}

.card-wallet-badges img {
  height: 2.8rem;
  object-fit: contain;
}
