.profile-customization__enter-name {
  color: var(--boxel-light-600);
}

.profile-customization__color {
  display: flex;
  align-items: center;
}

.profile-customization__color-preview,
.profile-customization__color-input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--boxel-sp-xxs);
  border-radius: 3px;
}

.profile-customization__color-preview {
  background-color: var(--profile-custom-color);
}
