<details class="boxel-expandable-banner__details">
  <summary class="boxel-expandable-banner__summary">
    <div class="boxel-expandable-banner__summary-layout">
    {{svg-jar @icon class="boxel-expandable-banner__summary-icon"}}
    <span class="boxel-expandable-banner__summary-text">
      {{@summary}}
    </span>
    <div class="boxel-expandable-banner__summary-marker" aria-hidden="true">
      {{svg-jar "caret-up" class="boxel-expandable-banner__summary-marker-icon"}}
    </div>
    </div>
  </summary>
  <div class="boxel-expandable-banner__details-content">
    {{yield}}
  </div>
</details>