<FreestyleAnnotation @slug="left-edge-nav-basic-button">
  <div>yields for the contents of the button</div>
</FreestyleAnnotation>

<FreestyleUsage @slug="left-edge-nav-basic-button">
  <Doc::DemoStage @width="80px" @paddingX="0px" @textAlign="center" @bg="boxel-purple-800">
    <Boxel::LeftEdgeNav::BasicButton aria-label="home">
      {{svg-jar "cardstack-logo" width="33px" height="35px"}}
    </Boxel::LeftEdgeNav::BasicButton>
  </Doc::DemoStage>
</FreestyleUsage>
