<FreestyleAnnotation @slug="left-edge-nav-basic-button">
  <div>yields for the contents of the button</div>
</FreestyleAnnotation>

<FreestyleUsage @slug="left-edge-nav-basic-button">
  <div style="width:80px;padding:10px 0;margin-bottom:10px;text-align: center;background-color:var(--boxel-purple-800);">
    <Boxel::LeftEdgeNav::BasicButton aria-label="home">
      {{svg-jar "cardstack-logo" width="33px" height="35px"}}
    </Boxel::LeftEdgeNav::BasicButton>
  </div>
</FreestyleUsage>
