.card-pay-field-stack > * + * {
  margin-top: var(--boxel-sp-lg);
}

.card-pay-field-stack--is-horizontal {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 0;
}

.card-pay-field-stack--is-horizontal > * + * {
  margin-top: 0;
}
