<button class="icon-btn icon-btn__{{@variant}} {{@class}}" aria-label={{@aria-label}} ...attributes>
  {{#if @icon}}
    {{svg-jar @icon width=(or @width "16px") height=(or @height "16px")}}
  {{/if}}
</button>