.transaction-amount {
  --tx-amount-banner-height: 3.125rem; /* 50px */
  --tx-amount-input-height: 3.75rem; /* 60px */
}

.transaction-amount__input-section > * + * {
  margin-top: var(--boxel-sp-lg);
}

.transaction-amount__input-container {
  --input-currency-icon-size: 2.5rem;
  --input-currency-text-width: 5ch;
  --input-currency-icon-space: var(--boxel-sp-xs);
  --input-currency-text-space: var(--boxel-sp-sm);

  position: relative;
}

.transaction-amount__input-token-balance {
  font-family: var(--boxel-font-family);
  font-size: 1.25rem;
  line-height: calc(27 / 20);
  letter-spacing: var(--boxel-lsp-xs);
}

.transaction-amount__input {
  height: var(--tx-amount-input-height);
  padding-left: calc(var(--input-currency-icon-size) + var(--input-currency-icon-space) * 2);
  padding-right: calc(var(--input-currency-text-width) + var(--input-currency-text-space) * 2);
  font: inherit;
  letter-spacing: inherit;
}

.transaction-amount__currency-icon {
  position: absolute;
  width: var(--input-currency-icon-size);
  height: var(--tx-amount-input-height);
  left: var(--input-currency-icon-space);
  top: 0;
  user-select: none;
}

.transaction-amount__currency-text {
  position: absolute;
  max-width: var(--input-currency-text-width);
  height: var(--tx-amount-input-height);
  display: flex;
  align-items: center;
  right: var(--input-currency-text-space);
  top: 0;
  user-select: none;
}

.transaction-amount__banner-field-label {
  align-self: flex-start;
  display: flex;
  align-items: center;
  height: var(--tx-amount-banner-height);
}

.transaction-amount__input-field-label {
  align-self: flex-start;
  display: flex;
  align-items: center;
  height: var(--tx-amount-input-height);
}

/* unlocking, unlocked, memorialized states */
.transaction-amount--data-entered .transaction-amount__input-section > * + * {
  margin-top: var(--boxel-sp);
}

.transaction-amount--data-entered .transaction-amount__field {
  grid-template-columns: 1fr;
  row-gap: var(--boxel-sp-xxs);
}

.transaction-amount--data-entered .transaction-amount__banner-field-label {
  height: unset;
}

/* token balance display styles */
.transaction-amount__token {
  display: flex;
  align-items: center;
  color: var(--boxel-dark);

  /* bordered display box */
  justify-content: center;
  padding: var(--boxel-sp-xl) var(--boxel-sp);
  border: 1px solid var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
}

.transaction-amount__error {
  color: var(--boxel-error-100);
  font: 600 var(--boxel-font-sm);
}

.transaction-amount__support-link {
  color: var(--boxel-error-100);
  text-decoration: underline;
}

.transaction-amount__support-link:hover {
  color: var(--boxel-error-100);
  /* Opting for filter instead of introducing a new color */
  filter: brightness(0.9);
}
