.boxel-thread-modal {
  --boxel-modal-max-width: 1030px;
  --boxel-modal-offset-left: 30px;
}

.boxel-thread-modal--full-width {
  --boxel-modal-max-width: 100%;
}

.card-pay-workflow-thread__status {
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}
