.auth-step {
  color: black;
  text-align: center;
  height: min(100vh, 40rem);
  padding: var(--boxel-sp-lg);
  display: flex;
  flex-direction: column;
  max-width: min(100vw, 40rem);
}

.auth-step__header {
  font: var(--boxel-font-lg);
  font-weight: 600;
}

.auth-step__description {
  font: var(--boxel-font);
  margin: var(--boxel-sp-lg) 0;
}

.auth-step__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--boxel-sp);
  width: 100%;
  height: 100%;
}
