.boxel-org-switcher-button__logo {
  width: 40px;
  height: 40px;
  border: 1px solid var(--boxel-dark);
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-dark);
  background-position: center;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  color: var(--boxel-light);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
}

/* Dummy */
.boxel-org-switcher-button__logo--bunny_records {
  background-color: #FF1D6C;
}

.boxel-org-switcher-button__logo--crd_records {
  background-color: var(--boxel-blue);
}

.boxel-org-switcher-button__logo--warbler-music {
  background-color: var(--boxel-navy);
}

.boxel-org-switcher-button__logo--allegro-music-publishing {
  background-size: 30px 30px;
}

.boxel-org-switcher-button__logo--realtunes-publishing {
  background-color: #3F356F;
}

.boxel-org-switcher-button__logo--somoa {
  background-color: var(--boxel-lilac);
}
