.styled-qr-code {
  display: inline-block;
  padding: var(--boxel-sp-xxs);
  border-radius: 2.5rem;
  border: 1px solid var(--boxel-light-400);
  overflow: hidden;
}

.styled-qr-code > canvas {
  width: 18.75rem; /* 300px */
  max-width: 100%;
}
