.boxel-thread-message {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: start;
  gap: var(--boxel-sp);
}

@media only screen and (min-width: 1440px) {
  .boxel-thread-message {
    padding-right: var(--boxel-sp-xl);
  }
}

.boxel-thread-message__info {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: var(--boxel-sp-xs) var(--boxel-sp);
  min-height: 1.25rem; /* 20px */
}

.boxel-thread-message__sender-name {
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-thread-message__time {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
}

.boxel-thread-message__content {
  font-size: 0.9375rem; /* 15px */
  line-height: calc(23/15);
  letter-spacing: var(--boxel-lsp-sm);
}

.boxel-thread-message__content > * {
  margin: 0;
}

.boxel-thread-message__content > * + * {
  margin-top: var(--boxel-sp-lg);
}
