.wave-player {
  display: inline-flex;
  align-items: center;
  padding-top: 15px;
}

.wave-player > canvas {
  max-width: calc(100% - 120px);
}

.wave-player__play {
  padding-right: 10px;
}

.wave-player__play.is-playing,
.play-button.is-playing {
  --icon-color: var(--boxel-highlight);
}

.wave-player__times {
  color: #6B6A80;
  font: var(--boxel-font-sm);
  white-space: nowrap;
}
