<div class="drag-drop-page {{if this.model.isDraggingObject "dragging"}}">
  <div class="tray-container">
    <div class="tray tray-1">
      {{#draggable-object content=this.model}}
        {{#unless this.draggedCard}}
          <div class="draggable-card">
            <div class="draggable-card-contents">
              <div class="draggable-card-title">
                {{this.model.title}}
              </div>
            </div>
          </div>
        {{/unless}}
      {{/draggable-object}}
    </div>

    <div class="tray tray-2">
      {{#draggable-object-target action=(action this.copyCard)}}
        {{#if (or this.draggedCard this.model.isDraggingObject)}}
          <div class="draggable-card">
            <div class="draggable-card-contents">
              <div class="draggable-card-title">
                {{this.model.title}}
              </div>
            </div>
          </div>
        {{else}}
          <div class="drop-zone-text">Drop here</div>
        {{/if}}
      {{/draggable-object-target}}
    </div>
  </div>
</div>