<div class="drag-drop-page">
  <div class="tray-container">
    <AnimatedContainer class="draggable-card-container">
      <div class="tray tray-1">
        {{#animated-each this.leftWell use=this.dragTransition duration=200 watch="dragState" as |card|}}
          <div class="draggable-card zone-1" role="button" onmousedown={{action this.beginDragging card "right"}}>
            <div class="draggable-card-contents">
              <div class="draggable-card-title">
                {{card.title}}
              </div>
            </div>
          </div>
        {{/animated-each}}
      </div>
    </AnimatedContainer>
    <AnimatedContainer class="dragged-card-container">
      <div class="tray tray-2">
        {{#animated-each this.rightWell use=this.dragTransition duration=200 watch="dragState" as |card|}}
          <div class="draggable-card zone-2" role="button" onmousedown={{action this.beginDragging card "left"}}>
            <div class="draggable-card-contents">
              <div class="draggable-card-title">
                {{card.title}}
              </div>
            </div>
          </div>
        {{/animated-each}}
      </div>
    </AnimatedContainer>
  </div>
</div>