.boxel-thread {
  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: var(--boxel-light-300);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.boxel-thread__content-wrapper {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr auto;
  background-color: var(--boxel-light-300);
  border-radius: var(--boxel-border-radius);
  overflow: hidden;
}

.boxel-thread__scroll-wrapper {
  padding-bottom: var(--boxel-sp-lg);
  overflow-y: auto;
}

.boxel-thread__content {
  padding: var(--boxel-sp);
  padding-left: var(--boxel-sp-xl);
}

.boxel-thread__content > * + * {
  margin-top: var(--boxel-sp-lg);
}

.boxel-thread__sidebar {
  margin: var(--boxel-sp);
}

.boxel-thread__sticky-container {
  position: sticky;
  top: 0;
  z-index: 1;
  border-top-right-radius: inherit;
  border-top-left-radius: inherit;
}
