<section class="boxel-thread" ...attributes>
  <div class="boxel-thread__sticky-container">
    {{yield to="header"}}
  </div>

  <section class="boxel-thread__content-wrapper">
    <div class="boxel-thread__scroll-wrapper">
      <div class="boxel-thread__sticky-container">
        {{yield to="taskbar"}}
      </div>
      <section class="boxel-thread__content">
        {{yield to="content"}}
      </section>
    </div>

    <div class="boxel-thread__scroll-wrapper">
      <Boxel::Sidebar class="boxel-thread__sidebar" as |SidebarSection|>
        {{yield SidebarSection to="sidebar"}}
      </Boxel::Sidebar>
    </div>
  </section>
</section>