.universal-link-header {
  --boxel-org-header-background-color: none;
  --card-pay-logo-size: 2.5rem;
  --card-pay-logo-position: left center;

  margin-top: var(--boxel-sp);
}

.universal-link-header__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--boxel-sp);
  margin: 0;
  font: 600 var(--boxel-font-sm);
  letter-spacing: 0.02em;
}

.universal-link-header__hamburger {
  --hamburger-menu-logo-size: var(--card-pay-logo-size);
  --hamburger-menu-logo-position: var(--card-pay-logo-position);
  --hamburger-menu-padding: var(--boxel-sp);

  display: none;
}

.universal-link-header__degraded-service-banner--small {
  display: none;
}

@media only screen and (max-width: 480px) {
  .universal-link-header__links,
  .universal-link-header__degraded-service-banner--regular {
    display: none;
  }

  .universal-link-header__hamburger {
    display: initial;
  }

  .universal-link-header__degraded-service-banner--small {
    display: flex;
    margin-top: var(--boxel-sp-xs);
  }
}
