/* Isolated styles */
.article-isolated {
  box-sizing: border-box;
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  border-radius: 10px;
}

.article-isolated--image > img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  object-position: center;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.article-isolated--content {
  width: 100%;
  max-width: 660px;
  margin: 0 auto;
  padding: 30px;
}

.article-isolated--title {
  margin: 0;
  padding-bottom: 15px;
  font-size: 26px;
}

.article-isolated--description {
  margin: 0 0 30px;
  color: black;
  font-size: 18px;
  line-height: 18px;
  text-transform: capitalize;
}

.article-isolated--author {
  padding-bottom: 10px;
  color: var(--boxel-darker-light-gray);
  font-size: 14px;
}

.article-isolated--published-date {
  padding-bottom: 30px;
  color: var(--boxel-darker-gray);
  font-size: 12px;
}

.article-isolated--body {
  margin: 0 0 10px;
  color: var(--boxel-darker-gray);
  font-size: 16px;
}


/* Embedded styles */
.article-embedded {
  box-sizing: border-box;
  width: 700px;
  height: 336px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  background-color: white;
  border-radius: 0;
  overflow: hidden;
}

.article-embedded--image {
  height: inherit;
}

.article-embedded--image > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-embedded--content {
  box-sizing: border-box;
  height: inherit;
  padding: 30px;
}

.article-embedded--title {
  margin: 0 0 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 20px;
}

.article-embedded--description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;

  margin: 0 0 10px;
  color: var(--boxel-darker-gray);
  font-size: 14px;
  line-height: 18px;
  text-transform: capitalize;
}

.article-embedded--author {
  padding-bottom: 10px;
  color: var(--boxel-darker-light-gray);
  font-size: 12px;
}

.article-embedded--published-date {
  color: var(--boxel-darker-gray);
  font-size: 12px;
}


/* Thumbnail styles */
.article-thumbnail {
  width: 204px;
  height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  background-color: white;
  overflow: hidden;
}

.article-thumbnail--image {
  width: 100%;
  height: inherit;
}

.article-thumbnail--text {
  box-sizing: border-box;
  height: inherit;
  padding: 10px;
}

.article-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.article-thumbnail h3 {
  margin: 0 0 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 60%;
}

.article-thumbnail p {
  margin: 0;
  padding-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 60%;
}


/* Fallback/default article */
.article-default {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}
