.org-card__container {
  width: 33.125rem;
  min-height: 18.75rem;
  height: 100%;
  display: flex;
  border-radius: var(--boxel-border-radius);
  overflow: hidden;
  background: var(--boxel-light);
  color: var(--boxel-dark);
}

.org-card__image {
  width: 17rem;
  background-color: var(--boxel-navy);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.org-card__icon {
  width: 4.375rem;
  height: 4.375rem;
  padding: 1rem;
  background-color: var(--boxel-navy);
  border-radius: 1rem;
}

.org-card__name {
  font: 600 var(--boxel-font-lg);
  letter-spacing: 0;
  margin-bottom: 0;
  margin-top: var(--boxel-sp-sm);
}

.org-card__subtitle {
  font: var(--boxel-font);
  letter-spacing: 0.01em;
}

.org-card__description {
  color: var(--boxel-purple-500);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  margin: var(--boxel-sp) 0;
}

.org-card__description-list {
  list-style: disc inside;
  font: var(--boxel-font-sm);
  margin-bottom: 0;
  margin-top: var(--boxel-sp-xxxs);
  padding-left: 0;
}

.org-card__description-list li::marker {
  color: var(--boxel-dark);
}

.org-card__content {
  padding: 1.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.org-card__cta {
  margin-top: auto;
  align-self: flex-end;
}

.org-card__cta--disabled-link {
  color: var(--boxel-purple-600);
}

@media screen and (max-width: 35rem) {
  .org-card__container {
    flex-flow: column;
    width: 100%;
  }

  .org-card__image {
    width: 100%;
    height: 10rem;
  }
}
