.boxel-searchbox {
  /* todo set up search stuff properly */
  --boxel-searchbox-icon-size: .875rem;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  border: 1px solid var(--boxel-dark);
  border-radius: 100px;
  position: relative;
}

.boxel-searchbox__input {
  --boxel-searchbox-text-color: rgba(255, 255, 255, 0.6);
  height: 2rem;
  border: none;
  width: 100%;
  padding-top: var(--boxel-sp-xxxs);
  padding-bottom: var(--boxel-sp-xxxs);
  padding-left: calc(var(--boxel-searchbox-icon-size) + var(--boxel-sp-xs) + var(--boxel-sp-xs));
  padding-right: calc(var(--boxel-searchbox-icon-size) + var(--boxel-sp-xs) + var(--boxel-sp-xxxs));
  border-radius: 100px;
  background-color: var(--boxel-purple-900);
  color: var(--boxel-light);
  font: var(--boxel-font-sm);
}

.boxel-searchbox__input-label {
  position: absolute;
  width: 1px;
  height: 1px;
  color: transparent;
  background: transparent;
}

.boxel-searchbox__input:focus:not(:focus-visible) {
  outline: 0;
}

.boxel-searchbox__input::placeholder {
  color: var(--boxel-searchbox-text-color);
}

.boxel-searchbox__input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: var(--boxel-searchbox-text-color);
}

.boxel-searchbox__input::-moz-placeholder { /* Firefox 19+ */
  color: var(--boxel-searchbox-text-color);
}

.boxel-searchbox__input:-ms-input-placeholder { /* IE 10+ */
  color: var(--boxel-searchbox-text-color);
}

.boxel-searchbox__input:-moz-placeholder { /* Firefox 18- */
  color: var(--boxel-searchbox-text-color);
}

.boxel-searchbox__search-icon {
  /* absolutely position and vertically center these things, give them the same size */
  width: var(--boxel-searchbox-icon-size);
  height: var(--boxel-searchbox-icon-size);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.boxel-searchbox__search-icon {
  --icon-color: var(--boxel-highlight);
  left: var(--boxel-sp-xs);
}