.deposit-workflow {
  color: var(--boxel-dark);
}

.deposit-workflow__status {
  color: var(--boxel-dark);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}


/* Expandable banner */
.deposit-workflow__banner-list {
  margin: 0;
  padding-left: var(--boxel-sp-xxs);
}

.deposit-workflow__banner-list li::marker {
  content: '- ';
}

.deposit-workflow__banner-p {
  margin: 0;
  font: var(--boxel-font-sm);
}

.deposit-workflow__banner-p + .deposit-workflow__banner-p {
  margin-top: var(--boxel-sp-sm);
}

.deposit-workflow__banner-p + .deposit-workflow__banner-small-text {
  margin-top: var(--boxel-sp-lg);
}

.deposit-workflow__banner-small-text {
  display: inline-block;
  margin: 0;
  color: var(--boxel-light-600);
  font: var(--boxel-font-xs);
}
