.card-pay-balances-list-balance {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.card-pay-balances-list-balance + .card-pay-balances-list-balance {
  margin-top: var(--boxel-sp-xs);
}

.card-pay-balances-list-balance__small-icon {
  width: var(--boxel-icon-sm);
  height: var(--boxel-icon-sm);
  margin-right: var(--boxel-sp-xxs);
}
