.balance-chooser-dropdown {
  --field-height: 3.75rem;

  position: relative;
  min-height: var(--field-height);
}

.balance-chooser-dropdown > .ember-power-select-trigger {
  background: url('/images/icons/caret-dropdown.svg') right 1.125rem center/auto 0.5rem no-repeat;
  background-color: var(--boxel-light);
  border: 1px solid var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius-sm);
  transition: border-color var(--boxel-transition);
}

.balance-chooser-dropdown > .ember-power-select-trigger:hover {
  border-color: var(--boxel-dark);
  cursor: pointer;
}

.balance-chooser-dropdown .ember-basic-dropdown-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--boxel-light);
  border: 1px solid var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius-sm);
  overflow: hidden;
}

.balance-chooser-dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}

.balance-chooser-dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

.balance-chooser-dropdown__option {
  min-height: var(--field-height);
  padding-right: var(--boxel-sp-xxl);
  padding-left: var(--boxel-sp);
}

.balance-chooser-dropdown__option--selected {
  background-image: url('/images/icons/checkmark.svg');
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 0.75rem 0.75rem;
}

.ember-power-select-selected-item .balance-chooser-dropdown__option--selected {
  background-image: unset;
}

.balance-chooser-dropdown__option:hover {
  cursor: pointer;
}

.ember-power-select-selected-item .balance-chooser-dropdown__option:hover {
  background-color: initial;
}
