.layer-one-connect-card__body {
  padding: var(--boxel-sp-lg);
}

.layer-one-connect-card__disclaimer {
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  letter-spacing: var(--boxel-lsp-lg);
}

.layer-one-connect-card__in-progress-logo > svg:nth-child(1) {
  margin-right: var(--boxel-sp-sm);
  padding: 5px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
}

.layer-one-connect-card__loading-indicator {
  --icon-color: var(--boxel-light);

  margin-right: var(--boxel-sp-sm);
  flex-grow: 0;
  flex-shrink: 0;
}

.layer-one-connect-card__waiting-status {
  max-width: 19rem;
}

.layer-one-connect-card .layer-one-connect-card__cancel-button {
  min-height: 1.25rem;
  min-width: unset;
  padding: 0 var(--boxel-sp-xxxs);
  border: unset;
  margin: 0;
  display: inline-block;
  color: var(--boxel-highlight);
}
