/* full bleed styling https://css-tricks.com/full-bleed/ */
.degraded-service-banner--regular {
  position: relative;
  width: 100vw;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  padding: var(--boxel-sp-xxxs) var(--boxel-sp);
}
