.card-space-url-form__row {
  display: flex;
}

.card-space-url-form__subdomain {
  width: 10rem;
}

.card-space-url-form__domain {
  margin-left: var(--boxel-sp-xxs);
  margin-top: var(--boxel-sp-xs);
  font-weight: 700;
}
