.progress-circle {
  --icon-color: var(--boxel-highlight);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-image: url('../../../images/icons/progress-circle-lg.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.progress-circle__pie {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  stroke-dasharray: 0 360;
  transition: stroke-dasharray var(--boxel-transition);
}

.progress-circle__pct-label {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  box-shadow: 0 0 4px rgba(0,0,0,0.15);
  font-weight: 700;
  letter-spacing: 0;
  line-height: 1;
  z-index: 1;
}
