.boxel-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--boxel-highlight);
  border-top-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
  border: none;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  z-index: 2;
}

.boxel-actions .ember-basic-dropdown-content-wormhole-origin {
  position: absolute;
  z-index: 1;
}

.boxel-actions__btn {
  border: none;
  width: 40px;
  height: 40px;
  padding: 7px 9px;
  background-color: transparent;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.boxel-actions__btn > svg {
  display: block;
  margin: auto;
}

.boxel-actions__btn:hover {
  cursor: pointer;
}

.boxel-actions__btn--expand {
  background-image: url("../../../../public/@cardstack/boxel/images/icons/expand.svg");
}

.boxel-actions--offset {
  top: -10px;
  right: -10px;
}

.boxel-actions--offset.boxel-actions--deleted {
  top: 0;
}

.boxel-actions__label {
  border-top-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.boxel-actions__label--added {
  background-color: var(--boxel-success-100);
  background-image: url("../../../../public/@cardstack/boxel/images/icons/plus.svg");
}

.boxel-actions__label--removed {
  background-color: var(--boxel-error-100);
  background-image: url("../../../../public/@cardstack/boxel/images/icons/minus.svg");
}

.boxel-actions__label--changed {
  background-color: var(--boxel-success-100);
  background-image: url("../../../../public/@cardstack/boxel/images/icons/checkmark-lg.svg");
}

.boxel-actions__label--deleted {
  background-color: var(--boxel-light-400);
  background-image: url("../../../../public/@cardstack/boxel/images/icons/close.svg");
}

.boxel-actions__label--modified {
  background-color: var(--boxel-warning-100);
  background-image: url("../../../../public/@cardstack/boxel/images/icons/triangle.svg");
  background-position: center right 10px;
  width: auto;
  min-width: 30px;
}

/* Multiple actions */
.boxel-actions--comparison-mode.with-expand {
  right: 30px;
}

.boxel-actions__expand > .boxel-actions__label {
  border-left: 1px solid rgb(0 0 0 / 15%);
  border-bottom-left-radius: 0;
  background-image: none;
  padding: 0;
}

.boxel-actions--comparison-mode > .boxel-actions__label {
  display: flex;
  align-items: center;
  width: auto;
  padding: 5px 30px 5px 15px;
  background-position: center right 10px;
  font-weight: 400;
  line-height: 1;
  white-space: nowrap;
}

.boxel-actions--comparison-mode.with-expand > .boxel-actions__label {
  border-top-right-radius: 0;
}

.boxel-actions__expand .boxel-actions__expand-btn {
  width: 30px;
  height: 30px;
}

.boxel-actions--comparison-mode > .boxel-actions__label.boxel-actions__label--modified {
  padding-right: 27px;
}

.boxel-actions--comparison-mode > .boxel-actions__label.boxel-actions__label--modified span {
  font-weight: 700;
  margin-left: 5px;
}

.boxel-actions--comparison-mode > .boxel-actions__label--no-change {
  background-color: #dbdbdb;
  background-image: url("../../../../public/@cardstack/boxel/images/icons/check-mark.svg");
}
