.boxel-card__container {
  position: relative;
  width: 100%;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  border: var(--boxel-border);
}

.boxel-card__container--grid {
  grid-column: 1 / -1;
}

.card__gradient {
  z-index: 1;
  position: absolute;
  right: 2px;
  bottom: 3px;
  width: 20px;
  height: 50px;
  border-bottom-right-radius: var(--boxel-border-radius);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 40%);
}

.boxel-card--blank-card {
  width: 100%;
  height: 150px;
  background:
    url('../../../../public/@cardstack/boxel/images/placeholders/blank-card.png') center/contain
    no-repeat;
}

.boxel-card__expand-overlay:hover {
  background-image: url('data:');
  background-position: top var(--boxel-sp-xxxs) right var(--boxel-sp-xxxs);
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
  box-shadow: var(--boxel-box-shadow);
  cursor: pointer;
}

.boxel-card__header {
  border-top-left-radius: var(--boxel-border-radius);
  border-top-right-radius: var(--boxel-border-radius);
}

.boxel-card__inner {
  position: relative;
  display: grid;
  align-items: center;
  gap: 3px 15px;
  min-height: 90px;
  padding: 15px;
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp);
  overflow: hidden;
}

.boxel-card__container--table .boxel-card__inner {
  padding: 0;
}

.boxel-card__fields {
  display: grid;
  gap: 30px;
  grid-column: 1 / -1;
  grid-template-columns: repeat(4, auto);
  justify-items: start;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-left: 0;
  padding-top: 25px;
  white-space: nowrap;
}

.boxel-card__title {
  margin: 0;
  font: inherit;
  font-weight: 700;
  letter-spacing: inherit;
}

.boxel-card__description {
  margin: 0;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  overflow-wrap: break-word;
  word-break: break-word;
}

.boxel-card__inner--with-img {
  grid-template:
    'img .' auto
    'img .' auto
    'img title' auto
    'img desc' auto
    'img .' auto
    'img .' auto / auto 1fr;
}

.boxel-card__inner--with-img .boxel-card__title {
  grid-area: title;
  align-self: end;
}

.boxel-card__inner--with-img .boxel-card__description {
  grid-area: desc;
  align-self: start;
}

.boxel-card__bg-img {
  grid-column: 1;
  grid-area: img;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Card type adjustments */
.boxel-card--musical-work .boxel-card__bg-img {
  background-size: contain;
}

.boxel-card__profile-org {
  width: 26px;
  height: 26px;
  background:
    url('data:')) center/26px
    26px no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}

.boxel-card--profile .boxel-card__bg-img {
  border-radius: 100px;
  background-image: url('data:');
}

.boxel-card--audio .boxel-card__inner {
  padding-bottom: 0;
}

.file-card__icon .boxel-card__inner {
  background-image: url('data:');
  background-position: center left 15px;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  padding-left: 55px;
}

.boxel-card--image {
  width: auto;
}

/* Grid format */
.boxel-card__inner--grid.boxel-card__inner--with-img {
  grid-column: 1 / -1;
  grid-template: 'img' 'title' 'desc';
  padding: 10px;
  justify-items: center;
  width: 210px;
  min-height: 285px;
}

.boxel-card__inner--grid.boxel-card__inner--with-img .boxel-card__bg-img {
  width: 188px;
  height: 188px;
  background-size: cover;
  background-position: center;
}

.boxel-card__inner--grid.boxel-card__inner--with-img .boxel-card__title {
  text-align: center;
}

.boxel-card__inner--grid .boxel-card__fields {
  display: none;
}

/* Sent to Field Renderer */
.boxel-card-field.field-renderer {
  grid-template-columns: auto;
  gap: 3px;
  padding: 0;
  justify-items: start;
}

.boxel-card-field .field-renderer__title {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  text-align: left;
}

.boxel-card-field .field-renderer__value {
  font: var(--boxel-font-sm);
}

/* Publishing Representation card */
.publishing-representation > .boxel-card__inner {
  padding: 0;
  gap: 0;
}

.publishing-representation__field.field-renderer {
  width: 100%;
  max-width: 450px;
  grid-template-columns: 1fr;
  justify-items: start;
  gap: 15px 0;
  padding: 0;
}

.publishing-representation__field > .field-renderer__title {
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
  text-transform: capitalize;
}

.publishing-representation__publishers {
  padding: 15px;
  border-top: var(--boxel-border);
}

.publishing-representation__writers {
  padding: 15px 15px 20px;
}

.publishing-representation__additional-field {
  padding: 15px;
  border: var(--boxel-border);
  border-bottom-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
}

.publishing-representation__field .boxel-card--profile {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.publishing-representation__additional-field.publishing-representation__field {
  padding: 15px;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.publishing-representation__additional-field.publishing-representation__field .field-renderer__title {
  font-size: 13px;
  letter-spacing: var(--boxel-lsp);
}

/* Schedule card */
.boxel-card--schedule .boxel-card__inner {
  height: 155px;
  padding-left: 40px;
}

.boxel-card--schedule .boxel-card__fields {
  padding: 0;
  grid-template-columns: 1fr;
}

.boxel-card--schedule .boxel-card-field > .field-renderer__title {
  color: var(--boxel-dark);
}

.boxel-card--schedule .boxel-card-field > .field-renderer__value {
  font: var(--boxel-font-lg);
}

/* Revenue Data card */
.boxel-card--revenue-data .boxel-card__fields {
  grid-template-columns: 1fr;
  gap: 5px;
  padding: 10px 0;
}

.boxel-card--revenue-data .boxel-card__fields > li {
  width: 100%;
}

.boxel-card--revenue-data .boxel-card-field {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 0 35px;
}

.boxel-card--revenue-data .boxel-card-field > .field-renderer__title {
  width: 100%;
  color: var(--boxel-dark);
  text-align: right;
}

.boxel-card--revenue-data .boxel-card-field > .field-renderer__value {
  font: var(--boxel-font-lg);
}

/* territory card */
.territory-card .boxel-card__inner {
  min-height: auto;
}

.territory-card--worldwide .boxel-card__inner {
  background-image: url('data:');
  background-position: left 18px center;
  background-size: 15px 15px;
  background-repeat: no-repeat;
  padding-left: 45px;
  text-transform: capitalize;
}

.territory-card h3 {
  font-weight: 400;
}

ul.territory__publishers-list {
  list-style-type: none;
  margin-top: 15px;
  padding-left: 25px;
  border-left: 3px solid var(--boxel-purple-200);
}

.territory__publishers-list > * + * {
  margin-top: 15px;
}

/* Add padding and bg when territory card is highlighted in comparison mode */
.territory__wrapper {
  padding: 10px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
}
