/* stylelint-disable */

/* Media collection */
.media-collection {
  --breadcrumbs-height: 90px;
  --header-height: 170px;

  height: 100%;
  background-color: var(--boxel-light);
  border-radius: 10px;
  box-shadow: var(--boxel-box-shadow);
}

.media-collection__sticky-header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  background-color: var(--boxel-light);
  z-index: 5;
  border-radius: 10px 10px 0 0;
}

.media-collection__scroll-container {
  height: 100%;
  padding-bottom: var(--header-height);
  overflow: auto;
}

.media-collection__inner-container {
  min-height: 100%;
  min-width: 100%;
  width: max-content;
  background-color: var(--boxel-light);
  border-radius: 0 0 10px 10px;
}

.media-collection--collection {
  height: calc(100% - var(--breadcrumbs-height));
}

.media-collection--table {
  overflow: hidden;
}

.media-collection__btn:hover {
  cursor: pointer;
}

.media-collection__btn > svg {
  display: block;
  margin: auto;
}

.media-collection__btn-overlay {
  min-width: 125px;
  border-top-right-radius: 10px;
  grid-template-columns: 1fr 40px;
}

.mode-btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding-left: 38px;
  background: url('data:');
  text-align: left;
}

.version-history {
  width: 40px;
  height: 40px;
  background: url('data:');
}

.media-collection__title-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  padding: 40px 50px 10px;
}

.media-collection__title {
  font: var(--boxel-font-xl);
  font-weight: 700;
  letter-spacing: 0;
  text-transform: capitalize;
}

.media-collection__count {
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.media-collection__count > span {
  margin-right: 5px;
  font: var(--boxel-font-xl);
  font-weight: 700;
}

.media-collection__actions-row {
  position: relative;
  display: grid;
  grid-template-columns: 292px repeat(auto-fit, 250px);
  gap: 20px;
  align-items: center;
  padding: 20px 50px 20px 8px;
}

.media-collection__actions-row-pill-button {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  text-align: left;
  border-radius: 100px;
  white-space: nowrap;
  width: 100%;
  height: min-content;
  padding: var(--boxel-sp-xs) var(--boxel-sp-sm) var(--boxel-sp-xs) var(--boxel-sp-lg);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  background-color: transparent;
  border: 1px solid var(--boxel-purple-300);
}

.media-collection__btn-group {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  grid-column: -1 / span 1;
  justify-content: end;
}

.media-collection__btn-trio {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 8px;
}

.media-collection__btn-trio.media-collection__filters {
  grid-template-columns: repeat(auto-fit, 30px);
  width: 125px;
  justify-content: end;
}

.media-collection__btn-trio + .media-collection__btn-trio {
  padding-left: 18px;
  border-left: 1px solid #707070;
}

.media-collection__btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-color: transparent;
  border: none;
}

.media-collection__view-selectors > .media-collection__btn {
  opacity: 0.25;
}

.media-collection__view-selectors > .media-collection__btn:focus,
.media-collection__view-selectors > .media-collection__btn:hover,
.media-collection__view-selectors > .media-collection__btn.selected {
  opacity: 1;
}

.media-collection__btn.list {
  background-image: url('data:');
}

.media-collection__btn.grid {
  background-image: url('data:');
}

.media-collection__btn.table {
  background-image: url('data:');
}

.isolated-collection__table-list-header {
  display: grid;
  padding: 10px 70px 0;
  grid-auto-columns: 1fr;
  gap: 0 50px;
}

.isolated-collection__table-list-header-field {
  grid-row: 1;
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.media-collection__grid {
  display: grid;
  gap: 30px;
  padding: 10px 50px 50px;
  font-family: var(--boxel-font-family);
}

.media-collection__grid--master-collection-grid {
  grid-template-columns: repeat(auto-fill, 380px);
  grid-auto-rows: minmax(250px, auto);
}

.media-collection__grid--collection-grid {
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: minmax(280px, auto);
  padding-left: 42px;
  padding-right: 28px;
}

.media-collection__grid-item.media-collection__grid-item--grid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.media-collection__grid-item-btn-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  gap: 30px;
  padding: 8px 8px 0;
}

.media-collection__grid-item-select-button {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

/* Grid item */
.isolated-collection__select-button {
  visibility: collapse;
}

.isolated-collection__select-button--selected {
  visibility: visible;
}

.media-collection__grid-item:hover .isolated-collection__select-button,
.isolated-collection__select-button:hover,
.isolated-collection__select-button:focus,
.isolated-collection__boxel:hover .isolated-collection__select-button,
.isolated-collection__boxel:focus-within .isolated-collection__select-button {
  visibility: visible;
}


/* List view */
.media-collection__grid--list,
.media-collection__grid--table-list {
  padding-left: 0;
  padding-right: 0;
  gap: 20px;
}

.media-collection__grid--table-list {
  gap: 0;
}

.media-collection__grid-item--list,
.media-collection__grid-item--table-list {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 0 2px;
}

.media-collection__grid-item--list .isolated-collection__select-button,
.media-collection__grid-item--table-list .isolated-collection__select-button {
  order: -1;
}


/* Edit mode */
.media-collection--edit {
  height: calc(100% - 60px);
  background-color: var(--boxel-light-200);
}

.media-collection--edit .media-collection__scroll-container {
  height: calc(100vh - 200px);
}

.media-collection--edit .media-collection__inner-container {
  background-color: var(--boxel-light-200);
}

.media-collection__title-row--edit {
  padding: 25px 20px;
  grid-template-columns: 1fr auto auto;
}

.media-collection--edit .media-collection__title,
.media-collection--edit .media-collection__count > span {
  font-size: 22px;
  line-height: calc(30/22);
  letter-spacing: 0;
}

.media-collection--edit .media-collection__actions-row {
  background-color: var(--boxel-light-200);
}

/* For search btn */
.media-collection__search-input {
  height: 30px;
  font: var(--boxel-font-sm);
  padding: 5px 10px;
  margin: 15px 12px;
  width: 200px;
}

.media-collection--edit .media-collection__grid-item--list > .media-collection__grid-item-btn-group {
  display: contents;
}

.media-collection--edit .media-collection__grid-item--list .media-collection__grid-item-select-button {
  order: -1;
  position: sticky;
  left: 0;
  background-color: var(--boxel-light-200);
  margin: 0;
  width: 50px;
  height: calc(100% + 10px);
  z-index: 2;
}

.media-collection--edit .media-collection__grid-item--list .media-collection__grid-item-select-button.remove-btn {
  order: 1;
  right: 0;
}
