.queue {
  position: fixed;
  width: 332px;
  height: 100%;
  left: 80px;
  top: 0;
  bottom: 0;
  border-right: var(--boxel-border-dark);
  border-left: var(--boxel-border-dark);
  background-color: var(--boxel-purple-600);
  color: var(--boxel-light);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  overflow-y: auto;
}

.queue__header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: inherit;
  border-bottom: var(--boxel-border-dark);
  z-index: 1;
}

.queue__header > * + * {
  margin-top: var(--boxel-spacing);
}

.queue__org {
  display: flex;
  align-items: center;
}

.queue__org-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.queue__org-title {
  font: var(--boxel-font);
  font-weight: 700;
  letter-spacing: 0.005em;
}

.queue__nav {
  list-style-type: none;
  margin-top: var(--boxel-sp);
  margin-bottom: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
  border-top: var(--boxel-border-dark);
}

.queue__nav-item {
  width: 80px;
  padding-top: 10px;
  border-top: 2px solid transparent;
  color: var(--boxel-purple-300);
  text-align: center;
}

.queue__nav-item--selected {
  color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
}

.queue__filter-group {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
}

.queue__filter-dropdown .ember-power-select-trigger,
.queue__filter-dropdown .ember-power-select-dropdown {
  width: 100%;
  min-height: 40px;
  padding: 10px 40px 10px 18px;
  background-color: var(--boxel-purple-500);
  border: 1px solid #1c1c1c;
  border-radius: 5px;
  color: var(--boxel-light);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
}

.queue__filter-dropdown .ember-power-select-status-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('data:');
}

.queue__filter-dropdown .ember-power-select-trigger:focus {
  border-color: var(--boxel-highlight);
}

.queue__filter-dropdown .ember-power-select-dropdown {
  padding: 0;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
}

.queue__filter-dropdown .ember-power-select-option[aria-selected="true"] {
  background: url('data:');
  color: var(--boxel-light);
}

.queue__filter-dropdown .ember-power-select-option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 40px 10px 18px;
  color: var(--boxel-purple-300);
}

.queue__filter-dropdown .ember-power-select-trigger:hover,
.queue__filter-dropdown .ember-power-select-option:hover {
  color: var(--boxel-light);
  cursor: pointer;
}

.queue__filter-dropdown .ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}

.queue__filter-dropdown .ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

@keyframes drop-fade-below {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drop-fade-above {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.queue__search-btn {
  --icon-color: var(--boxel-light);
}

/* Sections */
.queue__section + .queue__section {
  border-top: 1px solid var(--boxel-purple-800);
}

.queue__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--boxel-spacing);
  background-color: var(--boxel-purple-600);
  font-weight: 600;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
}

.queue__section-count {
  color: var(--boxel-highlight);
}

.queue__section-content {
  display: grid;
  gap: var(--boxel-spacing);
  padding: var(--boxel-spacing);
  background-color: rgba(46, 45, 56, 0.5);
}
