.tasklist__platter {
  width: 100%;
  min-width: 230px;
  min-height: 100px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: var(--boxel-box-shadow);
}

.tasklist {
  --tasklist-user-tasks: var(--boxel-lime);
  --tasklist-assigned-tasks: var(--boxel-lilac);

  color: var(--boxel-dark);
  border-radius: var(--boxel-border-radius);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  overflow: hidden;
}

.tasklist__task-title {
  font: var(--boxel-font-sm);
  font-weight: 600;
}

.tasklist__header,
.tasklist__footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 10px;
  height: 45px;
  padding: 10px 15px;
  background-color: var(--boxel-light-100);
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}

.tasklist__add-item-svg {
  --icon-bg: var(--boxel-dark);
  --icon-color: var(--boxel-light);
}

.tasklist__label {
  width: max-content;
  padding: 5px 10px;
  border-radius: 5px;
  background-color: var(--tasklist-user-tasks);
  color: var(--boxel-dark);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.tasklist__label--assigned {
  background-color: var(--tasklist-assigned-tasks);
  color: var(--boxel-light);
}

.tasklist__label--completed {
  background-color: var(--boxel-light-600);
}
