.boxel-tray {
  box-sizing: border-box;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.5s ease-out;
}

.boxel-tray.expanded {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  background-color: #151529;
  overflow-x: scroll;
}
