/* stylelint-disable */

.versions {
  --boxel-revision-light-purple: #84829b;
  --boxel-revision-lightest-purple: var(--boxel-purple-300);
  --boxel-revision-hover-purple: #4f4a5d;

  height: 100%;
  background-color: var(--boxel-purple-500);
  overflow: auto;
}

.versions-grid {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template:
    'head  mode' 80px
    'cards nav' auto / minmax(1050px, 1fr) auto;
  gap: 0 20px;
  padding-left: 20px;
}

.versions-grid.versions-grid--comp-view {
  grid-template-columns: 1fr 340px;
}

.versions__header {
  grid-area: head;
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 1;
}

.versions__title {
  padding: 28px 20px 28px 35px;
  color: var(--boxel-light);
  background:
    url('data:')) center left 5px/16px 20px
    no-repeat;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.versions__view {
  width: 340px;
  padding: 20px;
}

.versions__mode {
  grid-area: mode;
  padding: 20px;
  position: relative;
  background-color: var(--boxel-purple-500);
  z-index: 1;
}

.versions__mode > a {
  width: 300px;
}

.versions__nav--shadow {
  height: 20px;
  margin-top: -20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.versions__nav {
  grid-area: nav;
  padding: 0 20px 20px;
}

.versions-nav-item {
  --btn-color: var(--boxel-light);

  position: relative;
  display: grid;
  color: var(--boxel-light);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.versions-nav-item:hover,
.versions-nav-item:hover .version__description {
  color: var(--boxel-highlight);
}

.versions-nav-item__btn {
  background: none;
  border: none;
  text-align: left;
  transition: all 0.2s ease;
}

.versions-nav-item__btn:hover {
  cursor: pointer;
}

.versions-nav-item__selection-btn {
  padding: 13px 10px 16px 40px;
  box-shadow: 0 1px 0 0 var(--boxel-revision-light-purple);
}

.versions-nav-item:hover .versions-nav-item__selection-btn {
  background-color: var(--boxel-revision-hover-purple);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-revision-hover-purple);
}

.versions-nav-item--selected:not(.versions-nav-item--comp-view) .versions-nav-item__selection-btn,
.versions-nav-item.is-comp-card .versions-nav-item__selection-btn {
  background-color: var(--boxel-purple-700);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-purple-700);
  overflow: hidden;
}

.versions-nav-item__hover-btn {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  padding: 0;
}

.versions-nav-item__hover-btn.checkbox {
  --icon-border: white;
  --icon-bg: transparent;
  --icon-color: transparent;

  left: 0;
}

.versions-nav-item__hover-btn.more {
  --icon-color: var(--boxel-light);

  right: 0;
}

.versions-nav-item__hover-btn > svg {
  display: block;
  margin: auto;
}

.versions-nav-item__hover-btn {
  z-index: -1;
}

.versions-nav-item.is-base-card .versions-nav-item__hover-btn,
.versions-nav-item.is-comp-card .versions-nav-item__hover-btn,
.versions-nav-item--selected .versions-nav-item__hover-btn,
.versions-nav-item:hover .versions-nav-item__hover-btn {
  z-index: 1;
}

.versions-nav-item.is-base-card,
.versions-nav-item.is-base-card .version__description,
.versions-nav-item.is-base-card .version__label,
.versions-nav-item.is-base-card .versions-nav-item__hover-btn {
  --icon-border: black;
  --icon-color: var(--boxel-dark);
  --icon-bg: black;

  color: var(--boxel-dark);
}

.versions-nav-item.is-base-card .version__label {
  background-image: url('data:');
}

.versions-nav-item.is-base-card .versions-nav-item__hover-btn.checkbox {
  --icon-color: var(--boxel-highlight);
}

.versions-nav-item.is-base-card .versions-nav-item__selection-btn {
  background-color: var(--boxel-highlight);
  border-radius: 5px;
}

.versions-nav-item.is-base-card:hover {
  color: var(--boxel-dark);
}

.versions-nav-item.is-comp-card .versions-nav-item__hover-btn.checkbox {
  --icon-color: var(--boxel-dark);
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}

.version-card__header {
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  background-color: var(--boxel-purple-700);
  color: var(--boxel-light);
  height: 50px;
  padding: 16px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.version-card:not(.version-card--p0) .version-card__header:hover {
  color: var(--boxel-highlight);
}

.version-card.version-card--base-card .version-card__header:hover {
  color: var(--boxel-dark);
}

.version-card.version-card--comp-card .version-card__header:hover {
  color: var(--boxel-light);
}

.version__title {
  display: inline-block;
  padding-right: 20px;
  font: var(--boxel-font-sm);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp);
}

.version__description {
  color: var(--boxel-revision-lightest-purple);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.version__label {
  background:
    url('data:')) right 2px
    center/16px 15px no-repeat;
  padding-right: 25px;
  color: var(--boxel-highlight);
  font-size: 10px;
  line-height: calc(16 / 10);
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
}

.versions-nav-item__btn .version__description {
  padding-bottom: 3px;
}

.versions-nav-item__btn .version__label {
  display: inline-block;
}

.versions__cards {
  grid-area: cards;
  display: grid;
  grid-auto-rows: max-content;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.versions__cards.comp-view {
  width: 800px;
  margin: 0 auto;
}

.version-card {
  --translate-unit: 45px;

  justify-self: center;
  position: absolute;
  transform: translateY(0);
  width: 56%;
  z-index: 0;
  overflow: hidden;
}

.version-card--p2 {
  transform: translateY(0);
  width: 62%;
}

.version-card--p1 {
  transform: translateY(var(--translate-unit));
  width: 68%;
}

.version-card--p0 {
  transform: translateY(calc(var(--translate-unit) * 2));
  width: 75%;
}

.version-card--p0 ~ .version-card {
  bottom: 0;
  height: 50px;
  width: 92%;
}

.version-card--p0 ~ .version-card,
.version-card--p0 ~ .current-2 {
  transform: translateY(-12px);
  width: 95%;
  height: 62px;
}

.version-card--p0 ~ .current-2 {
  z-index: 3;
}

.version-card--p0 ~ .current-1 {
  transform: translateY(-6px);
  z-index: 4;
  width: 97%;
  height: 56px;
}

.version-card--p0 ~ .current {
  transform: translateY(0);
  z-index: 5;
  width: 100%;
  height: 50px;
}

.version-card--p0 ~ .current-2 .version-card__header,
.version-card--p0 ~ .current-1 .version-card__header,
.version-card--p0 ~ .current .version-card__header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.version-card__content {
  background-color: var(--boxel-light);
  overflow: auto;
  position: relative;
  width: 100%;
  height: calc(100vh - 220px);
}

.version-card__detail-card {
  border-radius: 0;
  user-select: none;
}

.version-card__detail-card .item__header-content {
  border-radius: 0;
}

.version-card__detail-card .media-detail-section__contents {
  display: grid;
  gap: 10px 0;
  padding: 0 50px;
}

.version-card__detail-card .media-detail-section__contents > * {
  width: 100%;
}

/* Header */
.version-card--item__header {
  width: 100%;
  background-color: var(--boxel-purple-300);

  /* background-image: var(--blurhash-image); */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.version-card--item__header-content {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 30px;
  width: 100%;
  padding: 55px 50px;
  font-size: calc(32px * 0.75);
  backdrop-filter: brightness(0.75) blur(50px) contrast(1.2);
}

.version-card--item__header-content.no-bg-image {
  backdrop-filter: brightness(0.4);
}

.version-card--item__header-content.version-card--item__header-content--p2 {
  font-size: calc(32px * 0.8);
}

.version-card--item__header-content.version-card--item__header-content--p1 {
  font-size: calc(32px * 0.9);
}

.version-card--item__header-content.version-card--item__header-content--p0 {
  font-size: 32px;
}

.version-card--item__header-content.version-card--item__header-content--front {
  font-size: calc(32px * 1.3);
}

.version-card--item__img {
  width: calc(260px * 0.75);
  height: calc(260px * 0.75);
  background-image: url('data:');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.version-card--item__img--p2 {
  width: calc(260px * 0.8);
  height: calc(260px * 0.8);
}

.version-card--item__img--p1 {
  width: calc(260px * 0.9);
  height: calc(260px * 0.9);
}

.version-card--item__img--p0 {
  width: 260px;
  height: 260px;
}

.version-card--item__img--front {
  width: calc(260px * 1.3);
  height: calc(260px * 1.3);
}

.version-card--item__title {
  color: var(--boxel-light);
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.3;
}

.version-card--item__artist {
  color: var(--boxel-light);
  font-size: 0.5em;
  font-weight: 400;
  letter-spacing: var(--boxel-lsp);
  line-height: 1.3;
}

.version-card__content .media-detail-section__contents > .field-renderer {
  grid-template-columns: auto 450px;
}

.version-card__content .media-detail-section__contents > .field-renderer:last-child {
  margin-bottom: 30px;
}

.version-card__btn-overlay {
  background: var(--boxel-purple-500);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  opacity: 0.55;
}

.overlay--current,
.overlay--current-1,
.overlay--current-2 {
  opacity: 0.11;
}

.overlay--p2 {
  opacity: 0.75;
}

.overlay--p1 {
  opacity: 0.55;
}

.overlay--p0 {
  opacity: 0.11;
}

.version-card__btn-overlay:not(.overlay--p0):hover {
  cursor: pointer;
}

/* Diff view */
.versions__cards {
  grid-template-columns: 30px 1fr;
  gap: 0 15px;
}

.version-card--base-card {
  top: -5px;
}

.version-card--base-card,
.version-card--comp-card {
  grid-column-start: 2;
  position: relative;
  width: 100%;
}

.version-card--comp-card .version-card__header {
  height: 55px;
  border-radius: 10px 10px 0 0;
}

.version-card--comp-card__arrow {
  position: relative;
  left: 80px;
  top: -12px;
  z-index: 1;
}

.version-card--base-card .version-card__header {
  background-color: var(--boxel-highlight);
  color: var(--boxel-dark);
}

.version-card--base-card .version__description {
  color: var(--boxel-dark);
}

.version-card--base-card .version__label {
  color: var(--boxel-dark);
  background-image: url('data:');
}

.version-card--base-card .version-card__content {
  height: calc(100vh - 180px);
}

.comp-view__swap-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 45px;
  background: url('data:');
  z-index: 10;
}

.comp-view__swap-btn:hover {
  background-image: url('data:');
  cursor: pointer;
}

.versions__view-selector {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border: solid 1px #84829b;
  border-radius: 20px;
  color: #c9c7dd;
  font: var(--boxel-font-sm);
  letter-spacing: 0.035em;
  overflow: hidden;
}

.versions__view-selector .versions__view-selector--mode-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.versions__view-selector .versions__view-selector--mode-link.active {
  background-color: var(--boxel-purple-700);
  color: var(--boxel-highlight);
}

.versions__view-selector .versions__view-selector--mode-link:first-child {
  border-right: solid 1px #84829b;
}
