/*** OLD STYLES ***/
/* Divider date line */
.cardflow__message-divider {
  position: relative;
  padding: 15px 0;
}

.cardflow__message-divider-border {
  border-top: 1px solid #D6D6D6;
}

.cardflow__message-divider-date {
  position: absolute;
  top: 0;
  left: 40%;
  padding: 5px 10px;
  background-color: var(--boxel-light-300);
  font-weight: 700;
  text-align: center;
}

/* Cardflow Card */
.cardflow-card {
  max-width: 615px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.cardflow-card__header {
  position: relative;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 40px 35px;
}

.cardflow-card__date {
  color: var(--boxel-purple-400);
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: var(--boxel-lsp-sm);
}

.cardflow-card__label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 5px 15px;
  border-radius: 5px 0 5px 0;
  color: var(--boxel-dark);
  font: var(--boxel-font-xs);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-lg);
  text-transform: uppercase;
}

.cardflow-card__label--in-progress {
  background-color: var(--boxel-warning-100);
}

.cardflow-card__label--completed {
  background-color: var(--boxel-success-100);
}

.cardflow-card__title {
  color: var(--boxel-dark);
  font-size: 26px;
  line-height: calc(36/26);
  font-weight: 700;
  letter-spacing: 0;
}

.cardflow-card__section {
  position: relative;
  padding: 20px 35px;
}


/* Transfer Proposal Card */
.cardflow-proposal-card__participants {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
  justify-items: center;
}

.cardflow-proposal-card__participants > div {
  width: 100%;
}

.cardflow-proposal-card__participants > svg {
  margin-top: 30px;
}

.cardflow-proposal-card__participant {
  width: 100%;
  height: 130px;
  padding: 30px;
  border: var(--boxel-border);
  border-radius: 5px;
  font-weight: 600;
  text-align: center;
  white-space: nowrap;
}

.cardflow-proposal-card__participant > svg + div {
  margin-top: 10px;
}

.cardflow-proposal-card .field-renderer__title {
  padding-bottom: 10px;
  text-align: left;
}

.cardflow-proposal-card__effective-date {
  padding-top: 15px;
  padding-bottom: 40px;
  color: var(--boxel-dark);
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: var(--boxel-lsp-sm);
}


/* Action Card */
.cardflow-action-card__list-item {
  display: grid;
  grid-template-columns: 30px 1fr auto;
  align-items: center;
  gap: 0 20px;
  padding: 25px 35px;
  border-top: var(--boxel-border);
  color: var(--boxel-purple-400);
}

.cardflow-action-card__list-item--checkbox,
.cardflow-action-card__list-item--checkbox.icon-btn {
  width: 30px;
  height: 30px;
  background-image: url('/images/icons/checkbox-primary.svg');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.cardflow-action-card__list-item--title {
  padding-bottom: 5px;
  font: var(--boxel-font);
  font-weight: 700;
  letter-spacing: 0.02em;
}

.cardflow-action-card__list-item.current .cardflow-action-card__list-item--title,
.cardflow-action-card__list-item.completed .cardflow-action-card__list-item--title {
  color: var(--boxel-dark);
}

.cardflow-action-card__list-item.completed .cardflow-action-card__list-item--checkbox {
  background-image: url('/images/icons/checkbox-primary-checked.svg');
}

.cardflow-action-card__icon-btn.icon-btn {
  --icon-btn-width: 30px;
  --icon-btn-height: 30px;
  border: 1px solid var(--boxel-purple-200);
  border-radius: 100px;
}


/* Proposal announcement card */
.cardflow-proposal-announcement-card > .cardflow-card__header {
  padding: 30px 30px 15px 90px;
  background: url('/boxel/media-registry/catalog-transfer.svg') left 25px top 21px/50px 40px no-repeat;
}

.cardflow-proposal-announcement-card > .cardflow-card__section {
  padding: 25px 30px 30px;
}

.cardflow-proposal-announcement-card .cardflow-card__title {
  font-size: 16px;
}


/* Catalog summary card */
.catalog-summary-card {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: 0 20px;
  padding: 20px 25px;
}

.catalog-summary-card__img {
  width: 60px;
  height: 50px;
  background: url("/boxel/media-registry/batch-f.png") center/contain no-repeat;
}

.catalog-summary-card__desc {
  color: var(--boxel-purple-400);
}

.catalog-summary-card__count {
  align-self: end;
}

.catalog-summary-card__count > strong {
  margin-right: 5px;
  font-size: 30px;
}


/* Cardflow overlay */
.cardflow-overlay {
  z-index: 15;
  left: 80px;
  backdrop-filter: brightness(0.5) blur(16px) opacity(0.5);
}

.cardflow__modal {
  --modal-max-width: 1300px;
  --modal-offset-top: 0;
  --modal-offset-right: 0;
  --modal-offset-left: 80px;
}

.cardflow__modal-header {
  padding: 30px 30px 30px 60px;
  background: url('/images/icons/message.svg') left 30px center/18px 18px no-repeat;
  color: var(--boxel-light);
  font: var(--boxel-font);
  font-weight: 600;
}

.cardflow__modal-close-btn {
  --icon-btn-width: 30px;
  --icon-btn-height: 30px;
  --icon-color: var(--boxel-light);
  --icon-btn-border: 1px solid white;
  --icon-btn-border-radius: 100px;
  position: fixed;
  right: 20px;
  top: 25px;
}

.cardflow__modal-close-btn > svg {
  width: 12px;
  height: 12px;
}

.cardflow__nested-grid {
  height: 100%;
  padding-left: 30px;
  display: grid;
  grid-template:
    "nested  ." 50px
    "card   sidebar" auto / minmax(845px, 1fr) auto;
  gap: 0 30px;
  overflow-x: auto;
  overflow-y: hidden;
}

.cardflow__nested-card {
  grid-area: nested;
  max-width: 95%;
  margin: 0 auto;
}

.cardflow__nested-card-header {
  height: 50px;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 30px;
}

.cardflow__nested-card-title {
  font-size: 14px;
  font-weight: 700;
}

.cardflow__nested-detail-card {
  grid-area: card;
}

.cardflow__scroll-box {
  height: calc(100vh - 130px);
  border-radius: 10px 10px 0 0;
  overflow: scroll;
}

.cardflow__scroll-box-platter {
  margin-bottom: 30px;
}

.cardflow__scroll-box-bg-platter {
  margin-bottom: 30px;
  background-color: var(--boxel-light);
  border-radius: 0 0 10px 10px;
}

.cardflow__isolated-collection.media-collection--collection {
  height: calc(100vh - 150px);
}

.cardflow__isolated-detail-card > header {
  position: sticky;
  top: 0;
  z-index: 16;
}

.cardflow__isolated-detail-card > header > * {
  max-width: 100%;
}

.cardflow__nested-sidebar {
  grid-area: sidebar;
  min-width: 360px;
  padding-right: 30px;
}

.cardflow__nested-sidebar-title {
  padding-bottom: 25px;
  color: var(--boxel-light);
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
}

* + .cardflow__nested-sidebar-title {
  margin-top: 25px;
}

.cardflow__sidebar-cards > * + * {
  margin-top: 15px;
}

.cardflow__sidebar-cards .boxel-card--collection {
  min-height: 160px;
}

.cardflow__sidebar-cards .boxel-card--collection .boxel-card__inner {
  position: initial;
}
