/*
  component-usage
*/
.component-usage {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  max-width: 1200px;
}
.component-usage__description {
  margin: 0 1rem;
  padding: 0.8rem 0 0.4rem;
}

/*
  component-usage-args
*/
.component-usage-args {
  padding: 0.8rem 0 0.4rem;
}
.component-usage-args__title {
  padding: 0.5rem 1rem 0.2rem;
}
.component-usage-args__table {
  width: 100%;
  padding: 0.5rem 0 0.2rem;
  border-spacing: 0;
}
.component-usage-args__table th {
  text-align: left;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
}
.component-usage-args__table tr {
}
.component-usage-args__table th,
.component-usage-args__table td {
  padding: .5rem 1rem;
  border-bottom: 1px solid #eee;
}

/*
  component-usage-argument
*/
.component-usage-argument {
  font-size: .8em;
}
.component-usage-argument:hover {
  background-color: #eee;
}

.component-usage-argument__name {
  width: 20%;
}

.component-usage-argument__type {
  color: gray;
  margin-right: .4em;
}

.component-usage-argument__required {
  color: red;
  font-weight: 700;
}

.component-usage-argument__description {
}
.component-usage-argument__controls {
  display: flex;
  align-items: center;
}
