.cover-art {
  position: relative;
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  z-index: 0;
}

.cover-art__container {
  position: absolute;
}

.cover-art__cover {
  object-fit: cover;
  object-position: center;
  border: 1px solid rgba(0, 0, 0, 0.15);
}
