.queue {
  position: fixed;
  width: 332px;
  height: 100%;
  left: 80px;
  top: 0;
  bottom: 0;
  border-right: var(--boxel-border-dark);
  border-left: var(--boxel-border-dark);
  background-color: var(--boxel-medium-dark-purple);
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  overflow-y: auto;
}

.queue__header {
  position: sticky;
  top: 0;
  padding: 20px;
  background-color: inherit;
  border-bottom: var(--boxel-border-dark);
  z-index: 1;
}

.queue__header > * + * {
  margin-top: var(--boxel-spacing);
}

.queue__org {
  display: flex;
  align-items: center;
}

.queue__org-logo {
  width: 40px;
  height: 40px;
  margin-right: 15px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.queue__org-title {
  font: var(--boxel-font);
  font-weight: 700;
  letter-spacing: 0.005em;
}

.queue__nav {
  display: flex;
  justify-content: space-between;
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
  border-top: var(--boxel-border-dark);
}

.queue__nav-item {
  width: 80px;
  padding-top: 10px;
  border-top: 2px solid transparent;
  color: var(--boxel-light-purple);
  text-align: center;
}

.queue__nav-item--selected {
  color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
}

.queue__filter-group {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px;
}

.queue__filter-dropdown .ember-power-select-trigger,
.queue__filter-dropdown .ember-power-select-dropdown {
  width: 100%;
  min-height: 40px;
  padding: 10px 40px 10px 18px;
  background-color: var(--boxel-medium-purple);
  border: 1px solid #1C1C1C;
  border-radius: 5px;
  color: #fff;
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
}

.queue__filter-dropdown .ember-power-select-status-icon {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
  background: url('/assets/images/icons/dropdown-arrows-highlighted.svg') center/15px 15px no-repeat;
}

.queue__filter-dropdown .ember-power-select-trigger:focus {
  border-color: var(--boxel-highlight);
  outline: 0;
}

.queue__filter-dropdown .ember-power-select-dropdown {
  padding: 0;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
}

.queue__filter-dropdown .ember-power-select-option[aria-selected="true"] {
  color: #fff;
  background: url('/assets/images/icons/checkmark-highlighted.svg') right 12px center/10px 10px no-repeat;
}

.queue__filter-dropdown .ember-power-select-option {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 40px 10px 18px;
  color: var(--boxel-light-purple);
}

.queue__filter-dropdown .ember-power-select-trigger:hover,
.queue__filter-dropdown .ember-power-select-option:hover {
  color: #fff;
  cursor: pointer;
}

.queue__filter-dropdown .ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}
.queue__filter-dropdown .ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes drop-fade-above {
  0%   {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.queue__search-btn {
  --icon-color: #fff;
}

.pill-btn-group {

  background-color: var(--boxel-medium-dark-purple);
  border: var(--boxel-border-dark);
  border-radius: var(--boxel-border-radius);
}

.pill-btn-group > .pill-btn-group__btn--left {
  border-top-left-radius: var(--boxel-border-radius);
}

.pill-btn-group > .pill-btn-group__btn--right {
  border-top-right-radius: var(--boxel-border-radius);
}

.pill-btn-group > .pill-btn-group__btn + .pill-btn-group__btn {
  border-left: var(--boxel-border-dark);
}

.pill-btn-group__btn {
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  color: var(--boxel-light-purple);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  transition: background-color var(--boxel-transition),
              color var(--boxel-transition),
              font-weight var(--boxel-transition);
}

.pill-btn-group__btn:focus {
  outline: 0;
}

.pill-btn-group__btn:hover {
  color: white;
  cursor: pointer;
}

.pill-btn-group__btn--selected {
  background-color: rgba(44, 41, 52, 0.43);
  color: var(--boxel-highlight);
  font-weight: 600;
}

.queue__filter {
  width: 100%;
  height: 40px;
  padding: 10px 15px 10px 40px;
  background-image: url('/assets/images/icons/search-white.svg');
  background-position: left 15px center;
  background-repeat: no-repeat;
  background-size: 12px 12px;
  background-color: #272330;
  border: var(--boxel-border-dark);
  border-radius: var(--boxel-border-radius);
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  transition: border-color var(--boxel-transition);
}

.queue__filter:focus {
  outline: 0;
  border-color: var(--boxel-highlight);
}

.queue__header-input-group > .queue__pill-btn-group {
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}


/* Sections */
.queue__section + .queue__section {
  border-top: 1px solid var(--boxel-darkest-purple);
}

.queue__section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px var(--boxel-spacing);
  background-color: var(--boxel-medium-dark-purple);
  font-weight: 600;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.35);
}

.queue__section-count {
  color: var(--boxel-highlight);
}

.queue__section-content {
  display: grid;
  gap: var(--boxel-spacing);
  padding: var(--boxel-spacing);
  background-color: rgba(46, 45, 56, 0.5);
}
