/* Postable card container */
.workflow-thread-postable__card {
  /* Note: the size restriction and transition should only apply to action card container.
     ActionCardContainer is a holding container for an action card.
     Might make sense to apply these styles there instead. However, margin-left is only if it's inside a thread.
     It's unclear if every thread card will be wrapped an action container, probably not.
  */
  max-width: var(--outer-max-width);
  transition:
    margin-left var(--boxel-transition),
    max-width var(--boxel-transition);
}

.workflow-thread-postable__card--is-complete {
  max-width: var(--inner-max-width);
  margin-left: var(--boxel-thread-message-margin-left);
}

/* Postable markdown styles */
.workflow-thread-postable__markdown {
  max-width: var(--inner-max-width);
  font-size: 0.9375rem;
  line-height: calc(23 / 15);
  letter-spacing: var(--boxel-lsp-sm);
  text-align: start;
}

.workflow-thread-postable__markdown > * {
  margin: 0;
}

.workflow-thread-postable__markdown > * + * {
  margin-top: var(--boxel-sp-xs);
}

.workflow-thread-postable__markdown ul,
.workflow-thread-postable__markdown ol {
  padding-left: var(--boxel-sp);
  list-style-position: outside;
  list-style-type: disc;
}

.workflow-thread-postable__markdown li + li {
  margin-top: var(--boxel-sp-xs);
}

.workflow-thread-postable__markdown strong {
  font-weight: 600;
}
