.cardstack-tools-launcher {
    background-color: green;
    cursor: pointer;
}

.cardstack-toolbox {
    width: 41.0vw;
    height: 100vh;
    background-color: grey;

    /* no margin collapse */
    padding: 0.1px;
}
@media (min-width: 1000px) {
    .cardstack-toolbox {
        width: 34.0vw;
    }
}
@media (min-width: 1250px) {
    .cardstack-toolbox {
        width: 25.0vw;
    }
}
@media (min-width: 1563px) {
    .cardstack-toolbox {
        width: 16.0vw;
    }
}
@media (min-width: 1923px) {
    .cardstack-toolbox {
        width: 7.0vw;
    }
}

.cardstack-header {
    min-height: 2.625em
    background-color: grey;
}
