@import "base";
@import "cardstack-header";
@import "cardstack-toolbox";
@import "cs-toggle-switch";

:root {
    --deep-background: #000;
    --normal-background: #292A2C;
    --activating-background: #404040;
    --active-background: #545454;
    --light-background: #737373;

    --bright-foreground: #fff;
}

@font-face {
    font-family: 'Avenir';
    src: url('../cardstack-suite/Avenir.ttc');
}

.cardstack-tools-launcher {
    background-color: green;
    cursor: pointer;
}

.cardstack-toolbox {
    height: 100vh;

    /* no margin collapse */
    padding: 0.1px;
}

.cardstack-toolbox-width {
    width: 41.0vw;
}
@media (min-width: 1000px) {
    .cardstack-toolbox-width {
        width: 34.0vw;
    }
}
@media (min-width: 1250px) {
    .cardstack-toolbox-width {
        width: 25.0vw;
    }
}
@media (min-width: 1563px) {
    .cardstack-toolbox-width {
        width: 16.0vw;
    }
}
@media (min-width: 1923px) {
    .cardstack-toolbox-width {
        width: 7.0vw;
    }
}
