.boxel-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--boxel-highlight);
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border: none;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: 0.035em;
  z-index: 10;
}

.boxel-actions__btn {
  border: none;
  width: 35px;
  height: 30px;
  padding: 7px 9px;
  background-color: transparent;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 2;
}

.boxel-actions__btn:hover {
  cursor: pointer;
}

.boxel-actions__btn:focus {
  outline: 0;
  background-color: var(--boxel-highlight-hover);
}

.boxel-actions__btn--more-actions {
  background-image: url('/assets/images/icons/more-actions.svg');
}

.boxel-actions__btn--expand {
  background-image: url('/assets/images/icons/expand.svg');
}

.boxel-actions--revision-mode {
  top: -10px;
  right: -10px;
  background-color: #37EB77;
}

.boxel-actions__btn--revision-mode {
  width: auto;
  padding: 7px 15px;
  color: black;
  font-family: var(--boxel-font-family);
  font-size: 11px;
  font-weight: 600;
  line-height: calc(15/11);
  letter-spacing: 0.025em;
}

.boxel-actions__btn--add {
  width: 30px;
  height: 30px;
  padding: 0;
  background-image: url('/assets/images/icons/plus.svg');
  background-size: 9px 9px;
}
