.boxel {
  box-sizing: border-box;
}

.boxel img {
  max-width: 100%;
}

/* Fallback/default boxel */
.boxel-default {
  width: 100%;
  height: auto;
  margin-right: auto;
  margin-left: auto;
  background-color: white;
}


/* Thumbnail format */
.boxel-thumbnail {
  width: 204px;
  height: 100px;
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: flex-start;
  background-color: white;
  overflow: hidden;
}

.boxel-thumbnail--image {
  width: 100%;
  height: inherit;
}

.boxel-thumbnail--text {
  box-sizing: border-box;
  height: inherit;
  padding: 10px;
}

.boxel-thumbnail img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.boxel-thumbnail h3 {
  margin: 0 0 2px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 60%;
}

.boxel-thumbnail p {
  margin: 0;
  padding-bottom: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
  font-size: 60%;
}
