.boxel-actions {
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  grid-auto-flow: column;
  background-color: var(--boxel-highlight);
  border-top-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
  border: none;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  z-index: 2;
}

.boxel-actions .ember-basic-dropdown-trigger {
  outline: 0;
}

.boxel-actions .ember-basic-dropdown-content-wormhole-origin {
  position: absolute;
  z-index: 1;
}

.boxel-actions__more-actions .media-collection-dropdown-btn__trigger,
.boxel-actions__btn {
  border: none;
  width: 40px;
  height: 40px;
  padding: 7px 9px;
  background-color: transparent;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position: center;
}

.boxel-actions__more-actions .media-collection-dropdown-btn__trigger svg,
.boxel-actions__btn > svg {
  display: block;
  margin: auto;
}

.boxel-actions__more-actions .media-collection-dropdown-btn__trigger:hover,
.boxel-actions__btn:hover {
  cursor: pointer;
}

.boxel-actions__more-actions .media-collection-dropdown-btn__trigger:focus,
.boxel-actions__btn:focus {
  outline: 0;
  background-color: var(--boxel-highlight-hover);
}

.boxel-actions__btn--more-actions {
  background-image: url('/assets/images/icons/more-actions.svg');
}

.boxel-actions__btn--expand {
  background-image: url('/assets/images/icons/expand.svg');
}

.boxel-actions--offset {
  top: -10px;
  right: -10px;
}

.boxel-actions--offset.boxel-actions--deleted {
  top: 0;
}

.boxel-actions__label {
  border-top-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
}

.boxel-actions__label--added {
  background-color: #37EB77;
  background-image: url('/assets/images/icons/plus.svg');
}

.boxel-actions__label--removed {
  background-color: #FF5050;
  background-image: url('/assets/images/icons/minus.svg');
}

.boxel-actions__label--changed {
  background-color: #37EB77;
  background-image: url('/assets/images/icons/checkmark-lg.svg');
}

.boxel-actions__label--deleted {
  background-color: #E8E8E8;
  background-image: url('/assets/images/icons/close.svg');
}

.boxel-actions__label--modified {
  background-color: #FFD800;
  background-image: url('/assets/images/icons/triangle.svg');
  background-position: center right 10px;
  width: auto;
  min-width: 30px;
}

.boxel-actions--comparison-mode > .boxel-actions__label {
  background-position: center right 10px;
  font-weight: 400;
  width: auto;
  padding: 6px 30px 6px 15px;
}

.boxel-actions--comparison-mode > .boxel-actions__label--no-change {
  background-color: #DBDBDB;
  background-image: url('/assets/images/icons/check-mark.svg');
}


/* Actions menu */
.boxel-actions__more-actions-menu li {
  padding: 10px 20px;
}

.boxel-actions__more-actions-menu li:hover,
.boxel-actions__more-actions-menu li:focus {
  background-color: #E9E9EE;
  cursor: pointer;
}

.boxel-actions__more-actions-menu li.actions-menu__link-item {
  padding: 0;
}
.boxel-actions__more-actions-menu li.actions-menu__link-item > a {
  width: 100%;
  padding: 10px 20px;
}


/* Multiple actions */
.boxel-actions--comparison-mode.with-expand {
  right: 30px;
}

.boxel-actions--comparison-mode.with-expand > .boxel-actions__label {
  border-top-right-radius: 0;
}

.boxel-actions__expand {

}

.boxel-actions__expand > .boxel-actions__label {
  border-left: 1px solid rgba(0,0,0,0.15);
  border-bottom-left-radius: 0;
  background-image: none;
  padding: 0;
}

.boxel-actions__expand .boxel-actions__expand-btn {
  width: 30px;
  height: 30px;
}
