.boxel-card__container {
  width: 100%;
}

.boxel-card__expand-btn {
  position: absolute;
  top: 0;
  right: 0;
  outline: 0;
}

.boxel-card__expand-btn:hover {
  cursor: pointer;
}

.card__gradient {
  z-index: 1;
  position: absolute;
  right: 2px;
  bottom: 3px;
  width: 50px;
  height: 50px;
  border-bottom-right-radius: 5px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #fff 40%);
}

.boxel-card {
  width: 100%;
  background-color: white;
  border-radius: 5px;
  border: var(--boxel-border);
  transition: box-shadow var(--boxel-transition);
}

.boxel-card__expand-btn:hover ~ .boxel-card,
.boxel-card__expand-overlay:hover {
  box-shadow: var(--boxel-box-shadow);
  cursor: pointer;
  outline: 0;
}

.boxel-card--default {
  display: grid;
  align-items: center;
  gap: 3px 15px;
  max-width: 450px;
  padding: 15px 45px 15px 15px;
  color: black;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp);
  overflow: hidden;
}

.boxel-card ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.boxel-card__title {
  margin: 0;
  font: inherit;
  font-weight: bold;
  letter-spacing: inherit;
}

.boxel-card__description {
  margin: 0;
  color: #6B6A80;
  font: var(--boxel-font-sm);
  overflow-wrap: break-word;
  word-break: break-word;
}

.boxel-card--with-img {
  grid-template:
  "img ."     auto
  "img ."     auto
  "img title" auto
  "img desc"  auto
  "img ."     auto
  "img ."     auto / auto 1fr;
}

.boxel-card--with-img .boxel-card__title {
  grid-area: title;
  align-self: end;
}

.boxel-card--with-img .boxel-card__description {
  grid-area: desc;
  align-self: start;
}

.boxel-card__bg-img {
  grid-column: 1;
  grid-area: img;
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.boxel-card__fields {
  padding-top: 25px;
  grid-column: 1 / -1;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  gap: 30px;
}


/* Card type adjustments */
/* TODO: make separate card types */
.boxel-card--musical-work .boxel-card__bg-img {
  background-size: contain;
}

.boxel-card__profile-org {
  width: 26px;
  height: 26px;
  background: url('/media-registry/verifi-logo.svg') center/26px 26px no-repeat;
  position: absolute;
  top: 10px;
  left: 10px;
}

.boxel-card--profile {
  padding-right: 10px;
}

.boxel-card--profile .boxel-card__bg-img {
  border-radius: 100px;
  background-image: url('/media-registry/placeholders/profile.svg');
}

.boxel-card--profile__fields {
  grid-auto-flow: row;
  grid-template-columns: auto auto auto;
  align-items: end;
  justify-items: start;
  gap: 10px;
  white-space: nowrap;
}


.boxel-card--audio-file .boxel-card__bg-img {
  height: 34px;
  background-size: 27px 34px;
  background-position: top center;
}


/* Grid format */
.boxel-card--grid.boxel-card--with-img {
  grid-column: 1 / -1;
  grid-template: "img" "title" "desc";
  padding: 10px;
  justify-items: center;
  width: 210px;
  min-height: 285px;
}

.boxel-card--grid.boxel-card--with-img .boxel-card__bg-img {
  width: 188px;
  height: 188px;
  background-size: cover;
  background-position: center;
}

.boxel-card--grid.boxel-card--with-img .boxel-card__title {
  text-align: center;
}


/* Sent to Field Renderer */
.boxel-card-field.field-renderer {
  grid-template-columns: auto;
  gap: 3px;
  padding: 0;
  justify-items: start;
}

.boxel-card-field .field-renderer__title {
  color: #AFAFB7;
  font: var(--boxel-font-xs);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  text-align: left;
}

.boxel-card-field .field-renderer__value {
  font: var(--boxel-font-sm);
}
