/* VIEW MODE */
/* Collection List */
.collection-list {
  display: grid;
  grid-gap: 10px;
}

/* Collection Grid */
.collection-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 105px);
  grid-auto-rows: 105px;
  gap: 10px;
}

.collection-grid__item > img {
  object-fit: cover;
  object-position: center;
  overflow: hidden;
  width: 105px;
  height: 105px;
}


/* EDIT MODE */
.collection-editor {
  position: relative;
  display: grid;
  gap: 10px;
  padding: 10px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  line-height: 1;
  text-align: left;
}

.collection-editor-grid {
  display: grid;
  gap: 10px;
}

.collection-editor-grid--selected {
  padding-top: 10px;
}

.collection-editor-grid--grid {
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  justify-items: center;
}

.collection-editor-grid--grid.collection-editor-grid--selected {
  padding-top: 20px;
}

.collection-editor > h4 {
  color: black;
  line-height: calc(22/16);
  padding: 9px 5px;
}

.collection-editor__item {
  position: relative;
}

.collection-editor__view-all-btn {
  width: 100%;
  margin: 0 auto;
  padding: 11px 0;
  background: none;
  color: black;
  font: var(--boxel-font-sm);
  border: 1px solid #AFAFB7;
  border-radius: 5px;
  text-align: center;
  z-index: 1;
}

.collection-editor__view-all-btn--list-selected {
  max-width: 355px;
}

.collection-editor__view-all-btn:focus {
  border-color: var(--boxel-highlight);
  outline: 2px solid var(--boxel-highlight);
  outline-offset: -3px;
}


.collection-editor__btn-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  gap: 30px;
  padding: 8px 8px 13px;
}

.collection-editor__select {
  width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr 30px;
  align-items: center;
}

.collection-editor__select--embedded {
  gap: 0 7.5px;
}

.collection-editor__select--isolated {
  gap: 0 11px;
}

.collection-editor__select-btn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
}

.collection-editor__select-btn > svg {
  display: block;
  margin: auto;
}

.collection-editor__select--selected {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}

.collection-editor__select--partial {
  --icon-bg: var(--boxel-highlight);
}

.collection-editor__select-all {
  width: 100%;
  max-width: 355px;
  padding: 10px 35px;
  background: url('/assets/images/icons/check-mark.svg') center left 15px no-repeat;
  border: 1px solid #AFAFB7;
  border-radius: 5px;
  color: black;
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: 0.025em;
}


/* Collection editor -- format: taglist */
.collection-taglist-editor {
  grid-template-columns: 1fr 40px;
}

.collection-taglist-editor__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, max-content));
  gap: 10px;
}

.collection-taglist-editor__list-item {
  display: grid;
  grid-template-columns: auto 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #D1D1D1;
  font-size: 13px;
  color: #393642;
}

.collection-taglist-editor__text {
  display: block;
  margin: auto 0;
  padding: 5px 5px 5px 15px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collection-taglist-editor__btn {
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 2;
}

.collection-taglist-editor__btn.add-btn {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}
