.collection-table > table {
  --first-column-box-shadow: 3px 3px 5px rgba(0,0,0,0.1);
  width: 931px;
  margin: 0 auto;
  font-family: var(--boxel-font-family);
  font-size: 13px;
  line-height: calc(18/17);
  letter-spacing: 0.025em;
}

.collection-table__title {
  padding: 20px 0;
  font-weight: normal;
  font-size: 18px;
  letter-spacing: 0.015em;
  line-height: calc(24/18);
  white-space: nowrap;
  position: sticky;
  left: 54px;
}

.collection-table__header tr {
  height: 40px;
}

.collection-table__header th {
  font-weight: normal;
  text-align: left;
  padding: 0 20px;
  border-top: 1px solid #AFAFB7;
  border-bottom: 1px solid #AFAFB7;
}

.collection-table__header th:first-of-type {
  padding-left: 54px;
  background-color: #F0F0F0;
  box-shadow: var(--first-column-box-shadow);
}

.collection-table__body tr {
  --tr-border-color: transparent;
  height: 60px;
}

.collection-table__body td {
  position: relative;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.collection-table__body td:first-of-type {
  box-shadow: var(--first-column-box-shadow);
}

.collection-table__body td:last-of-type {
  background-color: #F0F0F0;
}

.collection-table__body .et-cell-container {
  display: grid;
  grid-template-columns: 45px 0 1fr;
  align-items: center;
}

.et-cell-content {
  display: grid;
  margin-left: -45px;
  grid-template-columns: 45px auto;
  align-items: center;
}

.et-toggle-select {
  width: 45px;
  height: 60px;
  background-color: #F0F0F0;
}

.et-toggle-select input {
  width: 45px;
  height: 60px;
  margin: 0;
  opacity: 0;
}

td > .last-col {
  display: grid;
  grid-template-columns: 1fr 45px;
}

.collection-table__remove-sticky-container {
  display: grid;
  align-items: center;
  width: 45px;
  height: 60px;
  right: -45%;
  margin-right: -45px;
}


/* Row borders */
.collection-table__cell {
  position: relative;
  height: 60px;
  display: grid;
  align-items: center;
  padding: 0 20px;
  border-top: 1px solid var(--tr-border-color);
  background-color: white;
}

td:first-of-type .collection-table__cell {
  border-left: 1px solid #AFAFB7;
}

td:last-of-type .collection-table__cell {
  border-right: 1px solid #AFAFB7;
}

tr:first-of-type td:first-of-type .collection-table__cell {
  border-top-left-radius: 5px;
}

tr:first-of-type td:last-of-type .collection-table__cell {
  border-top-right-radius: 5px;
}

tr:last-of-type td:first-of-type .collection-table__cell {
  border-bottom-left-radius: 5px;
}

tr:last-of-type td:last-of-type .collection-table__cell {
  border-bottom-right-radius: 5px;
}

tr.is-selected td:first-of-type .collection-table__cell,
tr.is-selected td:last-of-type .collection-table__cell {
  border-left-color: transparent;
  border-right-color: transparent;
}

tr:last-of-type .collection-table__cell {
  border-bottom: 1px solid #AFAFB7;
}
tr.is-selected:last-of-type .collection-table__cell {
  border-color: transparent;
}

tr:not(.is-selected) {
  --tr-border-color: #AFAFB7;
}

tr.is-selected + tr:not(.is-selected) {
  --tr-border-color: transparent;
}



/* Highlighter */
.collection-table__highlight {
  --border-color: transparent;
  --border: 2px solid var(--border-color);
  border-top: var(--border);
  border-bottom: var(--border);
  border-right: none;
  border-left: none;
  border-radius: 0;
  outline: 0;
}

tr:first-of-type td:first-of-type .collection-table__highlight {
  border-top-left-radius: 5px;
}

tr:first-of-type td:last-of-type .collection-table__highlight {
  border-top-right-radius: 5px;
}

tr:last-of-type td:first-of-type .collection-table__highlight {
  border-bottom-left-radius: 5px;
}

tr:last-of-type td:last-of-type .collection-table__highlight {
  border-bottom-right-radius: 5px;
}

td:first-of-type .collection-table__highlight {
  border-left: var(--border);
}

td:last-of-type .collection-table__highlight {
  border-right: var(--border);
}

.collection-table__highlight.boxel-highlight--on {
  border-color: var(--boxel-highlight);
}

td:first-of-type .collection-table__highlight.boxel-highlight--on,
td:last-of-type .collection-table__highlight.boxel-highlight--on {
  border-color: var(--boxel-highlight);
}

tr.is-selected + tr.is-selected .collection-table__highlight.boxel-highlight--on {
  border-top-color: transparent;
}
