.collection-item {
  display: grid;
  background-color: white;
  border-radius: 5px;
  border: 1px solid transparent;
  line-height: 1;
}

.collection-item--list {
  grid-template-columns: 60px auto;
  grid-template-areas:
    "img title"
    "img detail";
  gap: 5px 20px;
  height: 80px;
  padding: 10px 12px;
}

.collection-item--grid {
  grid-template-areas:
    "img"
    "title"
    "detail";
  gap: 8px 0;
  min-height: 283px;
  padding: 10px 6px 30px;
  text-align: center;
}

.collection-item--table {
  grid-template-areas: repeat(auto-fill, auto);
}

.collection-item--edit {
  border-color: #AFAFB7;
}

.collection-item__img-container {
  grid-area: img;
}

.collection-item--grid .collection-item__img-container {
  display: flex;
  width: 190px;
  height: 190px;
}

.collection-item__img {
  margin: auto;
  max-width: 100%;
  object-fit: contain;
}

.collection-item--list .collection-item__img-container {
  height: 60px;
}

.collection-item__title {
  grid-area: title;
  align-self: end;
  color: black;
  font-size: 16px;
  font-weight: bold;
  line-height: 1;
}

.collection-item__detail {
  grid-area: detail;
  color: #6B6A80;
  font-size: 13px;
}

.collection-item--blank-item img {
  display: none;
}
.collection-item--blank-item .collection-item__img-container {
  padding: 5px;
}

.collection-item--blank-item .collection-item__img-container::before {
  background-color: #f2f2f2;
  width: 100%;
  content: '';
}


.collection-item--blank-item .collection-item__title {
  background-color: #f2f2f2;
  height: 1em;
  width: 80%;
  margin: 0 auto;
}

.collection-item--blank-item .collection-item__detail {
  background-color: #f2f2f2;
  height: 1em;
  width: 50%;
  margin: 0 auto;
}

.boxel-card--blank-item img {
  display: none;
}
.boxel-card--blank-item .boxel-card__img-container {
  padding: 5px;
}

.boxel-card--blank-item .boxel-card__img-container::before {
  background-color: #f2f2f2;
  width: 100%;
  content: '';
}


.boxel-card--blank-item .boxel-card__title {
  background-color: #f2f2f2;
  height: 1em;
  width: 80%;
  margin: 0 auto;
}

.boxel-card--blank-item .boxel-card__detail {
  background-color: #f2f2f2;
  height: 1em;
  width: 50%;
  margin: 0 auto;
}