.collection-editor__add-btn {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  z-index: 1;
  cursor: pointer;
}

.collection-editor__cancel-btn {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  width: 25px;
  height: 25px;
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0 10px;
  background-color: var(--boxel-highlight);
  z-index: 2;
  cursor: pointer;
}

.collection-editor__cancel-btn > svg {
  padding: 8px 8px 9px 9px;
}

.collection-editor__add-btn svg {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
}

.collection-editor__adding-new-item .collection-editor__item .boxel-card--small {
  border: 1px solid red;
  min-height: 80px;
}

.collection-editor__item {
  text-align: left;
}

.collection-editor__adding-new-item {
  z-index: 1;
  text-align: center;
  margin-left: 1px;
  min-height: 40px;
}

.collection-editor__item--new-item {
  margin-bottom: 1em;
}


.collection-editor__added-new-item {
  margin-top: 1em;
  z-index: 1;
  text-align: center;
  margin-left: 1px;
}
