.collection-isolated {
  position: relative;
  min-height: 100vh;
  background-color: white;
  border-radius: 5px;
  border: none;
  padding: 100px 92px 160px 100px;
}

@media only screen and (max-width: 839px) {
  .collection-isolated {
    padding: 80px 20px;
  }
}
