.collection-isolated {
  position: relative;
  background-color: white;
  border-radius: 5px;
  border: none;
  overflow: hidden;
}

.collection-isolated-header {
  display: grid;
  grid-template-columns: auto 30px 30px;
  align-items: center;
  gap: 0 13px;
  padding: 24px 26px 26px 30px;
}

.collection-isolated__btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-color: transparent;
  border: none;
  border-radius: 5px;
}

.collection-isolated__btn:focus {
  outline-color: var(--boxel-highlight);
}

.collection-isolated__btn.more {
  background-image: url('/assets/images/icons/more-actions.svg');
  background-size: 16px 16px;
}

.collection-isolated__btn.contract {
  background-image: url('/assets/images/icons/contract.svg');
}

.collection-isolated-header__title {
  color: black;
  font-family: var(--boxel-font-family);
  font-size: 22px;
  font-weight: normal;
  line-height: calc(30/22);
}

.collection-isolated-section {
  background-color: #F0F0F0;
}

.collection-isolated-section__actions-row {
  display: grid;
  grid-template-columns: minmax(auto, 1fr) auto auto;
  padding: 20px 20px 20px 13px;
  align-items: center;
  white-space: nowrap;
}

.collection-isolated-section__filters {
  height: 30px;
  padding-right: 20px;
  border-right: 1px solid #707070;
}

.collection-isolated-section__view-formats {
  height: 30px;
  padding-left: 20px;
}

.collection-isolated-section__btn-trio {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 8px;
}

.collection-isolated__btn.unselected {
  opacity: 0.25;
}

.collection-isolated__btn.selected {
  opacity: 1;
}

.collection-isolated__btn.sort {
  background-image: url('/assets/images/icons/sort.svg');
}

.collection-isolated__btn.filter {
  background-image: url('/assets/images/icons/filter.svg');
}

.collection-isolated__btn.search {
  background-image: url('/assets/images/icons/search.svg');
}

.collection-isolated__btn.list {
  background-image: url('/assets/images/icons/list.svg');
}

.collection-isolated__btn.grid {
  background-image: url('/assets/images/icons/grid.svg');
}

.collection-isolated__btn.table {
  background-image: url('/assets/images/icons/table.svg');
}

.collection-isolated-grid {
  position: relative;
  display: grid;
  gap: 10px 20px;
  justify-items: center;
  padding: 20px 13px 40px;
}

.collection-isolated-grid--grid {
  grid-template-columns: repeat(auto-fill, minmax(206px, auto));
  padding: 20px;
}

.collection-isolated-grid--table {
  padding: 20px 0 40px;
}
