.cs-toggle-switch {
    cursor: pointer;
    border: 1px solid var(--bright-foreground);
    border-radius: 10px;
    display: inline-block;
    width: 3em;
    position: relative;
    text-transform: uppercase;
    font-weight: 800;
    background-color: var(--deep-background);
    top: 0;
    margin-left: 0.2em;
}
.cs-toggle-switch.disabled {
    opacity: 0.6;
}
.cs-toggle-switch > .slider {
    background-color: var(--light-background);
    color: var(--deep-background);
    border-radius: 10px;
    position: relative;
    padding: 0.5em 0.4em 0.4em 0.7em;
    font-size: 0.6em;
    box-sizing: border-box;
    width: 67%;
    line-height: 1.1em;
    transition: transform 250ms ease, background-color 250ms ease;
    text-align: center;
}
.cs-toggle-switch > .slider-right {
    transform: translateX(50%);
    background-color: var(--bright-foreground);
    padding-left: 1em;
}
