.detail-card__layout {
  position: relative;
  top: 0;
  display: grid;
  grid-template-columns: 945px auto;
  gap: 0 35px;
  justify-items: center;
  padding-bottom: 30px;
}

.detail-card__layout--stacked {
  height: 50px;
}

.detail-card {
  width: 100%;
  min-height: 100px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxel-box-shadow);
}

.detail-card--stacked {
  max-width: 880px;
}

.detail-card__header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 10px 15px 10px 30px;
  min-height: 50px;
}

.detail-card__body {
  min-height: 500px;
  display: grid;
  gap: 30px 0;
  padding: 0 50px;
}
