.icon-btn {
  width: 40px;
  height: 40px;
  padding: 0;
  background: none;
  border: none;
  z-index: 1;
}

.icon-btn--sm {
  width: 30px;
  height: 30px;
}

.icon-btn:hover,
.icon-btn:focus {
  /* need styles */
  outline: 0;
}

.icon-btn > svg {
  display: block;
  margin: auto;
}
