.left-edge-nav {
  position: fixed;
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 100%;
  padding: 0;
  background-color: var(--cs-dark-field-default);
}

.left-edge-nav ul {
  display: grid;
  grid-auto-rows: 40px;
  gap: 20px;
  justify-items: center;
}

.left-edge-nav__top-btn-group {
  align-self: start;
  padding-top: 20px;
}

.left-edge-nav__bottom-btn-group {
  align-self: end;
}


.left-edge-nav__btn {
  --icon-color: var(--boxel-highlight);
  width: 80px;
  height: 40px;
  background: none;
  border: none;
  outline: 0;
}

.left-edge-nav__btn svg {
  display: block;
  margin: auto;
}

.left-edge-nav__btn:hover {
  --icon-color: black;
  cursor: pointer;
}

.left-edge-nav__btn--full {
  border-left: 4px solid transparent;
  padding-left: 16px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  opacity: 0.5;
}

.left-edge-nav__btn--full:hover,
.left-edge-nav__btn--full:focus {
  opacity: 1;
}

.left-edge-nav__btn--full.selected {
  border-color: var(--boxel-highlight);
  opacity: 1;
}


.left-edge-nav__btn--icon-only:hover {
  background-color: var(--boxel-highlight);
  border-radius: 100px;
}
