.next-steps {
  padding: 30px;
  background-color: #41404D;
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.next-steps--inline {
  display: flex;
  justify-content: space-between;
}

.next-steps--row > * + * {
  margin-top: 25px;
}

.next-steps__title {
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.next-steps__text {
  color: #B3B1B8;
  font-weight: normal;
}

.next-steps__pill-btn {
  padding: 5px 30px;
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
}

.next-steps__icon-btn {
  --icon-btn-width: 30px;
  --icon-btn-height: 30px;
}

.next-steps__btn-group {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  align-items: center;
  gap: 15px 20px;
}
