.boxel-pill-btn {
  height: 30px;
  padding: 5px 20px;
  border: var(--boxel-border);
  border-radius: 100px;
  background-color: white;
  color: black;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  outline: 0;
}

.boxel-pill-btn__primary {
  background-color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
}

.boxel-pill-btn:hover {
  cursor: pointer;
}
