.queue-card {
  --my-tasks-label-color: var(--boxel-lime);
  --awaiting-reply-label-color: var(--boxel-lilac);
  --queue-card-primary-color: #fff;
  --queue-card-secondary-color: var(--boxel-light-purple);

  position: relative;
  width: 100%;
  padding: 0;
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-medium-purple);
  color: var(--queue-card-primary-color);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
  transition: color var(--boxel-transition), background-color var(--boxel-transition);
}

.queue-card:hover {
  cursor: pointer;
}

.queue-card__datetime-row {
  padding-left: 20px;
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  white-space: nowrap;
  text-align: right;
}

.queue-card__label {
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  overflow: hidden;
  text-overflow: ellipsis;
}

.queue-card__label,
.queue-card__datetime {
  color: var(--queue-card-secondary-color);
  font-weight: 600;
  transition: color var(--boxel-transition);
}

.queue-card__datetime {
  padding-top: 8px;
}

.queue-card__datetime:last-child {
  padding-right: 10px;
}

.queue-card__notification {
  align-self: start;
  padding: 2px 13px 3px;
  border-radius: 0 10px 0 5px;
  background-color: var(--boxel-red);
  color: #fff;
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-sm);
  text-align: center;
}

.queue-card__content {
  padding: 10px 20px 17px;
}

.queue-card__label + .queue-card__project-title {
  padding-top: 5px;
}

.queue-card__project-title {
  font: var(--boxel-font-sm);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp);
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.queue-card__participants {
  --icon-color: var(--queue-card-primary-color);
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 10px;
  align-items: center;
  padding-top: 12px;
  color: var(--queue-card-secondary-color);
  font: var(--boxel-font-xs);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color var(--boxel-transition);
}

.queue-card__footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 10px 0;
  border-top: 1px solid var(--boxel-dark-purple);
}

.queue-card__task-label {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 10px;
  background-color: var(--my-tasks-label-color);
  border-radius: 5px;
  color: #000;
  font-size: 10px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.queue-card__task-label--awaiting-reply {
  background-color: var(--awaiting-reply-label-color);
  color: #fff;
}


/* Light Theme */
.queue-card--light-theme {
  --queue-card-primary-color: #000;
  --queue-card-secondary-color: var(--boxel-medium-light-purple);
  --boxel-highlight: #00B2AE;

  background-color: #fff;
}

.queue-card--light-theme .queue-card__footer {
  border-color: rgba(55, 53, 67, 0.15);
}

.queue-card--light-theme .queue-card__progress-icon {
  background-image: url('/assets/images/icons/progress-circle.svg');
}


/* Status */
.queue-card__status {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  color: var(--boxel-highlight);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
}

.queue-card__progress-icon {
  --icon-color: var(--boxel-highlight);
  position: relative;
  width: 24px;
  height: 24px;
  background-image: url('/media-registry/progress-pie/progress-circle-dark.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.queue-card__progress-icon.cancelled {
  width: 16px;
  height: 16px;
  background-image: url('/assets/images/icons/icon-x-circle-ht.svg');
}

.queue-card__progress-icon.complete {
  width: 16px;
  height: 16px;
  background-image: url('/assets/images/icons/icon-check-circle-ht.svg');
}

.queue-card__progress-pie {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  stroke-dasharray: 0 60;
  transition: stroke-dasharray var(--boxel-transition);
}
