.sidebar-related-card__link {
  display: block;
}

.sidebar-related-card {
  min-width: 320px;
  min-height: 160px;
  border: var(--boxel-border);
  border-radius: var(--boxel-border-radius);
  background-color: white;
  transition: box-shadow var(--boxel-transition);
}

.sidebar-related-card__link:hover .sidebar-related-card {
  box-shadow: var(--boxel-box-shadow);
}

.sidebar-related-card__inner {
  padding: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.sidebar-related-card__header {
  height: 30px;
  padding: 7px 15px;
  border-radius: 10px 10px 0 0;
  background-color: #F8F7FA;
  color: #AFAFB7;
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
  transition: background-image var(--boxel-transition), color var(--boxel-transition);
}

.sidebar-related-card__link:hover .sidebar-related-card__header {
  background-image: url("/assets/images/icons/expand.svg");
  background-position: top 7px right 7px;
  background-size: 16px 16px;
  background-repeat: no-repeat;
  color: #6B6A80;
}

.sidebar-related-card__thumb-collection {
  width: 60px;
  height: 50px;
  margin-right: 20px;
  background: url('/media-registry/master-covers.svg') center left/cover no-repeat;
}

.sidebar-related-card__title {
  font: var(--boxel-font);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-sm);
}

.sidebar-related-card__subtitle {
  color: #6B6A80;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.sidebar-related-card__count {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp);
  text-align: right;
}

.sidebar-related-card__count__number {
  font: var(--boxel-font);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-lg);
}
