
.face-value-option {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  column-gap: var(--boxel-sp-xl);
  padding: var(--boxel-sp-lg) var(--boxel-sp);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 0 0 1px var(--boxel-light-400);
  transition: box-shadow var(--boxel-transition);
}

.face-value-option:hover {
  box-shadow: 0 0 0 1px var(--boxel-dark);
}

.face-value-option--checked,
.face-value-option:focus,
.face-value-option:focus-within {
  box-shadow: 0 0 0 2px var(--boxel-highlight);
  outline: 1px solid transparent;
}

.face-value-option__input {
  appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  border: 1.5px solid var(--boxel-dark);
  border-radius: 100px;
  background-color: transparent;
}

.face-value-option__input--checked {
  background-color: var(--boxel-highlight);
  border-width: 3px;
}

.face-value-option__input:focus {
  outline: 1px solid transparent;
}

.face-value-option__value {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  column-gap: var(--boxel-sp-xs);
}

.face-value-option__amount {
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
}

.face-value-option__conversion {
  grid-column: 2;
  color: var(--boxel-purple-500);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xs);
}
