.progress-box {
  width: 230px;
  min-height: 100px;
  padding-bottom: 15px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.progress-box__section {
  padding: 15px var(--boxel-spacing);
}

.progress-box__section + .progress-box__section {
  border-top: 1px solid var(--boxel-light-400);
}

.progress-box__section-title {
  padding-bottom: var(--boxel-spacing);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.progress-box__status {
  padding-top: 15px;
  color: var(--boxel-dark);
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}
