.deposit-modal__section {
  padding: 40px;
}

.deposit-modal__section header {
  font-size: var(--boxel-font-size-lg);
}

.deposit-modal__section p {
  font-weight: 600;
  margin: var(--boxel-sp) 0;
  font-size: var(--boxel-font-size-sm);
}

.deposit-modal__section p a {
  text-decoration: underline;
}

.deposit-modal__copyable-address {
  margin: var(--boxel-sp) 0;
}

.deposit-modal__section-funds-info,
.deposit-modal__section-funds-info-balance,
.deposit-modal__section-funds-info-token {
  display: flex;
  flex-direction: row;
}

.deposit-modal__section-funds-info {
  padding: var(--boxel-sp);
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-yellow);
}

.deposit-modal__section-funds-info-header {
  font-weight: bold;
  flex: 1;
}

.deposit-modal__section p.deposit-modal__section-funds-info-balance {
  margin: var(--boxel-sp-xxs) 0;
}

.deposit-modal__section-funds-info-icon {
  --icon-color: var(--boxel-dark);

  flex: 0.1;
  width: 24px;
  height: 24px;
}

.deposit-modal__section-funds-info-token {
  font-size: var(--boxel-font-size-sm);
  padding-bottom: var(--boxel-sp-xxs);
  align-items: center;
  gap: var(--boxel-sp-xxxs);
}

.deposit-modal__section-funds-info-token-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.deposit-modal__section-funds-info-cover {
  width: 50%;
}
