.layer-one-connect-card {
  filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.15));
}

.layer-one-connect-card__body {
  padding: 0 var(--boxel-sp-lg);
}

.layer-one-connect-card__body-header {
  display: flex;
  align-items: center;
  padding: var(--boxel-sp-xl) 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.layer-one-connect-card__body-header-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}

.layer-one-connect-card__wallet-provider-selection {
  margin-bottom: var(--boxel-sp-xl);
}

.layer-one-connect-card__connection {
  display: flex;
  align-items: center;
  padding: var(--boxel-sp);
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
  margin-top: var(--boxel-sp-lg);
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
}

.layer-one-connect-card__connection-icons {
  display: flex;
  align-items: center;
}

.layer-one-connect-card__connection-cardstack-logo {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.layer-one-connect-card__connection-wallet-logo {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 0 2px var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius);
  padding: .25rem;
  object-fit: contain;
}

.layer-one-connect-card__connection-symbol {
  width: 2rem;
  height: 1rem;
  object-fit: contain;
}

.layer-one-connect-card__connection-text {
  margin-left: var(--boxel-sp-lg);
}

.layer-one-connect-card__field-balance-display {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.layer-one-connect-card__field-balance-display + .layer-one-connect-card__field-balance-display {
  margin-top: var(--boxel-sp-xs);
}

.layer-one-connect-card__disclaimer {
  margin-top: var(--boxel-sp-xxl);
  margin-bottom: var(--boxel-sp-lg);
  font: var(--boxel-font-xs);
  color: #969696;
}

.layer-one-connect-card__connection-status {
  --icon-color: var(--boxel-dark);
}

/* overwrite list */
.layer-one-connect-card__balance-list {
  font-size: 1rem;
  line-height: var(--field-text-line-height);
  padding-left: 0;
  margin: 0;
}

.layer-one-connect-card__small-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}