.prepaid-card-choice__cost {
  --icon-alignment: flex-start;

  font-weight: 600;
}

.prepaid-card-choice__loading-indicator {
  --icon-color: white;

  margin-right: var(--boxel-sp-sm);
  flex-grow: 0;
  flex-shrink: 0;
}
