.preview__content {
  display: flex;
  justify-content: space-between;
  padding-left: var(--boxel-sp-lg);
}

.preview__content--is-complete {
  padding-left: 0;
  padding-right: var(--boxel-sp-lg);
  flex-direction: column;
}

.preview__card {
  transform: scale(0.6);
  transform-origin: top left;
  max-width: var(--preview-card-width);
  max-height: var(--preview-card-height);
  text-align: left;
}

.preview__data {
  flex-grow: 1;
  margin-left: var(--boxel-sp-xl);
}

.preview__data--is-complete {
  margin-left: 0;
}

.preview__spend-face-value {
  --icon-alignment: start;
}

.preview__loading-indicator {
  --icon-color: var(--boxel-light);

  margin-right: var(--boxel-sp-xs);
  flex-grow: 0;
  flex-shrink: 0;
}

.preview__in-progress-message {
  max-width: 20rem;
}

.preview__cancel-button {
  display: inline-block;
  margin-left: var(--boxel-sp-xxxs);
  color: var(--boxel-highlight);
}
