.layer-two-connect-modal__card {
  max-height: 80vh;
  max-width: 80vw;
  margin: 0 auto;
  overflow: auto;
}

@media screen and (max-width: 950px) {
  .layer-two-connect-modal__card {
    max-height: 90vh;
  }
}
