.boxel-control-panel__item-body {
  width: 240px;
}

.blockchain-address {
  font-family: var(--boxel-monospace-font-family);
}

.info {
  font-size: var(--boxel-font-size-sm);
}

.safe-tools__dashboard-container-row {
  display: flex;
  column-gap: var(--boxel-sp-lg);
}

.boxel-dropdown-trigger {
  justify-content: space-between;
}

.general-info-modal__card p {
  margin-bottom: var(--boxel-sp-xxxs);
}

@media (max-width: 1556px) {
  .safe-tools__dashboard-container-row {
    display: flex;
    flex-direction: column;
  }
}
