.boxel-control-panel__item-body {
  width: 240px;
}

.blockchain-address {
  font-family: var(--boxel-monospace-font-family);
}

.info {
  font-size: var(--boxel-font-size-sm);
}

.safe-tools__dashboard-container-row {
  display: flex;
  column-gap: var(--boxel-sp-lg);
}

.boxel-dropdown-trigger {
  justify-content: space-between;
}

.tooltip {
  position: relative;
  display: inline-block;
  cursor: pointer;
  white-space: initial;
}

.tooltip .tooltip-text {
  visibility: hidden;
  width: 140px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -70px;
  background-color: var(--boxel-light);
  box-shadow: 0 0 0 1px var(--boxel-light-500);
  color: var(--boxel-dark);
  text-align: center;
  border-radius: var(--boxel-sp-sm);
  padding: var(--boxel-sp-sm);
  margin-bottom: var(--boxel-sp-xs);
  opacity: 0;
  transition: ease-in-out 0.5s;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 1556px) {
  .safe-tools__dashboard-container-row {
    display: flex;
    flex-direction: column;
  }
}
