.boxel-control-panel__item-body {
  padding-left: var(--boxel-sp-lg);
}

.boxel-control-panel__item-body > * + * {
  margin-top: var(--boxel-sp-sm);
}

.safe-tools__dashboard-schedule {
  background-color: var(--boxel-dashboard-background-color);

  display: flex;
  flex-direction: row;
}

.safe-tools__dashboard-schedule-control-panel-address {
  color: var(--boxel-purple-300);
  font-family: var(--boxel-monospace-font-family);
  font-size: var(--boxel-font-size-sm);
}

.safe-tools__dashboard-schedule-control-panel-connected-status {
  --icon-fill-color: var(--boxel-green);
  --icon-border: var(--boxel-green);

  display: flex;
  gap: var(--boxel-sp-xxxs);
  font-size: var(--boxel-font-size-xs);
  margin-top: var(--boxel-sp-xxxs);
}

.safe-tools__dashboard-schedule-control-panel-connected-status-icon {
  padding-bottom: 1px;
}

.safe-tools__dashboard-schedule-control-panel-connect-button {
  width: 100%;
}

.safe-tools__dashboard-schedule-content {
  flex: 1;
  padding: var(--boxel-sp-xxl) var(--boxel-sp-lg) 0;
}

.safe-tools__dashboard-schedule-control-panel-safe-info-address {
  color: var(--boxel-purple-300);
  margin-bottom: 2px;
}

.temporary-form-container {
  display: flex;
  justify-content: center;
  margin-top: var(--boxel-sp-xl);
  flex-direction: column;
}

.temporary-form-container > *+* {
  margin-top: var(--boxel-sp-lg);
}

.safe-tools__dashboard-dropdown {
  display: inline-flex;
  align-items: center;
}

.safe-tools__dashboard-dropdown .ember-power-select-selected-item .boxel-select__item {
  padding-left: 0;
}

.safe-tools__dashboard-dropdown.boxel-select .boxel-select__item {
  font-weight: 600;
  font-size: var(--boxel-font-size-sm);
}

.safe-tools__dashboard-dropdown .ember-power-select-status-icon {
  -webkit-mask: url('/@cardstack/boxel/images/icons/caret-down.svg') no-repeat;
  mask: url('/@cardstack/boxel/images/icons/caret-down.svg') no-repeat;

  background-color: var(--boxel-cyan);
  display: inline-block;
  width: 11px;
  height: 9px;
  margin-top: 5px;
}

.boxel-action-container.past-payments-container {
  min-width: 75rem;
  max-width: none;
}

.horizontal-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}