.token-claim__display-box {
  padding: var(--boxel-sp-lg) var(--boxel-sp);
  border: 1px solid var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
}

.token-claim__label {
  color: var(--boxel-purple-400);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.token-claim__balance-display {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: var(--boxel-sp) auto;
}

.token-claim__footnote {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.token-claim__in-progress > svg {
  padding: 5px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
}

.token-claim__in-progress-message {
  margin-left: var(--boxel-sp-xs);
}
