.boxel-left-edge-nav {
  display: grid;
  grid-template-rows: auto 1fr;
  align-items: center;
  justify-items: center;
  width: 80px;
  height: 100%;
  padding: 20px 0;
  background-color: var(--boxel-purple-800);
}

.boxel-left-edge-nav ul {
  display: grid;
  grid-auto-rows: 40px;
  gap: 20px;
  justify-items: center;
}

.boxel-left-edge-nav__top-btn-group {
  align-self: start;
}

.boxel-left-edge-nav__bottom-btn-group {
  align-self: end;
}

.boxel-left-edge-nav__user-icon {
  width: 40px;
  height: 40px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 100px;
  margin: 0 auto;
}
