.safe-option {
  display: grid;
  grid-template-columns: var(--boxel-sp-xxl) 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "logo name-and-type"
    "logo address";
  font-size: var(--boxel-font-size-sm);
}

.safe-option__logo {
  grid-area: logo;
  justify-self: center;
  align-self: center;
  margin-right: 0;
}

.safe-option__name-and-type {
  grid-area: name-and-type;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.safe-option__name {
  font-weight: 700;
}

.safe-option__type {
  color: var(--boxel-purple-500);
}

.safe-option__address {
  grid-area: address;
  font-family: var(--boxel-monospace-font-family);
  color: var(--boxel-purple-500);
}

.safe-option__id {
  color: var(--boxel-purple-500);
}
