.email-card-drop-success__card {
  max-width: 100%;
  aspect-ratio: 1.478;
  flex-shrink: 1;
}

.email-card-drop-success__heading,
.email-card-drop-success__newsletter {
  text-align: center;
}

.email-card-drop-success__heading {
  font-weight: 600;
}

.email-card-drop-success__newsletter {
  max-width: 25em;
}
