.scheduled-payment-time-bracket {
  margin-bottom: var(--boxel-sp-sm);
  background-color: transparent;
}

.scheduled-payment-time-bracket .boxel-header {
  padding: 0;
  margin-bottom: var(--boxel-sp-xs);
}

@media only screen and (max-width: 1556px) {
  .scheduled-payment-time-bracket__scheduled-payment-cards {
    display: flex;
  }
}