<section class="media-detail-section media-detail-section--{{@mode}}">
  <h3 class="media-detail-section__title">{{@title}}</h3>
  <div class="media-detail-section__contents">
    {{#each @fields as |field|}}
      <FieldRenderer
        @mode={{@mode}}
        @field={{field}}
      />
    {{/each}}
  </div>
</section>