<div class="photo">
  <div class="photo__img-container">
    <img src="/assets/images/{{@content.src}}" alt={{@content.altText}}>
  </div>
  <h4 class="photo__title">{{@content.title}}</h4>
  <div class="photo__created">Created {{@content.created}}</div>
</div>