<h1>Article's syndication preview</h1>
<LinkTo @route="article.edit" @model={{this.model}} @role="button">Back to Edit</LinkTo>
<LinkTo @route="article" @model={{this.model}} @role="button">View Article</LinkTo>