<FreestyleAnnotation @slug="milestone-banner">
  <p>
    <ul>
      <li><code>@title</code> (string)</li>
    </ul>
  </p>
</FreestyleAnnotation>

<FreestyleUsage @slug="milestone-banner">
  <Boxel::MilestoneBanner @title="Layout customized" />
</FreestyleUsage>