@import "base";
@import "cardstack-header";
@import "cardstack-toolbox";
@import "cs-toggle-switch";
@import "cs-field-overlays";
@import "cs-account-icon";
@import "theme";

:root {
    --deep-background: #000;
    --normal-background: #292A2C;
    --activating-background: #404040;
    --active-background: #545454;
    --light-background: #737373;

    --muted-foreground: #777;
    --rising-foreground: #aaa;
    --light-foreground: #F2F2F2;
    --bright-foreground: #fff;

    --tools-highlight: #63a9fa;
    --deep-tools-highlight: #032c5b;
    --faded-tools-highlight: #032c5b77;

    --tools-preview: #860404;
}

@font-face {
    font-family: 'Avenir';
    src: url('../@cardstack/tools/Avenir.ttc');
}

.cardstack-tools-launcher {
    background-color: black;
    cursor: pointer;
}

.cardstack-tools-launcher-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
}

/* these classes comes from the ember-sidebars addon. We need to
   increase the z-indices of the sidebars so they stay on top of the
   scrims provided by ember-overlays. */
.cst-right, .cst-top {
    z-index: 100;
}

.cardstack-toolbox {
    height: 100vh;

    /* no margin collapse */
    padding-top: 0.1px;
    padding-bottom: 0.1px;

    padding-left: 1px;
    background-color: var(--deep-background);
}

.cardstack-toolbox-width {
    width: 20rem;
}
