@import "base";
@import "cs-header";
@import "cs-editor-panel";
@import "cs-field-overlays";
@import "cs-toggle-switch";
@import "cs-account-icon";
@import "cs-tools";
@import "cs-tools-launcher";
@import "theme";


@font-face {
  font-family: 'Open Sans';
  src: url('../@cardstack/tools/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'Open Sans';
  src: url('../@cardstack/tools/OpenSans-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../@cardstack/tools/OpenSans-SemiBold.ttf');
  font-weight: 600;
}
