/*
   We apply this class at each place where our tools are embedded
   within the host site. It marks the transition from their theme to
   ours.

   It's the first file we import into our main stylesheet because
   everything else should have higher priority.
*/
.cardstack-tools {
    box-sizing: border-box;
    background-color: var(--deep-background);
    color: var(--bright-foreground);
    font-family: 'Open Sans', 'helvetica', sans-serif;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.1px;
    line-height: 1.375em;
    -webkit-font-smoothing: antialiased;
}
