:root {
    --cs-header-height: 30px;
}

.cardstack-header {
    height: var(--cs-header-height);
    background-color: var(--deep-background);
    display: flex;
}
.cardstack-header > section {
    margin-right: 1px;
}

.cardstack-header > section:last-child {
    margin-right: 0;
}

.cardstack-header > section.spacer {
    flex: 1;
}

.cs-admin-launcher {
    padding: 0.3em 0.5em 0 0.5em;
    min-width: 2em;
    text-align: center;
    line-height: calc(var(--cs-header-height) - 0.3em);
}
