.cardstack-tools-launcher {
    padding: 10px 15px;
    background-color: var(--normal-background);
    color: var(--bright-foreground);
    fill: var(--bright-foreground);
    border: 1px solid var(--light05);
    border-radius: 5px;
    box-shadow: 0 2px 15px 0 var(--dark50);
    cursor: pointer;
    transition: transform 250ms ease-in;
}

.cardstack-tools-launcher:hover,
.cardstack-tools-launcher:focus {
    outline: none;
    color: var(--active-foreground);
    fill: var(--active-foreground);
}

.cardstack-tools-launcher.active {
    transform: translate(20px, -15px);
}
