:root {
    --cs-header-height: 2.625em;
}

.cardstack-header {
    min-height: var(--cs-header-height);
    background-color: var(--deep-background);
    display: flex;
}
.cardstack-header > section {
    margin-right: 1px;
}

.cardstack-header > section:last-child {
    margin-right: 0;
}

.cardstack-header > section.spacer {
    flex: 1;
}

.cs-admin-launcher {
    padding: 0.3em 0.5em 0 0.5em;
    min-width: 2em;
    text-align: center;
    line-height: calc(var(--cs-header-height) - 0.3em);
}

.cs-branch-control {
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 0.75em;
    opacity: 0.6;
}

.cs-branch-control.enabled {
    opacity: initial;
}

.cs-branch-control > button {
    border-radius: 0px;
    border: 1px solid var(--bright-foreground);
    border-left-width: 0px;
    font-size: 0.6rem;
    line-height: 1.1em;
    padding: 0.6em 0.75em 0.4em 0.75em;
    background-color: var(--light-background);
    color: var(--deep-background);
    text-transform: uppercase;
    letter-spacing: 0.2px;
    transition: background-color 250ms ease;
    cursor: pointer;
    outline-width: 0;
}

.cs-branch-control > button.active {
    background-color: var(--bright-foreground);
    z-index: 1;
}

.cs-branch-control > button.active.preview {
    background-color: var(--tools-preview);
    color: var(--bright-foreground);
}

.cs-branch-control > button:first-child {
    border-left-width: 1px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.cs-branch-control > button:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
