@import "cs-version-control";

.cs-content-info {
    padding: 0.75em 0.75em 10px;
    background-color: var(--active-background);
}
.cs-content-info > svg {
    float: left;
    margin-right: 1em;
    fill: var(--bright-foreground);
}

.cs-content-info > .content-type {
    font-size: 10px;
    line-height: 11px;
    letter-spacing: .05em;
    opacity: .6;
    text-transform: uppercase;
    margin: 0 0 2px;
    font-weight: 100;
}

.cs-content-info > .content-title {
    font-size: 12px;
    margin: 0;
}

.cs-toolbox-section {
    margin: 0;
}

.cs-toolbox-section > header {
    user-select: none;
    margin: 0px;
    padding: .75em .75em .5em;
    background-color: var(--light-background);
    border-top: 1px solid var(--normal-background);
    overflow: hidden;
    cursor: pointer;
    color: white;
    fill: rgba(204,204,204,1);
}

.cs-toolbox-section.closed > header {
    background-color: var(--activating-background);
    font-weight: bold;
    border-top: 1px solid var(--deep-background);
    color: rgba(250,250,250,.2);
    fill: rgba(250,250,250,.2);
}

.cs-toolbox-section.closed > header:hover {
    background-color: var(--active-background);
    color: rgba(250,250,250,.5);
    fill: rgba(250,250,250,.5);
}

.cs-toolbox-section > header > label {
    float: left;
    cursor: pointer;
    font-size: .75em;
}

.cs-toolbox-section > header > button {
    height: 16px;
    width: 16px;
    margin-top: 2px;
    border-radius: 2px;
    background-color: var(--normal-background);
    float: right;
    border: none;
    padding: 0;
    cursor: pointer;
}

.cs-toolbox-section > header > button:focus {
    outline: none;
}

.cs-toolbox-section > header > button > svg {
    width: 8px;
    height: 10px;
    transition: transform 250ms ease;
}

.cs-toolbox-section.closed > header > button > svg {
    transform: rotate(-90deg);
}

.cs-active-composition-panel {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.cs-active-composition-panel > div {
    flex: 1;
    overflow-y: scroll;
}

.cs-field-editor-section {
    padding: 0.75em;
    margin: 0;
    background-color: var(--bright-foreground);
    color: var(--normal-background);
}

.cs-create-menu > ul {
    background-color: var(--bright-foreground);
    list-style-type: none;
    line-height: 2em;
    overflow: hidden;
    padding: .25em 1em;
    margin: 0;
}

.cs-create-menu > ul > li {
    overflow: hidden;
    margin: 1em 0;
    color: #7d7d7d;
    font-size: 12px;
    font-weight: 100;
    cursor: pointer;
}

.cs-create-menu > ul > li:hover {
    color: var(--deep-background);
}

.cs-create-menu > ul > li > button {
    float: right;
    padding: .5em 1em;
    font-size: 0.75rem;
    background-color: #F2F2F2;
    border: 1px solid #cacaca;
    color: #737373;
    padding: .5em 2.5em;
    border-radius: 3px;
    text-decoration: none;
    cursor: pointer;
    font-weight: normal;
    font-family: inherit;
    outline-width: 0;
}

.cs-create-menu > header {
    padding: 1em 1em 0.833em;
    background-color: var(--active-background);
    font-size: 0.75rem;
    color: #fff;
    user-select: none;
    cusor: default;
}

.cs-create-menu > ul > li:hover > button {
    border-color: #292A2C;
    color: #292A2C;
}
