.cs-account-icon {
    opacity: 1;
    cursor: pointer;
    width: 18px;
    hight: 15px;
    pointer-events: all;
}

.cs-account-icon .cross1 {
    transform: translate(0px, 0px) rotate(0deg);
    transition: all .2s linear;
}
.cs-account-icon .cross2 {
    transform: translate(0px, 8px) rotate(-90deg);
    transition: all .2s linear;
}
.cs-account-icon .line {
    transform: translate(0px, 0px);
    transition: all .2s ease-in;
}
.cs-account-icon:hover .cross1, .cs-account-icon.open .cross1 {
    transform: translate(8.3px, -3.8px) rotate(45deg) scale(2,2);
    transition: all .2s linear;
}

.cs-account-icon:hover .cross2, .cs-account-icon.open .cross2 {
    transform: translate(-2.5px, 7.5px) rotate(-45deg) scale(2,2);
    transition: all .2s linear;
}

.cs-account-icon:hover .line, .cs-account-icon.open .line {
    transform: translate(20px, 0px);
    transition: all .2s ease-in;
}
