.cs-active-composition-panel {
    box-sizing: border-box;
    width: 100%;
    background-color: var(--deep-background);
    color: var(--bright-foreground);
    border-radius: 5px;
    margin-bottom: 65px;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 2;
}

.cs-active-composition-panel--header {
    position: relative;
    width: 100%;
    padding: 1em;
    background-color: var(--normal-background);
    color: var(--bright-foreground);
    border: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 16px;
}

.cs-active-composition-panel--parameters {
    padding: 1.25rem 1.25rem 0;
}

.cs-active-composition-panel--title {
    margin: 0;
    padding-bottom: 1em;
    color: var(--bright-foreground);
    font-size: 12px;
    font-weight: 600;
    line-height: 17px;
    text-transform: capitalize;
}

.cs-active-composition-panel--title svg {
    margin-right: 5px;
    display: inline-block;
    vertical-align: text-top;
    fill: var(--active-foreground);
}

.cs-active-composition-panel--flex-slot {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
}

.cs-active-composition-panel--scroll-wrapper {
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right :0;
}

.cs-active-composition-panel--main {
    padding: 1.25rem;
}

.cs-active-composition-panel--main:after {
    content: ' ';
    display: block;
    width: 100%;
    height: 20px;
}

.cs-field-editor-section--label {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: var(--light50);
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}

.cs-active-composition-panel--field-editor > .field-editor > input {
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--light-background);
    color: var(--dark-foreground);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}
