.cs-active-composition-panel {
    box-sizing: border-box;
    width: 100%;
    min-height: 25rem;
    max-height: 85%;
    background-color: var(--normal-background);
    color: var(--bright-foreground);
    border: 1px solid var(--light05);
    border-radius: 20px;
    box-shadow: 0 2px 15px 0 var(--dark50);
}

.cs-active-composition-panel--main {
    padding-bottom: 5em;
    overflow-y: scroll;
}

.cs-content-info {
    display: flex;
    padding: 2em 1em;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.cs-content-info > svg {
    width: 1.4em;
    margin-right: 1em;
    fill: var(--bright-foreground);
}

.cs-content-info > div {
    max-width: 16em;
}

.cs-content-info .content-type {
    font-size: 0.69em;
    line-height: 1.36;
    letter-spacing: 1px;
    opacity: 0.5;
    text-transform: uppercase;
    margin: 0 0 2px;
    font-family: 'Open Sans Bold';
    font-weight: bold;
}

.cs-content-info .content-title {
    margin: 0;
    font-size: 0.9em;
    line-height: 1.38;
    letter-spacing: 0.1px;
}

.cs-toolbox-section {
    margin: 0;
    border-top: 1px solid var(--light25);
    color: var(--bright-foreground);
    font-size: 0.9em;
}

.cs-toolbox-section:first-of-type {
    border-top: none;
}

.cs-toolbox-section:last-of-type {
    border-bottom: 1px solid var(--light25);
}

.cs-toolbox-section.opened {
    background-color: var(--active-background);
}

.cs-toolbox-section.invalid > header {
    border: 2px solid var(--error-border);
}

.cs-field-editor-section {
    margin: 0;
    padding: 0.5rem 0.75em;
}

.cs-field-editor-section--label {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: var(--light50);
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}
