.cs-collapsible-section {
    margin: 0;
    padding-bottom: 0.5rem;
}

.cs-collapsible-section.invalid {
    border: 2px solid var(--error-border);
}

.cs-collapsible-section--title {
    padding-bottom: 0.5rem;
    font-family: 'Open Sans';
    font-size: 12px;
    letter-spacing: 0.3px;
    line-height: 15px;
}
