.cs-editor-switch {
    position: absolute;
    right: 14px;
    top: 14px;
    margin: 0;
    padding: 0;
    width: 3em;
    height: 3em;
    background: var(--gradient-fg);
    color: var(--bright-fg);
    fill: var(--bright-fg);
    border: none;
    border-radius: 50%;
    box-shadow: 0 2px 15px 0 var(--dark50);
    font-size: 16px;
    cursor: pointer;
    z-index: 1;
}

.cs-editor-switch:hover,
.cs-editor-switch:focus {
    outline: none;
    color: var(--active-fg);
    fill: var(--active-fg);
}

.cs-editor-switch.enabled {
    background: var(--light-bg);
    color: var(--purple-fg);
    fill: url(#gradient-fill) var(--purple-fg);
}

.cs-editor-switch.enabled:hover,
.cs-editor-switch.enabled:focus {
    outline: none;
    background: black;
    color: var(--active-fg);
    fill: var(--active-fg);
}

.cs-editor-switch.disabled:hover::before {
    position: absolute;
    display: block;
    clear: both;
    content: 'Edit Page';
    margin-left: -70px;
    color: var(--light50);
    font-size: 14px;
}

.cs-editor-switch.enabled:hover::before {
    position: absolute;
    display: block;
    clear: both;
    content: 'Done Editing';
    margin-left: -90px;
    color: var(--light50);
    font-size: 14px;
}
