@import "cs-mode-button";
@import "cs-create-menu";
@import "cs-create-button";
@import "cs-insert-button";
@import "cs-active-composition-panel";
@import "cs-version-control";
@import "cs-field-editor";
@import "cs-collapsible-section";
@import "cs-placeholder-create";

.cs-editor-panel {
  display: flex;
  align-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;

  position: relative;
  width: var(--cs-editor-panel-width, 22em);
  min-height: 100vh;
  padding: 1.5em 1.5em 1.5em 1em;
}
