.cs-field-overlay.show-overlay {
  z-index: 1;
}

.cs-field-overlay .overlay-label,
.cs-content-overlay .overlay-label {
  display: none;
}

.cs-field-overlay .overlay-border,
.cs-content-overlay .overlay-border {
  border: 2px dotted var(--overlays-highlight);
}

.cs-field-overlay.with-inline-editor .overlay-label,
.cs-field-overlay.passthrough .overlay-label {
  display: inline-block;
  padding: 0.4em 0.7em;
  background-color: var(--overlays-highlight);
  color: var(--overlays-foreground);
  font-size: 12px;
  font-weight: 600;
  line-height: 17px;
  text-transform: capitalize;
}

.cs-field-overlay.with-inline-editor .overlay-border,
.cs-field-overlay.passthrough .overlay-border {
  border-style: solid;
}

.cs-field-overlay.passthrough,
.cs-field-overlay.passthrough > .overlay-border {
  pointer-events: none;
}

.cs-field-overlay.passthrough > * {
  pointer-events: auto;
}
