.cs-field-editor {
    padding-bottom: 0.5rem;
}

.cs-field-editor input,
.cs-field-editor select,
.cs-field-editor button {
  font-family: 'Open Sans';
}

.cs-field-editor > .field-editor > input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--light-background);
    color: var(--dark-foreground);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}

.cs-field-editor > .field-editor > input:focus {
    border-color: var(--active-foreground);
    outline: none;
}

.cs-field-editor > .field-editor > input[type="number"] {
    width: auto;
}

.cs-field-editor .ember-power-select-selected-item {
    color: var(--dark-foreground);
}

.cs-field-editor-button {
    width: 100%;
    padding: 0.7rem;
    fill: var(--bright-foreground);
    color: var(--bright-foreground);
    background: none;
    border: 1px solid var(--light25);
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}

.cs-field-editor-button:hover,
.cs-field-editor-button:focus {
    outline: none;
    fill: var(--active-foreground);
    color: var(--active-foreground);
    border-color: var(--light50);
}

.cs-field-editor-text-button {
    padding: 0;
    background: none;
    border: none;
    color: var(--bright-foreground);
    font-size: 0.75rem;
    line-height: 1;
    text-decoration: underline;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
}

.cs-field-editor-text-button:hover,
.cs-field-editor-text-button:focus {
    outline: none;
    fill: var(--active-foreground);
    color: var(--active-foreground);
}

.cs-field-editor-delete-button:hover,
.cs-field-editor-delete-button:focus {
    outline: none;
    fill: var(--hot-pink-foreground);
    color: var(--hot-pink-foreground);
}
