.cs-field-editor {
    padding-bottom: 0.5rem;
}

.cs-field-editor input {
    width: 100%;
    box-sizing: border-box;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--dark-bg);
    color: var(--bright-fg);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}

.cs-field-editor input:focus {
    border-color: var(--active-fg);
    outline: none;
}

.cs-field-editor input[type="number"] {
    width: auto;
}

/* overrides ember-power-select styles for cs-field-editor-section */
.cs-field-editor .ember-power-select-trigger {
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--dark-bg);
    color: var(--bright-fg);
}

.cs-field-editor .ember-power-select-trigger:focus {
    border-color: var(--active-fg);
    outline: none;
}
