.cs-insert-button {
    margin-bottom: 0.5rem;
    padding: 10px;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background: none;
    color: var(--bright-fg);
    fill: var(--bright-fg);
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.cs-insert-button:hover,
.cs-insert-button:focus {
    border-color: var(--bright-fg);
    outline: none;
}

.cs-insert-button--icon {
    display: inline-block;
    margin-right: 5px;
}
