.cs-mode-button {
    position: absolute;
    right: 74px;
    bottom: 14px;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: var(--bright-fg);
    cursor: pointer;
}

.cs-mode-label {
    color: var(--light50);
    display: inline-block;
    padding: 10px;
    font-size: 0.875em;
    cursor: pointer;
}

.cs-mode-button--background {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 3em;
    height: 3em;
    background: var(--normal-bg);
    color: var(--bright-fg);
    fill: var(--bright-fg);
    border-radius: 50%;
    box-shadow: 0 2px 15px 0 var(--dark50);
    font-size: 16px;
    cursor: pointer;
}

.cs-mode-button:hover > .cs-mode-button--background,
.cs-mode-button:focus > .cs-mode-button--background {
    color: var(--active-fg);
    fill: var(--active-fg);
}
