.cs-placeholder-create {
    display: flex;
    justify-content: flex-end;
}

.cs-placeholder-create > button {
    line-height: 1.5em;
    margin: 0.5em 0.3em;
    padding: .4em 1.4em .4em;
    border: none;
    border-radius: 4px;
    background-color: var(--bright-foreground);
    font-size: .8em;
    cursor: pointer;
    outline-width: 0;
}

.cs-placeholder-create > button:hover {
    background-color: var(--light-foreground);
}
