.cs-toggle-switch {
    display: inline-block;
    position: relative;
    top: 0;
    width: 4.5em;
    margin: 0;
    padding: 0.3em;
    background-color: var(--deep-background);
    border: 1px solid var(--light25);
    border-radius: 3px;
    font-weight: bold;
    text-transform: uppercase;
    user-select: none;
    cursor: pointer;
}
.cs-toggle-switch.disabled {
    opacity: 0.6;
}
.cs-toggle-switch > .slider {
    position: relative;
    box-sizing: border-box;
    width: 3em;
    padding: 0.5em 0.4em;
    background-color: var(--light-background);
    color: var(--normal-foreground);
    border-radius: 3px;
    font-size: 0.6em;
    line-height: 1.1em;
    text-align: center;
    transition: transform 250ms ease, background-color 250ms ease;
}
.cs-toggle-switch > .slider-right {
    transform: translateX(100%);
}
