.cs-version-control-footer {
    margin: 0 0 .75em 0;
    border-top: 1px solid var(--light-foreground);
}

.cs-version-control-footer > .text-button {
    margin-top: .4em;
    display: inline-block;
    font-size: 0.75rem;
    cursor: pointer;
    user-select: none;
    text-decoration: underline;
    color: var(--rising-foreground);
}

.cs-version-control-footer > .text-button:hover {
    color: var(--deep-background);
}

.cs-version-control-footer > button {
    float: right;
    background-color: var(--tools-highlight);
    border: 1px solid var(--deep-tools-highlight);
    color: var(--bright-foreground);
    padding: .5em 2.5em;
    border-radius: 3px;
    cursor: pointer;
    font-size: 0.75rem;
}

.cs-version-control-footer > button[disabled] {
    background-color: var(--light-foreground);
    border-color: #cacaca;
    color: var(--light-background);
    cursor: initial;
}
