.cs-version-control-header-fields .cs-field-editor-section {
    padding: 0;
}

.cs-version-control-header-fields .cs-field-editor {
    padding-bottom: 0;
}

.cs-version-control-header-fields--top-fields {
    margin-top: .5rem;
}

.cs-version-control-header-fields .cs-field-editor > .field-editor > input[type="number"] {
    width: 100%;
}

.cs-version-control-header-fields .cs-field-editor > .field-editor > input {
    margin-bottom: .5rem;
    padding-left: .5rem;
    padding-right: .5rem;
}

.cs-version-control-dropdown {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.6rem;
    background-color: var(--deep-background);
    border-radius: 5px;
    cursor: pointer;
    user-select: none;
}

.cs-version-control-dropdown-option {
    color: var(--bright-foreground);
    font-size: 0.8em;
    text-transform: uppercase;
}

.cs-version-control-dropdown-option--status {
    display: inline-block;
    padding-right: 0.5em;
    font-family: 'Open Sans Bold';
    font-weight: bold;
}

.cs-version-control-dropdown-option--status.draft,
.cs-version-control-dropdown-option--status.edited {
    color: var(--hot-pink-foreground);
}

.cs-version-control-dropdown-option--status.published {
    color: var(--green-foreground);
}

.cs-version-control-dropdown-option--timestamp {
    display: inline-block;
    padding-right: 0.5em;
}

.cs-version-control-dropdown--button {
    width: 20px;
    height: 20px;
    padding: 0;
    border: none;
    background: none;
    fill: var(--bright-foreground);
}

.cs-version-control-dropdown--button:hover,
.cs-version-control-dropdown--button:focus {
    outline: none;
    fill: var(--active-foreground);
}

.cs-version-control-footer {
    text-align: right;
}

.cs-version-control-footer--button-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.cs-version-control--button {
    width: 47%;
    height: 2.5rem;
    padding: 0.7rem;
    color: var(--bright-foreground);
    background: none;
    border: 1px solid var(--light25);
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}

.cs-version-control--button:hover,
.cs-version-control--button:focus {
    outline: none;
    border-color: var(--light50);
    color: var(--active-foreground);
}

.cs-version-control--button[disabled],
.cs-version-control--button.disabled {
    background: none;
    border: 1px solid var(--light25);
    color: var(--light25);
    cursor: initial;
}

.cs-version-control--button-save.enabled {
    background-color: var(--deep-background);
    border: none;
}

.cs-version-control--delete-button {
    display: inline;
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--bright-foreground);
    font-size: 0.75rem;
    line-height: 1;
    text-align: right;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.cs-version-control--delete-button:hover,
.cs-version-control--delete-button:focus {
    outline: none;
    color: var(--hot-pink-foreground);
}

.cs-version-control--loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.cs-version-control--loading:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid var(--tools-highlight);
    border-color: var(--tools-highlight) transparent var(--tools-highlight) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
