.cs-version-control--header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
}

.cs-version-control--status {
    padding: 3px 1.5rem;
    background-color: var(--deep-background);
    border: none;
    border-radius: 11.5px;
    color: var(--hot-pink-foreground);
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
}

.cs-version-control--status.saved {
    color: var(--green-foreground);
}

.cs-version-control--footer {
    display: flex;
    flex-flow: row nowrap;
    flex: 1;
    align-items: center;
    justify-content: space-between;
    text-align: right;
}

.cs-version-control--button {
    flex: 0.45;
    height: 2.5rem;
    padding: 0.7rem;
    color: var(--bright-foreground);
    background: none;
    border: 1px solid var(--light25);
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}

.cs-version-control--button:hover,
.cs-version-control--button:focus {
    outline: none;
    border-color: var(--light50);
    color: var(--active-foreground);
}

.cs-version-control--button[disabled],
.cs-version-control--button.disabled {
    background: none;
    border: 1px solid var(--light25);
    color: var(--light25);
    cursor: initial;
}

.cs-version-control--button-save.enabled {
    background-color: var(--deep-background);
    border: none;
}

.cs-version-control--delete-button {
    display: inline;
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--bright-foreground);
    font-size: 0.75rem;
    line-height: 1;
    text-align: right;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.cs-version-control--delete-button:hover,
.cs-version-control--delete-button:focus {
    outline: none;
    color: var(--hot-pink-foreground);
}

.cs-version-control--loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.cs-version-control--loading:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid var(--active-foreground);
    border-color: var(--active-foreground) transparent var(--active-foreground) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
