.cs-version-control-dropdown {
    position: relative;
    padding: 0.6em;
    background-color: var(--dark-bg);
    border-radius: 5px;
}

.cs-version-control-dropdown-option {
    color: var(--bright-fg);
    font-size: 0.8em;
    text-transform: uppercase;
}

.cs-version-control-dropdown-option--status {
    display: inline-block;
    padding-right: 1em;
    font-weight: bold;
}

.cs-version-control-dropdown-option--status.draft,
.cs-version-control-dropdown-option--status.edited {
    color: var(--hot-pink-fg);
}

.cs-version-control-dropdown-option--status.published {
    color: var(--green-fg);
}

.cs-version-control-dropdown-option--timestamp {
    display: inline-block;
}

.cs-version-control-dropdown--button {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.6rem;
    border: none;
    background: none;
    fill: var(--bright-fg);
}

.cs-version-control-dropdown--button:hover,
.cs-version-control-dropdown--button:focus {
    outline: none;
    fill: var(--active-fg);
}

.cs-version-control-footer {
    text-align: right;
}

.cs-version-control-footer--button-area {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    padding: 1em 0;
}

.cs-version-control--button {
    width: 47%;
    height: 2.5rem;
    padding: 0.7rem;
    color: var(--bright-fg);
    background: none;
    border: 1px solid var(--light25);
    border-radius: 3px;
    font-size: 0.9rem;
    cursor: pointer;
}

.cs-version-control--button:hover,
.cs-version-control--button:focus {
    outline: none;
    border-color: var(--light50);
    color: var(--active-fg);
}

.cs-version-control--button[disabled],
.cs-version-control--button.disabled {
    background: none;
    border: 1px solid var(--light25);
    color: var(--light25);
    cursor: initial;
}

.cs-version-control--button-save.enabled {
    background-color: var(--dark-bg);
    border: none;
}

.cs-version-control--delete-button {
    display: inline;
    padding: 0.5rem;
    background: none;
    border: none;
    color: var(--bright-fg);
    font-size: 0.75rem;
    line-height: 1;
    text-align: right;
    text-decoration: underline;
    user-select: none;
    cursor: pointer;
}

.cs-version-control--delete-button:hover,
.cs-version-control--delete-button:focus {
    outline: none;
    color: var(--hot-pink-fg);
}

.cs-version-control--loading {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}
.cs-version-control--loading:after {
    content: " ";
    display: block;
    width: 16px;
    height: 16px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid var(--tools-highlight);
    border-color: var(--tools-highlight) transparent var(--tools-highlight) transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
