/*
  We don't have proper theming, in the sense of letting things like
  field plugins access the current theme and adopt it while under
  their own control. This file contains the places where I'm currently
  imposing styles down into pluggable components, which should get
  replaced by a real theme protocol.
*/

.cs-field-editor-section label {
    display: inline-block;
    padding-bottom: 0.5rem;
    color: var(--light50);
    font-size: 0.9rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}

.cs-field-editor-section input {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--dark-bg);
    color: var(--bright-fg);
    font-size: 0.8rem;
    letter-spacing: 0.3px;
    line-height: 1.375;
}

.cs-field-editor-section input:focus {
    border-color: var(--active-fg);
    outline: none;
}

.cs-field-editor-section input[type="number"] {
    width: auto;
}

/* overrides ember-power-select styles for cs-field-editor-section */
.cs-field-editor-section .ember-power-select-trigger {
    margin-bottom: 0.5rem;
    padding: 0.5rem 1rem 0.5rem 0.5rem;
    border: 1px solid var(--light25);
    border-radius: 3px;
    background-color: var(--dark-bg);
    color: var(--bright-fg);
}

.cs-field-editor-section .ember-power-select-trigger:focus {
    border-color: var(--active-fg);
    outline: none;
}

.cs-field-editor-section .cs-toggle-switch {
    display: block;
}

.cs-mobiledoc-overview > ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

.cs-mobiledoc-overview > ol > li {
    display: block;
    border: 1px solid var(--light-foreground);
    color: var(--light-background);
    fill:  var(--light-background);
    cursor: pointer;
    padding: .5em 0.75em;
    margin: 0 0 .5em;
    border-radius: 3px;
    font-weight: 100;
    font-size: 12px;
    cursor: -webkit-grab;
    white-space: nowrap;
    overflow: hidden;
    position: relative;
}

.cs-mobiledoc-overview > ol > li > svg {
    right: 0.75em;
    position: absolute;
    top: 1em;
}

.cs-mobiledoc-overview > ol > li:hover {
    background-color: var(--tools-highlight);
    border-color: var(--tools-highlight);
    color: var(--bright-foreground);
    fill:  var(--bright-foreground);
}

.cs-mobiledoc-overview > ol > li:last-child {
    margin-bottom: 0;
}

.cs-mobiledoc-overview > ol > li.quotes-content {
    font-style: italic;
}

.cs-mobiledoc-overview > ol > li.quotes-content:before {
    content: "\201C";
}

.cs-mobiledoc-inline-field-editor {
    width: 100%;
    height: 100%;
    background-color: var(--bright-foreground);
    color: var(--deep-background);
    padding: 0.1em; /* needed to stop margin collapse */
}
