.nested-depot-balance-chooser {
  grid-template-columns: 3.5rem 1fr;
  row-gap: 0;
}

.nested-depot-balance-chooser__nested-items {
  grid-column: 2;
  grid-row: 2;
}

.nested-depot-balance-chooser__nested-dropdown {
  --arrow-space: 2.5rem;

  margin-top: var(--boxel-sp-sm);
  padding-left: calc(var(--arrow-space) + var(--boxel-sp-xs));
  background-image: url("/images/icons/curve-arrow.svg");
  background-repeat: no-repeat;
  background-position: left center;
  background-size: var(--arrow-space) 14px;
}
