.collection__wrapper {
  height: calc(100vh - 132px);
  padding: 0 30px 30px;
  overflow: hidden;
}

.collection-edit-modal {
  --modal-max-width: 1300px;
}


/* Breadcrumbs */
.breadcrumbs {
  padding: 20px 0;
  display: inline-grid;
  grid-auto-flow: column;
}

.breadcrumbs__pill {
  height: 30px;
  padding: 5px 20px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  border: var(--boxel-border);
  border-radius: 100px;
  background-color: white;
  color: black;
  outline: 0;
}

.breadcrumbs__pill:hover {
  cursor: pointer;
}

.breadcrumbs__pill--current {
  background-color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
}

.breadcrumbs__carot {
  width: 30px;
  height: 30px;
  background: url(/assets/images/icons/carot.svg) center/7px no-repeat;
}


/* Collection Item Wrapper + Actions */
.collection__boxel {
  width: 100%;
  border-radius: var(--boxel-border-radius);
}

.media-collection__grid-item:hover .collection__boxel,
.collection__boxel:hover,
.collection__boxel:focus-within {
  border-color: rgba(0, 0, 0, 0.05);
}

.media-collection__grid-item:hover .collection__highlighter,
.collection__boxel:hover .collection__highlighter,
.collection__boxel:focus-within .collection__highlighter {
  box-shadow: var(--boxel-box-shadow);
  outline: 0;
}

.collection__select-btn {
  visibility: collapse;
}

.media-collection__grid-item:hover .collection__select-btn,
.collection__select-btn--selected,
.collection__select-btn:hover,
.collection__select-btn:focus,
.collection__boxel:hover + .collection__select-btn,
.collection__boxel:focus-within + .collection__select-btn {
  visibility: visible;
}

.collection__play-btn {
  display: none;
  position: relative;
  top: 61px;
  background: none;
  border: none;
  padding: 0;
  z-index: 1;
}

.media-collection__grid-item:hover .collection__play-btn,
.collection__boxel:hover .collection__play-btn,
.collection__boxel:focus-within .collection__play-btn {
  display: inline-block;
}


/* Collection Item */
.collection {
  display: grid;
  grid-auto-rows: max-content;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  border-radius: var(--boxel-border-radius);
  border: 1px solid transparent;
  min-height: 280px;
}

.collection--edit {
  background-color: white;
  border-color: var(--boxel-border-color);
}

.collection__title {
  padding-top: 9px;
  padding-bottom: 3px;
  font: var(--boxel-font);
  font-weight: 400;
  letter-spacing: var(--boxel-lsp);
}

.collection__artist {
  color: #6B6A80;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.collection__img {
  width: 182px;
  height: 182px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
