.collection__wrapper {
  height: 100%;
  padding: 0 30px 30px;
  overflow: hidden;
}

.collection-edit-modal {
  --modal-max-width: 1300px;
}


/* Collection Item Wrapper + Actions */
.collection__boxel {
  width: 100%;
  border-radius: var(--boxel-border-radius);
}

.media-collection__grid-item:hover .collection__boxel,
.collection__boxel:hover,
.collection__boxel:focus-within {
  border-color: rgba(0, 0, 0, 0.05);
}

.media-collection__grid-item:hover .collection__highlighter,
.collection__boxel:hover .collection__highlighter,
.collection__boxel:focus-within .collection__highlighter {
  box-shadow: var(--boxel-box-shadow);
  outline: 0;
}

.collection__select-btn {
  visibility: collapse;
}

.media-collection__grid-item:hover .collection__select-btn,
.collection__select-btn--selected,
.collection__select-btn:hover,
.collection__select-btn:focus,
.collection__boxel:hover + .collection__select-btn,
.collection__boxel:focus-within + .collection__select-btn {
  visibility: visible;
}

.collection__play-btn {
  display: none;
  position: relative;
  top: 61px;
  background: none;
  border: none;
  padding: 0;
  z-index: 1;
}

.media-collection__grid-item:hover .collection__play-btn,
.collection__boxel:hover .collection__play-btn,
.collection__boxel:focus-within .collection__play-btn {
  display: inline-block;
}


/* Collection Item */
.collection {
  display: grid;
  grid-auto-rows: max-content;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  border-radius: var(--boxel-border-radius);
  border: 1px solid transparent;
  min-height: 280px;
}

.collection--edit {
  background-color: white;
  border-color: var(--boxel-border-color);
}

.collection__title {
  padding-top: 9px;
  padding-bottom: 3px;
  font: var(--boxel-font);
  font-weight: 400;
  letter-spacing: var(--boxel-lsp);
}

.collection__artist {
  color: #6B6A80;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.collection__img {
  width: 182px;
  height: 182px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


/* List item view */
.collection--list {
  --list-view-item-height: 120px;
  --list-view-img-size: 80px;

  height: var(--list-view-item-height);
  min-height: auto;
  gap: 20px;
  padding: 20px;
  border-color: var(--boxel-border-color);
  letter-spacing: var(--boxel-lsp);
  text-align: left;
}

.collection--list.collection--edit {
  gap: 10px;
}

.collection--list .collection__img {
  width: var(--list-view-img-size);
  height: var(--list-view-img-size);
}

.collection__list-field {
  grid-row: 1;
  min-width: 150px;
  font: var(--boxel-font-sm);
}

.collection--list .collection__main {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.collection--list .collection__title-desc,
.collection__list-field--0 {
  width: 250px;
}

.collection__list-field-label {
  font-weight: bold;
  text-transform: uppercase;
}

.collection--list .collection__title,
.collection--list .collection__artist {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collection--list .collection__title {
  padding-top: 0;
  font-size: 18px;
  font-weight: bold;
}

.collection--list .collection__title + .collection__artist {
  margin-top: 5px;
}

.collection--list .collection__artist {
  color: black;
}

.collection--list .collection__play-btn {
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
}

.collection--list .collection__play-btn > svg {
  width: 30px;
  height: 30px;
}

.collection__list {
  grid-row: 1;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}
