/* Includes breadcrumbs */
.item__wrapper {
  max-width: 1360px;
  /* height: calc(100vh - 132px); */
  padding: 0 30px;
  z-index: 1;
}

.item__wrapper--no-scroll {
  overflow: hidden;
}

/* Includes sidebar */
.item__main {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 35px;
  padding-bottom: 30px;
}

.item__sidebar {
  min-width: 350px;
  padding-right: 30px;
}

.item__sidebar-title {
  padding-bottom: 25px;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
}

.item__sidebar-cards > * + * {
  margin-top: 15px;
}

/* Header + sections */
.item {
  max-width: 940px;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxel-box-shadow);
}


/* Header */
.item__header {
  background-color: #AFAFB7;
  background-image: var(--blurhash-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px 10px 0 0;
}

.item__header-content {
  max-width: 945px;
  max-height: 370px;
  padding: 60px 50px 50px;
  display: grid;
  grid-template:
    "img title"   2fr
    "img artist"  1fr
    "img details" 1fr / minmax(160px, 260px) 1fr;
  gap: 0 20px;
  backdrop-filter: brightness(0.75) blur(50px) contrast(1.2);
  border-radius: 10px 10px 0 0;
}

.item__img {
  grid-area: img;
  align-self: center;
  position: relative;
  height: 0;
  padding-top: 100%;
  background-image: url('/media-registry/placeholders/album_art.svg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.item__play-btn {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  padding: 0;
}

.item__header-details {
  grid-area: details;
  align-self: end;
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 40px;
}

.item__title {
  grid-area: title;
  align-self: end;
  color: white;
  font: var(--boxel-font-lg);
  font-weight: 600;
  letter-spacing: 0;
}

.item__artist {
  grid-area: artist;
  color: white;
  font: var(--boxel-font);
  font-weight: normal;
  letter-spacing: var(--boxel-lsp);
}


/* Sent to field renderer */
.item-header-field.field-renderer {
  grid-template-columns: auto;
  gap: 3px;
  padding: 0;
  justify-items: start;
  white-space: nowrap;
}

.item-header-field .field-renderer__title {
  color: white;
  font: var(--boxel-font-xs);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.item-header-field .field-renderer__value {
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}
