/* Sticky header */
.item-edit__sticky-header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px 20px;
  padding: 20px 30px 20px 40px;
  background-color: white;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 10px 10px 0 0;
}

/* Body scroll container */
.item-edit__scroll-container {
  height: calc(100vh - 90px - 30px);
  padding-bottom: 30px;
  overflow: auto;
}

/* Body container with bg */
.item-edit__body-plate {
  padding-bottom: 65px;
  background-color: white;
  border-radius: 0 0 10px 10px;
}


.item-edit__title {
  color: #393642;
  font: var(--boxel-font-med);
  font-weight: bold;
  letter-spacing: 0;
}

.item-edit__description {
  color: #393642;
  font: var(--boxel-font-sm);
  font-weight: normal;
  letter-spacing: var(--boxel-lsp);
}

.item-edit__title + .item-edit__description {
  margin-top: 5px;
}
