.withdrawal-workflow-check-balance__display-box {
  border: 1px solid var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
  margin: var(--boxel-sp-lg) var(--boxel-sp);
  padding: var(--boxel-sp-lg) var(--boxel-sp);
}

.withdrawal-workflow-check-balance__details {
  --inner-indent: var(--boxel-sp);
}

.withdrawal-workflow-check-balance__balance-container {
  display: flex;
  justify-content: space-between;
}

.withdrawal-workflow-check-balance__balance {
  flex: 0 1 auto;
}

.withdrawal-workflow-check-balance.is-sufficient .withdrawal-workflow-check-balance__balance {
  --large-text-color: var(--boxel-success-300);
  --small-text-color: var(--boxel-success-300);
}

.withdrawal-workflow-check-balance.is-insufficient .withdrawal-workflow-check-balance__balance {
  --large-text-color: var(--boxel-error-100);
  --small-text-color: var(--boxel-error-100);
}

.withdrawal-workflow-check-balance__result-icon {
  flex: 0 0 auto;
  margin-top: var(--boxel-sp-xxs);
}

.withdrawal-workflow-check-balance__disclaimer {
  margin: var(--boxel-sp) var(--boxel-sp-xl);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
}
