<div class="EditForm">
  <@card.component @set={{this.set}}/>

  <div>
    <button data-test-modal-save {{on 'click' @save}}>Save</button>
    <button data-test-modal-cancel {{on 'click' @cancel}}>Cancel</button>
  </div>
</div>