.card-pay-workflow-connect-layer-one {
  filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.15));
}

.card-pay-workflow-connect-layer-one__body {
  padding: 0 var(--boxel-sp-lg);
}

.card-pay-workflow-connect-layer-one__body-header {
  display: flex;
  align-items: center;
  padding: var(--boxel-sp-xl) 0;
  font-size: 1.125rem;
  font-weight: 600;
}

.card-pay-workflow-connect-layer-one__body-header-logo {
  width: 2.5rem;
  height: 2.5rem;
  margin-left: auto;
}

.card-pay-workflow-connect-layer-one__wallet-provider-selection {
  margin-bottom: var(--boxel-sp-xl);
}

.card-pay-workflow-connect-layer-one__connection {
  display: flex;
  align-items: center;
  padding: var(--boxel-sp);
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
  margin-top: var(--boxel-sp-lg);
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.15));
}

.card-pay-workflow-connect-layer-one__connection-icons {
  display: flex;
  align-items: center;
}

.card-pay-workflow-connect-layer-one__connection-cardstack-logo {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
}

.card-pay-workflow-connect-layer-one__connection-wallet-logo {
  width: 2.5rem;
  height: 2.5rem;
  box-shadow: 0 0 0 2px var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius);
  padding: .25rem;
  object-fit: contain;
}

.card-pay-workflow-connect-layer-one__connection-symbol {
  width: 2rem;
  height: 1rem;
  object-fit: contain;
}

.card-pay-workflow-connect-layer-one__connection-text {
  margin-left: var(--boxel-sp-lg);
}