.card-pay-labeled-value {
  --boxel-field-label-width: minmax(4rem, 25%);
  --field-text-line-height: 1.375rem;
  align-items: start;
}

/* vertically aligning centers of the label text and the content text using line height */
.card-pay-labeled-value__label {
  line-height: var(--field-text-line-height);
}

.card-pay-labeled-value__contents {
  font-size: var(--boxel-font-size);
  line-height: var(--field-text-line-height);
  letter-spacing: var(--boxel-lsp-sm);
}

/*
  hardcode max-width to a value that should break at 21 characters.
  this creates a display that matches the spec at full width but
  still respects flow
 */
 .card-pay-labeled-value--address .card-pay-labeled-value__contents {
  font-family: var(--boxel-monospace-font-family);
  max-width: 22ch;
  word-break: break-all;
}

.card-pay-labeled-value--has-icon .card-pay-labeled-value__contents {
  display: flex;
  align-items: center;
}

/* utility class used for small icons - currency, and the check mark */
.card-pay-labeled-value__small-icon {
  width: 1.25rem;
  height: 1.25rem;
  margin-right: 0.5rem;
}
