.boxel-layout-container {
  border-radius: 0;
}

.boxel-layout-container--boundaries {
  border-radius: var(--boxel-border-radius);
}

.boxel-layout-container__header {
  --boxel-header-text-color: var(--boxel-purple-400);
}

.boxel-layout-container:hover .boxel-layout-container__header {
  color: var(--boxel-dark);
}
