.layout-display-view__content {
  display: flex;
  justify-content: space-between;
}

.layout-display-view__data {
  flex-grow: 1;
  margin-left: var(--boxel-sp-xl);
}

.layout-display-view__card {
  transform: scale(0.6);
  transform-origin: top left;
  max-width: var(--preview-card-width);
  max-height: var(--preview-card-height);
  text-align: left;
}
