.schedule-payment-form-action-card {
  min-width: 50rem;
  max-width: none;
  margin-right: var(--boxel-sp-lg);
  flex-grow: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.schedule-payment-form-action-card .boxel-field {
  --boxel-field-label-align: center;
}

.schedule-payment-form-action-card
  .boxel-field.schedule-payment-form-action-card__frequency {
  --boxel-field-label-align: top;
  --boxel-field-label-padding-top: var(--boxel-sp-lg);
}

.schedule-payment-form-action-card__max-gas-fee-name {
  font-weight: bold;
}

.schedule-payment-form-action-card__max-gas-fee-description {
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
}

.schedule-payment-form-action-card__fee-details {
  padding-top: var(--boxel-sp);
  padding-right: var(--boxel-sp);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  display: flex;
}

.schedule-payment-form-action-card__state-details {
  padding-top: var(--boxel-sp);
  padding-right: var(--boxel-sp);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  display: flex;
}

.schedule-payment-form-action-card-error {
  color: var(--boxel-red);
}

.schedule-payment-form-action-card__fee-info-icon {
  margin: 0 var(--boxel-sp-xxxs);
}

.schedule-payment-form-action-card__frequency-fieldset {
  border: 0;
  padding: 0;
}

.schedule-payment-form-action-card__frequency-fieldset-container {
  display: flex;
  gap: var(--boxel-sp);
  max-width: 100%;
  width: 100%;
}

.schedule-payment-form-action-card__frequency-fieldset-container > div {
  flex-basis: 50%;
}

.schedule-payment-form-action-card__when-fields {
  padding: var(--boxel-sp-sm) var(--boxel-sp-sm) 0 var(--boxel-sp-sm);
}

.schedule-payment-form-action-card__loading-indicator {
  --icon-color: var(--boxel-light);

  margin-right: var(--boxel-sp-xs);
  flex-grow: 0;
  flex-shrink: 0;
}

.schedule-payment-form-action-card__error-message {
  color: var(--boxel-red);
}

.schedule-payment-form-action-card__in-progress-message {
  max-width: 20rem;
}

.schedule-payment-form-action-card__recurring-explanation {
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  margin: var(--boxel-sp-xs) 0 var(--boxel-sp-sm) 0;
}

.schedule-payment-form-action-card__recurring-explanation svg {
  margin-right: var(--boxel-sp-xxxs);
}

.schedule-payment-form-prerequisite-step {
  display: flex;
}

.schedule-payment-form-prerequisite-step__icons svg {
  margin-left: var(--boxel-sp-sm);
}

.schedule-payment-form-prerequisite-step__text {
  margin: auto;
  margin-left: var(--boxel-sp);
  font: var(--boxel-font-sm);
  text-transform: uppercase;
  font-weight: 600;
  color: var(--boxel-yellow);
}

.schedule-payment-form-action-card__fees-value {
  text-align: right;
  font-weight: bold;
}

.schedule-payment-form-action-card__fee-usd-estimate {
  font-weight: normal;
  font-size: var(--boxel-font-size-sm);
}
