<div class="boxel-cta-block__action-status-area" ...attributes data-test-boxel-cta-block-action-status-area>
  {{#if @icon}}
    {{svg-jar @icon class="boxel-cta-block__action-status-area-icon" role="presentation"}}
  {{/if}}
  {{yield}}
</div>