.boxel-cta-block__action-status-area-icon {
  --icon-color: var(--cta-block-emphasis-text-color);

  display: block;
  width: var(--boxel-sp);
  height: var(--boxel-sp);
  margin-right: var(--boxel-sp-xxs);
}
