.card-space-new {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 0;
  background-color: var(--boxel-purple-600);
  color: var(--boxel-light);
  transition: padding var(--boxel-transition);
}

.card-space-new--logged-in {
  padding: var(--boxel-sp-lg);
}
