.merchant-card {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 22.75rem; /* 364px */
  min-height: 14.375rem; /* 230px */
  margin-right: auto;
  margin-left: auto;
  color: var(--boxel-dark);
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
}

.merchant-card__header {
  display: flex;
  padding: var(--boxel-sp-xs) var(--boxel-sp-sm);
  border-top-right-radius: var(--boxel-border-radius);
  border-top-left-radius: var(--boxel-border-radius);
  color: var(--boxel-light);
  background-color: var(--boxel-dark);
}

.merchant-card__header-network {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: var(--boxel-sp-xxs);
  padding-left: var(--boxel-sp-xxs);
  color: var(--boxel-dark);
  background-color: var(--boxel-light-400);
  border-radius: 50px;
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.merchant-card__header-address {
  margin-left: var(--boxel-sp-sm);
  font-family: var(--boxel-monospace-font-family);
  font-size: var(--boxel-font-size-sm);
  letter-spacing: var(--boxel-lsp-sm);
  line-height: calc(18 / 13);
}

.merchant-card__content {
  display: grid;
  grid-template-rows: 1fr auto;
  padding: var(--boxel-sp-lg) var(--boxel-sp) var(--boxel-sp-xs);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.merchant-card__info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: var(--boxel-sp);
}

.merchant-card__label {
  font: 600 var(--boxel-font-xs);
}

.merchant-card__value {
  font: 700 var(--boxel-font-sm);
  max-width: 12rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.merchant-card__manager-icon {
  vertical-align: top;
}
