.layout-display-view__field {
  --preview-card-width: 14.375rem;
  --preview-card-height: 9.06rem;
  --header-color: var(--boxel-lime);
  --header-pattern: var(--boxel-light);

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(7.5rem, 1fr));
  align-items: center;
  gap: var(--boxel-sp-xs) var(--boxel-sp-lg);
}

.layout-display-view__preview-label {
  align-self: start;
}

.layout-display-view__preview-value {
  display: grid;
  grid-template-columns: var(--preview-card-width) auto;
  grid-template-rows: var(--preview-card-height);
  gap: var(--boxel-sp-lg);
}

.layout-display-view__scaled-card {
  transform: scale(0.63);
  transform-origin: top left;
}

.layout-display-view__label {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.layout-display-view__value {
  grid-column: span 2;
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
  overflow-wrap: break-word;
  word-break: break-word;
}

.layout-display-view__swatch-group {
  display: flex;
  gap: var(--boxel-sp-xs);
  padding: var(--boxel-spacing) 0;
}

.layout-display-view__swatch {
  width: 1.5625rem; /* 25px */
  height: 1.5625rem;
  border: 1px solid var(--boxel-purple-300);
  border-radius: 5px;
  background: var(--header-color);
}

.layout-display-view__pattern-swatch {
  background: var(--header-pattern);
}
