.funding-source-token-option {
  display: flex;
  align-items: center;
  padding-left: var(--boxel-sp);
}

.funding-source-token-option__icon {
  margin-right: var(--boxel-sp-xs);
}

.funding-source-token-option__title {
  font: 600 var(--boxel-font);
}

.funding-source-token-option__balance {
  color: var(--boxel-purple-500);
}
