.breadcrumbs {
  grid-column: 1 / -1;
  display: flex;
  width: 100%;
  padding: 20px 0;
}

.breadcrumbs__item {
  width: 170px;
  height: 50px;
  padding: 8px 15px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  border: 1px solid var(--boxel-light-600);
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-light-400);
  color: var(--boxel-dark);
  outline: 0;
}

.breadcrumbs__item-title {
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.breadcrumbs__item-label {
  color: var(--boxel-purple-400);
  font-size: 10px;
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  line-height: 14px;
  text-transform: uppercase;
}

.breadcrumbs__carot {
  width: 30px;
  height: 50px;
  background: url(/images/icons/carot-thin-right.svg) center/7px no-repeat;
}


/* Inverse-mode color scheme */
.breadcrumbs__item--inverse {
  background-color: #7C7B91;
  border-color: transparent;
}

button.breadcrumbs__item--inverse {
  text-align: left;
}

button.breadcrumbs__item--inverse:hover {
  cursor: pointer;
}

.breadcrumbs__item--inverse .breadcrumbs__item-label {
  color: var(--boxel-border-color);
}

.breadcrumbs__item--inverse .breadcrumbs__item-title {
  color: var(--boxel-light);
}

.breadcrumbs__item--inverse + .breadcrumbs__carot {
  filter: invert(1);
}

.breadcrumbs__item--inverse:last-child {
  background-color: #C1C1D0;
}

.breadcrumbs__item--inverse:last-child .breadcrumbs__item-label,
.breadcrumbs__item--inverse:last-child .breadcrumbs__item-title {
  color: var(--boxel-purple-700);
}
