@import 'demo/index.css';
@import 'catalog/index.css';
@import 'events/view.css';
@import 'tools.css';

@import 'movie-registry.css';
@import 'movie-registry/view.css';
@import 'movie-registry/edit/collection-view.css';
@import 'components/movie.css';
@import 'components/field.css';
@import 'components/actor.css';
@import 'components/photo.css';

html, body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #f2f2f2;
  color: black;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.025em;
  line-height: 1.5;
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

svg {
  --icon-color: currentColor;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: bold;
}

button {
  display: inline-block;
  color: currentColor;
  font: inherit;
}

ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}


/* for ember animated */
.boxel-animated-orphans {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-tools {
  z-index: 100;
}


/* overriding ui-components styles */
:root {
  --cs-font-family: Helvetica, Arial, sans-serif;
  --cs-font: 400 16px/26px var(--cs-font-family);
  --cs-field-hover: white;
  --cs-field-height: 50px;
  --cs-letter-spacing: 0.025em;
}
.cs-input-group {
  display: contents;
}
.cs-input-group--label,
.cs-input-group--helper-text {
  display: none;
}
/*  */
