@import 'card-catalog.css';
@import 'catalog-item.css';
@import 'tools.css';

:root {
  --catalog-light-gray: #f2f2f4;
  --catalog-dark-purple: #343356;
  --catalog-light-purple: #676680;
}

body {
  margin: 0;
  background-color: var(--catalog-light-gray);
  color: black;
  font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 1.2;
}

h1,
h2,
h3 {
  font-weight: 600;
}

img {
  max-width: 100%;
}

a {
  color: var(--catalog-light-purple);
  text-decoration: none;
}

a:hover {
  color: var(--catalog-dark-purple);
}

.catalog-animated {
  position: absolute;
  top: 0;
  left: 0;
}
