@import 'catalog.css';
@import 'catalog-preview.css';
@import 'tools.css';
@import 'tools-edit.css';
@import 'tools-preview.css';
@import 'articles.css';
@import 'cards.css';
@import 'form-cards.css';
@import 'edit-demo.css';
@import 'field-types-demo.css';
@import 'animate-input.css';
@import 'image-cards.css';
@import 'drag-drop.css';
@import 'catalog-events.css';

@import 'components/article.css';
@import 'components/event.css';

:root {
  --catalog-light-gray: #f8f8f8;
  --catalog-light-gray-d5: #d5d5d5;
  --catalog-darker-light-gray: #9f9f9f;
  --catalog-darker-gray: #4a4a4a;
  --catalog-dark-gray: #373741;
  --catalog-dark-purple: #343356;
  --catalog-darker-purple: #382870;
  --catalog-light-purple: #5c5a6f;
  --catalog-darkest-purple: #010027;
  --catalog-bright-purple: #281e78;
}

body {
  position: relative;
  margin: 0;
  background-color: var(--catalog-light-gray);
  color: black;
  font-family: "Open Sans", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  letter-spacing: 0;
  line-height: 1.2;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 600;
}

p {
  margin: 0;
  padding-bottom: 1em;
}

img {
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover,
a:focus {
  color: var(--catalog-dark-purple);
}

button {
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  background-color: var(--catalog-light-purple);
  color: white;
  font-family: 'Open Sans';
  font-size: 12px;
  line-height: 1.1;
}

button:hover,
button:focus {
  cursor: pointer;
  background-color: var(--catalog-dark-purple);
}

*[role="button"]:hover,
*[role="button"]:focus {
  cursor: pointer;
}


/* for ember animated */
.animated-orphans {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-tools {
  z-index: 10;
}
