.cards-page {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: var(--catalog-light-purple);
}

.cards-list {
  display: flex;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 65px;
  background-color: mediumpurple;
  color: black;
  text-align: center;
  margin: 15px;
  opacity: 0.99;
}

.card.expanded {
  width: 500px;
  height: 300px;
  padding: 50px;
  border-radius: 0;
  opacity: 0.99;
}

.fadeCards > .thumbnail {
  opacity: 0.22;
}

.card-2 {
  background-color: yellow;
}

.card-3 {
  background-color: red;
}
