.catalog-item {
  background-color: white;
}

.catalog-item--preview {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  background-color: var(--catalog-light-purple);
}

.catalog-item--info {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  overflow: hidden;
  padding: 20px;
}

.catalog-item--isolated {
  display: grid;
  max-width: 900px;
  max-height: 500px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.catalog-item--isolated--preview {
  grid-template-columns: 1fr 250px;
}

.catalog-item--isolated--edit {
  padding: 30px;
  grid-template-columns: 1fr;
  max-height: initial;
}

.catalog-item--isolated--edit .catalog-item--isolated--image-url {
  margin: 0 0 30px;
  width: 500px;
  height: 250px;
  background-repeat: no-repeat;
  background-size: cover;

}

.catalog-item--isolated > div {
  height: 100%;
}

.catalog-item--isolated > .catalog-item--info {
  display: block;
}

.catalog-item--button-edit {
  width: 100%;
  background-color: var(--catalog-light-purple);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
}
