/* Container */

/* Note: important that this is wrapped in an animated container */
.event-card-container {
  position: absolute;
  top: 50px;
  left: 15px;
  bottom: 15px;
  /* Either the content card or the wrapper card inside should have the same width & height */
  height: 300px;
  width: 245px;

  background-color: aquamarine;
  border-radius: 20px;
}

.event-card-container.selected {
  top: 0;
  left: 0;
  bottom: 0;
  height: 365px;
  width: 275px;
}

.event-card-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  height: 300px;
  width: 245px;
}

.event-card-wrapper.selected {
  top: 50px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}


/* Content */
.event-card {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: hidden;
}

.event-image {
  height: 150px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.event-details {
  box-sizing: border-box;
  padding: 30px;
}

.event-details--header {
  padding-bottom: 30px;
}

.event-date {
  color: firebrick;
  font-weight: 700;
}

.event-title {
  font-size: 16px;
  font-weight: 600;
}

.event-details--other {
  color: dimgray;
}

.event-price {
  font-weight: 700;
}
