/* Container */
.event-card-container {
  box-sizing: border-box;
  position: relative;
  padding: 50px 15px 15px 15px;
}

.event-card-container.selected {
  /* padding: 0; */
}

.event-card-inner-container {
  position: absolute;
  top: 50px;
  left: 30px;
  bottom: 15px;
  box-sizing: border-box;
  background-color: aquamarine;
  border-radius: 20px;
  /* padding: 50px 15px 15px 15px; */
  height: 300px;
  width: 245px;
}

.event-card-inner-container.selected {
  top: 0;
  left: 15px;
  bottom: 0;
  padding: 50px 15px 15px 15px;
  height: 360px;
  width: 275px;
}

/* Content */
.event-card {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  box-sizing: border-box;
  background-color: white;
  height: 300px;
  width: 245px;
  overflow: hidden;
}

.event-card.selected {
  top: 50px;
  bottom: 15px;
  left: 15px;
  right: 15px;
}

.event-image {
  height: 150px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.event-details {
  box-sizing: border-box;
  padding: 30px;
}

.event-details--header {
  padding-bottom: 30px;
}

.event-date {
  color: firebrick;
  font-weight: 700;
}

.event-title {
  font-size: 16px;
  font-weight: 600;
}

.event-details--other {
  color: dimgray;
}

.event-price {
  font-weight: 700;
}
