.catalog-preview {
  display: grid;
  grid-template-columns: 1fr 315px;
  width: 100%;
  height: 100%;
  max-width: 1148px;
  max-height: 822px;
  background-color: transparent;
}

.catalog-preview--boxel-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  background-color: var(--boxel-light-purple);
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.catalog-preview--info-panel {
  display: flex;
  flex-flow: column nowrap;
  padding: 30px;
  background-color: white;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.catalog-preview--footer {
  margin-top: auto;
}

.catalog-preview--info-panel-title {
  padding-bottom: 5px;
  font-size: 26px;
  line-height: 30px;
  text-transform: capitalize;
}

.catalog-preview--info-panel-sub-title {
  color: rgba(0, 0, 0, 0.6);
  font-size: 13px;
  line-height: 19px;
}

.catalog-preview--info-panel-data {
  height: 300px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 13px;
  line-height: 19px;
  color: var(--boxel-darker-gray);
}

.catalog-preview--edit-button {
  width: 100%;
  height: 40px;
  padding: 10px 30px;
  background-color: var(--boxel-bright-purple);
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}
