.media-registry {
  --header-background: #FF1D6C;
  --header-logo-size-sm: 25px 34px;

  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: #F5F5F5;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.media-registry.media-registry--crd_records {
  --header-background: #0069F9;
  --header-logo-size-sm: 36px 35px;
}

.media-registry__left-edge {
  grid-row: 1 / 3;
  grid-column: 1;
  z-index: 15;
  width: 80px;
  transition: width var(--boxel-transition);
}

.media-registry__left-edge.with-queue {
  width: 410px;
}

.media-registry__left-edge > *:first-child {
  z-index: 2;
}

.media-registry__left-edge-queue {
  z-index: 1;
  height: 100%;
  transform: translateX(-420px);
  transition: transform var(--boxel-transition);
}

.media-registry__queue {
  transition: box-shadow var(--boxel-transition);
}

.media-registry__queue.with-box-shadow {
  box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);
}

.media-registry__hover-zone {
  position: absolute;
  top: 47%;
  width: 80px;
  height: 55px;
  z-index: 16;
}

.media-registry__hover-zone:hover {
  cursor: pointer;
}

.media-registry__hover-zone--crd_records {
  transform: translateY(55px);
  height: 60px;
}

.media-registry__hover-zone:hover ~ .media-registry__left-edge-queue,
.media-registry__left-edge-queue:hover,
.media-registry__left-edge-queue.slide-in {
  transform: translateX(0);
}

.media-registry__queue-btn {
  position: absolute;
  left: 370px;
  top: 0;
}

.media-registry__header {
  position: sticky;
  top: 0;
  grid-column: 2;
  display: grid;
  grid-template:
    "title search" auto
    "nav   nav"    40px / minmax(auto, 450px) 1fr;
  gap: 50px;
  padding: 80px 20px 0 30px;
  background-color: var(--header-background);
  color: white;
  height: 250px;
  z-index: 2;
}

.media-registry__header--sm {
  height: 130px;
  padding-top: 25px;
  gap: 20px;
}

.media-registry__title {
  grid-area: title;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 3px;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 26px;
  text-transform: uppercase;
}

.media-registry__header--sm .media-registry__title {
  font: var(--boxel-font-sm);
  font-weight: bold;
}

.media-registry__logo {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 54px;
}

.media-registry__header--sm .media-registry__logo {
  width: 50px;
  height: 50px;
  background-size: var(--header-logo-size-sm);
}

.media-registry__logo svg {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.media-registry__nav {
  grid-area: nav;
  max-width: 450px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.media-registry__nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;
  max-width: 450px;
}

.media-registry__nav li > a {
  padding: 0 20px 10px;
  border-bottom: 4px solid transparent;
}

.media-registry__nav li > a.active:not(.unselected) {
  font-weight: bold;
  border-color: white;
}

.media-registry__search-bar {
  grid-area: search;
  align-self: center;
  justify-self: end;
  width: 240px;
  height: 30px;
  padding: 6px 15px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  border-radius: 100px;
  border: 1px solid white;
  outline: 0;
}

.media-registry__outlet {
  overflow: auto;
}
