.tic-tac-toe-page {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  padding: 100px 20px;
  background-color: var(--catalog-darker-purple);
  display: grid;
  grid-template-columns: 300px 1fr;
}

.tic-tac-toe-pieces {
  display: inline-block;
}

.tic-tac-toe-board {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.cell-tray {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  border-radius: 30px;
  border: solid 10px var(--catalog-darker-gray);
  background-color: var(--catalog-darker-gray);
  text-align: center;
}

.tic-tac-toe-board.dragging .cell-tray.draggable {
  background-color: var(--catalog-light-purple);
}

.tic-tac-toe-board.dragging .cell-tray.draggable.active {
  background-color: mediumpurple;
}

.tic-tac-toe-piece {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  margin: 0;
  padding-top: 40px;
  border: none;
  border-radius: 20px;
  /* background-color: mediumpurple; */
  color: black;
  text-align: center;
  font-size: 96px;
}

