.tools-preview {
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
  height: 100%;
  min-height: 100vh;
  background-color: var(--boxel-dark-purple);
  padding: 100px 20px;
}

.tools-preview--header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  padding: 30px;
}

.tools-preview--title {
  margin: 0;
  color: white;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.tools-preview button.tools-preview--exit-button {
  width: auto;
  position: absolute;
  right: 30px;
  top: 30px;
}

.tools-preview button.tools-preview--exit-button:hover {
  background-color: var(--boxel-darker-gray);
}

.tools-preview--grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-auto-columns: max-content;
  grid-gap: 50px;

  max-width: 100%;
  overflow-x: scroll;
  margin: 0 auto;
  padding-bottom: 50px;
}

.tools-preview--grid > * {
  grid-row: 1;
}
