.tools-edit {
  box-sizing: border-box;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding: 100px 20px;
  background-color: var(--boxel-dark-purple);
}

.tools-edit--boxel {
  max-width: 900px;
}

.tools-edit--image-container {
  padding: 30px;
  background-color: black;
}

.tools-edit--image {
  width: 100%;
  height: 100%;
  padding-top: 75%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.tools-edit--fields-container {
  padding: 30px;
}
