@import 'tools/tools-edit.css';
@import 'tools/tools-preview.css';

.tools-header {
  z-index: 10;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;
  padding: 0 30px;
  background-color: var(--boxel-dark-gray);
}

.tools-header > button {
  width: 120px;
  height: 35px;
  border-radius: 10px;
  padding: 10px;
  font-size: 14px;
  margin: 5px;
}

.tools-header > button + button {
  margin-left: 15px;
}
