:root {
  --normal-background: #292A2C;
  --bright-foreground: #fff;
  --light-background: #737373;
  --lighter-background: #a1a2a3;
  font-family: 'Avenir', 'helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
}

.cardstack-workflow-header {
  min-height: 50px;
  width: 100vw;
  color: var(--bright-foreground);
  background-color: var(--normal-background);
  display: inline-block;
  /* line-height: 1.375em; */
}

.cardstack-workflow-header > .notification-count {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 5px;
}

.cardstack-workflow {
  min-width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cardstack-message-summary {
  min-width: 15vw;
  float: left;
  background-color: var(--light-background);
  color: var(--bright-foreground);
  padding: 0 5px;
}

.cardstack-cue-cards {
  min-width: 15vw;
  background-color: var(--lighter-background);
  color: var(--bright-foreground);
  padding: 0 5px;
}

.cardstack-workflow-tag-with-count {
  cursor: pointer;
  margin: 10px;
  height: 20px;
  padding: 5px 0;
}

/* TODO: Flexbox this and the .count */
.cardstack-workflow-tag-with-count > .name {
  float: left;
  max-width: 10vw;
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}
/*
TODO: Add a container to the counter so that the
min-width of the container could be set separately from the
circle that contains the number. This way, the name and
count could be made to stay on the same line
*/
.cardstack-workflow-tag-with-count > .count {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}
