:root {
  --normal-background: #404040;
  --bright-foreground: #fff;
  --light-background: #737373;
  --lighter-background: #a1a2a3;
  --dark-background: #262626;
  --very-dark-background: #0b0b0b;
  font-family: 'Avenir', 'helvetica', sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.cardstack-workflow-header {
  min-height: 50px;
  width: 100vw;
  color: var(--bright-foreground);
  background-color: var(--normal-background);
  display: inline-block;
  /* line-height: 1.375em; */
}

.cardstack-workflow-header > .notification-count {
  width: 30px;
  height: 30px;
  line-height: 30px;
  background-color: red;
  border-radius: 50%;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
  margin: 10px 5px;
}

.cardstack-workflow {
  min-width: 15vw;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.cardstack-message-summary {
  min-width: 25vw;
  float: left;
  background-color: var(--normal-background);
  color: var(--bright-foreground);
}

.cardstack-workflow-group-header {
  text-transform: uppercase;
  margin-left: 10px;
}

.cardstack-cue-card-list {
  min-width: 25vw;
  background-color: var(--lighter-background);
  color: var(--bright-foreground);
  padding: 0 5px;
}

.cardstack-no-threads-message {
  margin-top: 10vh;
  text-align: center;
}

.cardstack-thread-view {
  min-width: 25vw;
  background-color: var(--lighter-background);
  color: var(--bright-foreground);
  padding: 0 5px;
}

.cardstack-thread-container {
  margin: 0 10px;
}

.cardstack-workflow-label-with-count-wrapper {
  padding: 3px;
}

.cardstack-workflow-label-with-count-wrapper.active {
  background-color: var(--very-dark-background);
}

.cardstack-workflow-label-with-count {
  cursor: pointer;
  margin: 10px;
  height: 20px;
  padding: 5px;
}

/* TODO: Flexbox this and the .count */
.cardstack-workflow-label-with-count > .name {
  float: left;
  /* max-width: 10vw; */
  margin-right: 5px;
  overflow: hidden;
  white-space: nowrap;
}
/*
TODO: Add a container to the counter so that the
min-width of the container could be set separately from the
circle that contains the number. This way, the name and
count could be made to stay on the same line
*/
.cardstack-workflow-label-with-count > .count {
  float: right;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  text-align: center;
  font-size: 0.8em;
  font-weight: bold;
}

.cardstack-workflow-label-with-count.high-priority > .count {
  background-color: #F70221;
}

.cardstack-workflow-label-with-count.low-priority > .count {
  background-color: #26A3E9;
}

.cardstack-message-card,
.cardstack-thread-list-card {
  display: flex;
  flex-direction: column;
  margin: 10px;
  background-color: var(--bright-foreground);
  padding: 10px;
  color: var(--light-background);
  border-radius: 5px;
}

.cardstack-message-card {
  min-height: 25px;
}

.cardstack-thread-list-card {
  cursor: pointer;
}

.cardstack-message-card > .main-content {
  align-self: flex-start;
  flex: 1 0 auto;
}

.cardstack-message-card > .button-panel {
  align-self: flex-end;
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-content: flex-start;
  margin-top: 25px;
}

.cardstack-thread-container > .header {
  text-transform: uppercase;
}

.cardstack-thread-container > .chat-message-pane {
  margin: 0 10px;
  height: 50px;
}

.cardstack-chat-message-input {
  width: 80%;
  padding: 10px;
  height: 100%;
  border-radius: 5px;
  font-size: 1.1em;
}

.cardstack-action-button {
  padding: 10px;
  margin-right: 10px;
  font-size: 0.8em;
  height: 40px;
  color: var(--normal-background);
  background-color: var(--bright-foreground);
  border: 1px solid var(--dark-background);
  border-radius: 3px;
  cursor: pointer;
}

.chat-message-pane > .cardstack-action-button {
  height: 100%;
}

.cardstack-action-button[disabled] {
  border: 1px solid var(--lighter-background);
  color: var(--light-background);
  cursor: default;
}
