.withdrawal-transaction-amount__fields > * + * {
  margin-top: var(--boxel-sp-lg);
}

.withdrawal-transaction-amount__balance .balance-display__icon {
  width: var(--boxel-sp-xxl);
  margin-right: 0;
}

.withdrawal-transaction-amount__token {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: var(--boxel-sp-xl) var(--boxel-sp);
  border: 1px solid var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
}

.withdrawal-transaction-amount__footnote {
  margin-top: var(--boxel-sp-xxl);
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.withdrawal-transaction-amount__loading-indicator {
  margin-right: var(--boxel-sp-xs);
}

.withdrawal-transaction-amount__loading-message {
  max-width: 20rem;
}
