.card-pay-header {
  --boxel-org-header-background-color: var(--boxel-dark);
}

/* Connect wallet component */
.card-pay-header__item-list {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--boxel-sp);
  text-align: right;
}

.card-pay-header__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--boxel-sp);
}

@media screen and (min-width: 50rem) /* 800px */ {
  .card-pay-header__item-list {
    justify-content: flex-end;
  }
}
