.card-pay-bridge-item {
  width: 100%;
  padding: var(--boxel-sp);
  box-shadow: 0 0 0 1px var(--boxel-light-400);
}

.card-pay-bridge-item__network {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-pay-bridge-item__network-name {
  font: 600 var(--boxel-font-xs);
  color: var(--boxel-purple-400);
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.card-pay-bridge-item__tx {
  margin-top: var(--boxel-sp-sm);
  display: grid;
  /* stylelint-disable declaration-block-no-redundant-longhand-properties */
  grid-template-columns: minmax(max-content, 55%) auto;
  grid-template-rows: auto auto auto;
  grid-template-areas:
    "_1 preposition"
    "amount wallet"
    "_2 details";
  /* stylelint-ehable declaration-block-no-redundant-longhand-properties */
}

.card-pay-bridge-item__tx-amount {
  grid-area: amount;
  align-self: center;
  grid-row: 1 / -1;
}

.card-pay-bridge-item__tx-wallet {
  grid-area: wallet;
}

.card-pay-bridge-item__tx-preposition {
  grid-area: preposition;
  margin-bottom: var(--boxel-sp-sm);
  font-size: var(--boxel-font-size-sm);
  color: var(--boxel-purple-400);
  letter-spacing: var(--boxel-lsp);
}

.card-pay-bridge-item__tx-depot {
  grid-area: details;
  margin-top: var(--boxel-sp-xs);
}
