.modal.edit .field ~ .field {
  margin-top: 0.5em;
}

.modal.edit .field label {
  display: block;
  text-transform: capitalize;
}

.card-modal__action-chin-button {
  margin-left: auto;
}

.card-modal__action-chin-button + .card-modal__action-chin-button {
  margin-left: var(--boxel-sp-sm);
}
