.modal.edit {
  max-height: 100%;
  overflow-y: auto;
}

.modal.edit .field ~ .field {
  margin-top: 0.5em;
}

.card-modal__action-chin-button {
  margin-left: auto;
}

.card-modal__action-chin-button + .card-modal__action-chin-button {
  margin-left: var(--boxel-sp-sm);
}
