<ul class="actions-menu {{@class}}">
  {{#if @actionItems}}
    {{#each @actionItems as |item|}}
      <li>{{item}}</li>
    {{/each}}
  {{else}}
    <li>Duplicate</li>
    <li>Share</li>
    <li>Configure</li>
  {{/if}}
  {{#if @addToCollection}}
    <li>Add to Collection</li>
  {{/if}}
  {{#if @versionHistory}}
    <li class="actions-menu__link-item">
      <LinkTo @route="media-registry.versions" @model="the-leaves-are-changing-color">Version History</LinkTo>
    </li>
  {{/if}}
  {{#if @transferAgreement}}
    <li class="actions-menu__link-item">
      <LinkTo @route="media-registry.agreements" @model="TA-38185847898">Transfer Catalog</LinkTo>
    </li>
  {{/if}}
</ul>