.cardstack-footer {
  width: 100%;
}

.cardstack-footer__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--boxel-sp-sm) 0 var(--boxel-sp) 0;
  flex-wrap: wrap;
}

.cardstack-footer__section--bottom {
  border-top: 1px solid #585469;
}

.cardstack-footer__logo {
  width: calc(var(--boxel-icon-lg) - var(--boxel-sp-xxxs));
  height: calc(var(--boxel-icon-lg) - var(--boxel-sp-xxxs));
  flex-shrink: 0;
  margin-right: var(--boxel-sp-xs);
}

.cardstack-footer__important-links {
  display: flex;
  gap: var(--boxel-sp-xs) var(--boxel-sp);
  flex-wrap: wrap;
  align-items: center;
}

.cardstack-footer__socials {
  display: flex;
  gap: var(--boxel-sp-xs) var(--boxel-sp);

  /*
   * It is possible to apply a margin between this and the cardstack logo + fine print
   * with flex gap.
   * However Safari 15 appears to have a bug where flex column-reverse
   * will not apply gap correctly. So we apply a margin directly.
   * See the media query margin as well.
   */
  margin: 0 0 0 var(--boxel-sp-lg);
  flex-wrap: wrap;
  align-items: center;
}

.cardstack-footer__discord-icon {
  --icon-color: var(--boxel-highlight);

  width: var(--boxel-icon-sm);
  height: var(--boxel-icon-sm);
  margin-right: var(--boxel-sp-xxs);
}

.cardstack-footer__social-icon {
  --icon-color: currentcolor;

  width: var(--boxel-icon-sm);
  height: var(--boxel-icon-sm);
}

.cardstack-footer__fine-print {
  display: flex;
  align-items: center;
  font: var(--boxel-font-sm);
}

@media screen and (max-width: 560px) {
  .cardstack-footer__important-links {
    flex-direction: column;
    align-items: start;
  }

  .cardstack-footer__section--top {
    flex-direction: column;
    align-items: start;
    gap: var(--boxel-sp-xxl);
  }

  .cardstack-footer__section--bottom {
    flex-flow: column-reverse nowrap;
    align-items: stretch;
    border-top: none;
  }

  .cardstack-footer__fine-print {
    padding-top: var(--boxel-sp-sm);
    border-top: 1px solid #585469;
  }

  .cardstack-footer__socials {
    margin: 0 0 var(--boxel-sp-lg) 0;
  }
}
