.cardstack-card-picker {
  height: 100vh;
  width: 100%;
  background-color: var(--tray-background);
  color: var(--bright-foreground);
  overflow-y: scroll;
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
}

.cardstack-card-picker .cs-query-editor {
  flex-grow: 10;
  max-width: 25rem;
}

.cardstack-card-picker--card {
  height: 20rem;
  cursor: pointer;
  padding: 10px;
  border-radius: 4px;
  border: 1px solid transparent;
}
.cardstack-card-picker--card:hover {
  background-color: var(--tray-highlight-medium);
  border-color: var(--light20);
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.3);
}

.cardstack-card-picker--heading {
  min-height: 5rem;
  height: 5rem;
  position: sticky;
  background-color: var(--normal-background);
  top: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  padding: 0 2rem;
  justify-content: space-between;
}

.cardstack-card-picker--list-wrapper {
  flex-grow: 10;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

.cardstack-card-picker .cardstack-card-picker--cards-list {
  display: grid;
  padding: 2em;

  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-auto-rows: minmax(240px, auto);
  grid-gap: 50px 30px;
}

.cardstack-card-picker--loading {
  text-align: center;
  font-size: 1rem;
  margin: 1rem;
}
.cardstack-card-picker--load-more-wapper {
  min-height: 60px;
}
.cardstack-card-picker--load-more-button {
  margin: 0 auto;
  display: block;
  padding: 12px 30px;
  border: 1px solid var(--light20);
  border-radius: 4px;
  font-size: .8rem;
  background-color: var(--tray-background);
  color: var(--bright-foreground);
  cursor: pointer;
}
.cardstack-card-picker--load-more-button:hover {
  background-color: var(--tray-highlight-medium);
  color: var(--active-foreground);
}

.cardstack-card-picker--button-container {
  flex-grow: 1;
  margin-left: 2rem;
  text-align: right;
}
.cardstack-card-picker--close-button {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
  border: 1px solid var(--light20);
  border-radius: 4px;
  color: transparent;
  background-color: transparent;
  cursor: pointer;
  font-size:0;
}
.cardstack-card-picker--close-button:before {
  content: '×';
  position: absolute;
  display: block;
  top: -6px;
  left: 5px;
  color: var(--bright-foreground);
  font-size: 1.9rem;
}

.cardstack-card-picker--footer {
  border-top: 1px solid rgba(255,255,255,.05);
  padding: 1rem 2rem;
}

.cardstack-card-picker--upload-file-button {
  position: relative;
  padding: 12px 40px 12px 70px;
  border: 1px solid var(--light20);
  border-radius: 4px;
  font-size: .8rem;
  background-color: var(--tray-background);
  color: var(--bright-foreground);
  cursor: pointer;
}
.cardstack-card-picker--upload-file-button:hover {
  background-color: var(--tray-highlight-medium);
  color: var(--active-foreground);
}
.cardstack-card-picker--upload-file-button:before {
  content: ' ';
  display: block;
  position: absolute;
  top: 10px;
  left: 30px;
  height: 20px;
  width: 20px;
  background-image: url('/@cardstack/card-picker/upload.svg');
  background-repeat: no-repeat;
  background-size: contain;
}
