.cards-editor--input-row {
  display: flex;
  margin-bottom: 1rem;
  flex: 1 1 300px;
}
.cards-editor--input-row > .drag-handle {
  margin-right: 0.25rem;
  cursor: pointer;
}
.cards-editor--input-row > .text-button {
  display: inline-block;
  border: 0;
  margin-top: .4em;
  margin-left: .8em;
  font-size: 0.75rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  text-decoration: underline;
  color: var(--rising-foreground);
}
.cards-editor--button-panel > button {
  background-color: var(--tools-highlight);
  border: 1px solid var(--deep-tools-highlight);
  color: var(--bright-foreground);
  padding: .5em 2.5em;
  border-radius: 3px;
  cursor: pointer;
  font-size: 0.75rem;
}
