.cardstack-card-picker {
  height: 30rem;
  width: 100%;
  background-color: var(--light-background);
  overflow-y: scroll;
}

.cardstack-card-picker > .heading {
  height: 3rem;
  position: sticky;
  background-color: var(--active-background);
  top: 0;
  z-index: 20;

  display: flex;
  align-items: center;
  padding-left: 2rem;
  padding-right: 1rem;
  justify-content: space-between;
}

.cardstack-card-picker > .cards-list {
  display: grid;

  grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
  grid-gap: 40px;
}

.cardstack-card-picker button.load-more {
  margin: 2rem auto;
}

.cardstack-card-picker--close-button {
  line-height: 1.5em;
  margin: 0.5em 0.3em;
  padding: .4em 1.4em .4em;
  border: none;
  border-radius: 4px;
  background-color: var(--bright-foreground);
  font-size: .8em;
  cursor: pointer;
  outline-width: 0;
}