.card-pay-dashboard__balances {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
}

.card-pay-dashboard__balances > * {
  max-width: 70.75rem;
  margin-right: auto;
  margin-left: auto;
}

.card-pay-dashboard__balances > * + * {
  margin-top: var(--boxel-sp-xxl);
}

.card-pay-dashboard__balances-title {
  margin-bottom: var(--boxel-sp-xxl);
  font: 600 var(--boxel-font-lg);
  letter-spacing: var(--boxel-lsp-xs);
}

.card-pay-dashboard__balances-section {
  border-top: 1px solid var(--boxel-purple-500);
  padding-top: var(--boxel-sp);
}

.card-pay-dashboard__balances-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-pay-dashboard__balances-section-header-button-icon {
  --icon-color: var(--boxel-highlight);

  margin-left: var(--boxel-sp-xs);
}

.card-pay-dashboard__balances-section-title {
  font-weight: 400;
}

.card-pay-dashboard__balances-count {
  padding-left: var(--boxel-sp-xxs);
  color: var(--boxel-cyan);
}

.card-pay-dashboard__balances-cards {
  display: grid;
  gap: var(--boxel-sp-xl) var(--boxel-sp);
  grid-template-columns: repeat(auto-fill, 22.75rem);
  margin-top: var(--boxel-sp);
}
