.card-pay-dashboard__container {
  display: flex;
  justify-content: center;
}

.card-pay-dashboard__sidebar {
  padding: var(--boxel-sp-xxl) 0 0 var(--boxel-sp-xl);
  min-width: 16rem;
}

.card-pay-dashboard__sidebar-link {
  display: flex;
  align-items: flex-start;
  padding: var(--boxel-sp-sm);
  border-radius: var(--boxel-border-radius);
}

.card-pay-dashboard__sidebar-link.active {
  background: var(--boxel-cyan);
  color: var(--boxel-dark);
}

.card-pay-dashboard__sidebar-link .card-pay-dashboard__sidebar-link-header {
  font-weight: 600;
}

.card-pay-dashboard__sidebar-link .card-pay-dashboard__sidebar-link-icon {
  opacity: 0;
  margin-right: var(--boxel-sp);
}

.card-pay-dashboard__sidebar-link.active .card-pay-dashboard__sidebar-link-icon {
  opacity: 1;

  --icon-color: #000;
}

.card-pay-dashboard__balances {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
}

.card-pay-dashboard__balances-title {
  margin-bottom: var(--boxel-sp-xxl);
  font-weight: normal;
}

.card-pay-dashboard__balances-section {
  max-width: 72rem;
  border-top: 1px solid #5f5d71;
  padding-top: var(--boxel-sp);
}

.card-pay-dashboard__balances-section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-pay-dashboard__balances-section-header-button-icon {
  margin-left: var(--boxel-sp-xs);
}

.card-pay-dashboard__balances-section-title {
  font-weight: normal;
}

.card-pay-dashboard__balances-count {
  padding-left: var(--boxel-sp-xxs);
  color: var(--boxel-cyan);
}

.card-pay-dashboard__balances-cards {
  display: grid;
  gap: var(--boxel-sp); /* FIXME cards seem to have an extra right-side gap? */
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: var(--boxel-sp);
}

.card-pay-dashboard__section {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
}
