.card-pay-dashboard {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
}

.card-pay-dashboard > * + * {
  margin-top: var(--boxel-sp-xxl);
}

.card-pay-dashboard__section {
  max-width: 72rem;
  margin-right: auto;
  margin-left: auto;
}

.card-pay-dashboard__section-title {
  margin-bottom: var(--boxel-sp-xxl);
  font: 600 var(--boxel-font-lg);
  letter-spacing: var(--boxel-lsp-xs);
}
