.card-pay__body-content {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
  max-width: calc(70.75rem + var(--boxel-sp-xl) * 2);
  margin-right: auto;
  margin-left: auto;
}

.card-pay__footer {
  margin-top: var(--boxel-sp-xxl);
}

.card-pay__dashboard-panel.boxel-dashboard-panel {
  --boxel-dashboard-panel-summary-padding: var(--boxel-sp-sm) var(--boxel-sp-xl) var(--boxel-sp-sm) 11rem;
}

.card-pay__dashboard-panel .boxel-dashboard-panel__main {
  border-top: 1.25rem solid var(--boxel-green);
}

.card-pay__dashboard-panel .boxel-dashboard-panel__detail {
  display: grid;
  grid-template-columns: auto auto;
}

.card-pay__dashboard-panel .boxel-dashboard-panel__hero {
  top: -1.25rem;
  background-size: contain;
}
