.card-pay-dashboard__token-suppliers {
  padding: var(--boxel-sp-xxl) var(--boxel-sp-xl);
}

.card-pay-dashboard__token-suppliers > * {
  max-width: 70.75rem;
  margin-right: auto;
  margin-left: auto;
}

.card-pay-dashboard__token-suppliers > * + * {
  margin-top: var(--boxel-sp-xxl);
}

.card-pay-dashboard__suppliers-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: var(--boxel-sp-xxl);
}

.card-pay-dashboard__suppliers-title {
  font: 600 var(--boxel-font-lg);
  letter-spacing: var(--boxel-lsp-xs);
}
