.card-pay-header-nav {
  background-color: var(--boxel-dark);
  color: var(--boxel-light);
}

.card-pay-header-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0 var(--boxel-sp-lg);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
  gap: var(--boxel-sp);
  justify-items: center;
  white-space: nowrap;
}

.card-pay-header-nav__list > li {
  width: 100%;
}

.card-pay-header-nav__tab {
  --icon-color: currentColor;
  width: 100%;
  padding: var(--boxel-sp);
  border-bottom: 4px solid transparent;
  color: var(--boxel-purple-300);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xxs);
  text-align: center;
  transition:
    color var(--boxel-transition),
    font var(--boxel-transition);
}

.card-pay-header-nav__tab.active {
  border-color: var(--boxel-highlight);
  color: var(--boxel-light);
  font: 600 var(--boxel-font);
}
