.card-pay-header-nav {
  background-color: var(--boxel-dark);
  color: var(--boxel-light);

  /* Remove the below two lines after hamburger menu is implemented */
  max-height: 66px;
  overflow: auto;
}

.card-pay-header-nav__list {
  list-style-type: none;
  margin: 0;
  padding: 0 var(--boxel-sp-lg);
  display: flex;
  flex-wrap: wrap;
  gap: var(--boxel-sp);
  white-space: nowrap;
}

.card-pay-header-nav__tab {
  --icon-color: currentColor;
  display: flex;
  align-items: center;
  padding: var(--boxel-sp) var(--boxel-sp-sm) var(--boxel-sp) 0;
  border-bottom: 4px solid transparent;
  color: var(--boxel-purple-300);
  font: 600 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xxs);
  text-align: center;
  transition: color var(--boxel-transition);
}

.card-pay-header-nav__tab.active {
  --icon-color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
  color: var(--boxel-light);
}

.card-pay-header-nav__tab svg {
  margin-right: var(--boxel-sp-xs);
  flex-shrink: 0;
  width: 1rem;
  height: 1rem;
}
