.scheduled-payment-card {
  display: block;

  padding: var(--boxel-sp-sm) var(--boxel-sp);
  margin-bottom: var(--boxel-sp-sm);
}

.scheduled-payment-card .boxel-icon-button {
  position: absolute;
  top: 0;
  right: 0;
}

.scheduled-payment-card__content {
  display: flex;
  flex-direction: column;
}

.scheduled-payment-card_content-payment-detail {
  margin-top: var(--boxel-sp-lg);

  display: flex;
}

.scheduled-payment-card_content-token-symbol {
  margin-right: var(--boxel-sp-xs);
  vertical-align: bottom;
  width: var(--boxel-icon-sm);
  height: var(--boxel-icon-sm);
}

.scheduled-payment-card__content-pay-at {
  font: 700 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xl);
}

.scheduled-payment-card__content-payee {
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-xl);
  color: var(--boxel-purple-400);
}

.scheduled-payment-card_content-token-amounts {
  display: flex;
  flex-direction: column;
}

.scheduled-payment-card_content-token-amount {
  font: 700 var(--boxel-font);
}

.scheduled-payment-card_content-usd-amount {
  font: 500 var(--boxel-font-sm);
  color: var(--boxel-purple-400);
}