<Boxel class="detail-card">
  <BoxelActions
    @class="media-collection__btn-overlay"
    @displayHighlightActions={{true}}
    @btnLeft="mode-btn"
    @btnLeftContent="Edit"
    @btnRight="settings"
    @versionHistory={{true}}
  />

  {{!-- Detail Card Section --}}
  <section class="media-detail-section">
    <h3 class="media-detail-section__title">Musical Work</h3>
    <div class="detail-card__body">
      {{#each-in this.musicalWorkIsolated as |field value|}}
        <FieldRenderer
          @mode={{@mode}}
          @field={{hash title=field value=value component=value.component}}
          @class="detail-card-field"
        />
      {{/each-in}}
    </div>
  </section>
</Boxel>