/*
".cardstack_base-card" is the sanitized @card.id for the
card for which this css applies. Until we begin to support
custom CSS for each card, all cards will inherit the
@cardstack/base-card css.
*/
.isolated-card.cardstack_base-card {
  /* This is just placeholder CSS to test that everuthing works--please change as necessary */
  background-color: white;
  color: black;
  margin: 1rem;
  padding: .5rem;
  border-radius: 5px;
}