/*
".cardstack_base-card" is the sanitized @card.id for the
card for which this css applies. Until we begin to support
custom CSS for each card, all cards will inherit the
@cardstack/base-card css.
*/

.cardstack_base-card-embedded {
  /* This is just placeholder CSS to test that everuthing works--please change as necessary */
  margin: 0;
  padding: 20px;
  background-color: white;
  color: black;
  border-radius: 15px;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0;
  overflow: hidden;
}

.cardstack_base-card-embedded .embedded-card.cardstack_base-card {
  padding: 5px 10px;
}

.cardstack_base-card-embedded .label {
  display: block;
  padding-bottom: 4px;
  color: var(--ch-dark-op50);
  text-transform: capitalize;
}

.cardstack_base-card-embedded .value {
  margin-bottom: 15px;
  word-break: break-word;
}
