/* TODO this needs to move into the cards/base/isolated.css file--it is ready now */

/* TODO we need to move all the styles for embedded cards (like photos, images,
fields, etc..) into their respective card packages. */

.cardstack_base-card-isolated {
  width: 100%;
  margin: 0 auto;

  background-color: white;
  color: black;
  font: 400 15px/1.467 'Open Sans';
  letter-spacing: 0.03em;

  text-align: left;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

.cardstack_base-card-isolated .isolated-card--view-fields {
  display: grid; /* Helpful for ordering fields */
}
.cardstack_base-card-isolated .isolated-card--view-fields::before,
.cardstack_base-card-isolated .isolated-card--view-fields::after {
  height: 0; /* for firefox */
}

.cardstack_base-card-isolated .field {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 35px 50px;
  max-width: 656px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px 35px;
}
.cardstack_base-card-isolated .field:first-of-type {
  padding-top: 35px;
}

.cardstack_base-card-isolated .label {
  padding-bottom: 4px;
  color: var(--black);
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.364;
  text-transform: uppercase;
}


/**** SPECIAL CORE TYPES ****/
/* has-many and belongs-to field values, which are embedded cards, are full-width by default */

/* type: link */
/* use `label` for link text and `value` for link url */
.cardstack_base-card-isolated .link-viewer {
  color: var(--cobalt-blue);
  text-decoration: underline;
  font-weight: 600;
}

/* type: cta */
/* use `label` for button text and `value` for button link url */
.cardstack_base-card-isolated .cta-viewer {
  min-height: 45px;
  border-radius: 6px;
  font-size: 15px;
  font-weight: 700;
  line-height: calc(22 / 15);
  letter-spacing: 0.03em;
  padding-top: 11px;
  padding-bottom: 11px;
}


/**** SPECIAL FIELD NAMES ****/

/* full-width by default */
.cardstack_base-card-isolated .title-field,
.cardstack_base-card-isolated .highlight-title-field,
.cardstack_base-card-isolated .background-image-field,
.cardstack_base-card-isolated .body-field,
.cardstack_base-card-isolated .divider-field {
  display: block;
}

/* label hidden by default */
.cardstack_base-card-isolated .title-label,
.cardstack_base-card-isolated .title-logo-label,
.cardstack_base-card-isolated .highlight-title-label,
.cardstack_base-card-isolated .background-image-label,
.cardstack_base-card-isolated .body-label,
.cardstack_base-card-isolated .divider-label {
  display: none;
}

.cardstack_base-card-isolated .title-logo-field,
.cardstack_base-card-isolated .divider-value {
  display: none;
}

/* field-name: background-image */
.cardstack_base-card-isolated .background-image-field {
  max-width: 100%;
  padding: 0;
  order: -100; /* first item on page */
}
.cardstack_base-card-isolated .background-image-value {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  object-position: center;
}

/* field-name: title */
.cardstack_base-card-isolated .title-value {
  color: var(--dark-gray);
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 1.2;
}

/* field-name: highlight-title */
.cardstack_base-card-isolated .highlight-title-value {
  color: var(--red);
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0.035em;
  text-transform: capitalize;
}

/* field-name: divider */
.cardstack_base-card-isolated .divider-field {
  width: calc(100% - 60px);
  max-width: 596px; /* max-field-width - padding * 2 */
  border-top: 1px solid var(--light-gray);
}


/* Photo Card */
/* field-name: photo-image-url */
.cardstack_base-card-isolated .photo-image-url-field {
  display: block;
}
.cardstack_base-card-isolated .photo-image-url-label {
  display: none;
}
.cardstack_base-card-isolated .photo-image-url-value {
  max-height: 404px;
  margin: 0 auto;
}
