.cardstack_base-card-isolated {
  width: 100%;
  min-height: inherit;
  margin: 0 auto;
  padding: 50px 30px;
  background-color: white;
  color: black;
  font: 400 16px/1.385 var(--ch-font-family);
  letter-spacing: 0;
  text-align: left;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

.cardstack_base-card-isolated .field {
  width: 100%;
  max-width: 656px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.cardstack_base-card-isolated .label {
  padding-bottom: 4px;
  color: var(--ch-dark-op50);
  font-size: 13px;
  line-height: 1.385;
}


.cardstack_base-card-isolated .isolated-card--fields {
  /* border: solid 2px red; */
}
