.event-card-embedded .embedded-card--view-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
      'image        image'
      'title        title'
      'city         button'
      'admission    button'
      'divider      divider';
}

.event-card-embedded .field {
  display: block;
  grid-column: 1 / -1;
}

.event-card-embedded .event-city-label,
.event-card-embedded .event-admission-label {
  display: none;
}
.event-card-embedded .body-label {
  display: block;
}

.event-card-embedded .background-image-field {
  grid-area: image;
}
.event-card-embedded .title-field {
  grid-area: title;
}
.event-card-embedded .event-city-field {
  grid-area: city;
  padding-bottom: 0;
}
.event-card-embedded .event-admission-field {
  grid-area: admission;
}
.event-card-embedded .event-cta-field {
  grid-area: button;
  text-align: right;
}
.event-card-embedded .divider-field {
  grid-area: divider;
}

.event-card-embedded .title-value {
  font-size: 18px;
  line-height: 1.285;
}
.event-card-embedded .event-city-value {
  opacity: 0.5;
  font-size: 11px;
  line-height: 1.285;
}
.event-card-embedded .event-admission-value {
  font-size: 11px;
  font-weight: 700;
}
.event-card-embedded .event-cta-value {
  min-width: 100px;
  min-height: 30px;
  padding: 5px 10px;
  background-color: #0076ff;
  font-size: 11px;
}
