.event-ticket-embedded {
  padding: 0 0 50px;
  background-color: #FFEE6E;
  background-image: url('/assets/images/cards/event-ticket/ticket-confetti.svg');
  background-size: 100vw;
  background-position: top center;
  background-repeat: no-repeat;
  font-family: 'DM Sans', sans-serif;
}

.event-ticket-embedded .label {
  color: #FF0049;
  font-size: 10px;
  letter-spacing: 0.1em;
}

.event-ticket-embedded .field {
  display: block;
  padding: 0 15px 10px;
  background: #373343;
  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: calc(20 / 12);
}

.event-ticket-embedded .title-field {
  background: none;
}

.event-ticket-embedded .title-value {
  padding-top: 45px;
  background-image: url('/assets/images/cards/event-ticket/ticket-logo.svg');
  background-size: auto 40px;
  background-position: top center;
  background-repeat: no-repeat;
  font-size: 20px;
  font-weight: bold;
  line-height: calc(40 / 35);
  letter-spacing: 0.015em;
  color: black;
  text-align: center;
}

.event-ticket-embedded .highlight-title-field {
  background: #FF0049;
  padding: 5px 15px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.event-ticket-embedded .highlight-title-value {
  color: white;
  font-size: 11px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
}

.event-ticket-embedded .embedded-card--view-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'title title'
    'title-2 title-2'
    'qr-code qr-code'
    'guest-name guest-name'
    'date quantity';
  margin: 0 auto;
  border-radius: 20px;
  max-width: 90%;
  overflow: hidden;
}

.event-ticket-embedded .field {
  grid-column: 1 / -1;
}

.event-ticket-embedded .title-field {
  grid-area: title;
}
.event-ticket-embedded .highlight-title-field {
  grid-area: title-2;
}
.event-ticket-embedded .qr-code-field {
  grid-area: qr-code;
}
.event-ticket-embedded .qr-code-value {
  display: block;
  width: auto;
  height: 50px;
  background: white;
  border-radius: 50%;
  margin: 15px auto 0;
  padding: 10px;
}
.event-ticket-embedded .guest-name-field {
  grid-area: guest-name;
}
.event-ticket-embedded .date-field {
  grid-area: date;
  text-align: center;
  background-image: url('/assets/images/cards/event-ticket/ticket-date.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 15px;
}
.event-ticket-embedded .number-of-tickets-field {
  grid-area: quantity;
  text-align: center;
  background-image: url('/assets/images/cards/event-ticket/ticket-guest.svg');
  background-size: 10px 10px;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 15px;
}

.event-ticket-embedded .guest-name-label,
.event-ticket-embedded .date-label,
.event-ticket-embedded .number-of-tickets-label,
.event-ticket-embedded .qr-code-label {
  display: none;
}

.event-ticket-embedded .guest-name-value::before {
  display: block;
  content: 'My name is';
  text-transform: uppercase;
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.1em;
}

.event-ticket-embedded .guest-name-field {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
}

.event-ticket-embedded .number-of-tickets-value::after {
  content: 'Tickets';
  display: inline-block;
}

.event-ticket-embedded .divider-field {
  border-top: none;
  width: 100%;
  height: 25px;
  background-image: url('/assets/images/cards/event-ticket/ticket-divider.svg');
  background-repeat: no-repeat;
  background-size: 103% 10px;
  background-position: top center;
}
