.event-ticket-isolated {
    padding: 0 0 50px;
    background-color: #FFEE6E;
    background-image: url('/assets/images/cards/event-ticket/ticket-confetti.svg');
    background-size: 100vw;
    background-position: top center;
    background-repeat: no-repeat;
    font-family: 'DM Sans', sans-serif;
}

.event-ticket-isolated .label {
    color: #FF0049;
    font-size: 12px;
    letter-spacing: 0.1em;
}

.event-ticket-isolated .field {
    display: block;
    padding: 0 31px 25px;
    background: #373343;
    color: white;
    font-size: 15px;
    font-weight: 500;
    line-height: calc(22 / 15);
}

.event-ticket-isolated .title-field {
    background: none;
}

.event-ticket-isolated .title-value {
    padding-top: 77px;
    background-image: url('/assets/images/cards/event-ticket/ticket-logo.svg');
    background-size: 79px 61px;
    background-position: top center;
    background-repeat: no-repeat;
    font-size: 35px;
    font-weight: bold;
    line-height: calc(40 / 35);
    letter-spacing: 0.015em;
    color: black;
    text-align: center;
}

.event-ticket-isolated .highlight-title-field {
    background: #FF0049;
    padding: 16px 103px 11px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.event-ticket-isolated .highlight-title-value {
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

.event-ticket-isolated .isolated-card--view-fields {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      'title title'
      'title-2 title-2'
      'qr-code qr-code'
      'guest-name guest-name'
      'date quantity';
    margin: 0 auto;
    border-radius: 20px;
    max-width: 334px;
    overflow: hidden;
}

.event-ticket-isolated .field {
    grid-column: 1 / -1;
}

.event-ticket-isolated .title-field {
    grid-area: title;
}
.event-ticket-isolated .highlight-title-field {
    grid-area: title-2;
}
.event-ticket-isolated .qr-code-field {
    grid-area: qr-code;
}
.event-ticket-isolated .qr-code-value {
    display: block;
    background: white;
    width: 135px;
    min-height: 135px;
    border-radius: 50%;
    margin: 33px auto 0;
    padding: 28px;
}
.event-ticket-isolated .qr-code-field img {
    width: 79px;
    min-height: 79px;
}
.event-ticket-isolated .guest-name-field {
    grid-area: guest-name;
}
.event-ticket-isolated .date-field {
    grid-area: date;
    text-align: center;
    background-image: url('/assets/images/cards/event-ticket/ticket-date.svg');
    background-size: 18px 20px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 31px;
}
.event-ticket-isolated .number-of-tickets-field {
    grid-area: quantity;
    text-align: center;
    background-image: url('/assets/images/cards/event-ticket/ticket-guest.svg');
    background-size: 18px 20px;
    background-repeat: no-repeat;
    background-position: top center;
    padding-top: 31px;
}

.event-ticket-isolated .guest-name-label,
.event-ticket-isolated .date-label,
.event-ticket-isolated .number-of-tickets-label,
.event-ticket-isolated .qr-code-label {
    display: none;
}

.event-ticket-isolated .guest-name-value::before {
    display: block;
    content: 'My name is';
    text-transform: uppercase;
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.1em;
}

.event-ticket-isolated .guest-name-field {
    font-size: 26px;
    font-weight: 500;
    text-align: center;
}

.event-ticket-isolated .number-of-tickets-value::after {
    content: 'Tickets';
    display: inline-block;
}

.event-ticket-isolated .divider-field {
    border-top: none;
    width: 100%;
    height: 40px;
    background-image: url('/assets/images/cards/event-ticket/ticket-divider.svg');
    background-repeat: no-repeat;
    background-size: 346px 12px;
    background-position: top center;
}
