.event-card-isolated .isolated-card--view-fields {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'image        image'
    'title        title'
    'city         cta'
    'admission    cta'
    'divider      divider'
    'date         date'
    'location     location'
    'description  description';
}

.event-card-isolated .field {
  grid-column: 1 / -1;
  display: block;
}

.event-card-isolated .title-label,
.event-card-isolated .event-admission-label,
.event-card-isolated .event-cta-label,
.event-card-isolated .event-city-label{
  visibility: hidden;
  height: 0;
  padding: 0;
}

.event-card-isolated .background-image-field {
  grid-area: image;
}
.event-card-isolated .title-field {
  grid-area: title;
  font-size: 28px;
  line-height: 1.285;
}
.event-card-isolated .event-cta-field {
  grid-area: cta;
  padding-bottom: 0;
}
.event-card-isolated .event-city-field {
  grid-area: city;
  padding-bottom: 0;
  opacity: 0.5;
  font-size: 13px;
  line-height: 1.285;
}
.event-card-isolated .event-admission-field {
  grid-area: admission;
  padding-bottom: 0;
  font-size: 13px;
  line-height: 1.285;
  font-weight: 700;
}
.event-card-isolated .divider-field {
  grid-area: divider;
  margin-top: 35px;
  border-color: rgba(0, 0, 0, 0.15);
}
.event-card-isolated .event-datetime-field {
  grid-area: date;
}
.event-card-isolated .event-location-field {
  grid-area: location;
}
.event-card-isolated .event-description-field {
  grid-area: description;
}

.event-card-isolated .event-city-field,
.event-card-isolated .event-admission-field,
.event-card-isolated .event-cta-field {
  max-width: calc(656px / 2);
}

.event-card-isolated .event-city-field,
.event-card-isolated .event-admission-field {
  margin-right: 0;
}

.event-card-isolated .event-cta-field {
  margin-left: 0;
  text-align: right;
}

.event-card-isolated .event-cta-cta {
  width: 128px;
  min-height: 35px;
  margin-left: auto;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #0076ff;
  color: white;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.285;
  text-align: center;
}
