@import url('https://fonts.googleapis.com/css?family=Teko:500&display=swap');

.photo-card-isolated {
    min-height: 812px;
    background-color: black;
}

.photo-card-isolated .isolated-card--view-fields {
    min-height: inherit;
    max-width: 800px;
    margin: 0 auto;
}

.photo-card-isolated .photo-image-url-field {
    z-index: 1;
}

.photo-card-isolated .field {
    z-index: 2;
    display: block;
    font-family: 'Roboto';
    color: black;
    font-weight: 500;
    font-size: 13px;
    letter-spacing: 0.035em;
}

.photo-card-isolated .label {
    display: none;
}

.photo-card-isolated .photo-description-field,
.photo-card-isolated .photo-keywords-field {
    display: none;
}

.photo-card-isolated .photo-image-url-value {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    object-position: center;
}

.photo-card-isolated .photo-caption-field {
    max-width: 338px;
    position: relative;
    margin-left: 0;
    top: 40%;
}
.photo-card-isolated .photo-caption-value {
    display: inline;
    background-color: #FF0000;
    color: white;
    font-family: 'Teko';
    font-weight: 500;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}


.photo-card-isolated .photo-location-field {
    position: absolute;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    background-color: white;
    padding: 26px 30px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 0 -3px 6px rgba(0,0,0,0.07);
}
.photo-card-isolated .photo-location-value {
    background-image: url('/assets/images/cards/photo-skiing/photo-location-icon.svg');
    background-size: 16px 23px;
    background-position: left bottom;
    background-repeat: no-repeat;
    padding-left: 27px;
    line-height: 23px;
}

.photo-card-isolated .photo-datetime-field {
    width: auto;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
}

.photo-card-isolated .photo-byline-field {
  position: absolute;
  top: 22px;
  left: 0;
}

.photo-card-isolated .byline-card-embedded {
  width: 150px;
}

.photo-card-isolated .byline-card-embedded .embedded-card--view-fields {
  display: grid;
  grid-template: 'image name';
  align-items: center;
}

.photo-card-isolated .byline-card-embedded .byline-image-field {
  grid-area: image;
  width: 40px;
}
.photo-card-isolated .byline-card-embedded .byline-name-field {
  grid-area: name;
  color: white;
}
.photo-card-isolated .byline-card-embedded .field {
  padding: 0;
  margin: 0;
}
