@import url('https://fonts.googleapis.com/css?family=Arya:400,700&display=swap');

.wedding-invitation-embedded {
    background-color: #363144;
    background-image: url('/assets/images/cards/wedding-invitation/wedding-rect.svg'), url('/assets/images/cards/wedding-invitation/wedding-roses.svg');
    background-repeat: no-repeat;
    background-position: top 37% center, 50% -220px;
    background-size: 180px, contain;
}

.wedding-invitation-embedded .field {
    display: block;
    max-width: 100%;
    padding: 0;
    text-align: center;
    font-family: 'Arya', sans-serif;
    font-size: 10px;
    line-height: calc(21 / 14);
    letter-spacing: 0.1em;
}

.wedding-invitation-embedded .label {
    display: none;
}

.wedding-invitation-embedded .value {
    color: white;
    text-transform: uppercase;
}

.wedding-invitation-embedded .title-field,
.wedding-invitation-embedded .divider-field {
    display: none;
}

.wedding-invitation-embedded .wedding-intro-text-field {
    order: -1;
    padding-top: 60px;
    padding-bottom: 39px;
}
.wedding-invitation-embedded .wedding-website-field {
    max-width: 100%;
    order: 10;
    z-index: 4;
    white-space: nowrap;
}
.wedding-invitation-embedded .wedding-rsvp-cta-field {
    z-index: 5;
}
.wedding-invitation-embedded .wedding-name-2-field {
    padding-bottom: 39px;
}
.wedding-invitation-embedded .wedding-reception-address-field {
    max-width: 85%;
    padding-bottom: 13px;
}
.wedding-invitation-embedded .wedding-rsvp-date-field {
    padding-bottom: 12px;
}
.wedding-invitation-embedded .wedding-website-field {
    margin-top: -21px;
    padding: 38px 20px 20px;
    background-color: #221E2B;
}
.wedding-invitation-embedded .wedding-website-value {
    display: block;
    color: #FF4A72;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.wedding-invitation-embedded .wedding-intro-text-value {
    margin: 0 auto;
    max-width: 250px;
    font-family: 'Didot', serif;
    font-style: italic;
    text-transform: none;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.05em;
}

.wedding-invitation-embedded .wedding-name-1-value,
.wedding-invitation-embedded .wedding-name-2-value {
    font-family: 'Didot', serif;
    font-style: italic;
    text-transform: capitalize;
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.wedding-invitation-embedded .wedding-name-2-value::before {
    content: '&';
    display: block;
    font-size: 32px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.wedding-invitation-embedded .wedding-date-value,
.wedding-invitation-embedded .wedding-time-value {
    font-size: 16px;
    letter-spacing: 0.05em;
    line-height: 1.2;
}
.wedding-invitation-embedded .wedding-time-value::before {
    display: inline-block;
    content: 'at';
}

.wedding-invitation-embedded .wedding-rsvp-date-value::before {
    display: inline-block;
    content: 'Please RSVP by';
}

.wedding-invitation-embedded .wedding-rsvp-cta-value {
    width: 280px;
    height: 40px;
    background: transparent;
    background-image: url('/assets/images/cards/wedding-invitation/wedding-rsvp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 20px;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.8;
    letter-spacing: 0.1em;
    padding: 0;
}

.wedding-invitation-embedded .wedding-rsvp-cta-value:hover {
    background-color: transparent;
}

.wedding-invitation-embedded .wedding-website-value:focus,
.wedding-invitation-embedded .wedding-rsvp-cta-value:focus {
    outline: none;
    background-color: transparent;
    text-decoration: underline;
}
