/* TODO this needs to move into the wedding invitation card package now */

@import url('https://fonts.googleapis.com/css?family=Arya:400,700&display=swap');

.wedding-invitation-isolated {
    background-color: #363144;
    background-image: url('/assets/images/cards/wedding-invitation/wedding-rect.svg'), url('/assets/images/cards/wedding-invitation/wedding-roses.svg');
    background-repeat: no-repeat;
    background-position: top 40% center, 50% -420px;
    background-size: 280px, contain;
}

.wedding-invitation-isolated .field {
    display: block;
    max-width: 300px;
    padding: 0;
    text-align: center;
    font-family: 'Arya', sans-serif;
    font-size: 14px;
    line-height: calc(21 / 14);
    letter-spacing: 0.1em;
}

.wedding-invitation-isolated .label {
    display: none;
}

.wedding-invitation-isolated .value {
    color: white;
    text-transform: uppercase;
}

.wedding-invitation-isolated .title-field,
.wedding-invitation-isolated .divider-field {
    display: none;
}

.wedding-invitation-isolated .wedding-intro-text-field {
    order: -1;
    padding-top: 146px;
    padding-bottom: 69px;
}
.wedding-invitation-isolated .wedding-website-field {
    max-width: 100%;
    order: 10;
    z-index: 4;
    white-space: nowrap;
}
.wedding-invitation-isolated .wedding-rsvp-cta-field {
    z-index: 5;
}
.wedding-invitation-isolated .wedding-name-partner-field {
    padding-bottom: 69px;
}
.wedding-invitation-isolated .wedding-reception-address-field {
    max-width: 300px;
    padding-bottom: 43px;
}
.wedding-invitation-isolated .wedding-time-field,
.wedding-invitation-isolated .wedding-rsvp-date-field {
    padding-bottom: 12px;
}
.wedding-invitation-isolated .wedding-website-field {
    margin-top: -30px;
    padding: 52px 40px 22px;
    background-color: #221E2B;
}
.wedding-invitation-isolated .wedding-website-value {
    display: block;
    color: #FF4A72;
    font-weight: 400;
    text-decoration: none;
    text-transform: uppercase;
}

.wedding-invitation-isolated .wedding-intro-text-value {
    margin: 0 auto;
    max-width: 250px;
    font-family: 'Didot', serif;
    font-style: italic;
    text-transform: none;
    font-size: 20px;
    line-height: calc(30 / 20);
    letter-spacing: 0.05em;
}

.wedding-invitation-isolated .wedding-name-value,
.wedding-invitation-isolated .wedding-name-partner-value {
    font-family: 'Didot', serif;
    font-style: italic;
    text-transform: capitalize;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.05em;
    white-space: nowrap;
}

.wedding-invitation-isolated .wedding-name-partner-value::before {
    content: '&';
    display: block;
    font-size: 42px;
    padding-top: 7px;
    padding-bottom: 7px;
}

.wedding-invitation-isolated .wedding-date-value,
.wedding-invitation-isolated .wedding-time-value {
    font-size: 25px;
    letter-spacing: 0.05em;
    line-height: calc(30 / 25);
}
.wedding-invitation-isolated .wedding-time-value::before {
    display: inline-block;
    content: 'at';
}

.wedding-invitation-isolated .wedding-rsvp-date-value::before {
    display: inline-block;
    content: 'Please RSVP by';
}

.wedding-invitation-isolated .wedding-rsvp-cta-value {
    width: 302px;
    height: 58px;
    background: transparent;
    background-image: url('/assets/images/cards/wedding-invitation/wedding-rsvp.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    font-size: 30px;
    font-family: inherit;
    font-weight: bold;
    line-height: calc(54 / 30);
    letter-spacing: 0.1em;
    padding: 0;
}

.wedding-invitation-isolated .wedding-rsvp-cta-value:hover {
    background-color: transparent;
}

.wedding-invitation-isolated .wedding-website-value:focus,
.wedding-invitation-isolated .wedding-rsvp-cta-value:focus {
    outline: none;
    background-color: transparent;
    text-decoration: underline;
}
