<FreestyleUsage>
  <div style="width:80px;padding:10px 0;background-color:var(--boxel-purple-800);">
    <Boxel::OrgSwitcher
      @orgs={{this.orgs}}
      @currentOrg={{this.currentOrg}}
      @ariaLabel={{"View catalog for "}}
      @onChooseOrg={{this.onChooseOrg}}
    />
  </div>
</FreestyleUsage>
