.boxel-dropdown-button {
  --dropdown-button-size: 40px;

  width: var(--dropdown-button-size);
  height: var(--dropdown-button-size);
}

.boxel-dropdown-button__trigger {
  height: 100%;
}

.boxel-dropdown-button__trigger:hover {
  --icon-color: var(--boxel-highlight);
}

.boxel-dropdown-button--no-hover .boxel-dropdown-button__trigger:hover {
  --icon-color: inherit;
}

.boxel-dropdown-button__trigger > svg {
  display: block;
  height: 100%;
  margin: auto;
}
