.boxel-dropdown-button {
  --dropdown-button-size: 40px;
}

.boxel-dropdown-button__trigger {
  width: var(--dropdown-button-size);
  height: var(--dropdown-button-size);
  padding: 0;
  border: none;
  background: none;
}

.boxel-dropdown-button__trigger:hover,
.boxel-dropdown-button__trigger:focus {
  --icon-color: var(--boxel-highlight);
  outline: 0;
  cursor: pointer;
}

.boxel-dropdown-button__trigger > svg {
  display: block;
  margin: auto;
}

.boxel-dropdown-button .ember-basic-dropdown-trigger {
  outline: 0;
}

.boxel-dropdown-button__dropdown {
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
  min-width: 210px;
  overflow: hidden;
}

.boxel-dropdown-button__dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}

.boxel-dropdown-button__dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

.boxel-dropdown-button--no-hover .boxel-dropdown-button__trigger:hover,
.boxel-dropdown-button--no-hover .boxel-dropdown-button__trigger:focus {
  --icon-color: inherit;
  cursor: pointer;
}
