.merchant-payment-request-header {
  --boxel-org-header-background-color: none;
  --card-pay-logo-size: 2.5rem;
  --card-pay-logo-position: left center;
}

.merchant-payment-request-header__links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: var(--boxel-sp);
  margin: 0;
  font: 600 var(--boxel-font-sm);
  letter-spacing: 0.02em;
}

.merchant-payment-request-header__hamburger {
  --hamburger-menu-logo-size: var(--card-pay-logo-size);
  --hamburger-menu-logo-position: var(--card-pay-logo-position);
  --hamburger-menu-padding: var(--boxel-sp);

  display: none;
}

@media only screen and (max-width: 480px) {
  .merchant-payment-request-header__links {
    display: none;
  }

  .merchant-payment-request-header__hamburger {
    display: initial;
  }
}
