body {
    margin: 0;
}

.cardstack-edges {
    width: 100vw;
}

/* these classes comes from the ember-sidebars addon. We need to
   increase the z-indices of the sidebars so they stay on top of the
   scrims provided by ember-overlays. */
.cst-right,
.cst-left,
.cst-top {
    z-index: 3;
}

.cst-bottom {
    z-index: 5;
}

.cardstack-modal-backdrop {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--tray-background);
    opacity: 0.8;
    z-index: 999;
}
.cardstack-modal-container {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: center;
}
.cardstack-modal-dialog {
    /* dont set a background color here--not all modals want to be white or opaque */
    max-height: 100vh;
    overflow-y: auto;
}
