* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: var(--boxel-dark, #000);
  font-family: var(--boxel-font-family, 'Open Sans', Helvetica, Arial, sans-serif);
  background-color: var(--boxel-light-100, #f5f5f5);
  font-size: 1rem;
  letter-spacing: 0.025em;
  line-height: calc(22/16);
  overscroll-behavior: none;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
}

svg {
  display: inline-block;
}

button {
  display: inline-block;
  font: inherit;
}

a:hover {
  color: var(--boxel-text-highlight);
  cursor: pointer;
}
a:focus {
  outline: 2px solid var(--boxel-blue);
}
a:focus:not(:focus-visible) {
  outline-color: transparent;
}

button:not(:disabled):hover,
*[role="button"]:not(:disabled):hover {
  cursor: pointer;
}
button:focus,
*[role="button"]:focus {
  outline: 2px solid var(--boxel-blue);
}
button:focus:not(:focus-visible),
*[role="button"]:focus:not(:focus-visible) {
  outline-color: transparent;
}

input:focus {
  outline-color: var(--boxel-highlight);
}
input:focus:not(:focus-visible) {
  outline-color: transparent;
}
