html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  display: inline-block;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*
  Fixes a problem where Power Select would auto-choose the first item
  https://github.com/cibernox/ember-power-select/issues/1408
*/
.ember-power-select-dropdown {
  margin-top: 1px;
}
