<AnimatedContainer>
  {{#animated-value "form-cards-edit-route" finalRemoval=true initialInsertion=true use=this.backgroundTransition}}
    <div class="form-cards-page edit"></div>
  {{/animated-value}}
</AnimatedContainer>
<AnimatedContainer class="form-cards-list">
  {{#animated-value model key="id" group="form-card" use=this.boxTransition as |card|}}
    <div role="button" onclick={{action "backToList" card}} class="form-card form-card-{{card.id}} expanded">
    </div>
  {{/animated-value}}
</AnimatedContainer>