.cs-mobiledoc-card {
  text-align: left;
}

.cs-mobiledoc-card--caption {
  text-align: center;
  font-style: italic;
  margin: 1rem 0 2rem;
}

.cs-mobiledoc-card--caption-input {
  /* the -5px lines up the input with the slightly shrunk img so there is space for
  blinking cursor on the right margin of the image in order for user to delete it */
  width: calc(100% - 5px);
  opacity: .75;
  font-style: italic;
  border: none;
  text-align: center;
}