.cs-mobiledoc-card img.cardstack-image-embedded {
  height: auto;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.cs-mobiledoc-card.cs-mobiledoc-card__editing img.cardstack-image-embedded.cardstack-image-embedded {
  /* need to give a little space in the right margin for the blinking cursor adjacent
   to the card so you can position the cursor in order to delete the card */
  max-width: calc(100% - 5px);
  margin: 0;
}