.network-connect-modal__scroll-wrapper {
  width: 100%;
  max-height: 100%;
  padding: var(--boxel-sp-lg) 0;
  overflow-y: auto;
}

.network-connect-modal__card {
  position: relative;
  outline-color: transparent;
  outline-style: solid;
}

.network-connect-modal__close-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: var(--boxel-sp-sm);
  height: calc(var(--boxel-sp-sm) * 2 + 0.75rem);
  width: calc(var(--boxel-sp-sm) * 2 + 0.75rem);
  line-height: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  --icon-color: var(--boxel-dark);
}

.network-connect-modal__in-progress-logo > svg:nth-child(1) {
  margin-right: var(--boxel-sp-sm);
  padding: 5px;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
}

.network-connect-modal__loading-indicator {
  --icon-color: var(--boxel-light);

  margin-right: var(--boxel-sp-sm);
  flex-grow: 0;
  flex-shrink: 0;
}

.network-connect-modal__waiting-status {
  max-width: 19rem;
}

.network-connect-modal .network-connect-modal__cancel-button {
  min-height: 1.25rem;
  min-width: unset;
  padding: 0 var(--boxel-sp-xxxs);
  border: unset;
  margin: 0;
  display: inline-block;
  color: var(--boxel-highlight);
}

.network-connect-modal__wallet-group .boxel-radio-option--disabled {
  background: var(--boxel-purple-100);
  filter: grayscale(0.8);
  cursor: not-allowed;
}

.network-connect-modal__wallet-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--boxel-sp);
}

.network-connect-modal__wallet-item-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  margin-bottom: var(--boxel-sp-xs);
}

.network-connect-modal__wallet-item-name {
  font: 600 var(--boxel-font);
}

.network-connect-modal__wallet-item-description {
  font: var(--boxel-font-sm);
  color: var(--boxel-purple-400);
  text-align: center;
}
