<div
  class="cover-art"
  style={{css-var
    cover-art-width=(concat this.maxWidth 'px')
    cover-art-size=(concat this.size 'px')
    cover-art-count=(get @covers 'length')
  }}
  ...attributes
>
  {{#each @covers as |art i|}}
      <div
        class="cover-art__container cover-art__container--{{i}}"
        style={{css-var
          cover-art-index=i
          cover-art-left=(fn this.coverArtLeftPx i this.coverArtSpacing)
          cover-art-cover-size=(fn this.coverArtSizePx i)
        }}
      >
        <img class="cover-art__cover" src={{art}} alt="cover art" />
      </div>
  {{/each}}
</div>