.card-pay-nested-items {
  --inner-indent: var(--boxel-sp-xs);
  --innermost-indent: var(--boxel-sp-xxl);
}

.card-pay-nested-items__inner {
  margin-top: var(--boxel-sp-xxxs);
  margin-left: var(--inner-indent);
}

.card-pay-nested-items__inner--no-indent {
  margin-left: 0;
}

.card-pay-nested-items__inner-content {
  padding-top: calc(var(--boxel-sp) - var(--boxel-sp-xxxs));
  padding-left: var(--boxel-sp-xs);
  border-left: 1px solid var(--boxel-purple-300);
}

.card-pay-nested-items__innermost {
  margin-top: var(--boxel-sp-xxxs);
  margin-left: var(--innermost-indent);
}
