.boxel-custom-radio__container {
  display: flex;
  flex-wrap: wrap;
  gap: var(--boxel-sp);
}

.boxel-custom-radio__container--compact {
  --boxel-custom-radio-option-flex: 0;
  --boxel-custom-radio-option-padding: var(--boxel-sp-xxxs);

  gap: var(--boxel-sp-xxxs);
}

/* essentially reset fieldset and hide legend from visibility */
.boxel-custom-radio__fieldset {
  border: 0;
  padding: 0.01em 0 0 0;
  min-width: 0;
}

.boxel-custom-radio__group-description {
  opacity: 0;
  position: absolute;
  left: -9999px;
  max-width: 1px;
  max-height: 1px;
  white-space: nowrap;
}
