.unsupported-network-modal__card {
  position: relative;
  outline-color: transparent;
  outline-style: solid;
}

.unsupported-network-modal__card .boxel-action-container-section {
  display: flex;
  flex-direction: column;
}

.unsupported-network-modal__card .boxel-action-container-section > * + * {
  margin-top: 0;
}

.unsupported-network-modal__card p {
  margin-bottom: var(--boxel-sp-xs);
}

.unsupported-network-modal__card .boxel-action-container-section-title {
  margin-bottom: var(--boxel-sp-sm);
}

.unsupported-network-modal__card__text-row {
  display: flex;
}

.unsupported-network-modal__card__supported-chain {
  font-weight: bold;
  margin: 0 0 0 var(--boxel-sp-xxs);
}
