.unsupported-network-modal__card {
  position: relative;
  outline-color: transparent;
  outline-style: solid;
}

.unsupported-network-modal__card .boxel-action-container-section {
  display: flex;
  flex-direction: column;
}

.unsupported-network-modal__card .boxel-action-container-section > * + * {
  margin-top: 0;
}

.unsupported-network-modal__card .boxel-action-container-section-title {
  margin-bottom: var(--boxel-sp-sm);
}
