.unsupported-network-modal__card {
  position: relative;
  outline-color: transparent;
  outline-style: solid;
}

.unsupported-network-modal__close-button {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  padding: var(--boxel-sp-sm);
  height: calc(var(--boxel-sp-sm) * 2 + 0.75rem);
  width: calc(var(--boxel-sp-sm) * 2 + 0.75rem);
  line-height: 0;
  background: transparent;
  border: none;
  cursor: pointer;

  --icon-color: var(--boxel-dark);
}

.unsupported-network-modal__card .boxel-action-container-section {
  display: flex;
  flex-direction: column;
}

.unsupported-network-modal__card .boxel-action-container-section > * + * {
  margin-top: 0;
}

.unsupported-network-modal__card .boxel-action-container-section-title {
  margin-bottom: var(--boxel-sp-sm);
}
