<section>{{cs-accounts-menu}}</section>

<section>{{cs-editor-switch}}</section>

{{#cs-view-modes as |mode currentMode setMode|}}
  <section>
    {{cs-view-mode-button mode=mode currentMode=currentMode setMode=setMode}}
  </section>
{{/cs-view-modes}}

<section class="spacer"></section>

<div class="above-toolbox cardstack-toolbox-width">
  {{#cs-toolbox-modes as |mode currentMode setMode|}}
    <section>
      {{cs-toolbox-mode-button mode=mode currentMode=currentMode setMode=setMode}}
    </section>
  {{/cs-toolbox-modes}}

  <section class="spacer"></section>
</div>