<section>{{cs-accounts-menu}}</section>
<section>{{cs-editor-switch}}</section>
{{#cs-view-mode-buttons as |b|}}
  <section>{{cs-view-mode-button button=b}}</section>
{{/cs-view-mode-buttons}}
<section class="spacer"></section>