{{#if tools.activeContentItem}}
  {{cs-active-composition-panel
    model=tools.activeContentItem.content
    fields=fields
    openField=(action "openField")
    highlightField=(action "highlightField") }}
{{else}}
  <section class="cs-content-info">
    <p class="content-title">
      No editable content
    </p>
  </section>
{{/if}}
