{{cs-svg mode.icon.name width=mode.icon.width height=mode.icon.height class="cs-toolbox-mode-icon"}}
{{#if mode.description}}
  <label class="cs-toolbox-mode-label">{{mode.description}}</label>
{{/if}}
