<ul class="boxel-milestones" ...attributes>
  {{#each @milestones as |milestone i|}}
    {{#let (gt @completedCount i) (eq @completedCount i) as |isCompleted isCurrent|}}
      <li class={{cn "boxel-milestones__item" completed=isCompleted current=isCurrent}}>
        <span class="boxel-milestones__item-grid">
          <span class="boxel-milestones__item-bullet">
            {{#if isCompleted}}
              {{svg-jar "check-mark" width="10px" height="10px"}}
            {{/if}}
          </span>
          <span>{{milestone.title}}</span>
        </span>
      </li>
    {{/let}}
  {{/each}}
</ul>