.milestones {
  --bullet-fill-color: var(--boxel-light-600);

  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.milestones__item {
  position: relative;
}

.milestones__item + .milestones__item::before {
  display: block;
  content: "";
  width: 1px;
  height: var(--boxel-sp);
  /* TODO: discuss exceptions for extra small things */
  margin: 2px 0 3px 7px;
  background-color: var(--boxel-light-600);
}

.milestones__item-grid {
  display: grid;
  grid-template-columns: 16px 1fr;
  grid-template-rows: 1.125rem;
  gap: 0 var(--boxel-sp-sm);
  align-items: center;
}

.milestones__item-bullet {
  width: 16px;
  height: 16px;
  background-color: var(--bullet-fill-color);
  border-radius: 100px;
  text-align: center;
}

.milestones__item.current {
  color: var(--boxel-dark);
  font-weight: 600;
}

.milestones__item.current .milestones__item-bullet {
  --bullet-fill-color: var(--boxel-dark);
  border: 6px solid var(--boxel-highlight);
}

.milestones__item.completed .milestones__item-bullet {
  --icon-color: var(--boxel-dark);
  --bullet-fill-color: var(--boxel-highlight);
}
