.action-card-container {
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  /* box-shadow is implemented here so it follows the border-radius of this container */
  transition: box-shadow var(--boxel-transition);
}

.action-card-container--is-complete {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.action-card-container__header {
  --boxel-header-text-color: var(--boxel-purple-400);
  --boxel-header-background-color: transparent;

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action-card-container:hover .action-card-container__header {
  background-color: var(--boxel-purple-100);
  color: var(--boxel-dark);
}
