.dashboard-details-container {
  position: relative;
  max-width: 72rem;
  margin: 0 auto;
  color: var(--boxel-dark);
  background-color: var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
  overflow: hidden;
}

.dashboard-details-container__summary {
  height: 5rem;
}

.dashboard-details-container[open] .dashboard-details-container__summary {
  height: 1.25rem;
  background-color: var(--boxel-green);
}

.dashboard-details-container__summary::marker,
.dashboard-details-container__summary::-webkit-details-marker {
  display: none;
  content: '';
}

.dashboard-details-container__marker::before {
  display: block;
  content: "Show details";
}

.dashboard-details-container[open] .dashboard-details-container__marker::before {
  content: "Hide details";
}

.dashboard-details-container__marker {
  position: absolute;
  padding: var(--boxel-sp-sm);
  right: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
  z-index: 1;
}

.dashboard-details-container[open] .dashboard-details-container__marker {
  top: initial;
  bottom: 0;
}

.dashboard-details-container__marker-icon {
  margin-left: var(--boxel-sp-xs);
  transform: rotate(90deg);
}

.dashboard-details-container[open] .dashboard-details-container__marker-icon {
  transform: rotate(-90deg);
}


.dashboard-panel {
  --spacing: calc(var(--boxel-sp-xxxl) * var(--boxel-ratio));
  --border-color: #d3d3d3;

  display: grid;
  grid-template-columns: auto auto;
  gap: var(--spacing) 0;
  padding: var(--spacing);
}

.dashboard-panel__header {
  grid-column: 1 / -1;
  max-width: 28rem;
}

.dashboard-panel__header-title {
  margin-bottom: var(--boxel-sp-xxs);
  font-size: 3.125rem;
  font-weight: 600;
}

.dashboard-panel__header-desc {
  font-size: 1.25rem;
  letter-spacing: var(--boxel-lsp-xs);
}

.dashboard-panel__hero {
  /* this will use the relatively positioned details container */
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 21rem;
  /* background-image: url('/images/dashboard/balances-hero-sm.svg'); */
  background-position: top right;
  background-repeat: no-repeat;
  background-size: contain;
}
