<FreestyleAnnotation @slug="date-divider">
  <p>
    <ul>
      <li><code>@date</code> (date) — Defaults to <code>now</code>.</li>
    </ul>
  </p>
</FreestyleAnnotation>

<FreestyleUsage @slug="date-divider">
  <Boxel::DateDivider />
</FreestyleUsage>

<FreestyleUsage @slug="date-divider-arg">
  <Boxel::DateDivider @date="2020-01-07T15:00" />
</FreestyleUsage>