.cards-page {
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 20px;
  background-color: var(--boxel-light-purple);
}

.cards-list {
  display: flex;
  justify-content: center;
}

.card {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  border: none;
  border-radius: 65px;
  background-color: mediumpurple;
  color: black;
  text-align: center;
  margin: 15px;
  opacity: .7;
}

.card-contents {
  position: relative;
}

.card-title {
  font-size: 18px;
  opacity: 0.3;
  white-space: nowrap;
  /* width: 100px; */
}

.card-title.expanded {
  font-size: 48px;
  opacity: 1;
  /* width: 400px; */
}

.card.expanded {
  width: 500px;
  height: 300px;
  padding: 50px;
  border-radius: 0;
  opacity: 1;
}

.thumbnail.faded {
  opacity: 0.3;
}

.card-3 {
  background-color: red;
}

.card-2 {
  background-color: yellow;
}
