.drag-drop-page {
  --dark-gray: #4a4a4a;
  --light-purple: #5c5a6f;
  --dark-purple: #382870;

  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 100px 20px;
  background-color: var(--light-purple);
}

.tray-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
}

.tray {
  box-sizing: border-box;
  width: 200px;
  height: 200px;
  padding: 10px;
  border-radius: 30px;
  background-color: var(--dark-gray);
  text-align: center;
}

.draggable-card {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  margin: 0;
  padding-top: 20px;
  border: none;
  border-radius: 20px;
  background-color: mediumpurple;
  color: black;
  text-align: center;
}
.dragging .draggable-card {
  opacity: 0.3;
}
.dragging .accepts-drag .draggable-card {
  opacity: 0.6;
}

.draggable-card-contents {
  position: relative;
}

.draggable-card-title {
  font-size: 18px;
  white-space: nowrap;
}

.draggable-object-target {
  width: 180px;
  height: 180px;
  text-align: center;
  border-radius: 20px;
}
.dragging .draggable-object-target {
  background-color: var(--dark-purple);
}

.drop-zone-text {
  font-size: 24px;
  color: white;
  padding-top: 70px;
}
