.field-types-demo-page {
  --light-gray: #f8f8f8;
  --dark-gray: #373741;
  --light-purple: #5c5a6f;
  --dark-purple: #343356;
  --darker-purple: #382870;

  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 60px 20px;
  background-color: var(--light-gray);
}

.field-types-demo-page.schema {
  background-color: var(--dark-purple);
}

.field-types-demo-card {
  box-sizing: border-box;
  width: 400px;
  padding: 0;
  border-radius: 10px;
  border: solid 2px var(--dark-purple);
  color: black;
  text-align: left;
  margin: auto;
  position: relative;
}

.field-types-demo-card.schema {
  border-color: var(--light-gray);
  border-radius: 0px;
}

.field-types-demo-card-header {
  position: relative;
  height: 60px;
  box-sizing: border-box;
  padding: 20px;
  background-color: var(--darker-purple);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.header-title {
  font-size: 16px;
  font-weight: bold;
  color: white;
}

.field-types-demo-card-header.schema {
  background-color: var(--light-purple);
  height: 100px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.field-types-demo-card-content {
  padding: 20px;
  background-color: var(--light-gray);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.field-types-demo-card-content.schema {
  background-color: var(--dark-gray);
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.field-types-demo-card-text-field {
  height: 100px;
}

.field-types-demo-card-text-area {
  height: 200px;
}

.field-types-demo-card-title {
  font-size: 28px;
  line-height: 36px;
  text-align: center;
}

.field-types-demo-card-description {
  font-size: 22px;
  line-height: 30px;
  text-align: center;
}

.field-types-demo-card-body {
  font-size: 16px;
  line-height: 22px;
}

.btn-edit-toggle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 80px;
}

.field-type {
  background-color: #6F6883;
  border-radius: 10px 10px 0 0;
  color: white;
  text-transform: uppercase;
  padding: 5px 10px;
}

.field-types-demo-card-content .cs-component-text-field .cs-component-text-area--container {
  border: none;
  border-radius: 15px;
  background-color: transparent;
}
.field-types-demo-card-content .cs-component-text-field.schema .cs-component-text-area--container {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.field-types-demo-card-content .cs-component-text-field {
  padding-top: 0;
  border: 1px solid var(--cs-text-field-border-color);
  border-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  background-color: white;
}

.field-types-demo-card-content .cs-component-text-field.schema {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.field-types-demo-card-content .cs-component-text-field .cs-component-text-field--label.active > .label,
.field-types-demo-card-content .cs-component-text-field .cs-component-text-field--input:focus + .cs-component-text-field--label > .label {
  top: 0.5rem;
}

.field-types-demo-card-content .cs-component-text-field .cs-component-text-field--label > .label {
  top: 2.0rem;
}

.field-types-demo-card-content .cs-component-text-field .cs-component-text-field--input {
  background-color: transparent;
  border: none;
}

.field-types-demo-card-content .cs-component-text-field.schema .cs-component-text-field--input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.field-types-demo-card-content .cs-component-text-area .cs-component-text-field--input {
  background-image: none;
}
