.form-cards-page {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #352250;
}

.form-cards-list {
  display: flex;
  justify-content: center;
  padding: 100px 20px;
}

.form-card {
  box-sizing: border-box;
  position: relative;
  width: 270px;
  height: 306px;
  margin: 15px;
  border: none;
  border-radius: 30px;
  background-color: #65e7ff;
  color: black;
  text-align: center;
  cursor: pointer;
}

.form-card-2 {
  background-color: #d23ade;
}

.form-card-3 {
  background-color: #d0ff65;
}


/* Div for box-shadow tweening effect */
/*
  TODO: ideally use pseudo-element for box-shadow however then ember-animated doesn't tween
*/
.form-shadow-container {
  height: 100%;
  border-radius: inherit;
}

.form-card--shadow {
  box-sizing: border-box;
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  border-radius: inherit;
  box-shadow: 0 5px 15px 20px rgba(0, 0, 0, 0.4);
  opacity: 0;
}
.form-card--shadow.expanded {
  opacity: 1;
}


/* Edit page */
.form-cards-page.edit {
  position: absolute;
  top: 0;
  background-color: #eeeeee;
}

.form-card.expanded {
  width: 556px;
  height: 838px;
}
