.tic-tac-toe-enhanced-page {
  --light-purple: #5c5a6f;
  --bright-purple: #6638FF;
  --dark-purple: #27264C;
  --dark-blue: #02002C;
  --bright-blue: #0069F9;
  --cyan: #00ECE5;
  --cell-size: 230px;
  --piece-size: 206px;

  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  background-color: var(--dark-purple);
  display: grid;
  grid-template-columns: 360px 1fr;
}

.tic-tac-toe-enhanced-pieces {
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  background-color: var(--dark-blue);
  padding: 300px 75px;
  box-shadow: 0 3px 12px black;
}

.tic-tac-toe-enhanced-pieces .tic-tac-toe-enhanced-piece {
  margin: 30px 0;
}

.tic-tac-toe-enhanced-pieces.piece-x .tic-tac-toe-enhanced-piece.piece-x,
.tic-tac-toe-enhanced-pieces.piece-o .tic-tac-toe-enhanced-piece.piece-o {
  opacity: 0.3;
}

.tic-tac-toe-enhanced-board-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tic-tac-toe-enhanced-board {
  display: grid;
  width: 700px;
  height: 700px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  align-items: center;
}

.tic-tac-toe-enhanced-cell-tray {
  box-sizing: border-box;
  width: var(--cell-size);
  height: var(--cell-size);
  padding: 12px;
  background-color: var(--dark-blue);
  text-align: center;
}

.tic-tac-toe-enhanced-board.dragging .tic-tac-toe-enhanced-cell-tray.draggable {
  background-color: var(--light-purple);
  border: dashed 2px #919191;
}

.tic-tac-toe-enhanced-board.dragging .tic-tac-toe-enhanced-cell-tray.draggable.active {
  background-color: var(--dark-blue);
  border: solid 3px var(--cyan);
  padding: 9px;
}

.tic-tac-toe-enhanced-board.dragging .tic-tac-toe-enhanced-cell-tray.draggable.active .tic-tac-toe-enhanced-piece {
  background-color: #919191;
  opacity: 0.5;
}

.tic-tac-toe-enhanced-piece {
  box-sizing: border-box;
  width: var(--piece-size);
  height: var(--piece-size);
  margin: 0;
  padding-top: 47px;
  border: none;
  border-radius: 45px;
  text-align: center;
  font-size: 96px;
}

.tic-tac-toe-enhanced-board .animated-container,
.tic-tac-toe-enhanced-board .tic-tac-toe-enhanced-piece,
.tic-tac-toe-enhanced-piece svg {
  pointer-events: none;
}

.tic-tac-toe-enhanced-piece.piece-x {
  background-color: var(--bright-blue);
}

.tic-tac-toe-enhanced-piece.piece-o {
  background-color: var(--bright-purple);
}
