.boxel-mode-indicator {
  --mode-container-width: 180px;
  --mode-container-height: 40px;
  --mode-icon: url('');
  --mode-icon-position: center left var(--boxel-sp-sm);
  --mode-icon-width: 15px;
  --mode-icon-height: 15px;
  --mode-icon-size: var(--mode-icon-width) var(--mode-icon-height);

  display: block;
  min-width: var(--mode-container-width);
  width: auto;
  max-width: 100%;
  height: var(--mode-container-height);
  padding: var(--boxel-sp-xs) calc(var(--boxel-sp-sm) + var(--mode-icon-width) + var(--boxel-sp-xxs));
  background-color: var(--boxel-highlight);
  background-image: var(--mode-icon), url('../@cardstack/boxel/images/icons/close.svg');
  background-position: var(--mode-icon-position), center right var(--boxel-sp-sm);
  background-repeat: no-repeat, no-repeat;
  background-size: var(--mode-icon-size), 10px 10px;
  border: none;
  border-radius: 100px;
  color: var(--boxel-dark);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  text-align: left;
  text-transform: capitalize;
}

.boxel-mode-indicator--edit {
  --mode-icon: url('../@cardstack/boxel/images/icons/edit-box.svg');
}
.boxel-mode-indicator--configure {
  --mode-icon: url('../@cardstack/boxel/images/icons/gear.svg');
}
.boxel-mode-indicator--themer {
  --mode-icon: url('../@cardstack/boxel/images/icons/themer.svg');
}
.boxel-mode-indicator--preview {
  --mode-icon: url('../@cardstack/boxel/images/icons/eye.svg');
}

.boxel-mode-indicator:hover,
.boxel-mode-indicator:focus {
  outline: 0;
}
