<div class="card-catalog">
  {{#each model as |item|}}
    <Tray>
      <div role="button" class="catalog-item" onclick={{action "preview" item.constructor.modelName}}>
        <div class="catalog-item--preview">
          <AnimatedContainer>
            {{#animated-value item duration="700"}}
              <Boxel @content={{item}} @variant="small" />
            {{/animated-value}}
          </AnimatedContainer>
        </div>
        <div class="catalog-item--info">
          <h3>{{item.title}}</h3>
        </div>
      </div>
    </Tray>
  {{/each}}
</div>