<Tray @expanded={{true}}>
  <div class="catalog-preview">
    <div class="catalog-preview--boxel-container">
      <AnimatedContainer>
        {{#animated-value this.model use=transition duration="700" as |m|}}
          <Boxel @content={{m}} @format="embedded" />
        {{/animated-value}}
      </AnimatedContainer>
    </div>
    <section class="catalog-preview--info-panel">
      <header>
        <h2 class="catalog-preview--info-panel-title">Responsive {{this.model.constructor.modelName}} template</h2>
        <span class="catalog-preview--info-panel-sub-title">By Felix Erland</span>
      </header>

      <div class="catalog-preview--info-panel-data">
        <p>This is a beautiful, clean powerful blog template for people who want tell stories, share important thoughts. This template was designed with great attention to more...</p>
      </div>

      <footer class="catalog-preview--footer">
        <button {{on "click" this.editModel}} class="catalog-preview--edit-button">
          Start Editing
        </button>
      </footer>
    </section>
  </div>
</Tray>