.collection__wrapper {
  height: 100%;
  padding: 0 30px 30px;
  overflow: hidden;
}

.collection-edit-modal {
  --boxel-modal-max-width: 1300px;
}

/* Play btn */
.collection__play-btn {
  --icon-color: rgb(0 0 0 / 50%);
  --icon-border: white;

  width: 60px;
  height: 60px;
  display: none;
  position: absolute;
  top: 30%;
  left: 37%;
  z-index: 2;
}

.collection__play-btn--list {
  top: 32px;
  left: 32px;
}

/* Collection Item */
.collection {
  display: grid;
  grid-auto-rows: max-content;
  text-align: center;
  width: 100%;
  height: 100%;
  padding: 20px 20px 0;
  border-radius: var(--boxel-border-radius);
  border: 1px solid transparent;
  min-height: 280px;
}

.collection--edit {
  background-color: var(--boxel-light);
  border-color: var(--boxel-border-color);
}

.collection__title {
  padding-top: 9px;
  padding-bottom: 3px;
  font: var(--boxel-font);
  font-weight: 400;
  letter-spacing: var(--boxel-lsp);
}

.collection__artist {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.collection__img {
  width: 182px;
  height: 182px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* List item view */
.collection--list {
  --list-view-item-height: 120px;
  --list-view-img-size: 80px;

  height: var(--list-view-item-height);
  min-height: auto;
  gap: 20px;
  padding: 20px;
  border-color: var(--boxel-border-color);
  letter-spacing: var(--boxel-lsp);
  text-align: left;
}

.collection--list.collection--edit {
  gap: 10px;
}

.collection--list .collection__img {
  width: var(--list-view-img-size);
  height: var(--list-view-img-size);
}

.collection__list-field {
  grid-row: 1;
  min-width: 150px;
  font: var(--boxel-font-sm);
}

.collection--list .collection__main {
  grid-row: 1;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 20px;
}

.collection--list .collection__title-desc,
.collection__list-field--0 {
  width: 250px;
}

.collection__list-field-label {
  font-weight: 700;
  text-transform: uppercase;
}

.collection--list .collection__title,
.collection--list .collection__artist {
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.collection--list .collection__artist {
  color: var(--boxel-dark);
}

.collection--list .collection__play-btn {
  width: 100%;
  height: 100%;
  margin: auto;
  top: 0;
}

.collection--list .collection__title {
  padding-top: 0;
  font-size: 18px;
  font-weight: 700;
}

.collection--list .collection__title + .collection__artist {
  margin-top: 5px;
}

.collection__list {
  grid-row: 1;
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.collection__play-btn.is-playing,
.media-collection__grid-item:hover .collection__play-btn,
.master-collection__boxel:hover .collection__play-btn {
  display: inline-block;
}
