.merchant-customization .merchant-customization__name {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 0;
}

.merchant-customization__enter-name {
  color: var(--boxel-light-600);
}

.merchant-customization__color {
  display: flex;
  align-items: center;
}

.merchant-customization__color-preview,
.merchant-customization__color-input {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: var(--boxel-sp-xxs);
  border-radius: 3px;
}

.merchant-customization__color-preview {
  background-color: var(--merchant-custom-color);
}
