.image-uploader__container {
  --horizontal-gap: var(--boxel-sp-lg);
  --image-size: 5.625rem;

  display: grid;
  gap: 0 var(--horizontal-gap);
  width: max-content;
  grid-template-columns: var(--image-size) auto;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    'preview controls'
    'preview requirements';
}

.image-uploader__preview {
  grid-area: preview;
  position: relative;
  width: var(--image-size);
  height: var(--image-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.image-uploader__preview-image {
  object-fit: contain;
  flex-grow: 0;
}

.image-uploader__loading-indicator-container {
  position: absolute;
  top: 0;
  left: 0;
  width: var(--image-size);
  height: var(--image-size);
  background-color: rgba(100, 100, 100, 0.5);
}

.image-uploader__loading-indicator {
  width: 100%;
  height: 100%;
  padding: var(--boxel-sp-lg);
}

.image-uploader__preview--rounded {
  border-radius: 9999px;
  overflow: hidden;
}

.image-uploader__preview--placeholder {
  --icon-color: var(--boxel-purple-200);

  overflow: visible;
  padding: var(--boxel-sp);
  background-color: var(--boxel-light-400);
}

.image-uploader__controls {
  grid-area: controls;
  display: flex;
  flex-wrap: wrap;
  gap: var(--boxel-sp-xxs);
}

.image-uploader__button {
  flex-shrink: 0;
  width: min-content;
  min-width: 0;
  margin: var(--boxel-sp-xs) 0;
}

.image-uploader__button--icon {
  --icon-color: currentColor;
  padding: var(--boxel-sp-xxxs);
}

.image-uploader__error-message {
  grid-area: requirements;
  font: var(--boxel-font-xs);
  max-width: 14rem;
  color: var(--boxel-error-100);
  letter-spacing: var(--boxel-lsp-lg);
}

.image-uploader__requirements {
  grid-area: requirements;
  font: var(--boxel-font-xs);
  max-width: 14rem;
  color: var(--boxel-purple-400);
  letter-spacing: var(--boxel-lsp-lg);
}
