.chain-change-modal {
  --chain-change-modal-max-width: 36.25rem; /* 580px */
  --boxel-modal-max-width: unset;
  /* stylelint-disable-next-line length-zero-no-unit */
  --boxel-modal-offset-top: 0px; /* Do not remove the px here. It would break the `calc` calculation for the scroll. */
}

.chain-change-modal > div {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 var(--boxel-sp-lg);
}

.chain-change-modal__scroll-wrapper {
  width: 100%;
  max-width: var(--chain-change-modal-max-width);
  height: auto;
  max-height: 100%;
  margin: auto;
  padding: var(--boxel-sp-xs) 0;
  overflow-y: auto;
  transition: max-width var(--boxel-transition);
}

@media screen and (max-width: 40rem) {
  .chain-change-modal__scroll-wrapper {
    min-width: unset;
  }
}

.chain-change-modal__card {
  position: relative;
  padding: var(--boxel-sp-xxl) var(--boxel-sp-lg);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--boxel-sp-xl);
  outline-color: transparent;
  outline-style: solid;
}

.chain-change-modal__card-title {
  font: 700 1.125rem/calc(24 / 18) var(--boxel-font-family);
  letter-spacing: 0;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
}

.chain-change-modal__card-title-content {
  flex-grow: 1;
}

.chain-change-modal__card-title-icon {
  margin-right: var(--boxel-sp-sm);
  flex-shrink: 0;
}
