.funding-source__field {
  grid-template-columns: 3.5rem 1fr;
  row-gap: 0;
}

.funding-source__field-info {
  grid-column: 2;
  grid-row: 2;
}

/* dropdown */
.funding-source__nested-dropdown {
  --arrow-space: 2.5rem;

  margin-top: var(--boxel-sp-sm);
  padding-left: calc(var(--arrow-space) + var(--boxel-sp-xs));
  background-image: url('/images/icons/curve-arrow.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: var(--arrow-space) 14px;
}

.funding-source__dropdown {
  --field-height: 3.75rem;

  position: relative;
  min-height: var(--field-height);
}

.funding-source__dropdown > .ember-power-select-trigger {
  background: url('/images/icons/caret-dropdown.svg') right 1.125rem center/auto 0.5rem no-repeat;
  background-color: var(--boxel-light);
  border: 1px solid var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius-sm);
  transition: border-color var(--boxel-transition);
}

.funding-source__dropdown > .ember-power-select-trigger:hover {
  border-color: var(--boxel-dark);
  cursor: pointer;
}

.funding-source__dropdown .ember-basic-dropdown-content {
  position: absolute;
  z-index: 1;
  width: 100%;
  background-color: var(--boxel-light);
  border: 1px solid var(--boxel-purple-300);
  border-radius: var(--boxel-border-radius-sm);
  overflow: hidden;
}

.funding-source__dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}

.funding-source__dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

.funding-source__dropdown-option {
  min-height: var(--field-height);
  padding-right: var(--boxel-sp-xxl);
  padding-left: var(--boxel-sp);
}

.funding-source__dropdown-option--selected {
  background-image: url('/images/icons/checkmark.svg');
  background-repeat: no-repeat;
  background-position: right 1.125rem center;
  background-size: 0.75rem 0.75rem;
}

.ember-power-select-selected-item .funding-source__dropdown-option--selected {
  background-image: unset;
}

.funding-source__dropdown-option:hover {
  background-color: var(--boxel-light-300);
  cursor: pointer;
}

.ember-power-select-selected-item .funding-source__dropdown-option:hover {
  background-color: initial;
}

@keyframes drop-fade-below {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes drop-fade-above {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
