.card-pay-layer-one-wallet-provider-selection__group .boxel-radio-option--disabled {
  background: var(--boxel-purple-100);
  filter:grayscale(0.8);
  cursor: not-allowed;
}

.card-pay-layer-one-wallet-provider-selection__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--boxel-sp);
}

.card-pay-layer-one-wallet-provider-selection__item-image {
  width: 2.5rem;
  height: 2.5rem;
  object-fit: contain;
  margin-bottom: var(--boxel-sp-xs);
}

.card-pay-layer-one-wallet-provider-selection__item-name {
  font: 600 var(--boxel-font);
}

.card-pay-layer-one-wallet-provider-selection__item-description {
  font: var(--boxel-font-sm);
  color: var(--boxel-purple-400);
  text-align: center;
}

.card-pay-layer-one-wallet-provider-selection__cta {
  width: 100%;
}
