.degraded-service-banner {
  --degraded-service-banner-text-color: var(--boxel-dark);
  --degraded-service-banner-background-color: var(--boxel-yellow);
  --icon-background-color: var(--degraded-service-banner-text-color);
  --icon-color: var(--degraded-service-banner-background-color);

  min-height: 2rem;
  font: 600 var(--boxel-font-sm);
  background: var(--degraded-service-banner-background-color);
  color: var(--degraded-service-banner-text-color);
}

.degraded-service-banner__container {
  max-width: var(--degraded-service-banner-content-max-width, 80ch);
  margin: auto;
  display: flex;
  align-items: center;
  width: 100%;
}

.degraded-service-banner__icon-area {
  --degraded-service-banner-icon-area-width: 1.7rem;

  display: flex;
  align-items: center;
  width: var(--degraded-service-banner-icon-area-width);
  height: var(--degraded-service-banner-icon-area-width);
  margin-right: var(--boxel-sp-xxs);
}

.degraded-service-banner__container a {
  text-decoration: underline;
}

.degraded-service-banner__container a:hover {
  color: inherit;
}

.degraded-service-banner.degraded-service-banner--severe {
  --degraded-service-banner-text-color: var(--boxel-light);
  --degraded-service-banner-background-color: var(--boxel-red);
}
