.dashboard-panel-section {
  position: relative;
  letter-spacing: var(--boxel-lsp-sm);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.dashboard-panel-section--bottom-aligned {
  justify-content: flex-end;
}

.dashboard-panel-section__title {
  margin-top: var(--boxel-sp-sm);
  margin-bottom: var(--boxel-sp-xxxs);
  font-size: 1.25rem;
}

.dashboard-panel-section__desc {
  line-height: 1.5;
}

.dashboard-panel-section__list {
  list-style-type: disc;
  margin-top: var(--boxel-sp-xl);
  padding-left: var(--boxel-sp-lg);
  color: var(--boxel-purple-500);
  font-size: var(--boxel-font-size-sm);
  line-height: calc(22 / 13);
}

.dashboard-panel-section__list-item + .dashboard-panel-section__list-item {
  margin-top: var(--boxel-sp);
}

.dashboard-panel-section__list-item::marker {
  color: var(--boxel-dark);
}

.dashboard-panel-section a {
  text-decoration: underline;
}

.dashboard-panel-section a:hover {
  color: var(--boxel-dark);
}

.dashboard-panel-section button {
  width: 100%;
  max-width: 26rem;
  margin-top: var(--boxel-sp-xxl);
}

.dashboard-panel-section__disclaimer {
  display: block;
  font-size: var(--boxel-font-size-xs);
  line-height: 1.8;
  letter-spacing: var(--boxel-lsp);
  color: var(--boxel-purple-500);
}

.dashboard-panel-section__badges {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-top: var(--boxel-sp-lg);
  margin-bottom: var(--boxel-sp-lg);
}

.dashboard-panel-section__badges img {
  height: 2.8rem;
  margin-right: var(--boxel-sp-lg);
}

.dashboard-panel-section-wallet {
  justify-content: flex-start;
}

/* TODO make responsive */
.dashboard-panel-section-wallet-background {
  width: 600px;
  position: absolute;
  height: 367px;
  bottom: 0;
  left: -84px;
  background-image: url(/images/dashboard/cards@3x.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.dashboard-panel-section-wallet .dashboard-panel-section__disclaimer {
  position: relative;
  margin-top: var(--boxel-sp);
  transform: none;
}

@media screen and (max-width: 800px) {
  .dashboard-panel-section + .dashboard-panel-section {
    border-top: 1px solid var(--border-color);
    padding-top: var(--spacing);
  }

  .dashboard-panel-section__disclaimer {
    position: relative;
    margin-top: var(--boxel-sp);
  }
}

@media screen and (min-width: 801px) {
  .dashboard-panel-section--has-disclaimer {
    margin-bottom: 8ex; /* add fixed-height margin at the bottom to leave space for the disclaimer */
  }

  .dashboard-panel-section:nth-child(even) {
    border-left: 1px solid var(--border-color);
    margin-left: var(--spacing);
    padding-left: var(--spacing);
  }

  .dashboard-panel-section__disclaimer {
    position: absolute;
    bottom: 0;
    transform: translateY(calc(var(--boxel-sp) + 100%));
  }
}
