.layout-form-view {
  --header-color: var(--boxel-lime);
  --field-width: 470px;
  --field-height: 40px;

  display: grid;
  gap: var(--boxel-spacing);
  padding: 0 30px 60px;
}

.layout-form-view__preview-field {
  grid-column: 1 / -1;
  display: inline-grid;
  justify-items: center;
  padding-bottom: var(--boxel-spacing);
}

.layout-form-view__field {
  display: grid;
  grid-template-columns: 120px auto;
  align-items: center;
  gap: var(--boxel-spacing);
}

.layout-form-view__label {
  padding: 10px;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-align: right;
  text-transform: uppercase;
}

.layout-form-view__input {
  max-width: var(--field-width);
  height: var(--field-height);
  padding: 8px var(--boxel-spacing);
  border: 1px solid var(--boxel-purple-300);
  border-radius: 6px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
  transition: border-color var(--boxel-transition);
}
.layout-form-view__input:hover {
  border-color: var(--boxel-dark);
}
.layout-form-view__input:focus {
  outline-color: var(--boxel-highlight);
}

.layout-form-view__dropdown {
  max-width: var(--field-width);
  height: var(--field-height);
}
.layout-form-view__dropdown > .ember-power-select-trigger {
  background: url('/@cardstack/boxel/images/icons/carot-down.svg') right 18px center/auto 8px no-repeat;
  border: 1px solid var(--boxel-purple-300);
  border-radius: 6px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
  transition: border-color var(--boxel-transition);
}
.layout-form-view__dropdown > .ember-power-select-trigger:hover {
  border-color: var(--boxel-dark);
  cursor: pointer;
}
.layout-form-view__dropdown > .ember-power-select-trigger:focus {
  outline-color: var(--boxel-highlight);
}
.layout-form-view__dropdown .ember-basic-dropdown-content {
  min-width: 250px;
  max-height: 250px;
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}
.layout-form-view__dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}
.layout-form-view__dropdown .ember-basic-dropdown-content.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}
.layout-form-view__dropdown-option {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 10px;
  height: 40px;
  padding: 0 10px;
}
.layout-form-view__dropdown .ember-power-select-dropdown .layout-form-view__dropdown-option:hover {
  background-color: var(--boxel-light-300);
  cursor: pointer;
}
.layout-form-view__dropdown-option-icon {
  width: 25px;
  height: 25px;
  border: 1px solid var(--boxel-purple-300);
  border-radius: 5px;
  background: var(--header-color);
}
.layout-form-view__pattern-icon {
  background: var(--boxel-light);
}
.layout-form-view__dropdown-option-title {
  font-size: var(--boxel-font-size-sm);
  font-weight: 600;
}
