<div class="boxel-cta-block__main-action-area" ...attributes data-test-boxel-cta-block-main-action-area>
  {{#if @icon}}
    {{svg-jar @icon class="boxel-cta-block__main-action-area-icon" role="presentation"}}
  {{/if}}
  {{yield}}
</div>