<div style="border: 2px solid green;border-radius:10px;padding:1vw">
  <div style="display:flex; background-color:lightgray">
    {{#if @editable}}
      <button data-test-edit-button {{on 'click' (perform this.modal.editCard @card.model) }}>Edit</button>
    {{/if}}
  </div>

  {{yield}}

  <div style="background-color: lightgray">
    {{yield to="action-chin"}}
  </div>
</div>