.card-space-user-page {
  height: 100vh;
  width: 100%;
  display: flex;
  margin: auto;
  background: var(--boxel-purple-600);
}

.card-space-user-page__wrapper {
  margin: auto;
  background: var(--card-space-background);
  color: var(--card-space-text-color);
  padding: var(--boxel-sp-xl);
  border-radius: 2rem;
  height: 90%;
  max-width: 90%;
  aspect-ratio: 1;
}

@media only screen and (max-width: 992px) {
  .card-space-user-page__wrapper {
    width: 100%;
    height: 100vh;
    max-height: 100%;
    max-width: 100%;
    border-radius: 0;
  }
}

.card-space-user-page__description {
  text-align: center;
}

.card-space-user-page__title {
  text-align: center;
  font-size: var(--boxel-font-size-xl);
  font-weight: 600;
  margin: var(--boxel-sp-xxl);
}

.card-space-user-page__url {
  text-align: center;
  opacity: 0.9;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-space-user-payment-link {
  margin-top: var(--boxel-sp-sm);
}

.card-space-user-page-payment-link__error {
  margin: var(--boxel-sp-sm);
  text-align: center;
}

.card-space-user-footer {
  text-align: center;
  font-size: var(--boxel-font-size-sm);
  margin-top: var(--boxel-sp-lg);
}

.payment-link__qr-container__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.payment-link__qr-container__actions > a {
  margin: var(--boxel-sp-lg);
}

.payment-link__qr-container__separator {
  width: 100%;
  height: 1px;
  background: var(--boxel-light-600);
  margin-top: var(--boxel-sp-xs);
}

.payment-link__qr-container__separator-or {
  margin: auto;
  color: #000;
  background: #fff;
  margin-top: -10px;
  width: 4rem;
  text-align: center;
  font-size: var(--boxel-font-size-sm);
  font-weight: 700;
}
