.card-space-user-page {
  min-height: 100vh;
  width: 100%;
  margin: auto;
  padding: var(--boxel-sp-lg);
  background: var(--boxel-purple-600);
}

.card-space-user-page__wrapper {
  margin: auto;
  background: var(--card-space-background);
  color: var(--card-space-text-color);
  border-radius: var(--boxel-border-radius-lg) var(--boxel-border-radius-lg) 0 0;
  max-width: 44rem;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2.5rem;
  grid-template-areas: "user-content" "apps";
}

.card-space-user-page__user-content {
  padding: min(var(--boxel-sp-xl), 5vw);
  align-self: center;
  grid-area: user-content;
  max-width: 100%;
}

.card-space-user-page__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 44rem;
  margin: auto;
  padding-bottom: var(--boxel-sp);
}

@media only screen and (max-width: 992px) {
  .card-space-user-page {
    padding: 0;
    padding-top: min(var(--boxel-sp-xl), 5vw);
    color: var(--card-space-text-color);
  }

  .card-space-user-page__header {
    padding-left: min(var(--boxel-sp-xl), 5vw);
    padding-right: min(var(--boxel-sp-xl), 5vw);
  }

  .card-space-user-page__wrapper {
    min-width: 100%;
    height: auto;
  }
}

.card-space-user-page__description {
  text-align: center;
  font-size: var(--boxel-font-size-xl);
  font-weight: 300;
  margin-top: var(--boxel-sp-sm);
}

.card-space-user-page__title {
  text-align: center;
  font-size: var(--boxel-font-size-lg);
  font-weight: 600;
  max-width: 30rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: var(--boxel-sp-xxxs);
  overflow-wrap: break-word;
}

.card-space-user-page__url {
  text-align: center;
  opacity: 0.9;
  font-size: var(--boxel-font-size-sm);
  font-weight: 700;
  letter-spacing: 1px;
  word-break: break-all;
  margin-bottom: var(--boxel-sp-xl);
}

.card-space-user-payment-link {
  margin: var(--boxel-sp) 0 var(--boxel-sp-xl) 0;
}

.card-space-user-page-payment-link__error {
  margin: var(--boxel-sp-sm);
  text-align: center;
}

.card-space-user-footer {
  text-align: center;
  font-size: var(--boxel-font-size-sm);
  margin-top: var(--boxel-sp-lg);
}

.card-space-user-payment-link__qr.boxel-styled-qr-code {
  max-width: 100%;
  border-radius: var(--boxel-border-radius-lg);
}

.card-space-user-payment-link__qr-container__actions {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* the violation below is for 2 different parents */
/* stylelint-disable-next-line no-descending-specificity */
.card-space-user-payment-link__qr-container__actions > a {
  margin: var(--boxel-sp-lg);
}

.card-space-user-payment-link__qr-container__separator {
  width: 100%;
  height: 1px;
  background: var(--boxel-light-600);
  margin-top: var(--boxel-sp-xs);
}

.card-space-user-payment-link__qr-container__separator-or {
  margin: auto;
  color: #000;
  background: #fff;
  margin-top: -10px;
  width: 4rem;
  text-align: center;
  font-size: var(--boxel-font-size-sm);
  font-weight: 700;
}

.card-space-user-page__apps_wrapper {
  grid-area: apps;
}

.card-space-user-page__apps {
  background: var(--boxel-light-200);
  color: var(--card-space-text-color);
  padding: min(var(--boxel-sp-xl), 5vw);
  border-radius: 0 0 var(--boxel-border-radius-lg) var(--boxel-border-radius-lg);
  width: 100%;
  display: grid;
  grid-template: "wallet stores";
}

.card-space-user-page__apps_title {
  text-align: center;
  color: white;
  font-size: var(--boxel-font-size-xs);
  font-weight: 600;
  text-transform: uppercase;
  padding-bottom: var(--boxel-sp-xs);
}

.card-space-user-page__apps_wallet {
  grid-area: wallet;
}

.card-space-user-page__apps_stores {
  grid-area: stores;
  justify-content: flex-end;
}

@media only screen and (max-width: 992px) {
  .card_space-user-page__apps_title {
    color: var(--card-space-text-color);
  }

  .card-space-user-page__apps_wrapper {
    background: var(--card-space-background);
    color: var(--card-space-text-color);
    min-width: 100%;
    height: auto;
  }

  .card-space-user-page__apps {
    min-width: 100%;
    grid-template: "wallet" "stores";
    gap: min(var(--boxel-sp-xl), 5vw);
    justify-content: flex-start;
  }

  .card-space-user-page__apps_stores {
    align-self: space-between;
  }
}
