{{#if this.cards.isShowingModal}}
<div style="border:3px red dashed">
  <div>
    <button {{on 'click' this.close}}>Close Modal</button>
  </div>

  {{#if this.cards.isLoading}}
    <h1>LOADING!!!</h1>
  {{else}}
    <this.cards.modalModel.component />
  {{/if}}
</div>
{{/if}}