.create-new {
  position: absolute;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  top: 0;
  left: 0;
  background-color: #201f27;
}

.create-new--main {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  min-height: 100%;
  min-width: 1150px;
  padding: 80px 300px 80px 400px;
  background-color: #201f27;
  overflow: scroll;
}


/* Left edge with form items catalog */
.create-new--left-edge {
  position: fixed;
  display: flex;
  flex-flow: row nowrap;
  width: 390px;
  height: 100vh;
  z-index: 2;
  opacity: 0.96;
}

.create-new--left-edge--profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60px;
  padding: 20px 0;
  background-color: #343355;
}

.create-new--left-edge--profile .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bebbce;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  fill: black;
}

.create-new--left-edge--profile .icon.active {
  border: 4px solid #00eae4;
}

.create-new--left-edge--profile .icon.profile {
  background-image: url('/images/profile-icon.svg');
}

.create-new--left-edge--profile .icon.settings {
  background-image: url('/images/settings-icon.svg');
  border-radius: 5px;
}

.create-new--left-edge--profile .icon.search {
  background-image: url('/images/search-icon.svg');
}


.create-new--left-edge--catalog {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.create-new--left-edge--catalog .title {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.create-new--left-edge--catalog-field {
  position: relative;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}

.create-new--left-edge--catalog-field + .create-new--left-edge--catalog-field {
  margin-top: 15px;
}

.create-new--left-edge--catalog-field .field-icon {
  box-sizing: border-box;
  width: 100%;
  max-width: 80px;
  height: 80px;
  padding: 20px;
  background-color: #fafafa;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 1px solid #ddd;
  background-position: center;
  background-repeat: no-repeat;
}

.create-new--left-edge--catalog-field .field-icon.text-field {
  background-image: url('/images/text-field-icon@2x.png');
}

.create-new--left-edge--catalog-field .field-icon.cta {
  background-image: url('/images/cta-icon@2x.png');
}

.create-new--left-edge--catalog-field .field-icon.phone-number-field {
  background-image: url('/images/phone-icon@2x.png');
}

.create-new--left-edge--catalog-field .field-content {
  width: 100%;
  padding: 15px;
  margin: auto 0;
}

.create-new--left-edge--catalog-field .field-content--title {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.create-new--left-edge--catalog-field .field-content-description {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.create-new--left-edge--catalog-field .field-content--info-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: transparent;
  background-image: url('/images/info-icon.svg');
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}


/* Card */
.create-new--card {
  box-sizing: border-box;
  position: relative;
  max-width: 500px;
  min-width: 460px;
  margin: 0 auto;
  background-color: #383849;
  border: 2px solid #00eae4;
  border-radius: 10px;
  overflow: hidden;
}

.create-new--card-header {
  padding: 40px 20px 20px;
  background-color: #00eae4;
}

.create-new--card-header > .title {
  padding-bottom: 40px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
}

.create-new--card-header > .id {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.create-new--card-header > button.done-btn {
  position: absolute;
  top: 40px;
  right: 20px;
  width: 70px;
  height: 32px;
  padding: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-size: 13px;
  color: black;
}

.create-new--card-header > button.done-btn:hover {
  background-color: white;
  color: black;
}


.create-new--card--field-box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 162px;
  width: 100%;
  padding: 20px 20px 30px;
  font-size: 16px;
}

.create-new--card--field-box + .create-new--card--field-box {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.create-new--card--field-box .handle-icon {
  height: 18px;
  width: 14px;
  background-image: url('/images/grabber-handle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.create-new--card--field-box .field-data {
  box-sizing: border-box;
  width: 384px;
  min-height: 112px;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.create-new--card--field-box .field-data--content {
  padding: 10px;
}

.create-new--card--field-box .field-data--type {
  padding: 10px;
  background-color: #24242e;
  color: white;
}

.create-new--card--field-box .field-data--title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

.create-new--card--field-box > button.remove-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  outline: 0;
}

.create-new--card--field-box > button.remove-btn:hover {
  background: none;
}


/* Adjustments to UI components */
.create-new--card--field-box .cs-component-text-field {
  display: inline-block;
}

.create-new--card--field-box .cs-component-text-field .optional,
.create-new--card--field-box .cs-component-text-field--validation {
  display: none;
}

.create-new--card--field-box.text-field .cs-component-text-field {
  display: block;
}

.create-new--card--field-box .cs-component-street-address {
  padding-top: 1rem;
}


/* Right edge */
.create-new--right-edge {
  box-sizing: border-box;
  position: fixed;
  right: 30px;
  top: 80px;
  width: 250px;
  padding: 30px;
  background-color: #2c2b41;
  border-radius: 10px;
  z-index: 2;
  opacity: 0.96;
}

.create-new--right-edge > .title {
  color: white;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  padding-bottom: 40px;
}

.create-new--right-edge label {
  display: block;
  color: rgba(255,255,255,0.6);
  font-size: 13px;
  padding-bottom: 5px;
}

.create-new--right-edge input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  padding: 10px 12px;
  font-family: 'Open Sans';
  font-size: 13px;
  outline: 0;
}
