@import "events-v2/edit.css";
@import "events-v2/view.css";

.events-catalog {
  --tray-top: 50px;
  --tray-left: 15px;
  --tray-right: 15px;
  --tray-bottom: 15px;
  --content-height: 300px;
  --content-width: 245px;
}


/* Tray */
.events-tray {
  box-sizing: border-box;
  position: absolute;
  top: var(--tray-top);
  left: var(--tray-left);
  right: var(--tray-right);
  bottom: var(--tray-bottom);
  height: calc(100% - var(--tray-top) - var(--tray-bottom));
  width: calc(100% - var(--tray-right) - var(--tray-left));

  background-color: var(--boxel-cyan);
  border-radius: 20px;
  overflow: hidden;
}

.events-tray.selected {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

.events-tray--content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
}
.events-tray--content > button {
  padding: 5px 10px;
  background: white;
  border-radius: 3px;
  color: black;
  font-weight: 700;
}
.events-tray--content > button:hover,
.events-tray--content > button:focus {
  background: white;
  color: black;
  outline: 0;
}
/* End of Tray */


/* Card Container */
.events-card--container {
  box-sizing: border-box;
  position: absolute;
  top: var(--tray-top);
  left: var(--tray-left);
  width: calc(100% - var(--tray-right) - var(--tray-left));
}
/* End of Card Container */


/* Card */
.events-card {
  box-sizing: border-box;
  height: var(--content-height);
  width: var(--content-width);
  background-color: white;
  overflow: hidden;
}

.events-image {
  height: 150px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.events-details {
  box-sizing: border-box;
  padding: 30px;
}

.events-details--header {
  box-sizing: border-box;
  min-height: 70px;
  padding-bottom: 30px;
}

.events-date {
  color: firebrick;
  font-weight: 700;
}

.events-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.events-location {
  color: dimgray;
}

.events-price {
  font-weight: 700;
}

.events--main {
  margin: 0 30px;
  padding: 30px 0;
  height: 0;
}
/* End of Card */
