@import "events/edit.css";
@import "events/schema.css";

/* Container */

/* Note: important that this is wrapped in an animated container */
.event-card-container {
  --tray-top: 50px;
  --tray-left: 15px;
  --tray-right: 15px;
  --tray-bottom: 15px;
  --content-height: 300px;
  --content-width: 245px;

  position: relative;
  top: var(--tray-top);
  left: var(--tray-left);
  right: var(--tray-right);
  bottom: var(--tray-bottom);
  height: var(--content-height);
  width: var(--content-width);

  background-color: var(--boxel-cyan);
  border-radius: 20px;
}

.event-card-container.selected {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: calc(var(--content-height) + var(--tray-top) + var(--tray-left));
  width: calc(var(--content-width) + var(--tray-left) + var(--tray-right));
  z-index: 1; /* in case it's overlapping other content */
}

.event-card-wrapper {
  top: var(--tray-top);
  bottom: var(--tray-bottom);
  left: var(--tray-left);
  right: var(--tray-right);
}

.event-card-wrapper.selected {
  position: absolute;
}


/* Items on the tray */
.event-card-container--content {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  z-index: -1;

  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  font-weight: 700;
}
.event-card-container--content > button {
  padding: 5px 10px;
  background: white;
  border-radius: 3px;
  color: black;
  font-weight: 700;
}
.event-card-container--content > button:hover,
.event-card-container--content > button:focus {
  background: white;
  color: black;
  outline: 0;
}


/* Content */
.event-card {
  box-sizing: border-box;
  height: var(--content-height);
  width: var(--content-width);
  background-color: white;
  overflow: hidden;
}

.event-image {
  height: 150px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.event-details {
  box-sizing: border-box;
  padding: 30px;
}

.event-details--header {
  box-sizing: border-box;
  min-height: 70px;
  padding-bottom: 30px;
}

.event-date {
  color: firebrick;
  font-weight: 700;
}

.event-title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
}

.event-location {
  color: dimgray;
}

.event-price {
  font-weight: 700;
}


.event--main {
  margin: 0 30px;
  padding: 30px 0;
  height: 0;
}
