.boxel-pill-btn {
  height: 30px;
  padding: 5px 20px;
  border: var(--boxel-border);
  border-radius: 100px;
  background-color: var(--boxel-light);
  color: var(--boxel-dark);
  font-size: 13px;
  line-height: calc(18/13);
  letter-spacing: var(--boxel-lsp);
}

.boxel-pill-btn__primary {
  background-color: var(--boxel-highlight);
  border-color: var(--boxel-highlight);
}

.boxel-pill-btn:hover {
  cursor: pointer;
}
