.wave-player {
  display: inline-flex;
  align-items: center;
  padding-top: var(--boxel-sp-sm);
}

.wave-player > canvas {
  max-width: calc(100% - 120px);
}

.wave-player__play {
  padding-right: var(--boxel-sp-xs);
}

.wave-player__play.is-playing,
.play-button.is-playing {
  --icon-color: var(--boxel-highlight);
}

.wave-player__times {
  color: var(--boxel-purple-400);
  font: var(--boxel-font-sm);
  white-space: nowrap;
}
