.boxel-card-container {
  --boxel-card-container-min-height: 5rem;

  position: relative;
  min-height: var(--boxel-card-container-min-height);
  width: 100%;
  height: 100%;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  overflow: hidden;
  transition:
  max-width var(--boxel-transition),
  border-radius var(--boxel-transition),
  box-shadow var(--boxel-transition);
}

.boxel-card-container--boundaries {
  box-shadow: 0 0 0 1px var(--boxel-light-500);
}

.boxel-card-container--selected {
  box-shadow: 0 0 0 2px var(--boxel-highlight);
}
