.boxel-apply-changes-toggle {
  position: absolute;
  top: 25%;
  left: -108px;
  width: 216px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.boxel-apply-changes-toggle--active {
  background-image:
    url('/@cardstack/boxel/images/icons/arrows.svg'),
    url('/@cardstack/boxel/images/icons/arrows.svg');
  background-position: left center, right center;
  background-size: 70px 20px, 70px 20px;
  background-repeat: no-repeat, no-repeat;
}

.boxel-apply-changes-toggle__button {
  width: 60px;
  height: 60px;
  background-color: var(--boxel-light);
  border: 1px solid #d6d6d6;
  border-radius: 100px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  padding: 0;
  transition: filter var(--boxel-transition);
}

.boxel-apply-changes-toggle__button:hover {
  cursor: pointer;
  filter: brightness(0.97);
}

.boxel-apply-changes-toggle--active .boxel-apply-changes-toggle__button {
  background-color: var(--boxel-highlight);
  border-color: var(--boxel-success-200);
  box-shadow: none;
}

.boxel-apply-changes-toggle--active .boxel-apply-changes-toggle__button:hover {
  filter: brightness(1.025);
}

.boxel-apply-changes-toggle__button > svg {
  display: block;
  margin: auto;
}
