.boxel-org-title {
  display: grid;
  align-items: center;
  gap: 0 var(--boxel-sp-xs);
  min-height: 3.125rem;
  color: var(--boxel-org-title-color, inherit);
  font: 900 1.125rem/1.333 var(--boxel-font-family);
  letter-spacing: var(--boxel-lsp-xxl);
  text-transform: uppercase;
}

.boxel-org-title--has-logo {
  grid-template-columns: auto 1fr;
}

.boxel-org-title__logo {
  width: 3.125rem;
  height: 3.125rem;
  background-position: var(--boxel-org-title-logo-position, center);
  background-repeat: no-repeat;
  background-size: var(--boxel-org-title-logo-size, 3.125rem 3.125rem);
}

.boxel-org-title__logo svg {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}
