.FreestyleMenu-item,
.FreestyleMenu-submenuItem,
.FreestyleSubsection-name {
  text-transform: none;
}

.freestyle-components-section .FreestyleSubsection-name {
  display: none;
}

.freestyle-list {
  padding: 0 1em;
}
