.workflow-org {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr;
  background-color: var(--boxel-light-100);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.workflow-org__left-edge {
  width: 410px;
}

.workflow-org__left-edge > * {
  position: fixed;
  top: 0;
  left: 0;
}

.workflow-org__main {
  background-color: var(--boxel-purple-500);
  overflow: hidden;
}
