<ul class="boxel-org-switcher" ...attributes>
  {{#each @orgs as |org|}}
    <li>
      <Boxel::OrgSwitcher::Button
        @org={{org}}
        @isSelected={{eq @currentOrg org}}
        aria-label={{if @ariaLabel (concat @ariaLabel " " org.title) (concat "Organization page for " org.title)}}
        {{on "click" (fn @onChooseOrg org.id)}}
      />
    </li>
  {{/each}}
</ul>
