.cardstack-image-upload-modal {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: transparent;
}

.cardstack-image-upload-modal input[type=file] {
  display: block;
  height: 100vh;
  width: 100vw;
  opacity: 0;
}


.cardstack-image-upload-modal--message {
  position: absolute;
  top: 50%;
  margin-top: -4rem;
  width: 100%;
  text-align: center;
  font-size: 3rem;
  color: var(--bright-foreground);
}

.cardstack-image-upload-modal--message__upload:before {
  content: ' ';
  display: block;
  position: absolute;
  top: -70px;
  left: 50%;
  margin-left: -25px;
  height: 50px;
  width: 50px;
  background-image: url('/@cardstack/card-picker/upload.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.cardstack-image-upload-modal--button-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.cardstack-image-upload-modal--button {
  width: 8rem;
  z-index: 1;
  padding: 10px 30px;
  margin: 4rem .75rem;
  min-width: 10rem;
  line-height: 1.5rem;
  border: 1px solid var(--light-outline);
  border-radius: 4px;
  font-size: .75rem;
  opacity: .85;
  background-color: var(--tray-background);
  color: var(--bright-foreground);
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 2px 15px 0 rgba(0,0,0,.5);
}

.cardstack-image-upload-modal--button:hover {
  background-color: var(--highlight-background);
  color: var(--bright-blue-foreground);
}

.cardstack-image-upload-modal--upload-button {
  color: var(--bright-blue-foreground);
}