.radio-option {
  --option-opacity: 1;
  --option-input-border-color: var(--boxel-dark);

  display: grid;
  grid-template-columns: auto 1fr 1fr;
  align-items: center;
  gap: var(--boxel-sp);
  padding: var(--boxel-sp-lg) var(--boxel-sp);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 0 0 1px var(--boxel-light-400);
  transition: box-shadow var(--boxel-transition);
}

.radio-option:hover:not(.radio-option--disabled) {
  box-shadow: 0 0 0 1px var(--boxel-dark);
}

.radio-option--checked:not(.radio-option--disabled),
.radio-option:focus:not(.radio-option--disabled),
.radio-option:focus-within:not(.radio-option--disabled) {
  box-shadow: 0 0 0 2px var(--boxel-highlight);
  outline: 1px solid transparent;
}

.radio-option--disabled > * {
  opacity: 0.5;
}

.radio-option__input {
  appearance: none;
  -webkit-appearance: none;
  width: 1rem;
  height: 1rem;
  margin: 0;
  border: 1.5px solid var(--boxel-dark);
  border-radius: 100px;
  background-color: transparent;
}

.radio-option__input--checked {
  background-color: var(--boxel-highlight);
  border-width: 3px;
}

.radio-option__input:disabled {
  border-color: var(--boxel-purple-300);
}

.radio-option__input:focus:not(:disabled) {
  outline: 1px solid transparent;
}
