.boxel-field {
  display: grid;
  gap: var(--boxel-sp-xs) var(--boxel-sp-lg);
}

.boxel-field--horizontal {
  --boxel-field-label-size: minmax(4rem, 25%);

  grid-template-columns: var(--boxel-field-label-size) 1fr;
}

.boxel-field--small-label {
  --boxel-field-label-size: minmax(4rem, 15%);
}

.boxel-field__label {
  color: var(--boxel-purple-400);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}
