.workflow-thread {
  --inner-max-width: 36.25rem; /* 580px */
  --outer-max-width: 43.75rem; /* 700px; */
}

.workflow-thread .boxel-thread-header {
  grid-template-columns: 1fr auto auto;
}

.workflow-thread__status {
  color: var(--boxel-dark);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  text-align: center;
}

.workflow-thread:focus {
  outline-color: transparent;
  outline-width: 0;
  outline-offset: -5px;
  box-shadow: 0 0 0 2px var(--boxel-blue);
}

.workflow-thread:focus:not(:focus-visible) {
  box-shadow: 0 1px 3px rgb(0 0 0 / 15%);
}

.workflow-thread__help-content {
  font-size: var(--boxel-font-size-sm);
  font-weight: 300;
}

.workflow-thread__app-version {
  text-align: center;
  font-size: var(--boxel-font-size-sm);
  font-weight: 300;
  color: var(--boxel-dark);
}

.workflow-thread__degraded-service-banner:first-child {
  border-radius: inherit;
}

.workflow-thread__sidebar-preview-title {
  font-size: 15px;
  font-weight: 600;
  text-align: center;
  color: var(--boxel-purple-500);
}

.workflow-thread__sidebar-preview-description {
  font-size: 12px;
  text-align: center;
  max-width: var(--boxel-sidebar-max-width);
  color: var(--boxel-purple-500);
}

.workflow-thread__sidebar-preview-separator {
  grid-row: 1;
  grid-column: 1;
  width: 100%;
  border: none;
  border-top: 1px solid var(--boxel-light-600);
  margin: var(--boxel-sp) 0;
}
