.selection-control {
  display: flex;
}

.selection-control-group__select-all {
  position: relative;
  width: 116px;
  padding: var(--boxel-sp-xs) var(--boxel-sp-lg) var(--boxel-sp-xs);
  transition: all var(--boxel-transition);
}

.selection-control-group__select-all > svg {
  margin-right: var(--boxel-sp-xs);
}

.selection-control-group__select-all--selected-items {
  width: 246px;
  padding-left: var(--boxel-sp-sm);
  padding-right: var(--boxel-sp-xxl);
}

.selection-control-group__more-menu {
  margin: var(--boxel-sp-sm) 0;
}
