.versions {
  --boxel-revision-medium-purple: #5D5C6F;
  --boxel-revision-dark-purple: #393642;
  --boxel-revision-light-purple: #84829B;
  --boxel-revision-lightest-purple: #AFAFB7;
  --boxel-revision-hover-purple: #4f4a5d;

  height: 100%;
  background-color: var(--boxel-revision-medium-purple);
  overflow: auto;
}

.versions-grid {
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: grid;
  grid-template:
    "head  view  mode" 80px
    "cards cards nav"  auto / minmax(300px, 1fr) auto auto;
  gap: 0 20px;
  padding-left: 20px;
}

.versions__header {
  grid-area: head;
  z-index: 1;
}

.versions__title {
  padding: 28px 20px 28px 35px;
  background: url('/assets/images/icons/collection-highlighted.svg') center left/21px no-repeat;
  color: white;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.versions__view {
  grid-area: view;
  width: 340px;
  padding: 20px;
  z-index: 1;
}

.versions__mode {
  grid-area: mode;
  padding: 20px;
  position: relative;
  background-color: var(--boxel-revision-medium-purple);
  z-index: 1;
}

.versions__mode > a {
  width: 300px;
}

.versions__nav--shadow {
  height: 20px;
  margin-top: -20px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.35);
}

.versions__nav {
  grid-area: nav;
  padding: 0 20px 20px;
}

.versions-nav-item {
  --btn-color: white;
  position: relative;
  display: grid;
  color: white;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}
.versions-nav-item:hover,
.versions-nav-item:hover .version__description {
  color: var(--boxel-highlight);
}

.versions-nav-item__btn {
  background: none;
  border: none;
  text-align: left;
  outline: none;
  transition: all 0.2s ease;
}
.versions-nav-item__btn:hover {
  cursor: pointer;
}

.versions-nav-item__selection-btn {
  padding: 13px 10px 16px 40px;
  box-shadow: 0 1px 0 0 var(--boxel-revision-light-purple);
}
.versions-nav-item:hover .versions-nav-item__selection-btn {
  background-color: var(--boxel-revision-hover-purple);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-revision-hover-purple);
}

.versions-nav-item--selected:not(.versions-nav-item--comp-view) .versions-nav-item__selection-btn,
.versions-nav-item.is-comp-card .versions-nav-item__selection-btn {
  background-color: var(--boxel-revision-dark-purple);
  border-bottom-color: transparent;
  border-radius: 5px;
  box-shadow: 0 -1px 0 1px var(--boxel-revision-dark-purple);
  overflow: hidden;
}

.versions-nav-item__hover-btn {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  padding: 0;
}
.versions-nav-item__hover-btn.checkbox {
  --icon-border: white;
  --icon-bg: transparent;
  --icon-color: transparent;
  left: 0;
}
.versions-nav-item__hover-btn.more {
  --icon-color: white;
  right: 0;
}

.versions-nav-item__hover-btn > svg {
  display: block;
  margin: auto;
}
.versions-nav-item__hover-btn {
  z-index: -1;
}
.versions-nav-item.is-base-card .versions-nav-item__hover-btn,
.versions-nav-item.is-comp-card .versions-nav-item__hover-btn,
.versions-nav-item--selected .versions-nav-item__hover-btn,
.versions-nav-item:hover .versions-nav-item__hover-btn {
  z-index: 1;
}

.versions-nav-item.is-base-card,
.versions-nav-item.is-base-card .version__description,
.versions-nav-item.is-base-card .version__label,
.versions-nav-item.is-base-card .versions-nav-item__hover-btn {
  --icon-border: black;
  --icon-color: black;
  --icon-bg: black;
  color: black;
}
.versions-nav-item.is-base-card .version__label {
  background-image: url('/assets/images/icons/clock.svg');
}

.versions-nav-item.is-base-card .versions-nav-item__hover-btn.checkbox {
  --icon-color: var(--boxel-highlight);
}

.versions-nav-item.is-base-card .versions-nav-item__selection-btn {
  background-color: var(--boxel-highlight);
  border-radius: 5px;
}

.versions-nav-item.is-base-card:hover {
  color: black;
}

.versions-nav-item.is-comp-card .versions-nav-item__hover-btn.checkbox {
  --icon-color: black;
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}


.version-card__header {
  position: relative;
  display: grid;
  grid-template-columns: auto auto 1fr;
  align-items: center;
  gap: 0 30px;
  background-color: var(--boxel-revision-dark-purple);
  color: white;
  height: 50px;
  padding: 16px 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 1;
}

.version-card__header:hover {
  cursor: pointer;
}

.version__title {
  font: var(--boxel-font-sm);
  font-weight: bold;
  letter-spacing: var(--boxel-lsp);
}

.version__description {
  color: var(--boxel-revision-lightest-purple);
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.version__label {
  background: url('/assets/images/icons/clock-highlighted.svg') right center/16px 16px no-repeat;
  padding-right: 21px;
  color: var(--boxel-highlight);
  font-size: 10px;
  line-height: calc(16/10);
  font-weight: bold;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: right;
}

.versions-nav-item__btn .version__description {
  padding-bottom: 3px;
}

.versions-nav-item__btn .version__label {
  position: absolute;
  right: 72px;
  top: 16px;
}


.versions__cards {
  grid-area: cards;
  display: grid;
  grid-auto-rows: max-content;
  position: relative;
  max-width: 1080px;
  overflow: hidden;
}

.version-card {
  --translate-unit: 45px;
  justify-self: center;
  position: absolute;
  transform: translateY(0);
  width: 45%;
  z-index: 0;
}

.version-card--p3 {
  transform: translateY(0);
  width: 56%;
}

.version-card--p2 {
  transform: translateY(var(--translate-unit));
  width: 62%;
}

.version-card--p1 {
  transform: translateY(calc(var(--translate-unit) * 2));
  width: 68%;
}

.version-card--p0 {
  transform: translateY(calc(var(--translate-unit) * 3));
  width: 75%;
}

.version-card--p0 ~ .version-card {
  bottom: 0;
  height: 50px;
  width: 92%;
}

.version-card--p0 ~ .version-card,
.version-card--p0 ~ .current-2 {
  transform: translateY(-12px);
  width: 95%;
  height: 62px;
}

.version-card--p0 ~ .current-2 {
  z-index: 3;
}

.version-card--p0 ~ .current-1 {
  transform: translateY(-6px);
  z-index: 4;
  width: 97%;
  height: 56px;
}

.version-card--p0 ~ .current {
  transform: translateY(0);
  z-index: 5;
  width: 100%;
  height: 50px;
}

.version-card--p0 ~ .current-2 .version-card__header,
.version-card--p0 ~ .current-1 .version-card__header,
.version-card--p0 ~ .current .version-card__header {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.version-card__content {
  background-color: white;
  overflow: auto;
  position: relative;
  width: 100%;
  height: calc(100vh - 320px);
  margin-top: -2px;
}

.current .version-card__content {
  height: calc(100vh - 250px);
}

.current-1 .version-card__content {
  height: calc(100vh - 300px);
}

.current-2 .version-card__content {
  height: calc(100vh - 310px);
}

.version-card__inner-wrapper {
  width: 600px;
  height: 600px;
  margin: 0 auto;
  transform-origin: top left;
  transform: scale(0.6);
  user-select: none;
  left: 0;
}


.version-card__inner-wrapper--p-1,
.version-card__inner-wrapper--p-2,
.wrapper--current,
.wrapper--current-1,
.wrapper--current-2 {
  transform: scale(1.2);
}

.version-card__inner-wrapper--p3 {
  transform: scale(0.7);
}

.version-card__inner-wrapper--p2 {
  transform: scale(0.8);
}

.version-card__inner-wrapper--p1 {
  transform: scale(0.9);
}

.version-card__inner-wrapper--p0 {
  transform: scale(1);
}


.version-card__movie.movie {
  transform-origin: top;
  transform: scale(0.8);
  padding: 50px 0;
}

.version-card__btn-overlay {
  background: var(--boxel-revision-medium-purple);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: none;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  outline: 0;
  opacity: 0.99;
}

.overlay--current,
.overlay--current-1,
.overlay--current-2 {
  opacity: 0.11;
}

.overlay--p3 {
  opacity: 0.99;
}

.overlay--p2 {
  opacity: 0.75;
}

.overlay--p1 {
  opacity: 0.55;
}

.overlay--p0 {
  opacity: 0.25;
}


/* Diff view */
.versions__cards {
  grid-template-columns: 30px 1fr;
  gap: 5px 15px;
}

.version-card--base-card,
.version-card--comp-card {
  grid-column-start: 2;
  position: relative;
  width: 100%;
}

.version-card--comp-card .version-card__header {
  border-radius: 10px;
}

.version-card--comp-card__arrow {
  background: url('/assets/images/icons/connect.svg') center -7px/14px 14px no-repeat;
  height: 7px;
}

.version-card--base-card .version-card__header {
  background-color: var(--boxel-highlight);
  color: black;
}

.version-card--base-card .version__description {
  color: black;
}

.version-card--base-card .version__label {
  color: black;
  background-image: url('/assets/images/icons/clock.svg');
}

.version-card--base-card .version-card__content {
  height: calc(100vh - 180px);
}

.comp-view__swap-btn {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: none;
  position: absolute;
  top: 45px;
  background: url('/assets/images/icons/swap.svg') center/18px 17px no-repeat;
  z-index: 10;
  outline: 0;
}

.comp-view__swap-btn:hover {
  background-image: url('/assets/images/icons/swap-white.svg');
  cursor: pointer;
}


.versions__view-selector {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  background-color: transparent;
  border: solid 1px #84829B;
  border-radius: 20px;
  color: #C9C7DD;
  font: var(--boxel-font-sm);
  letter-spacing: 0.035em;
  overflow: hidden;
}

.versions__view-selector .versions__view-selector--mode-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.versions__view-selector .versions__view-selector--mode-link.active {
  background-color: var(--boxel-revision-dark-purple);
  color: var(--boxel-highlight);
}

.versions__view-selector .versions__view-selector--mode-link:first-child {
  border-right: solid 1px #84829B;
}
