.movie-modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.movie-modal {
  position: fixed;
  z-index: 1;
  width: 800px;
  left: 50%;
  margin-left: calc(800px / -2);
  height: 100%;
  top: 0;
  overflow: auto;
}

.movie-scroll-container {
  padding-top: 20px;
  padding-bottom: 80px;
}


@media only screen and (min-width: 341px) and (max-width: 839px) {
  .movie-modal {
    width: 90vmin;
    margin-left: -45vmin;
  }
}

@media only screen and (max-width: 340px) {
  .movie-modal {
    min-width: 300px;
    left: 0;
    margin-left: 0;
  }
}
