<label
  class="boxel-edit-field"
  data-test-boxel-edit-field
  data-test-boxel-edit-field-id={{@id}}
  ...attributes
>
  <span
    class={{cn "boxel-edit-field__label" (if @labelClass @labelClass)}}
    data-test-boxel-edit-field-label
  >
    {{@label}}
  </span>

  {{yield}}
</label>