.adopted-card {
  --adopted-image-container-size: 84px;
  --adopted-image-bg-color: #c9c8d6;

  display: grid;
  grid-template-columns: var(--adopted-image-container-size) 1fr;
  align-items: center;
  min-height: 75px;
  background-color: var(--ch-foreground);
  color: white;
  border: 1px solid var(--ch-default);
  border-radius: 5px;
  font: 600 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.adopted-card--image {
  width: 84px;
  height: 100%;
  background-color: var(--adopted-image-bg-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 71px 64px;
  border-radius: 5px 0 0 5px;
}

.adopted-card--text {
  padding: 10px 20px;
}

.adopted-card--view {
  margin-top: 5px;
  padding-left: 15px;
  background-image: url(/assets/images/icons/arrow-curved.svg);
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}

.adopted-card--view-text {
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  opacity: 0.5;
}

.adopted-card:focus .adopted-card--view,
.adopted-card:hover .adopted-card--view {
  cursor: pointer;
  outline: 0;
}

.adopted-card:focus .adopted-card--view-text,
.adopted-card:hover .adopted-card--view-text {
  opacity: 1;
}
