.cs-card-select--before-options {
  display: flex;
  height: 40px;
  align-items: center;
  border-radius: 6px;
  background-color: #1B154E;
  color: white;
}

.cs-card-select--before-options svg {
  --icon-color: white;
}

.cs-card-select--data-source {
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  padding: 0 3px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.cs-card-select--data-source > span {
  color: var(--boxel-highlight);
  font-weight: bold;
  text-transform: capitalize;
}
