/* Icon Button */
.ch-button {
  --icon-url: url('');
  --icon-size: 40px 40px;

  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  max-width: 100%;
  padding: 0;
  background: var(--icon-url) center/var(--icon-size) no-repeat;
  font: 600 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  text-align: center;
}
.ch-button:not(:disabled):hover,
.ch-button:not(:disabled):focus {
  cursor: pointer;
  outline: 0;
}
.ch-button:disabled,
.ch-button.disabled {
  cursor: not-allowed;
}

/* Default icon button */
.ch-button--icon {
  border: none;
  background-color: transparent;
  color: var(--ch-light);
}

/* Icon button with background and border */
.ch-button--icon-secondary {
  background-color: var(--ch-default);
  border: 1px solid var(--ch-border);
  border-radius: 50%;
  color: var(--ch-highlight);
  fill: var(--ch-highlight);
  --icon-color: var(--ch-highlight);
}
.ch-button--icon-secondary svg {
  display: inline-block;
  vertical-align: middle;
}
.ch-button--icon-secondary:not(:disabled):focus,
.ch-button--icon-secondary:not(:disabled):hover {
  --icon-color: var(--ch-highlight);
  background-color: var(--ch-hover);
  color: var(--ch-highlight);
  fill: var(--ch-highlight);
}
.ch-button--icon-secondary:not(:disabled):active,
.ch-button--icon-secondary:not(:disabled).active {
  --icon-color: var(--ch-dark);
  background-color: var(--ch-highlight);
  border-color: var(--ch-highlight);
  color: var(--ch-dark);
  fill: var(--ch-dark);
}
.ch-button--icon-secondary:disabled,
.ch-button--icon-secondary.disabled {
  --icon-color: var(--ch-light-op40);
  background-color: var(--ch-default);
  color: var(--ch-light-op40);
  fill: var(--ch-light-op40);
}

/* TODO: Refactor these as components */

/* Mode indicator link button with icon label */
.mode-indicator {
  --mode-container-width: 180px;
  --mode-container-height: 40px;
  --mode-link-width: 45px;
  display: flex;
  flex-flow: row nowrap;
  width: var(--mode-container-width);
  min-height: var(--mode-container-height);
  max-width: 100%;
}
.mode-indicator--label {
  display: inline-block;
  width: calc(var(--mode-container-width) - var(--mode-link-width));
  height: 100%;
  padding: 11px 0 11px 15px;
  border-radius: 100px 0 0 100px;
  background-color: var(--ch-highlight);
  color: var(--ch-dark);
  font-size: 13px;
  font-weight: 600;
  line-height: calc(18 / 13);
  letter-spacing: 0.035em;
  text-align: left;
  text-transform: capitalize;
}
.mode-indicator--label svg {
  display: inline-block;
  margin-right: 10px;
}
.mode-indicator--link {
  display: inline-block;
  width: var(--mode-link-width);
  height: 100%;
  margin-left: -1px;
  border-radius: 0 100px 100px 0;
  background-color: var(--ch-highlight);
  background-image: url('/assets/images/icons/close.svg');
  background-position: center right 15px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.mode-indicator--link:hover,
.mode-indicator--link:focus {
  background-color: var(--ch-highlight-hover);
  outline: 0;
}
.mode-indicator--link span {
  width: 18px;
  height: 18px;
  display: block;
  text-indent: -9999px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


/* Round icon button with no text */
.edge-actions-button {
  --icon-color: var(--ch-dark);
  display: inline-block;
  min-width: 40px;
  min-height: 40px;
  padding: 10px 9px 11px 12px;
  background-color: var(--ch-highlight);
  border: 1px solid var(--ch-highlight);
  border-radius: 100px;
  line-height: 0;
  text-align: center;
}
.edge-actions-button svg {
  display: inline-block;
}
.edge-actions-button:not(:disabled):hover,
.edge-actions-button:not(:disabled):focus {
  background-color: var(--ch-highlight-hover);
  border-color: var(--ch-highlight-hover);
  outline: 0;
}
.edge-actions-button:not(:disabled):hover {
  cursor: pointer;
}


/* Save Button */
.save-button.cs-component-cta.primary {
  position: relative;
  transition: background-color var(--transition-duration);
}

.save-button.cs-component-cta.primary.saved svg {
  position: absolute;
  top: 14px;
  right: 20px;
  opacity: 0.5;
}

.save-button.cs-component-cta.primary.just-saved {
  background-color: var(--ch-success);
  color: var(--ch-dark);
}

.save-button.cs-component-cta.primary.just-saved svg {
  opacity: 1;
}

.loading-spinner {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 20px;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
