.card-size-toggle {
  display: inline-flex;
}

.card-size-btn + .card-size-btn {
  margin-left: 5px;
}

.card-size-btn {
  min-width: initial;
  padding: 5px 10px; /* to increase clickable area */
  color: var(--ch-light-op50);
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.015em;
  line-height: calc(26 / 13);
}

.card-size-btn:focus,
.card-size-btn:hover,
.card-size-btn.selected {
  color: var(--ch-highlight);
}
