:root {
  --transition-time: 250ms;
}

.card-manipulator--container {
  display: grid;
  grid-template-columns: 390px auto 300px;
}

.card-manipulator--main {
  box-sizing: border-box;
  padding: 80px 30px;
  background-color: #201f27;
  overflow: scroll;
}

/* Left edge with form items catalog */
.card-manipulator--left-edge {
  display: flex;
  flex-flow: row nowrap;
  width: 390px;
  height: 100vh;
  z-index: 2;
  opacity: 0.96;
}

.card-manipulator--left-edge--profile {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 60px;
  padding: 20px 0;
  background-color: #343355;
}

.card-manipulator--left-edge--profile .icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #bebbce;
  background-size: 20px 20px;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
  fill: black;
}

.card-manipulator--left-edge--profile .icon.active {
  border: 4px solid #00eae4;
}

.card-manipulator--left-edge--profile .icon.profile {
  background-image: url('/assets/images/profile-icon.svg');
}

.card-manipulator--left-edge--profile .icon.settings {
  background-image: url('/assets/images/settings-icon.svg');
  border-radius: 5px;
}

.card-manipulator--left-edge--profile .icon.search {
  background-image: url('/assets/images/search-icon.svg');
}


.card-manipulator--left-edge--catalog {
  box-sizing: border-box;
  width: 100%;
  padding: 30px 20px;
  background-color: #f2f2f2;
  overflow-y: scroll;
}

.card-manipulator--left-edge--catalog .title {
  padding-bottom: 50px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1;
}

.card-manipulator--left-edge--catalog-field {
  position: relative;
  display: flex;
  border: 1px solid #ddd;
  border-radius: 10px;
  background-color: white;
}

.card-manipulator--left-edge--catalog-field + .card-manipulator--left-edge--catalog-field {
  margin-top: 15px;
}

.card-manipulator--left-edge--catalog-field .field-icon {
  box-sizing: border-box;
  width: 100%;
  max-width: 80px;
  height: 80px;
  padding: 20px;
  background-color: #fafafa;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
  border-right: 1px solid #ddd;
  background-position: center;
  background-repeat: no-repeat;
}

.card-manipulator--left-edge--catalog-field .field-content {
  width: 100%;
  padding: 15px;
  margin: auto 0;
}

.card-manipulator--left-edge--catalog-field .field-content--title {
  padding-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}

.card-manipulator--left-edge--catalog-field .field-content-description {
  font-size: 11px;
  color: rgba(0, 0, 0, 0.5);
}

.card-manipulator--left-edge--catalog-field .field-content--info-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 25px;
  height: 25px;
  padding: 5px;
  background-color: transparent;
  background-image: url('/assets/images/info-icon.svg');
  background-size: 15px 15px;
  background-position: center;
  background-repeat: no-repeat;
}


/* Card */
.card-manipulator--card {
  box-sizing: border-box;
  position: relative;
  max-width: 500px;
  min-width: 460px;
  margin: 0 auto;
  background-color: #383849;
  border: 2px solid #00eae4;
  border-radius: 10px;
  overflow: hidden;
}

.card-manipulator--card-header {
  padding: 20px;
  background-color: #00eae4;
}

.card-manipulator--card-header > .title {
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.card-manipulator--card-header > .id {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.card-manipulator--card-header > button {
  width: 70px;
  height: 32px;
  padding: 0;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.06);
  border-radius: 5px;
  font-size: 13px;
  color: black;
}

.card-manipulator--card-header > button:hover {
  background-color: white;
  color: black;
}

.card-manipulator--card-header > button.done-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.card-manipulator--card-header > button.cancel-btn {
  position: absolute;
  top: 50px;
  right: 20px;
}

.card-manipulator--card--field-box {
  box-sizing: border-box;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 162px;
  width: 100%;
  padding: 20px 20px 30px;
  font-size: 16px;
}

.card-manipulator--card--field-box + .card-manipulator--card--field-box {
  border-top: 1px solid rgba(255, 255, 255, 0.15);
}

.card-manipulator--card--field-box .handle-icon {
  height: 18px;
  width: 14px;
  background-image: url('/assets/images/grabber-handle.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-manipulator--card--field-box .field-data {
  box-sizing: border-box;
  width: 384px;
  min-height: 112px;
  margin-left: auto;
  background-color: white;
  border-radius: 5px;
  overflow: hidden;
}

.card-manipulator--card--field-box .field-data--content {
  padding: 10px;
}

.card-manipulator--card--field-box .field-data--type {
  padding: 10px;
  background-color: #24242e;
  color: white;
}

.card-manipulator--card--field-box .field-data--title {
  color: rgba(0, 0, 0, 0.5);
  font-size: 11px;
}

.card-manipulator--card--field-box > button.remove-btn {
  position: absolute;
  bottom: 10px;
  right: 20px;
  padding: 0;
  background: none;
  color: rgba(255, 255, 255, 0.5);
  outline: 0;
}

.card-manipulator--card--field-box > button.remove-btn:hover {
  background: none;
}

.card-manipulator--card--field--drop-zone {
  margin: 10px;
  text-align: center;
}

.card-manipulator--card--field--drop-zone .drop-zone-text {
  box-sizing: border-box;
  border: dashed 3px #ddd;
  color: transparent;
  font-size: 28px;
  padding: 20px;
  height: 20px;
  transition: height var(--transition-time);
}

.card-manipulator--card--field--drop-zone .drop-zone-text.active {
  color: yellow;
  border-color: yellow;
  height: 80px;
}

/* Right Edge */
.card-manipulator--right-edge {
  box-sizing: border-box;
  position: fixed;
  right: 0;
  width: 320px;
  background-color:#41404D;
  border-radius: 10px;
  z-index: 2;
  opacity: .96;
}

.card-manipulator--right-edge--section {
  border-top: 2px solid #22212b;
  padding: 12px 20px;
}

.card-manipulator--right-edge--section .section-header {
  color: white;
  margin-bottom: 25px;
}

.card-manipulator--right-edge--attribute {
  margin-bottom: 15px;
}

.card-manipulator--right-edge--attribute .attribute-title {
  color: #a3a1a7;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-manipulator--right-edge--attribute .attribute-value {
  color: #fafafa;
}

.card-manipulator--right-edge--attribute .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a3a1a7;
}

.card-manipulator--right-edge--attribute .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.card-manipulator--right-edge--attribute .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #485556;
  border: 1px solid #22212b;
  border-radius: 5px;
}

.card-manipulator--right-edge--attribute .checkbox-container:hover input ~ .checkmark {
  background-color: #485556;
}

.card-manipulator--right-edge--attribute .checkbox-container input:checked ~ .checkmark {
  background-color: #22212b;
}

.card-manipulator--right-edge--attribute .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.card-manipulator--right-edge--attribute .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.card-manipulator--right-edge--attribute .checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.card-manipulator--right-edge--pill-selector {
  border: 1px solid #22212b;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  background: #22212b;
  overflow: hidden;
}

.card-manipulator--right-edge--pill-option {
  flex: 1;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

.card-manipulator--right-edge--pill-option.selected {
  background: #454556;
  color: #00eae4;
  border-radius: 20px;
  border: 2px solid #454556;
}

.card-manipulator--right-edge--section .adopted-card {
  border: 1px solid #22212b;
  border-radius: 10px;
  padding: 5px;
  background: #484556;
  display: flex;
}

.card-manipulator--right-edge--section .adopted-card .card-image {
  width: 50px;
  height: 50px;
  border: 1px solid #22212b;
  border-radius: 10px;
  flex: 1;
}

.card-manipulator--right-edge--section .adopted-card .card-info-container {
  flex: 3;
}

.card-manipulator--right-edge--section .adopted-card .card-info {
  padding: 5px 12px;
}

.card-manipulator--right-edge--section input[type="text"] {
  background: #22212b 0% 0% no-repeat padding-box;
  border-radius: 5px;
  height: 32px;
  width: 100%;
  border-color: transparent;
  color: white;
}

.adopted-card .title {
  color: white;
}

.adopted-card .action {
  color: #a3a1a7;
}

.card-manipulator--right-edge--section .remove-adopted-card {
  text-align: right;
  color: #a3a1a7;
}

.events-right-edge--properties {
  box-sizing: border-box;
  padding: 15px 0;
  border-top: 1px solid gray;
}
