.cardhost-left-edge {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  z-index: var(--ch-edges-z-index);
  background-color: var(--ch-dark);
}

.cardhost-left-edge--nav {
  width: var(--ch-left-edge-navbar-width);
  transition: all 0.3s ease;
}

.cardhost-left-edge--nav.expanded {
  width: 400px;
}

.cardhost-left-edge--nav.schema,
.cardhost-left-edge--nav.new,
.cardhost-left-edge--nav.adopt {
  background-color: var(--ch-dark);
}

.cardhost-left-edge--nav > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: left;
  height: 100%;
  margin: 0;
  padding: 20px 0 20px 10px;
  list-style-type: none;
}

.cardhost-left-edge--nav li + li {
  margin-top: 20px;
}

.cardhost-left-edge--nav li:first-child {
  margin-bottom: auto;
}

.cardhost-left-edge--nav li .ch-button--icon-secondary {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.cardhost-left-edge--nav li .ch-button--icon-secondary.catalog {
  border-radius: 10px;
}
