.cardhost-left-edge {
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.cardhost-left-edge--nav {
  background-color: var(--ch-deep-background);
  width: var(--ch-left-edge-navbar-width);
  transition: width 0.2s ease;
  overflow: hidden;
}

.cardhost-left-edge--nav > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 20px 0 20px 10px;
  list-style-type: none;
}

.cardhost-left-edge--nav li + li {
  margin-top: 20px;
}

.cardhost-left-edge--nav li:first-child {
  margin-bottom: auto;
}

.cardhost-left-edge--nav li .ch-button--icon-secondary {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.cardhost-left-edge--nav li .ch-button--icon-secondary.catalog {
  border-radius: 10px;
}

.button-cardstack-logo {
  width: 40px;
  height: 40px;
}

.cardhost-left-edge--nav.expanded {
  background-color: var(--ch-deep-background);
  width: 320px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.login-grid {
  display: grid;
  grid-template-columns: 30px 290px;
  grid-column-gap: 50px;
}

.cardhost-left-edge-login-buttons {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--ch-highlight);
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.cardhost-left-edge-login-buttons:hover {
  color: var(--ch-highlight-hover)
}

.cardhost-left-edge--nav h1 {
  font-size: 20px;
  margin-top: 4px;
  font-weight: 600px;
}
