:root {
  --transition-time: 250ms;
}

.card-creator--new-card {
  max-width: 500px;
  margin-bottom: 40px;
}


/* Common classes for cards extending card manipulator component */

.card-manipulator--container {
  position: relative;
  left: var(--ch-left-edge-panel-width);
  width: calc(100% - var(--ch-left-edge-panel-width));
  padding-left: 20px;
}

.card-manipulator {
  position: relative;
  max-width: 500px;
  min-width: 460px;
  margin: 0;
  background-color: var(--ch-medium-darker-blue-gray);
  border: 2px solid var(--ch-cyan);
  border-radius: 10px;
  overflow: hidden;
}

.card-manipulator--header {
  padding: 20px;
  background-color: var(--ch-cyan);
  color: black;
}

.card-manipulator--header > h2 {
  padding-bottom: 10px;
  font-size: 26px;
  font-weight: 600;
  line-height: 1;
  text-transform: capitalize;
}

.card-manipulator--header > code {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
}

.drop-zone {
  margin: 10px;
  text-align: center;
}

.drop-zone .drop-zone-text {
  box-sizing: border-box;
  border: dashed 3px var(--ch-light-gray-d6);
  color: transparent;
  font-size: 28px;
  padding: 20px;
  height: 20px;
  transition: height var(--transition-time);
}

.drop-zone .drop-zone-text.active {
  color: yellow;
  border-color: yellow;
  height: 80px;
}