.card-renderer-isolated--header--wrapper {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--bg-color);
}

.card-renderer-isolated--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: var(--card-renderer-header-height);
  color: var(--ch-light);
  background-color: var(--ch-disabled);
  border-radius: 10px 10px 0 0;
  font: var(--boxel-font);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: background-color var(--ch-transition-time),
              color var(--ch-transition-time),
              border-color var(--ch-transition-time);
}

.card-renderer-isolated--header svg {
  --icon-color: var(--ch-light);
  transition: stroke var(--ch-transition-time);
}

.card-renderer-isolated--header svg.card-renderer-isolated--header-icon {
  --icon-color: var(--ch-highlight);
  padding-right: 10px;
  width: 40px;
}

.card-renderer-isolated--header-title {
  width: 100%;
  color: var(--ch-light);
}

.card-renderer-isolated.themer .card-renderer-isolated--header {
  background-color: var(--ch-default);
  border-color: var(--ch-default);
}

.card-renderer--header-btns {
  padding-left: 10px;
}

.card-renderer--edit-link {
  margin-left: auto;
}


/* Focus/selected state */
.card-renderer-isolated.selected .card-renderer-isolated--header {
  background-color: var(--ch-highlight);
  border-color: var(--ch-highlight);
  color: var(--ch-dark);
}

.card-renderer-isolated.selected .card-renderer-isolated--header-title {
  color: var(--ch-dark);
}

.card-renderer-isolated.selected .card-renderer-isolated--header svg {
  --icon-color: var(--ch-dark);
}


/* Context menu button */
.card-renderer-isolated.selected .context-menu-button {
  border-color: var(--ch-dark);
}

.context-menu-button {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--boxel-medium-light-purple);
  border-radius: 20px;
  background: none;
  cursor: pointer;
  outline: 0;
}

.context-menu-button.context-menu-button---error {
  border: 2px solid var(--red);
}

.context-menu-nav {
  position: absolute;
  top: 0;
  right: -180px;
  width: 230px;
  padding-bottom: 10px;
  background-color: var(--ch-light);
  border-radius: var(--boxel-border-radius);
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  z-index: var(--ch-actions-z-index);
}

/* Whenever there's a fixed header, like in schema, use alternate layout */
.context-menu-sticky-wrapper {
  position: sticky;
  top: var(--card-renderer-header-height);
  z-index: var(--ch-actions-z-index);
  margin-left: 89%;
  transition: margin var(--ch-transition-time);
}

/* .layout.themer-card-width--medium .context-menu-sticky-wrapper {
  margin-left: 94%;
}
.layout.themer-card-width--large .context-menu-sticky-wrapper {
  margin-left: 97%;
} */

/* .layout .context-menu-nav,
.schema .context-menu-nav {
  right: auto;
  position: fixed;
  margin-top: 82px;
} */

.context-menu-items {
  padding-left: 0;
  padding-top: 10px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  color: var(--ch-dark);
  margin: 0;
}

.context-menu-items li {
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

.context-menu-items li a {
  display: block;
  padding: 10px 20px 10px 40px;
}

.context-menu-items li.heading {
  font-weight: 600;
  margin-left: 0;
  padding-left: 20px;
}

.context-menu-items li:hover {
  background-color: var(--ch-light-background);
}

.context-menu-items hr {
  border: solid 1px var(--ch-light-background);
}

.context-menu-items li.heading:hover,
.context-menu-items li.divider:hover {
  background-color: transparent;
}

/* Shows a checkmark next to the active route in the context menu.
 * We can't use Ember's regular "active" classes because they apply
 * to links to parent routes too.
*/
.context-menu-items li a.checked:before {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  background-image: url("/assets/images/icons/checkmark-active.svg");
  background-size: cover;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
}

.context-menu-items > li > svg {
  margin-right: 6px;
}
