.card-renderer-isolated {
  --card-renderer-width: var(--ch-card-size);
  --card-renderer-height: var(--ch-card-size);
  --card-renderer-header-height: 56px;

  position: relative;
  margin: 0 auto;
  padding: 0 var(--ch-spacing);
  width: var(--card-renderer-width);
  min-width: 415px;
  max-width: 100%;
  font: 400 16px/22px var(--ch-font-family);
  letter-spacing: 0.015em;
  transition: width 0.3s ease;
}

.card-renderer-isolated.schema,
.card-renderer-isolated.edit {
  min-height: var(--card-renderer-height);
}


/* Card Renderer - Header wrapper */
.card-renderer-isolated--animated-header {
  position: sticky;
  top: 0;
  z-index: var(--ch-card-header-z-index); /* card scrolls under the header (except in view mode) */
}

.card-renderer-isolated.view:not(.themer) .card-renderer-isolated--animated-view-header {
  top: 0;
  height: var(--card-renderer-header-height);
}


/* Card Renderer - Content wrapper */
.card-renderer-isolated--animated-content {
  padding-bottom: var(--scroll-bottom-padding);
}

.card-renderer-isolated.view .card-renderer-isolated--animated-content {
  z-index: calc(var(--ch-card-header-z-index) + 1);
}

.card-renderer-isolated.schema .card-renderer-isolated--content {
  color: var(--ch-light);
}

/* Card Renderer - Inner Wrapper */
.card-renderer-isolated .card-renderer-isolated--card-container {
  position: relative;
  border: 3px solid transparent;
  border-radius: 0 0 10px 10px;
  overflow: hidden;
  min-height: calc(var(--card-renderer-height) - var(--card-renderer-header-height));
  background-color: var(--ch-light);
  z-index: 5;

  transition: background-color var(--ch-transition-time),
              border-color var(--ch-transition-time);
}

.card-renderer-isolated.selected .card-renderer-isolated--card-container {
  z-index: 4;
}

.card-renderer-isolated:not(.view) {
  margin-top: -3px;
}

.card-renderer-isolated.view .card-renderer-isolated--card-container {
  border-radius: 10px;
}

.card-renderer-isolated.view .card-renderer-isolated--card-container.selected {
  border-radius: 0 0 10px 10px;
}

.card-renderer-isolated.schema .card-renderer-isolated--card-container {
  background-color: var(--ch-dark-background);
  border-top: 3px solid var(--ch-default);
}

.card-renderer-isolated.edit .card-renderer-isolated--card-container {
  padding: 30px;
}

.card-renderer-isolated.view.themer .card-renderer-isolated--card-container,
.card-renderer-isolated.view.preview .card-renderer-isolated--card-container {
  border: none;
  border-radius: 10px;
}

.cards .card-renderer-isolated.view .card-renderer-isolated--card-container {
  border: none;
  border-radius: 30px;
}


/* Focus state */
.card-renderer-isolated:focus {
  outline: 0;
}

.card-renderer-isolated.layout .card-renderer-isolated--card-container,
.card-renderer-isolated.selected .card-renderer-isolated--card-container {
  border-color: var(--ch-highlight);
}

.card-renderer--embedded-card-link:focus {
  outline: 0;
}
.card-renderer--embedded-card-link:focus > .embedded-card {
  border: 1px solid var(--ch-highlight);
}
.card-renderer--embedded-card-link:focus > .embedded-card-label {
  color: var(--ch-highlight);
}
