.cardhost-left-edge {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  z-index: var(--ch-left-edge-z-index);
}

.cardhost-left-edge--nav {
  background-color: var(--ch-deep-background);
  width: var(--ch-left-edge-navbar-width);
  transition: width 0.2s ease;
  overflow: hidden;
}
.cardhost-left-edge--nav.index-page {
  background-color: var(--ch-default);
}

.cardhost-left-edge--nav > ul {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
  padding: 20px;
  list-style-type: none;
}

.cardhost-left-edge--nav li + li {
  margin-top: 20px;
}

.cardhost-left-edge--nav li:first-child {
  margin-bottom: auto;
}

.cardhost-left-edge--nav li .ch-button--icon-secondary {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.cardhost-left-edge--nav li .ch-button--icon-secondary.catalog {
  border-radius: 10px;
}


.cardhost-left-edge--nav-button {
  --icon-color: var(--ch-highlight);
  display: block;
  background: none;
  border: none;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  padding: 5px;
  line-height: 2;
  text-align: center;
}

.cardhost-left-edge--nav-button svg {
  display: inline-block;
  vertical-align: middle;
}

.cardhost-left-edge--nav-button:not(:disabled):hover {
  --icon-color: var(--ch-highlight-hover);
  cursor: pointer;
}
.cardhost-left-edge--nav-button:not(:disabled):focus {
  outline: 0;
  border: 1px solid var(--ch-highlight-hover);
}

.cardhost-left-edge--nav-button.cardstack-logo-button {
  background-color: white;
  border-radius: 100px;
}
.cardhost-left-edge--nav-button.cardstack-logo-button:not(:disabled):hover {
  background-color: var(--ch-light-background);
}

.cardhost-left-edge--nav-button:disabled {
  --icon-color: var(--ch-light-op40);
}

.cardhost-left-edge--nav.expanded {
  background-color: var(--ch-deep-background);
  width: 320px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.login-grid {
  display: grid;
  grid-template-columns: 40px 290px;
  grid-column-gap: 50px;
}

.cardhost-left-edge-login-buttons {
  border: none;
  background-color: transparent;
  box-shadow: none;
  color: var(--ch-highlight);
  padding: 0;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
}

.cardhost-left-edge-login-buttons:hover {
  color: var(--ch-highlight-hover)
}

.cardhost-left-edge--nav h1 {
  font-size: 20px;
  margin-top: 4px;
  font-weight: 600px;
}
