.cardhost-top-edge {
  height: var(--ch-top-edge-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  z-index: var(--ch-top-edge-z-index);
  background-color: var(--ch-default);
  transition: var(--ch-card-background-color-animate);
}

.cardhost-top-edge.view {
  background-color: var(--ch-light-background);
  z-index: 10;
}

.cardhost-top-edge.fields,
.cardhost-top-edge.layout {
  background-color: var(--ch-medium-background);
}

.cardhost-top-edge.add,
.cardhost-top-edge.adopt,
.cardhost-top-edge.schema {
  padding-left: var(--ch-left-edge-width);
  padding-right: var(--ch-right-edge-width);
  background-color: var(--ch-deep-background);
}

.cardhost-top-edge.themer {
  background-color: var(--ch-dark-background);
}

.card-renderer--top-edge-buttons {
  position: fixed;
  top: var(--ch-spacing);
  right: var(--ch-spacing);
  display: flex;
  z-index: var(--ch-actions-z-index);
}

.card-renderer--top-edge-buttons > button + button,
.card-renderer--top-edge-buttons > div + button {
  margin-left: 10px;
}

.view-selector {
  width: 300px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--ch-deep-background);
  border: solid 1px var(--ch-border);
  height: 40px;
  border-radius: 20px;
}

.view-selector .view-selector--mode-link {
  --icon-color: var(--ch-light-op50);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 100%;
}

.view-selector .view-selector--mode-link.active {
  --icon-color: var(--ch-highlight);
}

.view-selector .view-selector--mode-link:first-child {
  border-right: solid 1px var(--ch-border);
}

.view-selector .view-selector--mode-link svg {
  margin-right: 15px;
}

/* Mode indicator label and link */
.mode-indicator {
  --mode-container-width: 180px;
  --mode-container-height: 40px;
  --mode-link-width: 45px;
  display: flex;
  flex-flow: row nowrap;
  width: var(--mode-container-width);
  min-height: var(--mode-container-height);
  max-width: 100%;
}
.mode-indicator--label {
  display: inline-block;
  width: calc(var(--mode-container-width) - var(--mode-link-width));
  height: 100%;
  padding: 11px 0 11px 15px;
  border-radius: 100px 0 0 100px;
  background-color: var(--ch-highlight);
  color: var(--ch-dark);
  font-size: 13px;
  font-weight: 600;
  line-height: calc(18 / 13);
  letter-spacing: 0.035em;
  text-align: left;
  text-transform: capitalize;
}
.mode-indicator--label svg {
  display: inline-block;
  margin-right: 10px;
}
.mode-indicator--link {
  display: inline-block;
  width: var(--mode-link-width);
  height: 100%;
  margin-left: -1px;
  border-radius: 0 100px 100px 0;
  background-color: var(--ch-highlight);
  background-image: url('/assets/images/icons/close.svg');
  background-position: center right 15px;
  background-repeat: no-repeat;
  background-size: 10px 10px;
}
.mode-indicator--link:hover {
  background-color: var(--ch-highlight-hover);
}
.mode-indicator--link span {
  width: 18px;
  height: 18px;
  display: block;
  text-indent: -9999px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
}


@media (max-width: 1440px) {
  .cardhost-top-edge.view,
  .cardhost-top-edge.edit {
    --padding-left: var(--ch-left-edge-navbar-width);
  }
}

/* Old styles, remove after updating all mode buttons */
.top-edge--mode-label {
  padding: 10px;
  background-color: white;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
  color: var(--ch-dark-op50);
  margin-right: 20px;
}

.top-edge--mode-link {
  display: inline-flex;
}

.top-edge--mode-link span {
  width: 18px;
  height: 18px;
  display: block;
  text-indent: -9999px;
    text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background-image: url(/assets/images/icons/close-circle.svg);
  background-size: 18px 18px;
  background-repeat: no-repeat;
}
