.card-editor__container {
  --card-editor-header-height: 90px;
  position: fixed;
  top: 30px;
  height: calc(100% - 30px);
  width: var(--ch-card-size);
  max-width: calc(100% - 60px);
}

.card-editor__sticky-header {
  position: sticky;
  top: 0;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 5px 20px;
  height: var(--card-editor-header-height);
  padding: 20px 30px 20px 40px;
  background-color: #fff;
  border-bottom: 1px solid #D1D1D1;
  border-radius: 10px 10px 0 0;
}

.card-editor__title {
  margin: 0;
  color: var(--boxel-dark-purple);
  font: var(--boxel-font-med);
  font-weight: 700;
  letter-spacing: 0;
  text-transform: capitalize;
}

.card-editor__autosave-indicator {
  display: flex;
  align-items: center;
  color: var(--boxel-dark-purple);
  font: var(--boxel-font-xs);
  font-weight: 400;
  letter-spacing: var(--boxel-lsp);
}

.card-editor__autosave-indicator svg {
  margin-right: 5px;
  width: 12px;
  height: 12px;
}

.card-editor__controls + .card-editor__autosave-indicator {
  margin-top: 5px;
}

.card-editor__controls {
  display: grid;
  grid-auto-flow: column;
  background-color: var(--boxel-highlight);
  border-radius: 100px;
  z-index: 1;
}

.card-editor__controls-btn > svg {
  margin-left: 20px;
}

.card-editor__controls-btn {
  display: flex;
  align-items: center;
  height: 40px;
  padding: 10px 20px 10px 40px;
  background: url('/assets/images/icons/edit-box.svg') left 14px center/14px 14px no-repeat;
  color: #000;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-lg);
  text-align: left;
  outline: 0;
}

.card-editor__scroll-container {
  height: 100%;
  padding: 0;
}

.card-editor__inner-container {
  height: calc(100% - var(--card-editor-header-height));
  padding-bottom: 30px;
  overflow: auto;
}


@media (max-width: 700px) {
  .card-editor__container .edit-field {
    grid-template-columns: auto;
    justify-items: start;
  }
}

@media (max-width: 500px) {
  .card-editor__sticky-header {
    padding: 20px;
  }

  .card-editor__title {
    font-size: 18px;
  }

  .card-editor__container .card-renderer-isolated.edit .card-renderer-isolated--card-container {
    padding: 10px;
  }
}


@media (max-width: 475px) {
  .card-editor__container {
    max-width: calc(100% - 30px);
  }

  .card-editor__title {
    font-size: 16px;
  }

  .card-editor__container .card-renderer-isolated.edit {
    min-width: initial;
  }
}
