.cardhost-top-edge {
  --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);

  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  height: var(--ch-top-edge-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  z-index: var(--ch-edges-z-index);
  background-color: var(--ch-default);
}

.cardhost-top-edge.schema {
  background-color: var(--ch-deep-background);
}

.login-btn,
.logout-btn {
  position: absolute;
  z-index: var(--ch-edges-z-index);
}

.logout-btn {
  position: absolute;
  right: 320px;
  min-width: 85px;
  height: 40px;
}

.login-btn {
  right: var(--ch-spacing)
}

@media (max-width: 1440px) {
  .cardhost-top-edge.view,
  .cardhost-top-edge.edit {
    --padding-left: var(--ch-left-edge-navbar-width);
  }
}
