.card-renderer-isolated--header--wrapper {
  background-color: var(--bg-color);
  /* We need the wrapper bg to mask the scrolling content that peeks through border-radius */
}

.card-renderer-isolated.view .card-renderer-isolated--header--wrapper {
  position: absolute;
  top: var(--card-renderer-header-height);
  height: inherit;
  width: 100%;
  bottom: 100px;
}
.card-renderer-isolated.view .card-renderer-isolated--header--wrapper.selected {
  top: 0px;
}

.card-renderer-isolated--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  height: var(--card-renderer-header-height);
  color: var(--ch-light);
  background-color: var(--ch-disabled);
  border: 3px solid var(--ch-disabled);
  border-radius: 10px 10px 0 0;
  font-weight: 600;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: background-color var(--ch-transition-time),
              color var(--ch-transition-time),
              border-color var(--ch-transition-time);
}

.card-renderer-isolated--header svg {
  --icon-color: var(--ch-light);
  transition: stroke var(--ch-transition-time);
}

.card-renderer-isolated--header svg.card-renderer-isolated--header-icon {
  --icon-color: var(--ch-highlight);
  padding-right: 10px;
  width: 40px;
}

.card-renderer-isolated--header-title {
  width: 100%;
  color: var(--ch-light);
}

.card-renderer-isolated.themer .card-renderer-isolated--header {
  background-color: var(--ch-default);
  border-color: var(--ch-default);
}

.card-renderer-isolated--header .card-renderer--header-link {
  padding: 5px 20px;
  border: 1px solid var(--ch-light-op40);
  border-radius: 20px;
  font-size: 0.8em;
}

.card-renderer--edit-link {
  margin-left: auto;
}


/* Focus/selected state */
.card-renderer-isolated.selected .card-renderer-isolated--header,
.card-renderer-isolated.layout .card-renderer-isolated--header,
.card-renderer-isolated.view .card-renderer-isolated--header {
  background-color: var(--ch-highlight);
  border-color: var(--ch-highlight);
  color: var(--ch-dark);
}

.card-renderer-isolated.selected .card-renderer-isolated--header-title,
.card-renderer-isolated.layout .card-renderer-isolated--header-title,
.card-renderer-isolated.view .card-renderer-isolated--header-title {
  color: var(--ch-dark);
}

.card-renderer-isolated.selected .card-renderer-isolated--header svg,
.card-renderer-isolated.layout .card-renderer-isolated--header svg,
.card-renderer-isolated.view .card-renderer-isolated--header svg {
  --icon-color: var(--ch-dark);
}


/* Context menu button */
.context-menu-button {
  padding: 5px 7px;
  border: 1px solid var(--ch-light-op40);
  border-radius: 20px;
  background-color: transparent;
  margin-left: 10px;
  font-size: 0.8em;
  cursor: pointer;
}

.context-menu-button.context-menu-button---error {
  border: 2px solid var(--red);
}

.context-menu-nav {
  position: absolute;
  z-index: var(--ch-actions-z-index);
  background-color: var(--ch-light);
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
  top: 42px;
  right: -180px;
  width: 230px;
  padding-bottom: 10px;
}

/* Whenever there's a fixed header, like in edit and schema, use alternate layout */

.fields .context-menu-nav {
  position: fixed;
  margin-left: 405px;
  margin-top: -13px;
  top: 135px;
  right: auto;
}

.context-menu-sticky-wrapper {
  position: sticky;
  z-index: var(--ch-actions-z-index);
  margin-left: 89%;
  transition: margin var(--ch-transition-time);
}

.layout.themer-card-width--medium .context-menu-sticky-wrapper {
  margin-left: 94%;
}
.layout.themer-card-width--large .context-menu-sticky-wrapper {
  margin-left: 97%;
}

.layout .context-menu-nav,
.schema .context-menu-nav {
  right: auto;
  position: fixed;
  margin-top: 82px;
}

.context-menu-items {
  padding-left: 0;
  padding-top: 10px;
  font-size: 0.8em;
  color: var(--ch-dark);
  margin: 0;
}

.context-menu-items li {
  text-decoration: none;
  list-style: none;
  font-weight: normal;
}

.context-menu-items li a {
  display: block;
  width: 100%;
  padding: 3px 40px;
}

.context-menu-items li.heading {
  font-weight: 600;
  margin-left: 0;
  padding-left: 20px;
}

.context-menu-items li:hover {
  background-color: var(--ch-light-background);
}

.context-menu-items hr {
  border: solid 1px var(--ch-light-background);
}

.context-menu-items li.heading:hover,
.context-menu-items li.divider:hover {
  background-color: transparent;
}

/* Shows a checkmark next to the active route in the context menu.
 * We can't use Ember's regular "active" classes because they apply
 * to links to parent routes too.
*/
.context-menu-items li a.checked:before {
  content: "";
  display: block;
  width: 12px;
  height: 9px;
  background-image: url("/assets/images/icons/checkmark-active.svg");
  background-size: cover;
  position: absolute;
  margin-left: -20px;
  margin-top: 5px;
}

.context-menu-items > li > svg {
  margin-right: 6px;
}
