.card-renderer-isolated {
  --card-spacing: 20px;
  --card-header-height: 50px;
  --card-width: 496px;
  --card-min-height: 496px;
  --card-min-width: 400px;
  --card-bg: var(--ch-medium-lighter-blue-gray, #4a4857);
  --card-header-bg: var(--ch-medium-dark-darker-blue-gray, #3f3d4d);
  --card-highlight: var(--ch-cyan, #00ebe5);
  --card-transition-time: 250ms;

  height: calc(100vh - 80px);
  min-width: var(--card-min-width);
  padding: 0 var(--card-spacing);
}

.card-renderer-isolated.schema .isolated-card {
  background: none;
}

.card-renderer-isolated.view {
  --card-width: 100%;
}

.card-renderer-isolated--header {
  position: relative;
  display: flex;
  align-items: center;
  width: var(--card-width);
  height: var(--card-header-height);
  max-width: 100%;
  margin: 0 auto;
  padding: 15px var(--card-spacing) 15px 15px;
  border-radius: 10px 10px 0 0;
  background-color: var(--card-header-bg);
  color: white;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.24px;
  line-height: 22px;
  text-transform: capitalize;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: background-color var(--card-transition-time),
              color var(--card-transition-time);
}

.card-renderer-isolated--header svg {
  width: 20px;
  height: 22px;
}

.card-renderer-isolated--header svg g {
  stroke: white;
  transition: stroke var(--card-transition-time);
}

.card-renderer-isolated--header-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: var(--card-bg);
  opacity: 0.35;
}

.card-renderer-isolated--header-title {
  padding-left: 10px;
}

.card-renderer-isolated--main {
  width: 100%;
  height: calc(100% - var(--card-header-height));
  padding-bottom: 80px;
  overflow: scroll;
}

.card-renderer-isolated--content {
  margin: 0 auto;
  width: var(--card-width);
  max-width: 100%;
  min-height: var(--card-min-height);
  background-color: white;
  border: 3px solid transparent;
  border-radius: 0 0 10px 10px;
  overflow: hidden;

  transition: border-color var(--card-transition-time);
}

.card-renderer-isolated.schema .card-renderer-isolated--content {
  background-color: var(--card-bg);
}

.card-renderer-isolated.edit .card-renderer-isolated--content {
  padding: var(--card-spacing);
}

.card-renderer-isolated:focus {
  outline: 0; /* TODO: make this accessible */
}

.card-renderer-isolated:focus .card-renderer-isolated--header {
  color: black;
  background-color: var(--card-highlight);
  /* background-image: url('/images/icons/event.svg'); */
}

.card-renderer-isolated:focus .card-renderer-isolated--header svg g {
  stroke: black;
}

.card-renderer-isolated:focus .card-renderer-isolated--header-overlay {
  visibility: hidden;
}

.card-renderer-isolated:focus .card-renderer-isolated--content {
  border-color: var(--card-highlight);
}
