.cardhost-top-edge {
  --padding-left: var(--ch-left-edge-width);
  --padding-right: var(--ch-right-edge-width);

  padding-left: var(--padding-left);
  padding-right: var(--padding-right);
  height: var(--ch-top-edge-height);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: right;
  z-index: var(--ch-edges-z-index);
}

.login-box {
  position: fixed;
  top: var(--ch-spacing);
  right: var(--ch-right-edge-panel-width);
  z-index: var(--ch-edges-z-index);
}

.login-box.full-width {
  right: var(--ch-spacing)
}

.login-box > button {
  --background: none;
  --border-radius: 10px;
  --border: 2px solid var(--ch-border);
  --color: white;
  --width: 80px;
}

.login-box > button:hover {
  --color: var(--ch-highlight);
}
