.ch-catalog {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 80px;
  width: var(--ch-left-edge-panel-width);
  height: 100%;
  background-color: var(--ch-dark-background);
  color: var(--ch-light);
  z-index: calc(var(--ch-left-edge-z-index) - 1);
}

.ch-catalog--content {
  height: calc(100% - 67px);
  padding: 0 20px 80px;
  overflow-y: auto;
}

.ch-catalog--title {
  margin: 0;
  padding: 20px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.015em;
  line-height: 27px;
}

.ch-catalog--fields {
  padding: 20px 0;
}

.ch-catalog--header {
  position: relative;
  background-color: var(--ch-dark-background);
  z-index: 10;
}

.ch-catalog--header-btns {
  position: absolute;
  top: 20px;
  right: 20px;
}

.ch-catalog--header-btn {
  width: 18px;
  height: 18px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  opacity: 0.25;
}

.ch-catalog--header-btn.active,
.ch-catalog--header-btn:hover,
.ch-catalog--header-btn:active {
  opacity: 1;
  cursor: pointer;
}

.ch-catalog--header-btn.sidebar {
  background-image: url('/assets/images/icons/sidebar.svg');
}

.ch-catalog--header-btn.grid {
  background-image: url('/assets/images/icons/grid.svg');
}

.ch-catalog--header-btn + .ch-catalog--header-btn {
  margin-left: 10px;
}
