.ch-catalog-field {
  width: 290px;
  max-width: 100%;
  min-height: 80px;
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16);
  overflow: hidden;
}

.ch-catalog-field:hover {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.ch-catalog-field:active {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.ch-catalog-field + .ch-catalog-field {
  margin-top: var(--ch-spacing);
}

.ch-catalog-field--icon {
  margin: auto;
  max-height: 20px;
  max-width: 100%;
}

.ch-catalog-field--icon > svg {
  display: block;
}

.ch-catalog-field--info {
  padding: 10px 10px 10px 0;
}

.ch-catalog-field--title {
  margin: 0;
  color: black;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 22px;
}

.ch-catalog-field--description {
  margin: 0;
  color: rgba(0, 0, 0, 0.6);
  font-size: 11px;
  letter-spacing: 0;
  line-height: 15px;
}
