.dropdown-menu-button__trigger {
  background: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 7px 9px;
  outline: none;
}

.dropdown-menu-button__trigger:hover {
  cursor: pointer;
}

.dropdown-menu-button__dropdown {
  min-width: 210px;
  padding: 15px 0;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.dropdown-menu-button__dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-in {
  animation: drop-fade-below var(--boxel-transition);
}

.dropdown-menu-button__dropdown.ember-basic-dropdown-content--below.ember-basic-dropdown--transitioning-out {
  animation: drop-fade-below var(--boxel-transition) reverse;
}

@keyframes drop-fade-below {
  0%   {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
