:root {
  --ch-drop-zone-transition-duration: 200ms;
}

.drop-zone--container {
  height: 20px;
  background-color: var(--ch-dark-background);
  border-top: 2px solid var(--ch-default);
}

.drop-zone--container:first-of-type {
  border-top: none;
}

.drop-zone--container.outside {
  transition: height var(--ch-drop-zone-transition-duration) cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.drop-zone--container.dragging {
  height: 158px;
  transition: height var(--ch-drop-zone-transition-duration) cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.drop-zone {
  width: 100%;
}

.drop-zone--container .drop-zone--description .drop-zone--preview--container {
  pointer-events: none;
  padding: 0 53px;
}

.drop-zone .drop-zone--description {
  pointer-events: none;
  height: 120px;
  opacity: 0.5;
  padding: 0;
  color: white;
  font-size: 16px;
  line-height: 22px;
}

.drop-zone--description--text {
  display: none;
}

.drop-zone .drop-zone--description.dragging {
  opacity: 1;
}

.drop-zone .drop-zone--drag-drop-icon {
  display: none;
}


/* In relation to Card Renderer */
.card-renderer-isolated--card-container > .drop-zone--container {
  border-top: none;
}

.card-renderer-isolated.no-fields .drop-zone {
  position: static;
  min-height: calc(var(--card-renderer-height) - var(--card-renderer-header-height));
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-renderer-isolated.no-fields .drop-zone .drop-zone--description {
  width: 100%;
  border: none;
  font-size: 16px;
}

.card-renderer-isolated.no-fields .drop-zone .drop-zone--description .drop-zone--description--text {
  display: block;
  text-align: center;
}

.card-renderer-isolated.no-fields .drop-zone .drop-zone--drag-drop-icon {
  display: block;
  margin-top: 10px;
  text-align: center;
}
