:root {
  --ch-drop-zone-transition-duration: 300ms;
}
.drop-zone--container {
  position: relative;
}

.drop-zone {
  background-color: transparent;
  position: absolute;
  top: -60px;
  height: 120px;
  width: 100%;
  border: solid 1px red;
}

.drop-zone--container .drop-zone--preview {
  height: 2px;
  pointer-events: none;
}

.drop-zone--container .drop-zone--preview.active {
  height: 120px;
}

.drop-zone .drop-zone-text {
  display: none;
  height: 2px;
  opacity: 0.5;
  padding: 0;
  background-color: var(--ch-medium-purple);
  color: white;
  font-size: 16px;
  line-height: 22px;
  text-align: center;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  transition:
    opacity var(--ch-drop-zone-transition-duration),
    height var(--ch-drop-zone-transition-duration),
    padding var(--ch-drop-zone-transition-duration);
}

.drop-zone .drop-zone-text.active {
  opacity: 1;
  padding: var(--ch-spacing);
  height: 120px;
}

.drop-zone .drop-zone--drag-drop-icon {
  display: none;
}
