button.edge-actions-button.cs-component-cta {
  --icon-color: var(--ch-dark);
  min-width: 40px;
  height: 40px;
  padding: 10px 9px 11px 12px;
  border-color: var(--ch-highlight);
  line-height: 0;
}
.edge-actions-button > svg {
  display: inline-block;
}
.edge-actions-button:not(:disabled):hover,
.edge-actions-button:not(:disabled):focus {
  border-color: var(--ch-highlight-hover);
}
