.field-renderer {
  --field-spacing: var(--ch-spacing, 20px);
  --field-transition-time: var(--ch-transition-time, 250ms);
  --field-container-width: auto;
  --field-container-height: auto;
  --field-container-bg: none;
  --field-border-color: var(--ch-light-gray-b1, #b1b1b1);
  --field-highlight: var(--ch-cyan, #00ebe5);

  width: var(--field-container-width);
  max-width: 100%;
  min-height: var(--field-container-height);
  background: var(--field-container-bg);
}

.field-renderer.with-buttons {
  --field-container-width: 496px;
  --field-container-height: 154px;
  --field-container-bg: var(--ch-medium-lighter-blue-gray, #4a4857);

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--field-spacing) 0;
}

.field-renderer.schema-field {
  padding: var(--ch-spacing) 0;
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.field-renderer.schema-field .field-renderer--display {
  visibility: hidden;
  width: 0;
  height: 0;
}

.field-renderer--move-btn {
  width: 14px;
  height: 18px;
  padding: var(--ch-spacing);
  margin: auto;
  background: none;
  background-image: url('/images/icons/grabber-handle-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.field-renderer--move-btn:hover,
.field-renderer--move-btn:focus {
  opacity: 1;
  cursor: move; /* fallback */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.field-renderer--move-btn:active {
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.field-renderer--action {
  min-width: 40px;
  margin: auto;
}

.field-renderer--remove-btn {
  width: 16px;
  height: 18px;
  padding: var(--ch-spacing);
  margin: auto;
  background: none;
  background-image: url('/images/icons/trash-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.field-renderer--remove-btn:hover,
.field-renderer--remove-btn:focus {
  opacity: 1;
  cursor: pointer;
}
