.field-renderer.schema-field {
  padding: var(--ch-spacing) 0;
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.field-renderer.schema-field .field-renderer--display {
  visibility: hidden;
  width: 0;
  height: 0;
}

/* Schema Display View on Card */
.schema-field-renderer {
  --field-width: 384px;
  --field-height: 112px;
  --field-header-bg: var(--ch-light-gray-f0);
  --field-header-color: black;
  --field-header-height: 36px;
  --field-bg: white;
  --field-color: var(--ch-black-op35);

  width: var(--field-width);
  min-height: var(--field-height);
  max-width: 100%;
  color: var(--field-color);
  font: 400 16px/22px var(--ch-font-family);
  letter-spacing: 0.015em;
  border-radius: 5px;
  overflow: hidden;
  border: 3px solid transparent;
  transition: border var(--field-transition-time);
}

.schema-field-renderer--header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: var(--field-header-height);
  padding: 9px 20px 10px 45px;
  border-radius: 5px 5px 0 0;
  background-position: var(--ch-spacing) center;
  background-size: 10px;
  background-repeat: no-repeat;
  background-color: var(--field-header-bg);
  color: var(--field-header-color);
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  text-transform: capitalize;
  transition: background-color var(--field-transition-time), border-radius var(--field-transition-time);
}

.schema-field-renderer--header--detail {
  opacity: 0.25;
}

.schema-field-renderer--content {
  min-height: calc(var(--field-height) - var(--field-header-height));
  padding: 10px var(--ch-spacing);
  background-color: var(--field-bg);
  border-radius: 0 0 5px 5px;
  transition: border-radius var(--field-transition-time);
}

.schema-field-renderer--name {
  display: block;
  padding-bottom: 10px;
  font-size: 11px;
  line-height: 15px;
  letter-spacing: 0.035em;
  text-transform: capitalize;
}

.schema-field-renderer--value {
  display: block;
  max-height: 200px;
  margin: 0;
  padding: 0;
  border: none;
  overflow-y: scroll;
}

.schema-field-renderer:hover {
  cursor: pointer;
}

.field-renderer:focus {
  outline: 0;
  /* TODO: Make this accessible */
}

.field-renderer:focus .schema-field-renderer,
.card-renderer:not(.selected) .field-renderer.selected .schema-field-renderer {
  border: 3px solid var(--field-highlight);
}

.field-renderer:focus .schema-field-renderer .schema-field-renderer--header,
.card-renderer:not(.selected) .field-renderer.selected .schema-field-renderer .schema-field-renderer--header {
  background-color: var(--field-highlight);
  border-radius: 2px 2px 0 0;
}

.field-renderer:focus .schema-field-renderer .schema-field-renderer--content,
.card-renderer:not(.selected) .field-renderer.selected .schema-field-renderer .schema-field-renderer--content {
  border-radius: 0 0 2px 2px;
}
