/* Edit Mode */
.edit-field {
  --field-primary-color: var(--ch-dark);
  --field-background-color: var(--ch-light);
  --field-border: 1px solid #DEDEDE;
  --field-border-radius: 5px;
  --field-font: 16px/calc(22/16) var(--ch-font-family);
  --field-lsp: 0.015em;
  --field-label-font: 700 13px/calc(22/13) var(--ch-font-family);
  --field-label-lsp: 0.05em;
  --field-input-height: 50px;
  --field-max-width: 700px;

  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 5px 30px;
  max-width: var(--field-max-width);
  margin: 0 auto;
  padding: 10px;
  color: var(--field-primary-color);
}

.edit-field__title {
  font: var(--field-label-font);
  letter-spacing: var(--field-label-lsp);
  text-transform: uppercase;
  text-align: right;
  overflow: hidden;
  text-overflow: ellipsis;
}

.edit-field__collection {
  /* padding: 10px;
  background-color: #f0f0f0;
  border-radius: var(--boxel-border-radius); */
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40%, max-content));
  gap: 5px;
  min-height: 50px;
  padding: 10px 30px 10px 15px;
  background-color: #F0F0F0;
  border: none;
  border-radius: 5px;
  text-align: left;
}

.edit-field__collection--vertical {
  grid-template-columns: max-content;
}

.item__pill {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: 10px;
  padding: 5px 3px 5px 20px;
  background-color: var(--boxel-highlight);
  border-radius: 100px;
  white-space: nowrap;
}

.item__pill-value {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.item__add-btn,
.item__remove-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  border: none;
  background: url('/assets/images/icons/icon-minus-circle.svg') center/16px 16px no-repeat;
}

.item__add-btn {
  background-image: url('/assets/images/icons/icon-plus-circle-highlight-bg.svg');
  position: absolute;
  top: 15px;
  right: 0;
}

.edit-field__collection > .edit-field__input + .edit-field__input {
  margin-top: 10px;
}

.edit-field__input {
  width: 100%;
  height: var(--field-input-height);
  padding: 10px;
  border: var(--field-border);
  border-radius: var(--field-border-radius);
  background-color: var(--field-background-color);
  color: var(--field-primary-color);
  font: var(--field-font);
  letter-spacing: var(--field-lsp);
}

.edit-field__input:focus {
  border-color: var(--ch-highlight);
  outline: 2px solid var(--ch-highlight);
  outline-offset: -3px;
}

.edit-field__input:hover:not(:focus) {
  border-color: var(--ch-hover);
}

.edit-field__radio-checkbox {
  border: var(--field-border);
  border-radius: var(--field-border-radius);
  background-color: var(--field-background-color);
  color: var(--field-primary-color);
  font: var(--field-font);
  letter-spacing: var(--field-lsp);
}


/* Schema Mode */
.card-renderer-isolated.schema .field {
  width: 100%;
  max-width: var(--ch-field-width);
  margin: 0 auto;
  padding: 20px 0;
  background-image: unset;
  border: none;
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  opacity: unset;
}

.card-renderer-isolated.schema .background-image-field {
  visibility: visible;
  height: auto;
}

.card-renderer-isolated.schema .field.with-buttons {
  width: 100%;
  max-width: 496px;
  min-height: 144px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  background-color: var(--ch-dark-background);
  border-bottom: 2px solid var(--ch-default);
  grid-column-gap: unset; /* needed for firefox, or the grid rules for .cardstack_base-card-embedded .field will conflict */
}

.card-renderer-isolated.schema .field.with-buttons:last-of-type {
  border-bottom-color: transparent;
}


.card-renderer-isolated.schema .field.with-buttons.preview .schema-field-renderer {
  opacity: 0.4;
}

.card-renderer-isolated.schema .field--move-btn {
  width: 14px;
  height: 18px;
  padding: 20px;
  margin: auto;
  background: none;
  background-image: url('/assets/images/icons/grabber-handle-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.card-renderer-isolated.schema .field--move-btn:hover,
.card-renderer-isolated.schema .field--move-btn:focus {
  opacity: 1;
  cursor: move; /* fallback */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.card-renderer-isolated.schema .field--move-btn:active {
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.card-renderer-isolated.schema .field--action {
  min-width: 40px;
  margin: auto;
}

.card-renderer-isolated.schema .field--remove-btn {
  width: 16px;
  height: 18px;
  padding: 20px;
  margin: auto;
  background: none;
  background-image: url('/assets/images/icons/trash-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.card-renderer-isolated.schema .field--remove-btn:hover,
.card-renderer-isolated.schema .field--remove-btn:focus {
  opacity: 1;
  cursor: pointer;
}

.card-renderer-isolated.schema .field-renderer--display {
  visibility: hidden;
  width: 0;
  height: 0;
  padding-bottom: 15px;
}

.card-renderer-isolated.schema .field-renderer--display-label {
  display: block;
  padding-bottom: 7px;
  color: var(--ch-light-op60);
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
