.field-renderer.edit-field {
  position: relative;
  width: 453px;
  max-width: 100%;
  min-height: 76px;
  margin-bottom: var(--ch-spacing);
  padding: 10px 15px;
  background-color: white;
  border: 1px solid var(--field-border-color);
  border-radius: 5px;
  color: black;
  overflow: hidden;
}

.field-renderer.edit-field > label {
  display: block;
  padding-bottom: 10px;
  color: var(--ch-black-op50);
  font: 400 11px/15px var(--ch-font-family);
  letter-spacing: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.field-renderer.edit-field > input,
.field-renderer.edit-field > textarea {
  display: block;
  width: 100%;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font: 400 16px/22px var(--ch-font-family);
  letter-spacing: 0;
}

.field-renderer.edit-field > input {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.field-renderer.edit-field > textarea {
  min-height: 280px;
  padding-bottom: 10px;
  resize: none;
}

.field-renderer.edit-field > input:focus,
.field-renderer.edit-field > textarea:focus {
  outline: 0;
}
.field-renderer.edit-field:focus-within {
  border-color: var(--ch-cyan);
}

/* TODO: Update this when we can specify image type & make it more flexible */
.field-renderer.edit-field > img {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 3px;
  width: 90px;
  height: 55px;
}

/* TODO: Update this when we can specify address type */
.field-renderer.edit-field.field-address > input,
.field-renderer.edit-field.field-location > input {
  background: url('/assets/images/icons/location-pin.svg') left center/15px no-repeat;
  padding-left: 25px;
}
