/* Edit Mode */
.card-renderer-isolated.edit .field {
  width: 100%;
  max-width: var(--ch-field-width);
  margin: 0 auto;
  padding-bottom: 12px;
  background-image: unset;
}


/* Schema Mode */
.card-renderer-isolated.schema .field {
  width: 100%;
  max-width: var(--ch-field-width);
  margin: 0 auto;
  padding: 20px 0;
  background-image: unset;
  border: none;
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  opacity: unset;
}

.card-renderer-isolated.schema .field-renderer--wrapper {
  display: flex;
}

.card-renderer-isolated.schema .background-image-field {
  visibility: visible;
  height: auto;
}

.card-renderer-isolated.schema .field.with-buttons {
  width: 100%;
  max-width: 496px;
  min-height: 144px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0;
  background-color: var(--ch-dark-background);
  border-bottom: 2px solid var(--ch-default);
  grid-column-gap: unset; /* needed for firefox, or the grid rules for .cardstack_base-card-embedded .field will conflict */
}

.card-renderer-isolated.schema .field.with-buttons:last-of-type {
  border-bottom-color: transparent;
}


.card-renderer-isolated.schema .field.with-buttons.preview .schema-field-renderer {
  opacity: 0.4;
}

.card-renderer-isolated.schema .field--move-btn {
  width: 14px;
  height: 18px;
  padding: 20px;
  margin: auto;
  background: none;
  background-image: url('/assets/images/icons/grabber-handle-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 14px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.card-renderer-isolated.schema .field--move-btn:hover,
.card-renderer-isolated.schema .field--move-btn:focus {
  opacity: 1;
  cursor: move; /* fallback */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}

.card-renderer-isolated.schema .field--move-btn:active {
  opacity: 1;
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}

.card-renderer-isolated.schema .field--action {
  min-width: 40px;
  margin: auto;
}

.card-renderer-isolated.schema .field--remove-btn {
  width: 16px;
  height: 18px;
  padding: 20px;
  margin: auto;
  background: none;
  background-image: url('/assets/images/icons/trash-white.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 16px 18px;
  border: none;
  opacity: 0.5;

  transition: opacity 250ms;
}

.card-renderer-isolated.schema .field--remove-btn:hover,
.card-renderer-isolated.schema .field--remove-btn:focus {
  opacity: 1;
  cursor: pointer;
}

.card-renderer-isolated.schema .field-renderer--display {
  visibility: hidden;
  width: 0;
  height: 0;
  padding-bottom: 15px;
}

.card-renderer-isolated.schema .field-renderer--display-label {
  display: block;
  padding-bottom: 7px;
  color: var(--ch-light-op60);
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
