.field-renderer.edit-field + .field-renderer.edit-field {
  margin-top: var(--ch-spacing);
}

.field-renderer.edit-field label {
  text-transform: capitalize;
}

/* .field-renderer.edit-field > img {
  position: absolute;
  top: 10px;
  right: 15px;
  border-radius: 3px;
  width: 90px;
  height: 55px;
} */

.field-renderer.edit-field.field-address .cs-input,
.field-renderer.edit-field.field-location .cs-input {
  padding-left: 40px;
  background-image: url('/assets/images/icons/location-pin.svg');
  background-position: center left 15px;
  background-repeat: no-repeat;
  background-size: 15px 17px;
}
