.filter-bar-input.cs-input {
  height: 30px;
  padding: 10px 15px;
  border-color: rgba(0, 0, 0, 0.15);
  border-radius: 100px;
}

.filter-bar-input-group .cs-input-group--helper-text,
.filter-bar-input-group .cs-input-group--label {
  display: none;
}
