.ch-input-group {
  position: relative;
  display: block;
  width: min-content;
  max-width: 100%;
  padding-bottom: 15px;
}

.ch-input-group.required > .ch-label::after {
  content: "*";
  display: inline-block;
  vertical-align: text-top;
  margin-left: 2px;
}

.ch-label {
  display: block;
  color: var(--ch-light-op60);
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;

  transition: color var(--ch-transition-time);
}

.ch-required {
  position: absolute;
  right: 0;
  top: 0;
  display: block;
  color: var(--ch-light-op60);
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  text-transform: lowercase;
}

.ch-helper-text {
  display: block;
  color: var(--ch-light-op60);
  font: 400 11px/15px var(--ch-font-family);
  letter-spacing: 0.035em;
  text-transform: initial;

  transition: display var(--ch-transition-time),
              color var(--ch-transition-time);
}

.ch-helper-text.error {
  color: var(--ch-alert);
}

input + .ch-helper-text,
textarea + .ch-helper-text {
  padding-left: 10px;
  padding-top: 7px;
}

.ch-input,
.ch-textarea {
  display: block;
  min-width: var(--ch-component-width);
  max-width: 100%;
  padding: 10px 15px;
  background-color: var(--ch-default);
  color: white;
  border: 1px solid transparent;
  border-radius: 5px;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.015em;

  transition: color var(--ch-transition-time),
              border-color var(--ch-transition-time),
              background-color var(--ch-transition-time);
}

.ch-input {
  height: var(--ch-component-height);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ch-textarea {
  min-height: 80px;
}

.ch-input.error,
.ch-textarea.error {
  border-color: var(--ch-alert);
}

.ch-input:hover,
.ch-textarea:hover {
  background-color: var(--ch-hover);
}

.ch-input:focus,
.ch-textarea:focus {
  color: white;
  border-color: var(--ch-highlight);
  outline: 0;
}

.ch-input:focus + .ch-helper-text.error,
.ch-textarea:focus + .ch-helper-text.error {
  display: none;
}

input.ch-input::placeholder,
textarea.ch-textarea::placeholder {
  color: var(--ch-light-op50);
}

.ch-input:disabled,
.ch-textarea:disabled,
.ch-input.disabled,
.ch-textarea.disabled {
  background-color: var(--ch-disabled);
  color: var(--ch-light-op40);
  pointer-events: none;
}

.ch-label + .ch-input,
.ch-label + .ch-textarea,
.ch-label + .ch-dropdown,
.ch-label > .ch-input,
.ch-label > .ch-textarea {
  margin-top: 7px;
}

.ch-checkbox-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ch-checkbox {
  display: inline-block;
  margin: 0;
  width: 0;
  height: 0;
  opacity: 0;
}

.ch-checkbox + .ch-checkmark {
  order: -1;
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-bottom;
  height: 18px;
  width: 18px;
  background-color: var(--ch-foreground);
  border: 1px solid var(--ch-default);
  border-radius: 3px;
  text-align: center;
  cursor: pointer;

  transition: background-color var(--ch-transition-time);
}

.ch-checkbox:focus + .ch-checkmark {
  border-color: var(--ch-highlight);
}

.ch-checkbox:checked:focus + .ch-checkmark {
  border-color: var(--ch-highlight-hover);
}

.ch-checkbox:hover + .ch-checkmark {
  background-color: var(--ch-foreground-hover);
}

.ch-checkbox:checked:hover + .ch-checkmark {
  background-color: var(--ch-highlight-hover);
}

.ch-checkbox:checked + .ch-checkmark {
  background: url('/assets/images/icons/checkmark.svg') center/12px no-repeat;
  background-color: var(--ch-highlight);
}

.ch-checkbox-group:hover {
  cursor: pointer;
}

.ch-checkbox-group.checked {
  color: white;
}

.ch-checkbox-group.disabled {
  cursor: initial;
}

.ch-checkbox:disabled + .ch-checkmark,
.ch-checkbox.disabled + .ch-checkmark,
.ch-checkbox:disabled:checked + .ch-checkmark,
.ch-checkbox:disabled:checked:hover + .ch-checkmark {
  --icon-color: var(--ch-light-op40);

  background-color: var(--ch-disabled);
  pointer-events: none;
}

.ch-dropdown {
  --icon-color: var(--ch-highlight);

  display: block;
  min-width: var(--ch-component-width);
  max-width: 100%;
  height: var(--ch-component-height);
  padding: 10px 15px;
  background: url('/assets/images/icons/dropdown-arrows-sm.svg') right 15px center/10px no-repeat;
  background-color: var(--ch-foreground);
  color: white;
  border: 1px solid var(--ch-default);
  border-radius: 5px;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.015em;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.ch-dropdown:focus {
  border-color: var(--ch-highlight);
  outline: 0;
}

.ch-dropdown:hover {
  background-color: var(--ch-foreground-hover);
  cursor: pointer;
}

.ch-dropdown:disabled,
.ch-dropdown.disabled {
  --icon-color: var(--ch-light-op40);

  background-color: var(--ch-disabled);
  color: var(--ch-light-op40);
  pointer-events: none;
}

.ch-dropdown::-ms-expand {
  display: none;
}
