.isolated-collection {
  --breadcrumbs-height: 90px;
  --header-height: 170px;

  height: 100%;
  background-color: white;
  border-radius: 10px;
  box-shadow: var(--boxel-box-shadow);
}

.isolated-collection__sticky-header {
  height: var(--header-height);
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 5;
  border-radius: 10px 10px 0 0;
}

.isolated-collection__scroll-container {
  height: 100%;
  padding-bottom: var(--header-height);
  overflow: auto;
}

.isolated-collection__inner-container {
  min-height: 100%;
  min-width: 100%;
  width: max-content;
  background-color: white;
  border-radius: 0 0 10px 10px;
}

.isolated-collection--collection {
  height: calc(100% - var(--breadcrumbs-height));
}

.media-collection--table {
  overflow: hidden;
}

.media-collection button:hover {
  cursor: pointer;
}

.media-collection button > svg {
  display: block;
  margin: auto;
}

.media-collection__btn-overlay {
  min-width: 125px;
  border-top-right-radius: 10px;
  grid-template-columns: 1fr 40px;
}

.mode-btn {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  padding-left: 38px;
  background: url('/assets/images/icons/edit-box.svg') left 14px center/14px 14px no-repeat;
  text-align: left;
}
.version-history {
  width: 40px;
  height: 40px;
  background: url('/assets/images/icons/gear.svg') center/17px 17px no-repeat;
}

.media-collection__title-row {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 20px;
  align-items: center;
  padding: 40px 50px 10px;
}

.media-collection__title {
  font: var(--boxel-font-lg);
  font-weight: bold;
  letter-spacing: 0;
  text-transform: capitalize;
}

.media-collection__count {
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.media-collection__count > span {
  margin-right: 5px;
  font: var(--boxel-font-lg);
  font-weight: bold;
}

.media-collection__actions-row {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 20px;
  align-items: center;
  padding: 20px 50px;
}

.media-collection__btn-group {
  display: grid;
  grid-auto-flow: column;
  gap: 18px;
  grid-column: -1 / span 1;
  justify-content: end;
}

.media-collection__select-btn {
  position: absolute;
  left: 8px;
}

.media-collection__pill {
  width: 250px;
  height: 40px;
  padding: 11px 25px;
  border: 1px solid #AFAFB7;
  border-radius: 100px;
  color: black;
  font: var(--boxel-font-sm);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp);
  text-align: left;
  white-space: nowrap;
}

.media-collection__pill--dropdown {
  background: url('/assets/images/icons/carot-down.svg') center right 17px/8px auto no-repeat;
}

.media-collection__select-all {
  position: relative;
  width: 116px;
  padding: 11px 27px;
  transition: all var(--boxel-transition);
}

.media-collection__select-all--selected-items {
  width: 250px;
  padding-left: 17px;
  padding-right: 48px;
}

.media-collection__select-all > svg {
  margin-right: 10px;
}

/* Media collection dropdown btn component */
.media-collection__more-actions {
  position: absolute;
  top: 0;
  right: 8px;
}

.media-collection__more-actions .media-collection-dropdown-btn__trigger {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background: none;
}

.media-collection__more-actions .media-collection-dropdown-btn__trigger:hover,
.media-collection__more-actions .media-collection-dropdown-btn__trigger:focus {
  --icon-color: var(--boxel-highlight);
  outline: 0;
}

/* Actions menu component */
.media-collection__more-actions-menu li {
  padding: 10px 20px;
}

.media-collection__more-actions-menu li:hover,
.media-collection__more-actions-menu li:focus {
  background-color: #E9E9EE;
  cursor: pointer;
}

.media-collection__more-actions-menu li.actions-menu__link-item {
  padding: 0;
}
.media-collection__more-actions-menu li.actions-menu__link-item > a {
  width: 100%;
  padding: 10px 20px;
}


.media-collection__btn-trio {
  display: grid;
  grid-template-columns: 30px 30px 30px;
  gap: 8px;
}

.media-collection__btn-trio.media-collection__filters {
  grid-template-columns: repeat(auto-fit, 30px);
  width: 125px;
  justify-content: end;
}

.media-collection__btn-trio + .media-collection__btn-trio {
  padding-left: 18px;
  border-left: 1px solid #707070;
}

.media-collection__filters .media-collection-dropdown-btn__trigger,
.media-collection__btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px 18px;
  background-color: transparent;
  border: none;
  outline: 0;
}

.media-collection__filters .media-collection-dropdown-btn__trigger:hover,
.media-collection__filters .ember-basic-dropdown-trigger[aria-expanded=true] .media-collection-dropdown-btn__trigger {
  --icon-color: var(--boxel-highlight);
  transition: stroke var(--boxel-transition);
}

.media-collection__view-selectors > .media-collection__btn {
  opacity: 0.25;
}
.media-collection__view-selectors > .media-collection__btn:focus,
.media-collection__view-selectors > .media-collection__btn:hover,
.media-collection__view-selectors > .media-collection__btn.selected {
  opacity: 1;
}

.media-collection__btn.list {
  background-image: url('/assets/images/icons/list.svg');
}

.media-collection__btn.grid {
  background-image: url('/assets/images/icons/grid.svg');
}

.media-collection__btn.table {
  background-image: url('/assets/images/icons/table.svg');
}

.isolated-collection__table-list-header {
  display: grid;
  padding: 10px 70px 0;
  grid-auto-columns: 1fr;
  gap: 0 50px;
}

.isolated-collection__table-list-header-field {
  grid-row: 1;
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.isolated-collection__grid {
  display: grid;
  gap: 30px;
  margin: 0;
  padding: 10px 50px 50px;
  font-family: var(--boxel-font-family);
  list-style-type: none;
}

/* .isolated-collection__grid--master-collection-grid {
  grid-template-columns: repeat(auto-fill, 380px);
  grid-auto-rows: minmax(250px, auto);
} */

.isolated-collection__grid--grid {
  grid-template-columns: repeat(auto-fill, 220px);
  grid-auto-rows: minmax(280px, auto);
  padding-left: 42px;
  padding-right: 28px;
}

.isolated-collection__grid-item.isolated-collection__grid-item--grid {
  display: grid;
  grid-template-rows: 1fr auto;
}

.isolated-collection__grid-item-btn-group {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: min-content;
  justify-content: center;
  gap: 30px;
  padding: 8px 8px 0;
}

.isolated-collection__grid-item-select-btn {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0 auto;
  padding: 0;
  border: none;
  background: none;
  z-index: 1;
  outline: 0;
}

.isolated-collection__grid-item-select--selected {
  --icon-bg: var(--boxel-highlight);
  --icon-border: var(--boxel-highlight);
}

.isolated-collection__grid-item-select-btn > svg {
  display: block;
  margin: auto;
}

.media-collection-dropdown.media-collection__more-actions-dropdown .media-collection__more-actions-menu {
  padding-left: 0;
}

.media-collection-dropdown.media-collection__more-actions-menu li {
  padding: 10px 20px;
}

.media-collection-dropdown.media-collection__more-actions-menu li:hover,
.media-collection-dropdown.media-collection__more-actions-menu li:focus {
  background-color: #E9E9EE;
}


/* Grid item */
.isolated-collection__select-btn {
  visibility: collapse;
}

.isolated-collection__select-btn--selected {
  visibility: visible;
}

.isolated-collection__grid-item:hover .isolated-collection__select-btn,
.isolated-collection__select-btn:hover,
.isolated-collection__select-btn:focus,
.isolated-collection__boxel:hover .isolated-collection__select-btn,
.isolated-collection__boxel:focus-within .isolated-collection__select-btn {
  visibility: visible;
}


/* List view */
.isolated-collection__grid--list,
.isolated-collection__grid--table-list {
  padding-left: 0;
  padding-right: 0;
  gap: 20px;
}

.isolated-collection__grid--table-list {
  gap: 0;
}

.isolated-collection__grid-item--list,
.isolated-collection__grid-item--table-list {
  display: grid;
  grid-template-columns: 50px 1fr 50px;
  align-items: center;
  gap: 0 2px;
}

.isolated-collection__grid-item--list .isolated-collection__select-btn,
.isolated-collection__grid-item--table-list .isolated-collection__select-btn {
  order: -1;
}


/* Edit mode */
.media-collection--edit {
  height: calc(100% - 60px);
  background-color: #f0f0f0;
}

.media-collection--edit .media-collection__scroll-container {
  height: calc(100vh - 200px);
}

.media-collection--edit .media-collection__inner-container {
  background-color: #f0f0f0;
}

.media-collection__title-row--edit {
  padding: 25px 20px;
  grid-template-columns: 1fr auto auto;
}

.media-collection--edit .media-collection__title,
.media-collection--edit .media-collection__count > span {
  font-size: 22px;
  line-height: calc(30/22);
  letter-spacing: 0;
}

.media-collection--edit .media-collection__actions-row {
  background-color: #F0F0F0;
}

/* For search btn */
.media-collection__search .media-collection-dropdown-btn__dropdown {
  padding: 15px 20px;
}

.media-collection__search-input {
  height: 30px;
  font: var(--boxel-font-sm);
  padding: 5px 10px;
}

.media-collection--edit .isolated-collection__grid-item--list > .isolated-collection__grid-item-btn-group {
  display: contents;
}

.media-collection--edit .isolated-collection__grid-item--list .isolated-collection__grid-item-select-btn {
  order: -1;
  position: sticky;
  left: 0;
  background-color: #f0f0f0;
  margin: 0;
  width: 50px;
  height: calc(100% + 10px);
  z-index: 2;
}

.media-collection--edit .isolated-collection__grid-item--list .isolated-collection__grid-item-select-btn.remove-btn {
  order: 1;
  right: 0;
}

/* For sort btn */
.media-collection__sort header {
  padding-left: 20px;
  padding-bottom: 15px;
  background-color: white;
  font-weight: bold;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.media-collection__sort ul {
  padding-left: 20px;
  max-height: 175px;
  overflow: auto;
}

.media-collection__sort li {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;
  opacity: 0.5;
  font-weight: 400;
  cursor: pointer;
  user-select: none;
}

.media-collection__sort li + li {
  padding-top: 15px;
}

.media-collection__sort li:hover,
.media-collection__sort li:focus {
  opacity: 1;
}

.media-collection__sort .media-collection__sort-dropdown__active::before {
  content: url('/assets/images/icons/checkmark-highlighted.svg');
  position: absolute;
  left: -10px;
}

.media-collection__sort li.media-collection__sort-dropdown__active {
  opacity: 1;
  font-weight: bold;
  transition: opacity var(--boxel-transition), font-weight var(--boxel-transition);
}

.media-collection__sort li span {
  padding-left: 0.4em;
}

.media-collection__sort li svg {
  margin-left: 0.1em;
  margin-right: 0.1em;
}
