.mode-indicator {
  --mode-container-width: 240px;
  --mode-container-height: 40px;
  --mode-icon: url('');
  --mode-icon-position: left 13px top 12px;
  --mode-icon-size: 1rem 1rem;

  display: block;
  min-width: var(--mode-container-width);
  width: 100%;
  max-width: 100%;
  height: var(--mode-container-height);
  padding: 11px 38px;
  background-color: var(--ch-highlight);
  background-image: var(--mode-icon), url('/assets/images/icons/close.svg');
  background-position: var(--mode-icon-position), center right 15px;
  background-repeat: no-repeat, no-repeat;
  background-size: var(--mode-icon-size), 10px 10px;
  border-radius: 100px;
  color: var(--ch-dark);
  font-size: 13px;
  font-weight: 600;
  line-height: calc(18 / 13);
  letter-spacing: 0.035em;
  text-align: left;
  text-transform: capitalize;
}

.mode-indicator--edit {
  --mode-icon: url('/assets/images/icons/edit.svg');
  --mode-icon-position: left 15px top 12px;
  --mode-icon-size: 13px 13px;
}
.mode-indicator--schema {
  --mode-icon: url('/assets/images/icons/schema-2.svg');
}
.mode-indicator--themer {
  --mode-icon: url('/assets/images/icons/themer.svg');
}
.mode-indicator--preview {
  --mode-icon: url('/assets/images/icons/eye.svg');
}

.mode-indicator:hover,
.mode-indicator:focus {
  background-color: var(--ch-highlight-hover);
  outline: 0;
}
