.org-header {
  --header-logo-size-sm: 35px 35px;
  position: sticky;
  top: 0;
  padding: 80px 20px 0 30px;
  background-color: #000;
  color: white;
  height: 250px;
  z-index: 1;
}

.org-header--sm {
  height: var(--boxel-org-header-height);
  padding-top: 25px;
  gap: 20px;
}

.org-header__title-row {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
}

.org-header__title {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 3px;
  align-items: center;
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 26px;
  text-transform: uppercase;
}

.org-header--sm .org-header__title {
  font: var(--boxel-font-sm);
  font-weight: bold;
}

.org-header__logo {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 54px;
}

.org-header--sm .org-header__logo {
  width: 50px;
  height: 50px;
  background-size: var(--header-logo-size-sm);
}

.org-header__logo svg {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.org-header__nav {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;
  max-width: 450px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  padding-top: var(--boxel-spacing);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.org-header__nav li > a {
  padding: 0 20px 10px;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.org-header__nav li > a.active:not(.unselected) {
  font-weight: bold;
  border-color: white;
}

.org-header__search-bar {
  justify-self: end;
  width: 240px;
  height: 30px;
  padding: 6px 15px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  border-radius: 100px;
  border: 1px solid white;
  outline: 0;
}
