.org-header {
  --header-background: #000;
  --header-logo-size-sm: 35px 35px;
  position: sticky;
  top: 0;
  grid-column: 2;
  display: grid;
  grid-template:
    "title search" auto
    "nav   nav"    40px / minmax(auto, 450px) 1fr;
  gap: 50px;
  padding: 80px 20px 0 30px;
  background-color: var(--header-background);
  color: white;
  height: 250px;
  z-index: 2;
}

.org-header.org-header--bunny-records {
  --header-background: #FF1D6C;
  --header-logo-size-sm: 25px 34px;
}

/* .org-header.org-header--crd-records {
  --header-background: #0069F9;
  --header-logo-size-sm: 36px 35px;
}

.org-header.org-header--warner-music-group {
  --header-background: #0061aa;
} */

.org-header--sm {
  height: 130px;
  padding-top: 25px;
  gap: 20px;
}

.org-header__title {
  grid-area: title;
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0 3px;
  align-items: center;
  margin: 0;
  font-size: 19px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 26px;
  text-transform: uppercase;
}

.org-header--sm .org-header__title {
  font: var(--boxel-font-sm);
  font-weight: bold;
}

.org-header__logo {
  width: 80px;
  height: 80px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40px 54px;
}

.org-header--sm .org-header__logo {
  width: 50px;
  height: 50px;
  background-size: var(--header-logo-size-sm);
}

/* .org-header--sm .org-header__logo--warner-music-group {
  background-size: auto;
  background-position: left center;
}

.org-header--sm .org-header__logo--deezer {
  background-position: top center;
} */

.org-header__logo svg {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

.org-header__nav {
  grid-area: nav;
  max-width: 450px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
}

.org-header__nav ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0 10px;
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.org-header__nav li > a {
  padding: 0 20px 10px;
  border-bottom: 4px solid transparent;
  white-space: nowrap;
}

.org-header__nav li > a.active:not(.unselected) {
  font-weight: bold;
  border-color: white;
}

.org-header__search-bar {
  grid-area: search;
  align-self: center;
  justify-self: end;
  width: 240px;
  height: 30px;
  padding: 6px 15px;
  font: var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-lg);
  border-radius: 100px;
  border: 1px solid white;
  outline: 0;
}
