.right-edge {
  position: fixed;
  right: var(--ch-spacing);
  top: var(--ch-top-edge-height);
  width: var(--ch-right-edge-panel-width);
  border-radius: 10px;
  background-color: var(--ch-medium-dark-blue-gray);
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  z-index: var(--ch-edges-z-index);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.right-edge--section {
  padding: var(--ch-spacing);
}

.right-edge--section + .right-edge--section {
  border-top: 1px solid var(--ch-dark-blue-gray);
}

.right-edge--section-header {
  background: url("/assets/images/icons/arrow-show-hide-active.svg") right center/10px no-repeat;
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
}

.right-edge--section-header--adopted {
  font-weight: 400;
  color: var(--ch-white-op60);
  text-transform: none;
}

.right-edge--section-header + .right-edge--item,
.right-edge--item + .right-edge--item {
  margin-top: var(--ch-spacing);
}

.right-edge--label {
  padding-bottom: 10px;
}

.right-edge--section-btn-container {
  text-align: right;
}

.right-edge--section-btn {
  display: inline-block;
  margin: 0;
  padding: 10px 0 10px 10px;
  background: none;
  border: none;
  color: white;
  font: 600 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  opacity: 0.3;
}

.right-edge--section-btn:focus,
.right-edge--section-btn:hover {
  opacity: 1;
  cursor: pointer;
}


/* Adopted card */
.right-edge .adopted-card {
  --adopted-image-size: 54px;

  display: grid;
  grid-template-columns: var(--adopted-image-size) 1fr;
  grid-gap: var(--ch-spacing);
  align-items: center;
  min-height: 75px;
  padding: 10px;
  background-color: var(--ch-lighter-medium-blue-gray);
  color: white;
  border: 1px solid var(--ch-darker-dark-blue-gray);
  border-radius: 5px;
  font: 600 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.right-edge .adopted-card--view-text {
  margin-top: 5px;
  font-size: 11px;
  font-weight: 400;
  line-height: 15px;
  opacity: 0.5;
}

.right-edge .adopted-card:focus .adopted-card--view-text,
.right-edge .adopted-card:hover .adopted-card--view-text {
  opacity: 1;
  cursor: pointer;
  outline: 0;
  /* TODO: Make this accessible */
}

.right-edge--section .adopted-card--image {
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: var(--adopted-image-size);
  border: 1px solid var(--ch-darker-dark-blue-gray);
  border-radius: 5px;
}


/* Pill selector */
/* TODO: Functionality and hover-focus styles */
.pill-selector {
  display: flex;
  max-width: 262px;
  height: 38px;
  margin: 0;
  background-color: var(--ch-dark-blue-gray);
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
  border: 1px solid var(--ch-dark-blue-gray);
  border-radius: 20px;
}

.pill-option {
  flex: 1;
  padding: 10px 20px;
  text-align: center;
}

.pill-option.selected {
  background-color: var(--ch-lighter-medium-blue-gray);
  color: var(--ch-cyan);
  font-weight: 600;
  border-radius: inherit;
}
