/* TODO we need to not use hard coded colors and
instead use the vars in our palette css */

.right-edge {
  position: fixed;
  right: var(--ch-spacing);
  top: var(--ch-top-edge-height);
  width: var(--ch-right-edge-panel-width);
  background-color:var(--ch-medium-dark-blue-gray);
  border-radius: 10px;
  z-index: var(--ch-edges-z-index);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.15);
}

.right-edge--section {
  border-top: 2px solid #22212b;
  padding: 12px 20px;
}

.right-edge--section .section-header {
  color: white;
  margin-bottom: 25px;
}

.right-edge--section .field-renderer.schema-field {
  background-color: transparent;
  font-size: 13px;
}

.right-edge--section .schema-field-renderer {
  background-color: transparent;
  border-radius: 0;
  color: #a3a1a7;
}

.right-edge--section .schema-field-renderer--attributes {
  padding: 0;
}

.right-edge--section .schema-field-renderer--attribute {
  padding-top: 0;
}

.right-edge--section .schema-field-renderer--attribute {
  margin-bottom: 15px;
}

.right-edge--section .schema-field-renderer--attribute-name {
  padding-bottom: 5px;
  font-size: 13px;
  color: #a3a1a7;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.right-edge--section .schema-field-renderer--attribute-value {
  color: #fafafa;
  font-size: 13px;
}

.right-edge--section .checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  color: #a3a1a7;
}

.right-edge--section .checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.right-edge--section .checkbox-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #485556;
  border: 1px solid #22212b;
  border-radius: 5px;
}

.right-edge--section .checkbox-container:hover input ~ .checkmark {
  background-color: #485556;
}

.right-edge--section .checkbox-container input:checked ~ .checkmark {
  background-color: #22212b;
}

.right-edge--section .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.right-edge--section .checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.right-edge--section .checkbox-container .checkmark:after {
  left: 7px;
  top: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.right-edge--pill-selector {
  border: 1px solid #22212b;
  border-radius: 20px;
  margin: 20px;
  display: flex;
  background: #22212b;
  overflow: hidden;
}

.right-edge--pill-option {
  flex: 1;
  padding: 10px 20px;
  color: white;
  text-align: center;
}

.right-edge--pill-option.selected {
  background: #454556;
  color: #00eae4;
  border-radius: 20px;
  border: 2px solid #454556;
}

.right-edge--section .adopted-card {
  border: 1px solid #22212b;
  border-radius: 10px;
  padding: 5px;
  background: #484556;
  display: flex;
}

.right-edge--section .adopted-card .card-image {
  width: 50px;
  height: 50px;
  border: 1px solid #22212b;
  border-radius: 10px;
  flex: 1;
}

.right-edge--section .adopted-card .card-info-container {
  flex: 3;
}

.right-edge--section .adopted-card .card-info {
  padding: 5px 12px;
}

.right-edge--section input[type="text"] {
  font-size: 11px;
  background: #22212b 0% 0% no-repeat padding-box;
  border-radius: 5px;
  height: 32px;
  width: 100%;
  border-color: transparent;
  color: white;
}

.right-edge--section textarea {
  background: #22212b 0% 0% no-repeat padding-box;
  border: none;
  border-radius: 5px;
  width: 100%;
  height: 65px;
}


.adopted-card .title {
  color: white;
}

.adopted-card .action {
  color: #a3a1a7;
}

.right-edge--section .remove-adopted-card {
  text-align: right;
  color: #a3a1a7;
}

.events-right-edge--properties {
  box-sizing: border-box;
  padding: 15px 0;
  border-top: 1px solid gray;
}
