.save-button.cs-component-cta.primary {
  min-width: 120px;
  height: 40px;
  position: relative;
  transition: background-color var(--transition-duration);
}

.save-button.cs-component-cta.primary.saved svg {
  position: absolute;
  top: 14px;
  right: 10px;
  opacity: 0.5;
}

.save-button.cs-component-cta.primary.just-saved {
  background-color: var(--ch-success);
  color: var(--ch-dark);
}

.save-button.cs-component-cta.primary.just-saved svg {
  opacity: 1;
}

.loading-spinner {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 20px;
  width: 20px;
  height: 20px;
}

.loading-spinner div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 8px;
  border: 2px solid black;
  border-radius: 50%;
  animation: loading-spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}
.loading-spinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.loading-spinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.loading-spinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
