.search-bar-input.cs-input {
  min-width: var(--ch-component-width);
  min-height: var(--ch-component-height);
  padding: 10px 15px 10px 45px;
  background: url('/assets/images/icons/search-active.svg') 15px center/15px no-repeat;
  background-color: var(--ch-default);
  border: 1px solid var(--ch-border);
  border-radius: 100px;
  color: var(--ch-light);
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.search-bar-input-group .cs-input-group--helper-text,
.search-bar-input-group .cs-input-group--label {
  display: none;
}

.search-bar-input.cs-input:hover,
.search-bar-input.cs-input:focus {
  background-color: var(--ch-hover);
}
