.ch-input[type="search"],
.ch-search-bar {
  min-width: var(--ch-component-width);
  min-height: var(--ch-component-height);
  padding: 10px 15px 10px 45px;
  background: url('/assets/images/icons/search-active.svg') 15px center/15px no-repeat;
  background-color: var(--ch-dark-blue-gray);
  border: 1px solid var(--ch-medium-blue-gray);
  border-radius: 100px;
  color: white;
  font: 400 13px/18px var(--ch-font-family);
  letter-spacing: 0.035em;
}

.ch-input[type="search"][placeholder],
.ch-input[type="search"]::placeholder,
.ch-search-bar[placeholder],
.ch-search-bar::placeholder {
  color: white;
}

.ch-input[type="search"]:focus,
.ch-search-bar:focus {
  outline: 0;
  /* TODO: accessible focus style */
}
