.view-switcher-input-group .cs-input-group--helper-text,
.view-switcher-input-group .cs-input-group--label {
  display: none;
}
.view-switcher-input-group {
  max-width: 325px;
}
.view-switcher-dropdown.cs-dropdown {
  color: var(--ch-light);
}
.view-switcher-dropdown.cs-dropdown .ember-power-select-trigger {
  margin: 10px 0;
  padding: 11px 40px 11px 28px;
  background-color: var(--ch-default);
  border: 1px solid var(--ch-border);
  border-radius: 20px;
}
.view-switcher-dropdown.cs-dropdown .ember-power-select-selected-item,
.view-switcher-dropdown.cs-dropdown .ember-power-select-placeholder {
  --icon-color: var(--ch-highlight);
  color: var(--ch-light);
}
.view-switcher-dropdown.cs-dropdown:not(.disabled) .ember-power-select-trigger:hover,
.view-switcher-dropdown.cs-dropdown:not(.disabled) .ember-power-select-trigger:focus,
.view-switcher-dropdown.cs-dropdown:not(.disabled) .ember-power-select-trigger--active {
  background-color: var(--ch-hover);
  border-color: var(--ch-border);
}
.view-switcher-dropdown.cs-dropdown .ember-power-select-status-icon {
  right: 20px;
  width: 10px;
  background: url('/assets/images/icons/carot-down-active.svg') center/10px no-repeat;
  border: none;
}
.view-switcher-dropdown.cs-dropdown.disabled .ember-power-select-status-icon {
  background-image: none;
}
.view-switcher-dropdown.cs-dropdown .ember-power-select-trigger[aria-expanded='true'],
.view-switcher-dropdown.cs-dropdown .ember-basic-dropdown-trigger--below.ember-power-select-trigger[aria-expanded='true'],
.view-switcher-dropdown.cs-dropdown .ember-basic-dropdown-trigger--in-place.ember-power-select-trigger[aria-expanded='true'] {
  background-color: var(--ch-hover);
  border: 1px solid var(--ch-border);
  border-radius: 20px;
}
.view-switcher-dropdown .ember-power-select-dropdown,
.view-switcher-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--below,
.view-switcher-dropdown .ember-power-select-dropdown.ember-basic-dropdown-content--in-place {
  background-color: var(--ch-hover);
  border: 1px solid var(--ch-border);
  border-radius: 10px;
}
.view-switcher-dropdown .ember-power-select-option {
  --icon-color: var(--ch-light-op50);
  width: 100%;
  padding: 10px 40px 10px 28px;
  background-color: var(--ch-hover);
  color: var(--ch-light-op50);
  text-transform: capitalize;

  transition: background-color var(--ch-transition-time), color var(--ch-transition-time);
}
.view-switcher-dropdown .ember-power-select-option[aria-current='true'] {
  --icon-color: var(--ch-highlight);
  background-color: var(--ch-hover);
  color: var(--ch-light);
}
.view-switcher-dropdown .ember-power-select-option[aria-selected='true'] {
  --icon-color: var(--ch-highlight);
  background: url('/assets/images/icons/checkmark-active.svg') right 20px center/10px no-repeat;
  background-color: var(--ch-hover);
  color: var(--ch-light);
}

.view-switcher--option {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.view-switcher--option > svg {
  margin-right: 16px;
}
