.universal-link-card {
  --horizontal-padding: var(--boxel-sp-xl);
  --section-vertical-padding: var(--boxel-sp-xl);

  max-width: 720px;
  padding: 0 var(--horizontal-padding);
  color: var(--boxel-dark);
}

.universal-link-card__section {
  padding: var(--section-vertical-padding) 0;
}

.universal-link-card__get-card-wallet {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--boxel-sp-sm);
  border-bottom: 1px solid var(--boxel-light-300);
  font-size: var(--boxel-font-size);
  font-weight: 600;
  line-height: calc(22 / 16);
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  .universal-link-card {
    --horizontal-padding: var(--boxel-sp-lg);
    --section-vertical-padding: var(--boxel-sp-lg);
  }
}
