.card-pay-header {
  --boxel-org-header-background-color: var(--boxel-dark);
  --boxel-org-header-color: var(--boxel-light);
  --boxel-org-header-logo-size: 2.5rem; /* 40px */

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-pay-header > *:last-child {
  flex-grow: 1;
}

.card-pay-header h1 {
  margin: 0;
  font: 900 1.125rem/1.333 var(--boxel-font-family);
  letter-spacing: var(--boxel-lsp-xxl);
  gap: 0 var(--boxel-sp-xs);
  white-space: nowrap;
}


/* Connect wallet component */
.card-pay-header__item-list {
  margin: 0;
  grid-column-end: -1;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: flex-end;
  gap: var(--boxel-sp);
  text-align: right;
}

.card-pay-header__item {
  display: grid;
  grid-template-columns: 4rem max-content;
  align-items: center;
  gap: var(--boxel-sp);
}
