.radio-option.card-space-category-field__option {
  grid-template-columns: auto 1fr;
}

.card-space-category-field__option + .card-space-category-field__option {
  margin-top: var(--boxel-sp);
}

.card-space-category-field__other-container {
  display: grid;
  grid-template-areas:
    'label input'
    '. validation';
  grid-template-columns: auto 1fr;
  position: relative;
}

.card-space-category-field__other {
  display: contents;
}

.card-space-category-field__other-label {
  grid-area: label;
  align-self: center;
  margin-right: var(--boxel-sp);
}

.card-space-category-field__option .boxel-input {
  grid-area: input;
}

.card-space-category-field__option .boxel-input__error-message {
  grid-area: validation;
}
