<button class="boxel-add-participant-button" ...attributes>
  <span class="boxel-add-participant-button__icon">
    {{svg-jar "plus" width="11px" height="11px"}}
  </span>
  <span class="boxel-add-participant-button__label">Add participant</span>
</button>
