h1 {
  font: var(--boxel-font-xl);
}

h2 {
  font: var(--boxel-font-lg);
}

h3 {
  font: var(--boxel-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}


.boxel {
  position: relative;
}

.toc {
  margin: 2em;
}

.toc__list {
  padding-left: 2em;
  list-style-type: circle;
}


/* for ember animated */
.boxel-animated-orphans {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-tools {
  z-index: 100;
}

/* for ember-toolbars */
.ember-toolbars {
  height: 100%;
}
