<div role="button" {{on "click" this.closeModal}} class="collection-modal-overlay" />

<div class="collection-modal">
  <div class="collection-scroll-container">
    <CollectionIsolated @model={{@model}} />
  </div>
</div>