/* cardstack landing page */
.cardstack-landing-page-container {
  --card-width: 33.125rem;
  --horizontal-card-gap: var(--boxel-sp-lg);

  width: 100%;
  max-width: calc(
    var(--card-width) * 2 + var(--horizontal-card-gap) + var(--boxel-sp-sm) * 2
  );
  margin: auto;
  padding: 0 var(--boxel-sp-sm) var(--boxel-sp-lg) var(--boxel-sp-sm);
}

.cardstack-landing-page-container > * {
  margin-top: var(--boxel-sp-lg);
}

.cardstack-landing-page-section-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* quick hack to prevent layout shift when connect account button is pressed */
  max-height: 1.875rem;
  overflow: visible;
}

.cardstack-landing-page-section-header__title {
  font: 600 var(--boxel-font-lg);
  letter-spacing: 0;
}

.cardstack-landing-page-hero {
  width: 100%;
  min-height: 18.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-navy);
  background-image: url('/images/illustrations/landing-hero-illustration.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto 18.75rem;
  overflow: hidden;
}

.cardstack-landing-page-hero__logo {
  width: 6.25rem;
  height: 7.1875rem;
  margin-bottom: var(--boxel-sp);
}

.cardstack-landing-page-hero__content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: var(--boxel-sp-xs);
}

.cardstack-landing-page-hero__description {
  font-size: 1.25rem;
  font-family: var(--boxel-font-family);
  letter-spacing: var(--boxel-lsp-sm);
}

.cardstack-landing-page-hero__cta {
  display: flex;
  align-items: center;
  margin-top: var(--boxel-sp-xs);
  font: 400 var(--boxel-font);
  --icon-color: var(--boxel-teal);
}

.cardstack-landing-page-hero__cta-icon {
  margin-left: var(--boxel-sp-xxs);
}

.cardstack-landing-page-org-grid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-template-rows: auto auto;
  gap: var(--boxel-sp-xl) var(--horizontal-card-gap);
}

.cardstack-landing-page-org-grid > * {
  justify-self: start;
}

.cardstack-landing-page-org-grid > *:nth-child(2n) {
  justify-self: end;
}

.cardstack-landing-page-org-grid .org-card {
  height: 100%;
}
