/* cardstack landing page */
.cardstack-landing-page-container {
  --card-width: 33.125rem;
  --horizontal-card-gap: var(--boxel-sp-lg);

  width: 100%;
  max-width:
    calc(
      var(--card-width) * 2 + var(--horizontal-card-gap) + var(--boxel-sp-lg) * 2
    );
  margin: auto;
  padding: var(--boxel-sp);
}

.cardstack-landing-page-org-grid {
  list-style-type: none;
  padding: 0;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-template-rows: auto auto;
  gap: var(--boxel-sp-xl) var(--horizontal-card-gap);
}
