.card-space {
  display: grid;
  grid-template-columns: auto auto 1fr;
  height: 100%;
  background-color: var(--boxel-purple-600);
}

.card-space-category-nav {
  width: 12rem;
  height: 100%;
  padding: var(--boxel-sp-lg);
  background-color: var(--boxel-purple-800);
  box-shadow: 0.5px 0 1px 0 rgba(0, 0, 0, 0.5);
}

.card-space-left-edge + .card-space-category-nav {
  border-left: 1px solid var(--boxel-dark);
}

.card-space-category-nav__title {
  font: 700 var(--boxel-font);
  color: var(--boxel-light);
  letter-spacing: var(--boxel-lsp-xs);
}

.card-space-gallery {
  padding: var(--boxel-sp-xs) var(--boxel-sp-sm) var(--boxel-sp-lg);
}

.card-space-create-panel {
  padding: var(--boxel-sp) var(--boxel-sp-xs) var(--boxel-sp-xs);
}

.card-space-main-content {
  grid-column: 2/-1;
}
