.card-pay .boxel-dashboard__body-container {
  min-height: unset;
}

.card-pay-connect-modal {
  --boxel-modal-max-width: unset;
  --boxel-modal-offset-top: 0px;
}

.card-pay-connect-modal > div {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 var(--boxel-sp-lg);
}

.card-pay-connect-modal__scroll-wrapper {
  min-width: 580px;
  max-width: 700px;
  height: auto;
  max-height: 100%;
  margin: auto;
  padding: var(--boxel-sp-lg) 0;
  overflow-y: auto;
}
