.card-pay .boxel-dashboard__body-container {
  min-height: unset;
}

.card-pay-connect-modal {
  --boxel-modal-max-width: unset;
  /* stylelint-disable-next-line length-zero-no-unit */
  --boxel-modal-offset-top: 0px; /* Do not remove the px here. It would break the `calc` calculation for the scroll. */
}

.card-pay-connect-modal > div {
  width: auto;
  display: flex;
  align-items: center;
  margin: 0 var(--boxel-sp-lg);
}

.card-pay-connect-modal__scroll-wrapper {
  min-width: 580px;
  max-width: 700px;
  height: auto;
  max-height: 100%;
  margin: auto;
  padding: var(--boxel-sp-lg) 0;
  overflow-y: auto;
}

.card-pay-dashboard__body {
  display: flex;
}

.card-pay-dashboard__sidebar {
  padding: var(--boxel-sp-xxl) 0 0 var(--boxel-sp-xl);
  min-width: 16rem;
}

.card-pay-dashboard__sidebar-section-header {
  display: flex;
  align-items: center;
  border-top: 1px solid #5f5d71;
  padding-top: var(--boxel-sp);
  text-transform: uppercase;
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xxl);
}

.card-pay-dashboard__sidebar-section-icon {
  margin-right: var(--boxel-sp-xs);

  --icon-color: var(--boxel-light);
}

.card-pay-dashboard__sidebar-link {
  display: flex;
  align-items: flex-start;
  padding: var(--boxel-sp-sm);
  border-radius: var(--boxel-border-radius);
}

.card-pay-dashboard__sidebar-link.active {
  background: var(--boxel-cyan);
  color: var(--boxel-dark);
}

.card-pay-dashboard__sidebar-link .card-pay-dashboard__sidebar-link-header {
  font-weight: 600;
}

.card-pay-dashboard__sidebar-link .card-pay-dashboard__sidebar-link-icon {
  opacity: 0;
  margin-right: var(--boxel-sp);
}

.card-pay-dashboard__sidebar-link.active .card-pay-dashboard__sidebar-link-icon {
  opacity: 1;

  --icon-color: #000;
}
