.not-found {
  --boxel-dashboard-background-color: var(--boxel-purple-600);

  color: white;
}

.not-found__header {
  --boxel-org-header-background-color: var(--boxel-dark);
}

.not-found__content {
  display: flex;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: center;
  flex-direction: column;
  padding: min(5vh, 100px) 0;
}

.not-found__content > * + * {
  margin-top: var(--boxel-sp);
}

.not-found__big-404 {
  font-size: max(60px, min(150px, 10vw));
  font-weight: 700;
}

.not-found__decorative-image {
  width: 900px;
  min-width: 500px;
}

@media only screen and (max-width: 480px) {
  .boxel-dashboard.not-found {
    --boxel-dashboard-background-color: var(--boxel-purple-900);
  }

  .boxel-org-header.not-found__header {
    display: none;
  }
}
