.merchant-payment-request-page {
  position: relative;
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(200px, 720px);
  gap: var(--boxel-sp);
  align-items: center;
  justify-content: center;
  background-color: var(--boxel-purple-600);
  color: var(--boxel-light);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
  z-index: 0;
  padding: var(--boxel-sp) var(--boxel-sp) var(--boxel-sp-xxxl) var(--boxel-sp);
}

.merchant-payment-request-page__merchant-missing-message {
  text-align: center;
  max-width: 40ch;
  justify-self: center;
}
