.card-pay-prose {
  --text-color: var(--boxel-dark);
  --text-color-inverted: var(--boxel-light);

  color: var(--text-color);
  font: var(--boxel-font);
}

.card-pay-prose.card-pay-prose--inverted {
  color: var(--text-color-inverted);
}

.card-pay-prose p {
  margin-top: 0;
  margin-bottom: var(--boxel-sp);
}

.card-pay-prose ul,
.card-pay-prose ol {
  margin: 0;
  padding-left: 0;
  list-style-position: inside;
}

.card-pay-prose ul li::marker {
  content: '- ';
}

.card-pay-prose ol li::marker {
  font: inherit;
}

.card-pay-prose h1 {
  margin: 0;
  font: 600 var(--boxel-font-xl);
}

.card-pay-prose h2 {
  margin: 0;
  font: 600 var(--boxel-font-lg);
}

.card-pay-prose h3 {
  margin: 0;
  font: 600 var(--boxel-font);
}

.card-pay-prose h4 {
  margin: 0;
  font: 600 var(--boxel-font-sm);
}

.card-pay-prose h5 {
  margin: 0;
  font: 600 var(--boxel-font-xs);
}

.card-pay-prose code,
.card-pay-prose pre {
  font: var(--boxel-font-size)/calc(22/16) var(--boxel-monospace-font-family);
}

.card-pay-prose pre {
  overflow-x: auto;
}


/*
TBD

.prose hr {
  border-color: var(--boxel-purple-100);
  border-top-width: 1px;
  margin-top: 3em;
  margin-bottom: 3em
}

.prose blockquote {
  font-weight: 500;
  font-style: italic;
  color: var(--boxel-purple-900);
  border-left-width: .25rem;
  border-left-color: var(--boxel-purple-100);
  quotes: "\201C""\201D""\2018""\2019";
  margin-top: 1.6em;
  margin-bottom: 1.6em;
  padding-left: 1em
}

.prose blockquote p:first-of-type:before {
  content: open-quote
}

.prose blockquote p:last-of-type:after {
  content: close-quote
}

.prose figure figcaption {
  color: var(--boxel-purple-400);
  font-size: .875em;
  line-height: 1.4285714;
  margin-top: .8571429em
}

.prose figure,
.prose img,
.prose video {
  margin-top: 2em;
  margin-bottom: 2em
}

.prose figure>* {
  margin-top: 0;
  margin-bottom: 0
}

.prose table {
  width: 100%;
  table-layout: auto;
  text-align: left;
  margin-top: 2em;
  margin-bottom: 2em;
  font-size: .875em;
  line-height: 1.7142857
}

.prose thead {
  color: var(--boxel-purple-900);
  font-weight: 600;
  border-bottom-width: 1px;
  border-bottom-color: var(--boxel-purple-200);
}

.prose thead th {
  vertical-align: bottom;
  padding-right: .5714286em;
  padding-bottom: .5714286em;
  padding-left: .5714286em
}

.prose tbody tr {
  border-bottom-width: 1px;
  border-bottom-color: var(--boxel-purple-100)
}

.prose tbody tr:last-child {
  border-bottom-width: 0
}

.prose tbody td {
  vertical-align: top;
  padding: .5714286em
}

.prose thead th:first-child {
  padding-left: 0
}

.prose thead th:last-child {
  padding-right: 0
}

.prose tbody td:first-child {
  padding-left: 0
}

.prose tbody td:last-child {
  padding-right: 0
}
*/


.card-pay-prose > :first-child {
  margin-top: 0
}

.card-pay-prose > :last-child {
  margin-bottom: 0
}
