.events-view {
  --content-width: 830px;

  box-sizing: border-box;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  width: 100%;
  min-height: 100%;
  padding: 80px 0;
}

.events-view--container {
  box-sizing: border-box;
  width: var(--content-width);
}


/* Tray styles: See catalog/events-v2.css */


/* Card Container */
.events-view-card--container {
  box-sizing: border-box;
  position: relative;
  height: 100%;
  width: 100%;
}
/* End of Card Container */


/* Card */
.events-view-card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: white;
  overflow: hidden;
}

.events-view-image {
  height: 300px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.events-view-details {
  box-sizing: border-box;
  padding: 60px 60px 30px;
}

.events-view-details--header {
  box-sizing: border-box;
  min-height: 70px;
  padding-bottom: 30px;
}

.events-view-date {
  color: firebrick;
  font-weight: 700;
}

.events-view-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.events-view-location {
  color: dimgray;
}

.events-view-price {
  font-weight: 700;
}

.events-view--main {
  margin: 0 60px;
  padding: 30px 0;
  border-top: 1px solid lightgrey;
  font-size: 16px;
}

.events-view--info-group {
  padding-bottom: 30px;
}

.events-view--info-group > .label {
  font-size: 13px;
  color: dimgray;
}
/* End of Card */
