.events-edit-page {
  --content-width: 630px;
  --edit-right-edge-width: 275px;

  position: absolute;
  width: 100vw;
  top: 0;
  left: 0;
}

.events-edit {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 300px;
  justify-items: center;
  width: 100%;
  padding: 80px 0;
  background-color: var(--boxel-light-purple);
}

.events-edit--container {
  box-sizing: border-box;
  width: var(--content-width);
}

.events-edit--outer {
  box-sizing: border-box;
  width: var(--content-width);
  margin: 0 auto;
}

.events-edit--container-content {
  box-sizing: border-box;
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: white;
  text-transform: capitalize;
}

.events-edit--container-content button {
  padding: 6px 12px;
  border-radius: 5px;
  background-color: white;
  color: black;
  font-weight: bold;
}

.events-edit--container-content span {
  color: var(--boxel-cyan);
}


.events-tray.selected.edit {
  height: auto;
  top: 85px;
}

/* Other tray styles: See catalog/events-v2.css */

/* Card + Card Container styles: See catalog/events-v2.css */
.events-view-card--container.edit {
  border-radius: 20px;
  border: 5px solid transparent;
  overflow: hidden;
}

.events-view-image.edit {
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}


/* Right Edge */
.events-right-edge--container {
  position: fixed;
  top: 175px;
  right: 30px;
}

.events-right-edge {
  box-sizing: border-box;
  position: relative;
  width: var(--edit-right-edge-width);
  padding: 25px;
  background-color: var(--boxel-dark-purple);
  border-radius: 20px;
  color: white;
}

.events-right-edge--title {
  box-sizing: border-box;
  text-transform: capitalize;
  padding: 10px 0 25px;
  font-size: 16px;
}

.events-right-edge--properties {
  box-sizing: border-box;
  padding: 15px 0;
  border-top: 1px solid gray;
}

.events-right-edge--properties > div + div {
  padding-top: 15px;
}

.events-right-edge--properties input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
}

.events-right-edge--properties label {
  box-sizing: border-box;
  display: block;
  padding-bottom: 6px;
  color: gray;
  font-size: 12px;
}
/* End of Right Edge */


/* Card */
.events-edit-card {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
  background-color: white;
  overflow: hidden;
}

.events-edit-image {
  height: 300px;
  background-color: darkslateblue;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.events-edit-details {
  box-sizing: border-box;
  padding: 60px 60px 30px;
}

.events-edit-details--header {
  box-sizing: border-box;
  min-height: 70px;
  padding-bottom: 30px;
}

.events-edit-date {
  color: firebrick;
  font-weight: 700;
}

.events-edit-title {
  font-size: 24px;
  font-weight: 600;
  line-height: 24px;
}

.events-edit-location {
  color: dimgray;
}

.events-edit-price {
  font-weight: 700;
}

.events-edit--main {
  margin: 0 60px;
  padding: 30px 0;
  border-top: 1px solid lightgrey;
  font-size: 16px;
}

.events-edit--info-group {
  padding-bottom: 30px;
}

.events-edit--info-group > .label {
  font-size: 13px;
  color: dimgray;
}
/* End of Card */
