/*
  set default display to block, because we are using a label
  that is inline by default.
*/
.boxel-custom-radio__label {
  position: relative;
}

/* https://css-tricks.com/customise-radio-buttons-without-compromising-accessibility/ */
.boxel-custom-radio__hidden-input {
  position: absolute;
  top: 0;
  left: 0;
  clip-path: polygon(0 0);
  width: 1px;
  height: 1px;
}

/* default focus class - can be overwritten by providing @focusedClass */
.boxel-custom-radio__focused-item {
  outline: 1px solid var(--boxel-outline-color);
}
