<div class="animated-orphans">
  {{animated-orphans}}
</div>

<Plane @name="space">
  {{outlet "space"}}
</Plane>

<Plane @name="tools">
  {{outlet "tools"}}
</Plane>

<AnimatedTools @hideUntilKeys="Ctrl-Shift-KeyA" />