<div class="cards-page">
  <AnimatedContainer class="cards-list triplet {{if this.expandedCards.length "fadeCards"}}">
    {{#animated-each model use=this.transition watch="expanded" as |card|}}
      <div class="card {{if card.expanded "expanded" "thumbnail"}} card-{{card.id}}" role="button" onclick={{action "toggle" card.id}} >
      </div>
    {{/animated-each}}
  </AnimatedContainer>
</div>