<div class="card-catalog">
  {{#each model as |item|}}
    <Tray>
      <div class="catalog-item">
        <div class="catalog-item--preview">
          <Boxel @content={{item}} @variant="small" @clickAction={{action "preview" item.constructor.modelName}}/>
        </div>
        <div class="catalog-item--info">
          <h3>{{item.title}}</h3>
        </div>
      </div>
    </Tray>
  {{/each}}

  {{outlet}}
</div>