<main class="catalog card-catalog">
  <header>
    <h1 class="card-catalog--title">Card Catalog</h1>
  </header>

  <nav>
    <ul class="card-catalog--nav-list">
      <li><LinkTo @route="catalog">Create New</LinkTo></li>
      <li><LinkTo @route="catalog.events">Events</LinkTo></li>
      <li><LinkTo @route="catalog.events-v2">Events V2</LinkTo></li>
    </ul>
  </nav>

  {{outlet}}
</main>