<main class="card-catalog">
  <header>
    <h1 class="card-catalog--title">Card Catalog</h1>
  </header>

  <nav>
    <ul class="card-catalog--nav-list">
      <li><LinkTo @route="index">Home</LinkTo></li>
      <li><LinkTo @route="catalog.create-new">Create New</LinkTo></li>
      <li><LinkTo @route="catalog.index">Content Creation</LinkTo></li>
      <li><LinkTo @route="catalog.events">Events</LinkTo></li>
      <li><LinkTo @route="catalog.events-v2">Events V2</LinkTo></li>
    </ul>
  </nav>

  {{outlet}}
</main>