<h1>Boxel Demo</h1>

<ul>
  <li>{{link-to "Catalog" "catalog"}}</li>
  <li>{{link-to "Cards" "cards"}}</li>
  <li>{{link-to "Form Cards" "form-cards"}}</li>
  <li>{{link-to "Edit Card Demo" "edit-demo"}}</li>
</ul>
