.withdrawal-transaction-approval__amount-display {
  display: flex;
  align-items: center;
  width: 100%;

  /* bordered display box */
  justify-content: center;
  padding: var(--boxel-sp-xl) var(--boxel-sp);
  border: 1px solid var(--boxel-light-400);
  border-radius: var(--boxel-border-radius);
}

.withdrawal-transaction-approval__footnote {
  display: block;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.withdrawal-transaction-approval__loading-indicator {
  margin-right: var(--boxel-sp-xs);
}

.withdrawal-transaction-approval__loading-message {
  max-width: 20rem;
}
