:root {
  --error-color: red;
  --error-background: #fbc0bb;
}

.field-editor.invalid > input {
  background-color: var(--error-background);
}
.field-editor > .error-message {
  color: var(--error-color);
  font-size: 0.8rem;
}

