:root {
  --error-color: red;
  --error-background: #fbc0bb;
}

.field-editor--error-message {
  color: var(--error-color);
  background-color: var(--error-background);
  font-size: 0.8rem;
  padding: 0.25rem;
}

