.boxel-progress-icon {
  --icon-color: var(--boxel-highlight);

  position: relative;
  background-image: url('data:');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.boxel--light-theme .boxel-progress-icon {
  --icon-color: var(--boxel-dark-highlight);

  background-image: url('data:');
}

.boxel-progress-icon.boxel-progress-icon--cancelled {
  background-image: url('data:');
}

.boxel-progress-icon.boxel-progress-icon--complete {
  background-image: url('data:');
}

.boxel-progress-icon__progress-pie {
  position: absolute;
  width: 100%;
  height: 100%;
  transform: rotate(-90deg);
  stroke-dasharray: 0 60;
  transition: stroke-dasharray var(--boxel-transition);
}
