.layout-customization {
  --theme-swatch-width: 5rem;
  --theme-swatch-height: 3.25rem;
  --background-swatch-width: 1.5rem;
  --background-swatch-height: 1.5rem;
}

.layout-customization__disclaimer {
  margin-top: var(--boxel-sp-xxl);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
}
