.workflow-tracker-item {
  --workflow-tracker-item-color: var(--boxel-light);
  --workflow-tracker-item-milestone-color: var(--boxel-highlight);
  --workflow-tracker-item-disabled-color: var(--boxel-purple-200);

  display: grid;
  grid-template-columns: 1fr var(--boxel-sp-xxl);
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "heading icon"
    "milestone icon";
  background: transparent;
  width: 100%;
  color: var(--workflow-tracker-item-color);
  border-radius: var(--boxel-border-radius-sm);
  text-align: left;
  padding: var(--boxel-sp-sm);
  border: 0;
}

.workflow-tracker-item:disabled {
  --workflow-tracker-item-color: var(--workflow-tracker-item-disabled-color);
  --workflow-tracker-item-milestone-color: var(--workflow-tracker-item-disabled-color);
}

.workflow-tracker-item:hover:not(:disabled) {
  background-color: var(--boxel-purple-400);
}

.workflow-tracker-item__heading {
  grid-area: heading;
  font: 700 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
}

.workflow-tracker-item__milestone {
  grid-area: milestone;
  color: var(--workflow-tracker-item-milestone-color);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-lg);
}

.workflow-tracker-item__icon {
  grid-area: icon;
  justify-self: flex-end;
  align-self: center;
  margin-right: 0;
}
