<button
  class={{cn
    "boxel-button"
    (concat "boxel-button--size-" (or @size this.defaultSize))
    (concat "boxel-button--kind-" (or @kind this.defaultKind))
  }}
  disabled={{@disabled}}
  data-test-boxel-button
  ...attributes
>
  {{yield}}
</button>