.choose-balance__nested-items {
  grid-column: 2;
  grid-row: 2;
}

.choose-balance__dropdown-container {
  --arrow-space: 4rem;

  margin-top: var(--boxel-sp-sm);
  padding-left: var(--arrow-space);
  background-image: url('/images/icons/curve-arrow.svg');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: var(--arrow-space) 14px;
}

.choose-balance__account {
  margin-top: var(--boxel-sp-xs);
}

.choose-balance__footnote {
  margin-top: var(--boxel-sp-xxl);
  font: var(--boxel-font-xs);
  color: var(--boxel-purple-400);
}
