<div class="dashboard">
  <header class="dashboard__header">
    {{#if @logo}}
      <span class="dashboard__logo" style={{css-url "background-image" @logo}}></span>
    {{/if}}
    <h1 class="dashboard__title">
      {{@title}}
    </h1>
  </header>

  <div class="dashboard__body">
    {{yield}}
  </div>
</div>