.boxel-dashboard {
  --boxel-dashboard-background-color: inherit;
  --boxel-dashboard-color: inherit;
  --boxel-dashboard-header-background-color: inherit;
  --boxel-dashboard-header-color: inherit;
  --boxel-dashboard-left-edge-width: 5rem; /* 80px */

  position: relative;
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100%;
  background-color: var(--boxel-dashboard-background-color);
  color: var(--boxel-dashboard-color);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-lg);
  z-index: 0;
}

.boxel-dashboard__sticky-header-container {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: var(--boxel-dashboard-header-background-color);
  color: var(--boxel-dashboard-header-color);
}

.boxel-dashboard__body-container {
  overflow: auto;
  min-height: 50vh;
}

.boxel-dashboard--with-left-edge {
  grid-template-columns: auto 1fr;
}

.boxel-dashboard__left-edge-container {
  grid-row: 1 / -1;
  grid-column: 1;
  min-width: var(--boxel-dashboard-left-edge-width);
}


/* Dark Theme */
.boxel-dashboard--dark-theme {
  --boxel-dashboard-background-color: var(--boxel-purple-600);
  --boxel-dashboard-color: var(--boxel-light);
  --boxel-text-highlight: var(--boxel-highlight);
}
