.action-container {
  position: relative;
  width: 100%;
  max-width: 43.75rem; /* 700px;*/
  min-width: 20rem;
  background-color: var(--boxel-light);
  border-radius: var(--boxel-border-radius);
  color: var(--boxel-dark);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.15);
  transition:
    max-width var(--boxel-transition),
    box-shadow var(--boxel-transition);
}

.action-container--is-complete {
  max-width: 36.6rem; /* 585px; */
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
}

.action-container__prompt {
  padding: var(--boxel-sp) var(--boxel-sp-lg);
}


/* Card Header */
.action-container__header {
  --header-background-color: transparent;
  --header-text-color: var(--boxel-purple-300);

  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.action-container__expand-button {
  --icon-button-width: 1.875rem;
  --icon-button-height: 1.875rem;

  position: absolute;
  top: 0;
  right: 0;

  color: transparent;
  --icon-color: currentColor;
  transition: color var(--boxel-transition);
  /* this is so that the icon color change transition is in sync with
  the header background-color change transition. */
}

.action-container__expand-button:focus {
  color: initial;
  /* the button is only stylistically hidden. it's accessible via keyboard shortcut. */
}


/* Container and Header interaction */
.action-container:hover .action-container__header {
  --header-background-color: var(--boxel-purple-100);
  --header-text-color: var(--boxel-dark);
}

.action-container:hover .action-container__expand-button {
  color: initial;
}


/* Optional prompt */
.action-container__prompt {
  margin: 0;
  font-size: 1.125rem; /* 18px */
  font-weight: 700;
  line-height: 1.33;
  letter-spacing: 0;
}


/* Card Chin */
.action-container__footer {
  border-bottom-right-radius: var(--boxel-border-radius);
  border-bottom-left-radius: var(--boxel-border-radius);
}
