.action-container-usage {
  padding: 0 30px 40px;
}

.action-container-usage__label {
  display: block;
  margin-bottom: 10px;
  color: var(--boxel-purple-400);
  font: var(--boxel-font-xs);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.action-container-usage__input {
  padding: 8px var(--boxel-sp);
  border: 1px solid var(--boxel-purple-300);
  border-radius: 6px;
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
  transition: border-color var(--boxel-transition);
}
.action-container-usage__input:hover {
  border-color: var(--boxel-dark);
}
.action-container-usage__input:focus {
  outline-color: var(--boxel-highlight);
}
