<AnimatedContainer class="boxel-field-schema-container {{this.mode}}">
  {{#animated-if (eq this.mode "schema") use=this.fade}}
    <div class="{{@model.constructor.modelName}}--{{this.mode}}--field-type field-type">Text Field</div>
  {{/animated-if}}
</AnimatedContainer>
{{component
    (concat "field-modes/" this.mode)
    componentName=@componentName
    fieldName=@fieldName
    value=@value
    label=@label
    mode=this.mode
    defaultTransition=this.defaultTransition
}}
