.thread-header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  gap: var(--boxel-sp);
  padding: var(--boxel-sp);
  background-color: var(--boxel-light);
  border-top-right-radius: var(--boxel-border-radius);
  border-top-left-radius: var(--boxel-border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
  position: relative;
}

.thread-header__label {
  color: var(--boxel-purple-400);
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp-xl);
  text-transform: uppercase;
}

.thread-header__title {
  /* Not using variables for margin-top because it seems to make a significant difference to typography (@Aierie's judgement) */
  margin-top: 4px;
  margin-bottom: var(--boxel-sp-xxxs);
  font: 700 var(--boxel-font-lg);
  letter-spacing: var(--boxel-lsp-xxs);
}

.thread-header__expand-button {
  display: flex;
  align-items: center;
  padding: var(--boxel-sp-xs);
  border: none;
  background: none;
  font: 600 var(--boxel-font-xs);
  letter-spacing: var(--boxel-lsp);
}

.thread-header__expand-button:hover {
  cursor: pointer;
}

.thread-header__expand-button > svg {
  margin-left: var(--boxel-sp-sm);
}

@media only screen and (max-width: 1149px) {
  .thread-header__expand-button {
    display: none;
  }
}

.thread-header__participants {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 0 var(--boxel-sp-sm);
  color: var(--boxel-dark);
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-xl);
}

.thread-header__notification {
  position: absolute;
  top: 0;
  right: 0;
  /* Not using variables because this might overlap with things below */
  padding: 2px 13px 3px;
  border-radius: 0 10px 0 5px;
  background-color: var(--boxel-error-100);
  color: var(--boxel-light);
  font-weight: 700;
  letter-spacing: var(--boxel-lsp-sm);
  text-align: center;
}
