.org-card__container {
  width: 33.125rem;
  min-height: 18.75rem;
  display: flex;
  border-radius: var(--boxel-border-radius);
  overflow: hidden;
  background: var(--boxel-light);
  color: var(--boxel-dark);
}

.org-card__side-image {
  width: 11.25rem;
  flex-shrink: 0;
  background: var(--boxel-navy);
}

.org-card__icon {
  width: 4.375rem;
  height: 4.375rem;
  padding: 1rem;
  background-color: var(--boxel-navy);
  border-radius: 1rem;
}

.org-card__name {
  font: 600 var(--boxel-font-lg);
  letter-spacing: 0;
  margin-bottom: 0;
  margin-top: var(--boxel-sp-sm);
}

.org-card__subtitle {
  font: var(--boxel-font);
  letter-spacing: 0.01em;
}

.org-card__description {
  color: var(--boxel-purple-500);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp);
  margin-bottom: 0;
  margin-top: var(--boxel-sp);
}

.org-card__description-list {
  list-style: disc inside;
  font: var(--boxel-font-sm);
  margin-bottom: 0;
  margin-top: var(--boxel-sp-xxxs);
  padding-left: 0;
}

.org-card__description-list li::marker {
  color: var(--boxel-dark);
}

.org-card__content {
  padding: 1.875rem;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.org-card__cta {
  margin-top: auto;
  align-self: flex-end;
}
