.org-card__container {
  display: grid;
  grid-template-columns: 11rem 1fr;
  min-height: 18.75rem;
  border-radius: var(--boxel-border-radius);
  background-color: var(--boxel-light);
  color: var(--boxel-dark);
  overflow: hidden;
}

.org-card__side-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  background: var(--boxel-navy);
}

.org-card__icon {
  width: 4.375rem;
  height: 4.375rem;
  margin-bottom: var(--boxel-sp-sm);
  padding: 1rem;
  background-color: var(--boxel-dark);
  border-radius: 1rem;
}

.org-card__name {
  margin: 0;
  font: 600 var(--boxel-font-lg);
  letter-spacing: 0;
}

.org-card__subtitle {
  margin: 0;
  padding-bottom: var(--boxel-sp);
  font: var(--boxel-font);
  letter-spacing: var(--boxel-lsp-xs);
}

.org-card__description {
  margin: 0;
  padding-bottom: var(--boxel-sp);
  color: var(--boxel-purple-500);
  font: 600 var(--boxel-font-sm);
  letter-spacing: var(--boxel-lsp-sm);
}

.org-card__description-list {
  list-style: disc;
  margin-top: var(--boxel-sp-xxxs);
  padding-left: var(--boxel-sp-sm);
  font: var(--boxel-font-sm);
}

.org-card__description-list li::marker {
  margin-left: calc(-1 * var(--boxel-sp-sm));
  color: var(--boxel-dark);
}

.org-card__content {
  display: flex;
  flex-direction: column;
  padding: var(--boxel-sp-lg);
}

.org-card__cta {
  margin-top: auto;
  align-self: flex-end;
}


@media screen and (max-width: 33rem) {
  .org-card__container {
    grid-template-columns: 1fr;
    grid-template-rows: 11rem 1fr;
  }
}
