.links-edit {
  padding: var(--boxel-sp-lg);
}

.links-edit__header {
  margin-bottom: var(--boxel-sp-lg);
  font: 700 var(--boxel-font);
  letter-spacing: var(--boxel-lsp-sm);
}

.links-edit__list {
  list-style-type: none;
  padding-left: 0;
}

.links-edit__list > li + li {
  margin-top: var(--boxel-sp-xxl);
}
