.next-steps {
  padding: 30px;
  background-color: #41404D;
  color: var(--boxel-utloight);
  font: var(--boxel-utfoont-sm);
  letter-spacing: var(--boxel-lsp);
}

.next-steps--inline {
  display: flex;
  justify-content: space-between;
}

.next-steps--row > * + * {
  margin-top: 25px;
}

.next-steps__title {
  font-weight: 700;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.next-steps__text {
  color: var(--boxel-purple-200);
  font-weight: 400;
}

.next-steps__pill-btn {
  padding: 5px 30px;
  font-weight: 600;
  letter-spacing: var(--boxel-lsp-sm);
}

.next-steps__icon-btn {
  --icon-button-width: 30px;
  --icon-button-height: 30px;
}

.next-steps__btn-group {
  display: grid;
  grid-template-columns: max-content max-content auto;
  align-items: center;
  gap: 15px 20px;
}
