<FreestyleUsage @slug="left-edge-nav-card-management-button">
  <div style="width:80px;padding:10px 0;text-align: center;background-color:var(--boxel-purple-800);">
    <Boxel::LeftEdgeNav::CardManagementButton>
      {{svg-jar "pin" width="20px" height="20px"}}
    </Boxel::LeftEdgeNav::CardManagementButton>
  </div>
</FreestyleUsage>
