<h1>Card Pay</h1>

<ul>
  <li>
    <LinkTo @route="card-pay.workflow" @model="prepaid-card-issuance">Prepaid Card Issuance</LinkTo>
  </li>
  <li>
    <LinkTo @route="card-pay.workflow" @model="reserve-pool-deposit">Reserve Pool Deposit</LinkTo>
  </li>
  <li>
    <LinkTo @route="card-pay.workflow" @model="prepaid-card-transfer">Prepaid Card Transfer</LinkTo>
  </li>
</ul>

{{outlet}}