name: CI [cardpay-reward-programs]

on:
  pull_request:
    paths:
      - 'packages/cardpay-reward-programs/**'
      - '.github/workflows/pr-cardpay-reward-programs.yml'

jobs:
  test:
    name: Build and Test
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./packages/cardpay-reward-programs
    strategy:
      matrix:
        python-version: [3.9]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install .
          pip install pytest
      - name: Test with pytest
        run: |
          pytest
