name: CI [hub]

on:
  pull_request:
    branches: [main]
    paths:
      - 'packages/hub/**'
      - 'packages/cardpay-sdk/**'
      - 'packages/discord-bot/**'
      - 'packages/did-resolver/**'
      - 'packages/wc-provider/**'
      - 'packages/test-support/**'
      - 'packages/core/**'
      - 'packages/eslint-config/**'
      - '.github/workflows/hub.yml'
      - 'package.json'
      - 'yarn.lock'

jobs:
  test:
    name: Build & Test
    runs-on: ubuntu-latest
    env:
      HUB_AUTH_SECRET: ${{ secrets.SERVER_SECRET }}
      CARDBOT_TOKEN: ${{ secrets.CARDBOT_TOKEN }}
      CORDE_BOT_TOKEN: ${{ secrets.CORDE_BOT_TOKEN }}
    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_DB: postgres
          POSTGRES_PASSWORD: postgres
          POSTGRES_USER: postgres
        ports:
          - 5432:5432
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
          -v /var/run/postgresql/:/var/run/postgresql

    steps:
      - name: Create database
        run: sudo -u postgres createdb hub_test
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: volta-cli/action@v1
      - name: Set up yarn cache
        uses: actions/cache@v2
        with:
          path: ~/.cache/yarn
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-
      - run: yarn --prefer-offline
      - run: yarn db:test-init
        working-directory: packages/hub
      - name: Hub Tests
        run: yarn test
        working-directory: packages/hub
      - name: Hub Tests (w/ Card Compler)
        run: COMPILER=true yarn test
        working-directory: packages/hub
