name: CI [linter-check]

on:
  pull_request:
    paths:
      - "**.js"
      - "**.ts"
      - "**.json"

jobs:
  test:
    name: Build & Lint
    runs-on: ubuntu-latest
    env:
      # we are running into heap out of memory issues with the linting--so
      # increasing the heap size to 8GB
      NODE_OPTIONS: --max-old-space-size=8192
    steps:
      - uses: actions/checkout@v3
      - uses: volta-cli/action@v4

      - name: Set up node_modules cache
        uses: actions/cache@v3
        with:
          path: |
            node_modules
            packages/*/node_modules
            packages/ember-shared/*/node_modules
            packages/firebase-functions/*/functions/node_modules
          key: ${{ runner.os }}-node-modules-${{ hashFiles('yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-modules-

      - run: yarn --prefer-offline --frozen-lockfile
      - run: yarn lint
