<div class="media-collection__btn-wrapper">
  <BasicDropdown as |dd|>
    <dd.Trigger><button class="media-collection__btn {{@button}}" aria-label={{@button}}></button></dd.Trigger>
    <dd.Content class="media-collection-dropdown media-collection__{{@button}}-dropdown">
      {{yield}}
    </dd.Content>
  </BasicDropdown>
</div>