/* This is the embedded base card template. All cards will inherit this CSS if
no custom CSS is provided for the card.*/

.card-boundary {
  width: 225px;
  height: 225px;
  margin: 0;
  border-radius: 10px;
  background-color: white;
  color: black;
  font: 400 10px/1.2 'Open Sans';
  letter-spacing: 0.03em;
  text-align: left;
  overflow: hidden;
  overflow-wrap: break-word;
  word-break: break-word;
}

.embedded-card--view-fields {
  display: grid; /* Helpful for ordering fields */
}
.embedded-card--view-fields::before,
.embedded-card--view-fields::after {
  height: 0; /* for firefox */
}

.field {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  grid-gap: 0 10px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px 15px;
}
.field.field-type-belongs-to-view-field,
.field:first-of-type {
  padding-top: 15px;
}

.label {
  padding-bottom: 4px;
  color: var(--black);
  font-size: 7px;
  font-weight: bold;
  letter-spacing: 0.1em;
  line-height: 1.364;
  text-transform: uppercase;
}


/**** SPECIAL FIELD TYPES ****/

/* field-type: link */
/* use `label` for link text and `value` for link url */
.link-viewer {
  color: var(--cobalt-blue);
  text-decoration: underline;
  font-weight: 600;
}

/* field-type: cta */
/* use `label` for button text and `value` for button link url */
.cta-viewer {
  min-height: 1em;
  border-radius: 6px;
  font-size: 10px;
  font-weight: 700;
  line-height: calc(22 / 15);
  letter-spacing: 0.03em;
  padding: 6px;
}

/* field-type: decorative-image */
.decorative-image-viewer {
  max-height: 50px;
}


/**** SPECIAL FIELD IDs ****/

/* field-id: background-image */
.background-image-field {
  display: block;
  max-width: 100%;
  padding: 0;
  order: -100; /* first item on page */
}
.background-image-field > .label {
  display: none;
}
.background-image-field > .value {
  width: 100%;
  max-height: 75px;
  object-fit: cover;
  object-position: center;
}

/* field-id: title */
.title-field {
  display: block;
  padding-bottom: 7px;
}
.title-field > .label {
  display: none;
}
.title-field > .value {
  color: var(--dark-gray);
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.015em;
  line-height: 1.2;
}

/* field-id: highlight-title */
.highlight-title-field {
  display: block;
}
.highlight-title-field > .label {
  display: none;
}
.highlight-title-field > .value {
  color: var(--red);
  font-size: 10px;
  font-weight: bold;
  letter-spacing: 0.035em;
  text-transform: capitalize;
}

/* field-id: divider */
.divider-field {
  display: block;
  width: calc(100% - 30px);
  border-top: 1px solid var(--light-gray);
}
.divider-field > .label,
.divider-field > .value {
  display: none;
}

/* field-id: description */
.description-field {
  display: block;
}
