/* This is the isolated base card template. All cards will inherit this CSS if
no custom CSS is provided for the card.*/

.isolated-card {
  margin: 0 auto;
  background-color: #fff;
  color: #000;
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: calc(22/16);
  letter-spacing: 0.015em;
}

.isolated-card--view-fields {
  display: grid;
  gap: 10px;
  padding: 30px;
}

.field {
  display: grid;
  grid-template-columns: 2fr 4.5fr;
  gap: 30px;
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
}

.label {
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.05em;
  line-height: calc(22/13);
  text-transform: uppercase;
  text-align: right;
  text-overflow: ellipsis;
  overflow: hidden;
}

.value {
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}
